Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

feat(core): add centralized path resolution for testability
  src/lib.rs
  src/main.rs
  src/paths.rs
  src/project/mod.rs
  src/sync/mod.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(ui): extract key handlers to separate module
  src/app/key_handlers.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add project deletion with type-to-confirm modal
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/project/mod.rs
  src/ui/delete_project_modal.rs
  src/ui/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(ui): adopt Vim-inspired keybindings for coherent UX
  CLAUDE.md
  docs/FEATURES.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): migrate TOML state to SQLite with soft delete
  Cargo.lock
  Cargo.toml
  src/app/mod.rs
  src/lib.rs
  src/main.rs
  src/paths.rs
  src/project/mod.rs
  src/session/mod.rs
  src/storage/audit.rs
  src/storage/mod.rs
  src/storage/projects.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  src/storage/worktrees.rs
  src/sync/file_store.rs
  src/sync/mod.rs
  src/sync/state.rs
  tests/architecture_rules.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): multi-repo add-project modal with path autocompletion
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/paths.rs
  src/ui/add_project_modal.rs
  src/ui/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): eliminate config.toml, add edit-project modal, fix persistence bugs
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/main.rs
  src/paths.rs
  src/project/mod.rs
  src/storage/mod.rs
  src/storage/projects.rs
  src/storage/roles.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  src/storage/worktrees.rs
  src/sync/delta.rs
  src/sync/mod.rs
  src/sync/state.rs
  src/ui/edit_project_modal.rs
  src/ui/mod.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): isolate dev builds with thurbox-dev paths and tmux socket
  build.rs
  src/claude/tmux.rs
  src/main.rs
  src/paths.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): display version in TUI header
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): change default permission mode from dontAsk to default
  docs/FEATURES.md
  src/claude/backend.rs
  src/claude/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): fix version display in release builds
  Cross.toml
  build.rs
  tests/version_format.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): restart session with Ctrl+R, embed role editor in edit-project modal
  CLAUDE.md
  docs/FEATURES.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/claude/backend.rs
  src/ui/edit_project_modal.rs
  src/ui/role_editor_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): add multi-directory sessions with --add-dir support
  docs/FEATURES.md
  src/app/mod.rs
  src/claude/backend.rs
  src/session/mod.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  src/storage/worktrees.rs
  src/sync/delta.rs
  src/sync/state.rs
  src/ui/info_panel.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): update status bar shortcut hints for ^E Edit and ^R Restart
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(mcp): add thurbox-mcp server with project, role, and session tools
  .github/workflows/cd.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  cog.toml
  docs/ARCHITECTURE.md
  scripts/install.sh
  src/bin/thurbox-mcp.rs
  src/lib.rs
  src/mcp/mod.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(mcp): make thurbox-mcp chmod conditional and fix set -e edge cases
  scripts/install.bats
  scripts/install.sh
Due: none

feat(mcp): add admin session with auto-configured thurbox-mcp
  CLAUDE.md
  docs/FEATURES.md
  src/app/mod.rs
  src/main.rs
  src/paths.rs
  src/project/mod.rs
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): enhance info panel with project & session details
  src/app/mod.rs
  src/ui/info_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(mcp): add MCP_ROLES.md and enhance role documentation
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  docs/MCP_ROLES.md
  src/mcp/tools.rs
  src/mcp/types.rs
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(core): add thurbox demo git
  README.md
  docs/media/thurbox-demo.gif
Due: rumdl-check

feat(mcp): add per-project MCP server configuration
  src/app/key_handlers.rs
  src/app/mcp_editor_modal.rs
  src/app/mod.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/project/mod.rs
  src/session/mod.rs
  src/storage/mcp_servers.rs
  src/storage/mod.rs
  src/storage/projects.rs
  src/storage/roles.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  src/storage/worktrees.rs
  src/sync/delta.rs
  src/sync/mod.rs
  src/sync/state.rs
  src/ui/edit_project_modal.rs
  src/ui/mcp_editor_modal.rs
  src/ui/mod.rs
  src/ui/role_editor_modal.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest
