Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

revert: "feat(core): replace portable-pty with tmux control mode backend"
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  docs/ARCHITECTURE.md
  docs/CONSTITUTION.md
  docs/FEATURES.md
  src/app/mod.rs
  src/claude/mod.rs
  src/claude/pty_session.rs
  src/claude/tmux.rs
  src/main.rs
  src/project/mod.rs
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): replace portable-pty with tmux control mode backend
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  docs/ARCHITECTURE.md
  docs/CONSTITUTION.md
  docs/FEATURES.md
  src/app/mod.rs
  src/claude/backend.rs
  src/claude/mod.rs
  src/claude/tmux.rs
  src/main.rs
  src/project/mod.rs
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): extract session I/O wiring and add edge case tests
  src/app/mod.rs
  src/claude/backend.rs
  src/claude/tmux.rs
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

ci: add automated tag-based release pipeline
  .github/workflows/release.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  build.rs
  cog.toml
  docs/CONSTITUTION.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): implement multi-instance real-time data synchronization
  Cargo.lock
  Cargo.toml
  docs/ARCHITECTURE.md
  src/app/mod.rs
  src/claude/tmux.rs
  src/lib.rs
  src/project/mod.rs
  src/session/mod.rs
  src/sync/delta.rs
  src/sync/file_store.rs
  src/sync/mod.rs
  src/sync/state.rs
  tests/architecture_rules.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): clear stale shared state in role editor tests
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

ci: implement automated GitHub release with cocogitto-action
  .github/workflows/cd.yml
Due: none

ci: simplify release detection logic
  .github/workflows/cd.yml
  CHANGELOG.md
Due: rumdl-check

fix(core): fix release check
  .github/workflows/cd.yml
Due: none

fix(core): use latest version of cocogitto action
  .github/workflows/cd.yml
Due: none

fix(core): adjust action sha
  .github/workflows/cd.yml
Due: none

fix(core): adjust sha and fix tags
  .github/workflows/cd.yml
Due: none

fix(core): remove deprecated runner build
  .github/workflows/cd.yml
Due: none

fix(core): remove extra 'v' in release
  .github/workflows/cd.yml
Due: none

fix(core): add required unkown in target naming
  .github/workflows/cd.yml
Due: none

feat(cli): add one-liner install script with comprehensive testing
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  scripts/install.bats
  scripts/install.sh
  scripts/test-helpers.bash
Due: rumdl-check

fix(ui): prevent panic when all projects are removed
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(ui): add type-safe modal state and safe array accessors
  src/app/mod.rs
  src/app/modals.rs
  src/app/state.rs
  src/session/mod.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(ui): improve modals and state accessors with enhanced tests
  src/app/modals.rs
  src/app/state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): replace unsafe array indexing with safe accessors
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
