Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

refactor(ui): reuse the group test when Enter toggles a fold row
  ui/plugins/10_sessions.lua
Due: none

style: format the repo-row e2e tests
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: say a moved config dir loses thurbox's hooks and doctor reads the recorded path
  docs/AGENTS.md
  extensions/hooks/README.md
Due: rumdl-check

fix(config): keep a user's own signal hook when its config dir is abandoned
  src/session_ops/extensions/install.rs
  tests/cli_session_hook_state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): walk repo rows with the session list's tree arrows (#1336)
  docs/FEATURES.md
  tests/session_list.rs
  tests/tui_e2e.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): add fold-all session menu actions
  tests/context_menu.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(ui): cover bulk folding through context menus
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): describe session menu fold-all actions
  docs/FEATURES.md
Due: rumdl-check

feat(ui): add fold-all actions to session context menu (#1332)
  docs/FEATURES.md
  tests/context_menu.rs
  tests/tui_e2e.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: re-record the hero demo on today's interface with a remote host
  .agents/skills/thurbox-demo-media/SKILL.md
  README.md
  media/thurbox-demo.gif
  media/thurbox-demo.mp4
  scripts/demo/agents.tape
  scripts/demo/record-hero.sh
  scripts/demo/record.sh
  website/assets/thurbox-demo-poster.webp
  website/index.html
Due: rumdl-check

fix: refuse to wipe a foreign SBX and stop on a signal in record-hero.sh
  scripts/demo/record-hero.sh
Due: none

docs: name record-hero.sh as the hero poster's producer
  docs/REVIEW.md
Due: rumdl-check

docs: re-record the hero demo on today's interface with a remote host (#1337)
  .agents/skills/thurbox-demo-media/SKILL.md
  README.md
  docs/REVIEW.md
  media/thurbox-demo.gif
  media/thurbox-demo.mp4
  scripts/demo/agents.tape
  scripts/demo/record-hero.sh
  scripts/demo/record.sh
  website/assets/thurbox-demo-poster.webp
  website/index.html
Due: rumdl-check

fix(ui): hold a failing pane in one state instead of flickering
  docs/PLUGINS.md
  src/coordinator/boot.rs
  src/coordinator/draw.rs
  src/coordinator/interface.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): keep a long setting value from pushing every other value off the settings modal
  src/kernel/modals/settings.rs
  tests/modals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): label SSH hosts consistently across platforms
  tests/session_list.rs
  tests/tui_e2e.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: describe transport-only host labels
  docs/FEATURES.md
Due: rumdl-check

test(ui): pin the settings edit view's tail once it outgrows the value column
  src/kernel/modals/settings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): count only renders that threw while a failure is held
  src/coordinator/draw.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): label SSH hosts consistently across platforms (#1340)
  docs/FEATURES.md
  tests/session_list.rs
  tests/tui_e2e.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): keep a long setting value from pushing every other value off the settings modal (#1339)
  src/kernel/modals/settings.rs
  tests/modals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(ui): split repo picker path cases by directory kind
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): expand existing worktrees only with the right arrow
  docs/FEATURES.md
  tests/new_session.rs
  tests/tui_e2e.rs
  ui/lib/repo_picker.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): select any valid directory in the repo picker
  docs/FEATURES.md
  tests/new_session.rs
  tests/tui_e2e.rs
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): select any valid directory in the repo picker (#1342)
  docs/FEATURES.md
  tests/new_session.rs
  tests/tui_e2e.rs
  ui/lib/repo_picker.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): align session group rows and mark host rows with a rule
  docs/FEATURES.md
  tests/frames.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: screenshots for the session group alignment PR
  after.png
  before.png
Due: none

fix(ui): keep the host rule by shortening its counts first
  docs/FEATURES.md
  tests/frames.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

style(ui): format the host row frame test
  tests/frames.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): align session group rows and mark host rows with a rule (#1343)
  docs/FEATURES.md
  tests/frames.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(ui): keep repeated attach failures out of the interface epoch
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: record unchanged attach failure signals and measurements
  .agents/skills/thurbox-performance/SKILL.md
  docs/PERFORMANCE.md
Due: rumdl-check

perf(core): skip snapshot reloads for telemetry and repeated hooks
  src/bin/thurbox-cli.rs
  src/coordinator/mod.rs
  src/kernel/snapshot.rs
  src/storage/mod.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  src/storage/sessions.rs
  src/storage/settings.rs
  src/storage/sync.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: describe snapshot generations and hook liveness polling
  .agents/skills/thurbox-performance/SKILL.md
  docs/ARCHITECTURE.md
  docs/PERFORMANCE.md
Due: rumdl-check

perf(core): scope output frames and idle samples to their readers
  benches/frame_cost.rs
  scripts/dev/perf-run.sh
  src/coordinator/mod.rs
  src/coordinator/publish.rs
  src/kernel/diff.rs
  src/kernel/host/api.rs
  src/kernel/host/mod.rs
  src/kernel/host/publish.rs
  src/kernel/metrics.rs
  src/kernel/snapshot.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  tests/kernel_frame_cost.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: describe scoped idle frame invalidation
  .agents/skills/thurbox-performance/SKILL.md
  docs/PERFORMANCE.md
Due: rumdl-check

fix(core): keep migration and regression coverage within their contracts
  src/kernel/snapshot.rs
  src/storage/schema/migrations.rs
  tests/kernel_perf.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(ui): stop repeated SSH failures from invalidating panes (#1349)
  .agents/skills/thurbox-performance/SKILL.md
  docs/PERFORMANCE.md
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(core): scope hidden output frames and idle rebuilds to their readers (#1350)
  .agents/skills/thurbox-performance/SKILL.md
  benches/frame_cost.rs
  docs/PERFORMANCE.md
  scripts/dev/perf-run.sh
  src/coordinator/mod.rs
  src/coordinator/publish.rs
  src/kernel/diff.rs
  src/kernel/host/api.rs
  src/kernel/host/mod.rs
  src/kernel/host/publish.rs
  src/kernel/metrics.rs
  src/kernel/snapshot.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  tests/kernel_frame_cost.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(core): skip snapshot reloads for telemetry and repeated hooks (#1351)
  .agents/skills/thurbox-performance/SKILL.md
  docs/ARCHITECTURE.md
  docs/PERFORMANCE.md
  src/bin/thurbox-cli.rs
  src/coordinator/mod.rs
  src/kernel/snapshot.rs
  src/storage/mod.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  src/storage/sessions.rs
  src/storage/settings.rs
  src/storage/sync.rs
  tests/kernel_perf.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
