Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

docs: drop the experimental Windows note for a psmux one
  README.md
  website/docs/installation.html
Due: rumdl-check

fix(ui): stop pulling the view onto a session that just finished spawning
  docs/FEATURES.md
  src/kernel/command.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: tighten the Windows psmux note
  README.md
  website/docs/installation.html
Due: rumdl-check

refactor(core): let the creation helpers return what their siblings return
  src/kernel/command.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): ship a thurbox-ui skill so any session can edit the interface
  CLAUDE.md
  README.md
  docs/FEATURES.md
  docs/PLUGINS.md
  extensions/ui-skill/README.md
  extensions/ui-skill/SKILL.md
  extensions/ui-skill/extension.toml
  extensions/ui-skill/install.sh
  src/agent/extension_config.rs
  src/cli/extensions.rs
  src/session/extension_def.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): drop a session from the list the moment its delete is accepted
  docs/FEATURES.md
  tests/kernel_mvp.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(core): move the data epoch when a command is accepted
  docs/PERFORMANCE.md
  src/main.rs
  tests/kernel_frame_cost.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(ui): name the session filter for its job, not its mechanism
  docs/FEATURES.md
  src/main.rs
  tests/kernel_frame_cost.rs
  tests/kernel_mvp.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): make ui-skill a built-in, on by default like hooks
  CLAUDE.md
  README.md
  docs/FEATURES.md
  docs/PLUGINS.md
  extensions/hooks/README.md
  extensions/ui-skill/README.md
  extensions/ui-skill/SKILL.md
  extensions/ui-skill/extension.toml
  extensions/ui-skill/install.sh
  src/agent/extension_config.rs
  src/cli/automations.rs
  src/cli/extensions.rs
  src/main.rs
  src/session_ops/builtin.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/builtin_ui_skill.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  src/session_ops/spawn.rs
  src/storage/settings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix: resolve CI failure in Documentation
  src/session_ops/builtin_hooks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: resolve the v1-era drift in CLAUDE.md, the constitution and the ADRs
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/CONSTITUTION.md
  docs/FEATURES.md
  docs/PLUGINS.md
  docs/V2-KERNEL.md
  src/agent/backend.rs
  src/agent/tmux.rs
  src/cli/tasks.rs
  src/clipboard.rs
  src/kernel/command.rs
  src/session/keybindings.rs
  src/session/mod.rs
  src/session_ops/delete.rs
  src/session_ops/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): split the coordinator out of main, git into submodules
  Cargo.lock
  Cargo.toml
  src/coordinator/commands.rs
  src/coordinator/draw.rs
  src/coordinator/focus.rs
  src/coordinator/input.rs
  src/coordinator/interface.rs
  src/coordinator/mod.rs
  src/coordinator/mouse.rs
  src/coordinator/publish.rs
  src/git/command.rs
  src/git/diff.rs
  src/git/discovery.rs
  src/git/mod.rs
  src/git/plugin.rs
  src/git/remote.rs
  src/git/tests.rs
  src/git/worktree.rs
  src/main.rs
  tests/architecture_rules.rs
  ui/lib/widgets.lua
  ui/plugins/10_sessions.lua
  ui/plugins/20_agent.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): bump the state version on kernel-side store writes
  src/kernel/host.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(core): multiplex ssh connections by default
  src/agent/transport.rs
  src/git/command.rs
  src/git/tests.rs
  src/shell.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): size the creation and confirm floats in cells, not a screen share
  ui/plugins/60_confirm.lua
  ui/plugins/70_new_session.lua
Due: none

perf(ui): declare the confirm and restore floats pure
  ui/plugins/80_restore.lua
Due: none

perf(core): take per-iteration costs off the hot loop
  src/coordinator/draw.rs
  src/coordinator/input.rs
  src/coordinator/mod.rs
  src/kernel/metrics.rs
  src/kernel/snapshot.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): split the kernel host into mod/publish/load/api
  src/kernel/host.rs
  src/kernel/host/api.rs
  src/kernel/host/load.rs
  src/kernel/host/mod.rs
  src/kernel/host/publish.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(ui): stop the panes re-deriving what did not change
  src/coordinator/mod.rs
  src/kernel/repos.rs
  ui/lib/fuzzy.lua
  ui/lib/theme.lua
  ui/plugins/10_sessions.lua
  ui/plugins/20_agent.lua
  ui/plugins/65_search.lua
  ui/plugins/70_new_session.lua
  ui/plugins/80_restore.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(core): cut redundant storage, git and remote work off every cadence
  src/agent/backend.rs
  src/agent/control_mode.rs
  src/agent/host_config.rs
  src/agent/tmux.rs
  src/git/diff.rs
  src/git/tests.rs
  src/git/worktree.rs
  src/kernel/command.rs
  src/kernel/metrics.rs
  src/kernel/repos.rs
  src/kernel/runs.rs
  src/kernel/snapshot.rs
  src/kernel/terminal.rs
  src/session_ops/mod.rs
  src/storage/automations.rs
  src/storage/mod.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  src/storage/tasks.rs
  src/storage/worktrees.rs
  src/sync/delta.rs
  src/sync/mod.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(core): gate every published group and share rendered trees
  src/coordinator/draw.rs
  src/kernel/host/mod.rs
  src/kernel/host/publish.rs
  src/main.rs
  tests/v2_terminal_pane.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(core): finish the hot-path allocation, cache-age and shared-rule work
  src/agent/tmux.rs
  src/cli/action.rs
  src/cli/automations.rs
  src/cli/tasks.rs
  src/coordinator/draw.rs
  src/coordinator/publish.rs
  src/git/command.rs
  src/git/mod.rs
  src/git/remote.rs
  src/git/tests.rs
  src/kernel/bands.rs
  src/kernel/convert.rs
  src/kernel/diff.rs
  src/kernel/host/mod.rs
  src/kernel/host/publish.rs
  src/kernel/node.rs
  src/kernel/paint.rs
  src/kernel/terminal.rs
  src/main.rs
  src/notifications.rs
  src/session/theme_config/mod.rs
  src/session/theme_config/palettes.rs
  src/session_ops/remote_hooks.rs
  src/session_ops/spawn.rs
  src/shell.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  src/usage/mod.rs
  tests/architecture_rules.rs
  tests/v2_modals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): slim main to its state, and document the performance contract
  CLAUDE.md
  docs/PERFORMANCE.md
  docs/PLUGINS.md
  src/agent/registry.rs
  src/cli/automations.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/coordinator/boot.rs
  src/coordinator/chrome.rs
  src/coordinator/draw.rs
  src/coordinator/editor.rs
  src/coordinator/mod.rs
  src/kernel/command/execute.rs
  src/kernel/terminal/mod.rs
  src/main.rs
  src/session_ops/extensions/lifecycle.rs
  src/session_ops/spawn.rs
  ui/AGENTS.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): tidy the seams the restructuring left behind
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/agent/osc8.rs
  src/coordinator/boot.rs
  src/git/command.rs
  src/git/remote.rs
  src/kernel/host/mod.rs
  src/kernel/terminal/mod.rs
  src/main.rs
  src/storage/automations.rs
  ui/AGENTS.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix: resolve CI failure in Documentation
  src/kernel/terminal/programs.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): keep a throwing pane from taking the pointer with it
  docs/PLUGINS.md
  src/coordinator/draw.rs
  src/kernel/host/mod.rs
  ui/lib/theme.lua
  ui/lib/widgets.lua
  ui/plugins/10_sessions.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): report the injected version from --version, not the dev marker
  src/cli/mod.rs
  src/cli/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): let accepting v2 undo the auto-update the consent gate turned off
  docs/RELEASING.md
  src/kernel/consent.rs
  src/storage/settings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): select the repo just added, not the row offered above it
  src/kernel/host/publish.rs
  src/kernel/repos.rs
  tests/v2_new_session.rs
  ui/lib/repo_picker.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: lead with install-and-run, drop the v2-unstable framing
  .rumdl.toml
  README.md
  docs/PLUGINS.md
  website/css/landing.css
  website/docs/extension-flow.html
  website/docs/faq.html
  website/docs/index.html
  website/docs/installation.html
  website/docs/orchestration.html
  website/docs/v1.html
  website/docs/v2-interface.html
  website/index.html
  website/llms.txt
Due: rumdl-check

fix(ui): let an ungrouped session list be ordered freely
  CLAUDE.md
  docs/FEATURES.md
  tests/v2_plugin_settings.rs
  ui/lib/session_model.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): give local spawns a pane id so duplicate names attach
  src/agent/tmux.rs
  src/cli/action.rs
  src/cli/automations.rs
  src/cli/messages.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/coordinator/mod.rs
  src/kernel/command/execute.rs
  src/kernel/snapshot.rs
  src/kernel/terminal/mod.rs
  src/session_ops/delete.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  src/session_ops/spawn.rs
  src/storage/sessions.rs
  tests/create_e2e.rs
  tests/v2_attach_by_name.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(ui): pin frames, fuzz the render path, and drive the real binary on a pty
  .claude/skills/ui-review/scripts/capture.sh
  .github/workflows/ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  docs/DEVELOPMENT.md
  docs/PERFORMANCE.md
  justfile
  scripts/dev/README.md
  scripts/dev/lib/sandbox-env.sh
  scripts/dev/smoke/tui-smoke.sh
  tests/tui_e2e.rs
  tests/v2_frames.rs
  tests/v2_plugin_programs.rs
  tests/v2_render_props.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): keep the agent activity line across a restart
  docs/ARCHITECTURE.md
  src/agent/backend.rs
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): copy to both clipboard transports under `auto`
  docs/FEATURES.md
  src/clipboard.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): reconstruct a paste from the Windows key stream
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/coordinator/boot.rs
  src/coordinator/input.rs
  src/coordinator/mod.rs
  src/coordinator/paste.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): take the Windows console's mouse input for pane selection
  Cargo.lock
  Cargo.toml
  src/coordinator/chrome.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
