Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

refactor(core): extract resume-id decision into shared helper
  src/app/mod.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): include thurbox-cli binary in release tarball and installer
  .github/workflows/cd.yml
  scripts/install.bats
  scripts/install.sh
Due: none

fix(core): use --resume on restore paths when transcript exists
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix: resolve clippy collapsible_match and manual_checked_ops
  src/app/key_handlers.rs
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix: apply rustfmt and remaining collapsible_match in test helper
  src/app/key_handlers.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): runtime themes, customizable keybindings, and chrome polish
  CLAUDE.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/main.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/paths.rs
  src/session/keybindings.rs
  src/session/mod.rs
  src/session/theme_config.rs
  src/storage/keybindings.rs
  src/storage/mod.rs
  src/storage/settings.rs
  src/ui/file_viewer.rs
  src/ui/info_panel.rs
  src/ui/layout.rs
  src/ui/mcp_editor_modal.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/repo_picker_modal.rs
  src/ui/restore_sessions_modal.rs
  src/ui/role_editor_modal.rs
  src/ui/role_selector_modal.rs
  src/ui/scheduled_commands_list_modal.rs
  src/ui/settings_overlay.rs
  src/ui/status_bar.rs
  src/ui/terminal_view.rs
  src/ui/theme.rs
  src/ui/theme_picker_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

style(ui): satisfy stable rustfmt and clippy 1.95
  src/app/key_handlers.rs
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(ui): collapse theme palettes through PaletteSlots builder
  src/session/theme_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): factor xdg_config_subpath helper to drop duplication
  src/paths.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore(config): exclude theme_config.rs from SonarCloud duplication detection
  sonar-project.properties
Due: none

fix(cli): sanitize tmux window names, validate skills, and hard-delete option
  src/agent/backend.rs
  src/agent/tmux.rs
  src/app/mod.rs
  src/cli/sessions.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/session_ops/delete.rs
  src/session_ops/mod.rs
  src/session_ops/spawn.rs
  src/storage/scheduled_commands.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): use exact-match target for tmux send-keys/capture-pane
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): navigate sessions in rendered (admin-pinned) order
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): adopt discovered tmux window before spawning on sync-added session
  src/agent/backend.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): give focused admin terminal a badge title
  src/ui/mod.rs
  src/ui/theme.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): use theme accessor methods in admin_focused_title
  src/ui/mod.rs
  src/ui/theme.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): collapse session rows to one line, expand on select or search match
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(ui): extract visible_count_from_heights helper with tests
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): auto-discover predefined skills from admin/skills/
  CLAUDE.md
  docs/FEATURES.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/cli/skills.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/paths.rs
  src/session_ops/spawn.rs
  src/storage/mod.rs
  src/storage/skills.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): resize sessions when side panels toggle
  src/app/key_handlers.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): plugin system with content + process bundles
  CLAUDE.md
  Cargo.toml
  docs/FEATURES.md
  docs/PLUGINS.md
  examples/sample_backend_plugin.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/lib.rs
  src/main.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/paths.rs
  src/plugin/activation.rs
  src/plugin/backend_adapter.rs
  src/plugin/handshake.rs
  src/plugin/mod.rs
  src/plugin/output.rs
  src/plugin/rpc.rs
  src/session/mod.rs
  src/session/plugin_config.rs
  src/storage/mcp_servers.rs
  src/storage/mod.rs
  src/storage/plugin_settings.rs
  src/storage/plugins.rs
  src/storage/roles.rs
  src/storage/schema.rs
  src/storage/skills.rs
  src/ui/settings_overlay.rs
  tests/architecture_rules.rs
  tests/fixtures/plugins/sample-backend-plugin/thurbox-plugin.toml
  tests/fixtures/plugins/sample-content-bundle/mcp/gh.toml
  tests/fixtures/plugins/sample-content-bundle/roles/reviewer.toml
  tests/fixtures/plugins/sample-content-bundle/skills/publish/SKILL.md
  tests/fixtures/plugins/sample-content-bundle/thurbox-plugin.toml
  tests/fixtures/plugins/sample-process-plugin/bin/plugin.sh
  tests/fixtures/plugins/sample-process-plugin/thurbox-plugin.toml
  tests/plugin_backend.rs
  tests/plugin_runtime.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): remove buggy URL underline, keep Ctrl+Click to open
  CLAUDE.md
  docs/FEATURES.md
  src/ui/terminal_view.rs
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): split session name and status onto two lines
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): mcp-tools plugin capability via control socket
  Cargo.toml
  docs/ARCHITECTURE.md
  docs/PLUGINS.md
  examples/sample_mcp_plugin.rs
  src/lib.rs
  src/main.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/paths.rs
  src/plugin/control_socket/dispatch.rs
  src/plugin/control_socket/listener.rs
  src/plugin/control_socket/mod.rs
  src/plugin/mod.rs
  src/plugin/proxy.rs
  src/plugin_bridge/client.rs
  src/plugin_bridge/mod.rs
  src/plugin_bridge/wire.rs
  src/session/mod.rs
  src/session/plugin_config.rs
  tests/architecture_rules.rs
  tests/control_socket_integration.rs
  tests/mcp_tools_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): rustfmt + rustdoc CI warnings
  src/main.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/plugin/control_socket/dispatch.rs
  src/plugin/control_socket/mod.rs
  src/plugin_bridge/client.rs
  src/plugin_bridge/wire.rs
  src/session/plugin_config.rs
  tests/control_socket_integration.rs
  tests/mcp_tools_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat: surface plugin-contributed roles at spawn time
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/session_ops/restart.rs
  src/session_ops/spawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): install plugins from local path or git URL via MCP and TUI
  CLAUDE.md
  Cargo.toml
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/paths.rs
  src/storage/plugins.rs
  src/ui/mod.rs
  src/ui/plugin_install_modal.rs
  src/ui/settings_overlay.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): profile bundles for roles, MCP servers, and skills
  src/cli/sessions.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/session/mod.rs
  src/session_ops/spawn.rs
  src/storage/mod.rs
  src/storage/profiles.rs
  src/storage/schema.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(ui): relocate ProfileEditorField to ui module and add tests
  src/app/key_handlers.rs
  src/app/mod.rs
  src/ui/profile_editor_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): profile editor in Ctrl+E settings overlay
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/ui/mod.rs
  src/ui/profile_editor_modal.rs
  src/ui/settings_overlay.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): profile picker modal in Ctrl+N session flow
  docs/FEATURES.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/ui/mod.rs
  src/ui/profile_picker_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(core): document profile bundles
  CLAUDE.md
  docs/FEATURES.md
Due: rumdl-check

fix: resolve CI failures for dependency update
  Cargo.lock
Due: none

feat: remove model selection so the agent picks its own model
  src/agent/backend.rs
  src/agent/claude.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/cli/sessions.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/session/mod.rs
  src/session_ops/delete.rs
  src/session_ops/spawn.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  src/storage/worktrees.rs
  src/sync/delta.rs
  src/sync/state.rs
  src/ui/info_panel.rs
  src/ui/mod.rs
  src/ui/model_picker_modal.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): list theme picker shortcut in F1 help and keybindings table
  docs/FEATURES.md
  src/app/view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(ui): drive F1 help from the Action enum so it can't drift
  src/app/view.rs
  src/session/keybindings.rs
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix: repair release archive and remove agent-registry dead code
  .github/workflows/cd.yml
  CLAUDE.md
  scripts/install.bats
  scripts/install.sh
  src/agent/backend.rs
  src/app/helpers.rs
  src/app/key_handlers.rs
  src/app/modals.rs
  src/paths.rs
  src/ui/mod.rs
  src/ui/repo_selector_modal.rs
  website/css/landing.css
  website/docs/installation.html
  website/index.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

build: add Arch Linux AUR packaging (thurbox source + thurbox-bin)
  packaging/aur/README.md
  packaging/aur/thurbox-bin/.SRCINFO
  packaging/aur/thurbox-bin/PKGBUILD
  packaging/aur/thurbox/.SRCINFO
  packaging/aur/thurbox/PKGBUILD
Due: rumdl-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
