Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

docs: record the host platform as its own dimension (ADR-13, CONFIG)
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/CONSTITUTION.md
  docs/PERFORMANCE.md
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): say Windows host, not psmux host, where the platform decides
  src/session_ops/builtin_hooks.rs
  src/session_ops/remote_hooks.rs
  src/session_ops/spawn.rs
  src/usage.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): keep the psmux degradation note's wording
  src/session_ops/remote_hooks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): open PowerShell, not an sh bootstrap, in a Windows host's shell pane
  src/backend/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): hold a delivery lease during a native send
  .agents/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  src/cli/delivery.rs
  src/storage/messages.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): only deliver to a Claude socket proven to be the recipient's
  .agents/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  src/cli/delivery.rs
  src/cli/sessions.rs
  src/storage/messages.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(cli): deliver messages to the agent's native inbox instead of typing a nudge
  .agents/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  src/cli/delivery.rs
  src/cli/messages.rs
  src/cli/mod.rs
  src/cli/sessions.rs
  src/session/message.rs
  src/storage/messages.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  tests/architecture_rules.rs
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): make the delivery lease owned by the sender that took it
  .agents/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  src/cli/delivery.rs
  src/storage/messages.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): refuse a Claude socket outside the recipient's agent pane
  .agents/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  src/cli/delivery.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): carry native delivery onto the typed Route and the resolver
  .agents/skills/thurbox-cli/SKILL.md
  src/cli/delivery.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): separate host platform from multiplexer and launcher (#1296)
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/CONSTITUTION.md
  docs/PERFORMANCE.md
  src/agent/host_config.rs
  src/agent/host_path.rs
  src/backend/contract.rs
  src/backend/registry.rs
  src/backend/tmux.rs
  src/backend/tmux_compat/control_mode/tests.rs
  src/backend/tmux_compat/transport.rs
  src/backend/wiring.rs
  src/cli/automations.rs
  src/cli/session_doctor.rs
  src/coordinator/boot.rs
  src/git/command.rs
  src/git/remote.rs
  src/kernel/metrics.rs
  src/kernel/snapshot.rs
  src/kernel/terminal/mod.rs
  src/paths/mod.rs
  src/paths/tests.rs
  src/session/host_def.rs
  src/session/mod.rs
  src/session/multiplexer.rs
  src/session/platform.rs
  src/session/route.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/host_cli.rs
  src/session_ops/mod.rs
  src/session_ops/spawn.rs
  src/shell.rs
  src/usage.rs
  tests/architecture_rules.rs
  tests/backend_routes.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(cli): deliver messages to the agent's native inbox instead of typing a nudge (#1289)
  .agents/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  src/cli/delivery.rs
  src/cli/messages.rs
  src/cli/mod.rs
  src/cli/sessions.rs
  src/session/message.rs
  src/storage/messages.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  tests/architecture_rules.rs
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): never read an unanswered or unvouched listing as an empty server
  docs/ARCHITECTURE.md
  src/backend/tmux.rs
  src/session_ops/restart.rs
  tests/backend_contract.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): a lifecycle kill takes the pane's whole window
  docs/ARCHITECTURE.md
  src/backend/contract.rs
  src/backend/tmux.rs
  tests/backend_contract.rs
  tests/lifecycle_routing.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): trust a remembered psmux pane only in a window of the row's name
  src/backend/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): route every lifecycle verb through the backend the row's route names
  src/backend/contract.rs
  src/backend/identity.rs
  src/backend/mod.rs
  src/backend/registry.rs
  src/backend/tmux.rs
  src/bin/thurbox-cli.rs
  src/cli/automations.rs
  src/cli/extensions.rs
  src/cli/home.rs
  src/cli/mod.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/kernel/metrics.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  src/session_ops/delete.rs
  src/session_ops/mod.rs
  src/session_ops/remote_hooks.rs
  src/session_ops/rename.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  src/session_ops/spawn.rs
  src/session_ops/windows.rs
  tests/architecture_rules.rs
  tests/backend_contract.rs
  tests/backend_routes.rs
  tests/cli_session_capture.rs
  tests/cli_session_hook_state.rs
  tests/concurrent_respawn.rs
  tests/lifecycle_routing.rs
  tests/missing_dependency_messages.rs
  tests/one_window_per_stamp.rs
  tests/reap_e2e.rs
  tests/send_keys_e2e.rs
  tests/shared_sessions.rs
  tests/spawn_with_failing_tmux_hook.rs
  tests/support/backend_contract.rs
  tests/support/recording_backend.rs
  tests/terminal_features_clipboard.rs
  tests/window_remain_on_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(core): record ADR-29, one injected registry and lifecycle through the row's backend
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CONSTITUTION.md
Due: rumdl-check

test(core): lifecycle must follow the row's route, through a faithful probe backend
  src/session_ops/shared_tests.rs
  tests/architecture_rules.rs
  tests/backend_contract.rs
  tests/lifecycle_routing.rs
  tests/support/backend_contract.rs
  tests/support/recording_backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore(core): keep the retired F5a remover and the skill's sequence in step with #1296
  .agents/skills/thurbox-kernel/SKILL.md
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): a shut-down backend stays shut, and a psmux pane is placed by its own window
  src/backend/tmux.rs
  tests/backend_contract.rs
  tests/support/backend_contract.rs
  tests/support/recording_backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): keep switch-slot alternates out of the Ctrl+H/Ctrl+L focus cycle
  docs/FEATURES.md
  docs/PLUGINS.md
  docs/V2-KERNEL.md
  src/coordinator/focus.rs
  src/kernel/focus.rs
  src/kernel/host/mod.rs
  tests/tui_e2e.rs
  ui/README.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

style(ui): rewrap the focus module doc
  src/coordinator/focus.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): drop a pump count the discovery calls can race
  src/kernel/terminal/mod.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): stop reading a dropped remote connection as an unreachable host
  .agents/skills/thurbox-session-status/SKILL.md
  src/kernel/terminal/mod.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): never let a float be a switch slot's cycle stop, and drop the ctrl+l install hint
  src/cli/plugins.rs
  src/coordinator/focus.rs
  src/kernel/host/mod.rs
  tests/focus.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): pane I/O follows the row's route, and the F5b crossings are gone
  tests/architecture_rules.rs
  tests/pane_io_routing.rs
  tests/support/recording_backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): let plugins add entries to the session row menu
  docs/PLUGINS.md
  src/kernel/host/publish.rs
  tests/context_menu.rs
  thurbox.yml
  ui/README.md
  ui/lib/thurbox.d.lua
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: say why other plugins can add to a session row's menu
  docs/FEATURES.md
Due: rumdl-check

fix(cli): stop queueing messages on the Codex thread /new left
  docs/AGENTS.md
  docs/FEATURES.md
  src/cli/sessions.rs
  tests/create_e2e.rs
  tests/message_delivery_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): route pane I/O through the row's backend
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-session-status/SKILL.md
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CONSTITUTION.md
  docs/FEATURES.md
  src/backend/contract.rs
  src/backend/mod.rs
  src/backend/registry.rs
  src/backend/tmux.rs
  src/cli/action.rs
  src/cli/automations.rs
  src/cli/home.rs
  src/cli/mod.rs
  src/cli/session_doctor.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/cli/watch.rs
  src/kernel/command/execute.rs
  src/kernel/metrics.rs
  src/kernel/snapshot.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  src/session_ops/mod.rs
  src/session_ops/windows.rs
  tests/architecture_rules.rs
  tests/backend_contract.rs
  tests/cli_session_hook_state.rs
  tests/one_window_per_stamp.rs
  tests/pane_io_routing.rs
  tests/support/backend_contract.rs
  tests/support/recording_backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): name the backend-and-pane pair a locate returns
  src/session_ops/windows.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(cli): pass the fake codex log path through the environment
  tests/message_delivery_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): keep a contributed label that is not text from breaking the row menu
  docs/PLUGINS.md
  tests/context_menu.rs
  ui/README.md
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): refuse a spawn that cannot tell whether its session runs, and test the adapter's pane refusals
  .agents/skills/thurbox-cli/SKILL.md
  docs/ARCHITECTURE.md
  src/backend/tmux.rs
  src/cli/automations.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/session/hook_status.rs
  src/session_ops/windows.rs
  tests/backend_contract.rs
  tests/one_window_per_stamp.rs
  tests/pane_io_routing.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): quote a deferred prompt's socket, refuse an ambiguous task reuse, and report an unread pane as unverified
  src/backend/tmux.rs
  src/cli/session_doctor.rs
  src/cli/tasks.rs
  tests/pane_io_routing.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): keep a missing multiplexer's session as no pane in the doctor
  src/cli/session_doctor.rs
  tests/pane_io_routing.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): reuse only this machine's session for a spawn automation or task
  src/cli/automations.rs
  src/cli/tasks.rs
  tests/pane_io_routing.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

style(core): drop the redundant 'static on the key tables
  src/backend/contract.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest
