Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

fix(core): restore sessions across all backends, not just local
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(git): add host-aware git worktree/branch operations over SSH
  src/git/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add host picker to the new-session flow
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/git/mod.rs
  src/main.rs
  src/ui/host_picker_modal.rs
  src/ui/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): add remote-SSH e2e harness (podman) + docs
  CLAUDE.md
  scripts/dev/remote-ssh-test.sh
Due: rumdl-check

fix(core): skip sessions on unmanaged backends instead of misadopting locally
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(cli): add --host to session create for remote SSH spawns
  src/agent/tmux.rs
  src/cli/automations.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/session_ops/spawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: document remote SSH sessions
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
Due: rumdl-check

refactor(core): extract shared shell/ssh helpers, remove duplication
  src/agent/control_mode.rs
  src/agent/transport.rs
  src/app/mod.rs
  src/git/mod.rs
  src/lib.rs
  src/session/host_def.rs
  src/session/mod.rs
  src/shell.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): mark remote SSH sessions with a cloud indicator
  src/agent/backend.rs
  src/ui/info_panel.rs
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(config): fully document the hosts.toml schema
  CLAUDE.md
  docs/FEATURES.md
  src/agent/host_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: add a dedicated Remote SSH Sessions section
  README.md
  website/docs/features.html
Due: rumdl-check

ci: publish Homebrew formula to a tap on release
  .github/workflows/cd.yml
  CLAUDE.md
  README.md
  packaging/README.md
  packaging/homebrew/Formula/thurbox.rb
  packaging/homebrew/README.md
  packaging/homebrew/bump-formula.py
Due: rumdl-check

docs: add Homebrew install section to the website
  website/docs/installation.html
Due: none

style: format Homebrew install section with prettier
  website/docs/installation.html
Due: none

fix: make the release decision robust to cog's no-bump message
  .github/workflows/cd.yml
Due: none

ci: push the Homebrew tap over SSH with a deploy key
  .github/workflows/cd.yml
  CLAUDE.md
  packaging/homebrew/README.md
Due: rumdl-check

fix(core): harden schema migration errors, log spawn race, dedupe tmux config
  src/agent/tmux.rs
  src/session_ops/spawn.rs
  src/storage/schema.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): add unit tests for modals/key-handlers/schema + reduce app complexity
  src/app/mod.rs
  src/app/modals.rs
  src/storage/schema.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): decompose app/mod.rs god object into sub-state structs
  src/app/automation_state.rs
  src/app/key_handlers.rs
  src/app/metrics_state.rs
  src/app/mod.rs
  src/app/sync_state.rs
  src/app/task_state.rs
  src/app/view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): move blocking spawn/git/metrics off the update path
  docs/ARCHITECTURE.md
  src/agent/backend.rs
  src/app/key_handlers.rs
  src/app/metrics_state.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): draggable scrollbars, pane-aware wheel, task preview slider
  src/agent/mod.rs
  src/app/mod.rs
  src/app/view.rs
  src/main.rs
  src/ui/automation_detail.rs
  src/ui/file_viewer.rs
  src/ui/mod.rs
  src/ui/scrollbar.rs
  src/ui/task_detail.rs
  src/ui/terminal_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): restore terminal text selection by narrowing scrollbar hitbox
  src/ui/scrollbar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): set a 5s sqlite busy_timeout on every connection
  src/storage/schema.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): dedupe TextInput into app::modals
  src/app/mod.rs
  src/app/modals.rs
  src/app/search.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): detach pane I/O when another instance removes a session
  src/agent/backend.rs
  src/agent/tmux.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): validate tmux pane ids before control-mode interpolation
  src/agent/control_mode.rs
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): record automation runs' related session in a typed column
  src/app/mod.rs
  src/cli/automations.rs
  src/session/automation.rs
  src/storage/automations.rs
  src/storage/schema.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(core): record busy_timeout and audit retention in ADR-8
  docs/ARCHITECTURE.md
Due: rumdl-check

fix(core): prune audit log entries older than 90 days on open
  src/storage/audit.rs
  src/storage/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): bound the session input channel and fail fast on overflow
  src/agent/backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): surface lost automation claim races in logs and tick output
  src/app/mod.rs
  src/cli/automations.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): fold detach counting into the shared test stub backend
  src/app/mod.rs
  src/cli/automations.rs
  src/storage/audit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): extract NewSessionWizardState from App
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/new_session_state.rs
  src/app/view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): retire the unused demo-replay agent
  CLAUDE.md
  src/agent/demo.rs
  src/agent/demo_scenarios/default.txt
  src/agent/demo_scenarios/refactor.txt
  src/agent/demo_scenarios/snake.txt
  src/agent/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(git): explain the remote $HOME cache's process-lifetime scope
  src/git/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): fold background poll pairs into a BackgroundTask handle
  src/app/background.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: fix drifted claims across CLAUDE.md, README, FEATURES, website
  CLAUDE.md
  README.md
  docs/FEATURES.md
  website/index.html
Due: rumdl-check

feat(config): surface config problems at startup and parse strictly
  CLAUDE.md
  docs/CONFIG.md
  src/agent/agent_config.rs
  src/agent/host_config.rs
  src/app/mod.rs
  src/main.rs
  src/session/agent_def.rs
  src/session/host_def.rs
  src/session/keybindings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): parse "f" as the letter key in keybinding chords
  src/session/keybindings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(config): add settings.toml and a thurbox-cli config subcommand
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  docs/CONFIG.md
  src/agent/agent_config.rs
  src/agent/backend.rs
  src/agent/host_config.rs
  src/agent/mod.rs
  src/agent/settings_config.rs
  src/bin/thurbox-cli.rs
  src/cli/config.rs
  src/cli/mod.rs
  src/main.rs
  src/session/agent_def.rs
  src/session/host_def.rs
  src/session/mod.rs
  src/session/settings.rs
  src/storage/audit.rs
  src/ui/layout.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
