Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

feat(ui): click to choose code-review target
  CLAUDE.md
  src/app/acceptance.rs
  src/app/code_review.rs
  src/app/mod.rs
  src/app/view.rs
  src/ui/code_review.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): harden remote status pipeline, spawn arg rewriting, and v39 migration
  src/agent/control_mode.rs
  src/agent/tmux.rs
  src/app/acceptance.rs
  src/app/code_review.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/search.rs
  src/app/view.rs
  src/git/mod.rs
  src/paths.rs
  src/session_ops/spawn.rs
  src/storage/repo_bookmarks.rs
  src/storage/schema.rs
  src/ui/code_review.rs
  src/ui/mod.rs
  src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): stop wsl.exe chdir mangling from breaking worktree spawns
  src/agent/transport.rs
  src/git/mod.rs
  src/shell.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): give remote shell panes the user's SSH-login shell
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): never highlight repo-group header with its session row
  src/app/mod.rs
  src/app/view.rs
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): clearer remote-session marker in session list
  src/ui/info_panel.rs
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): copy the status-bar message with Ctrl+C or a click
  CLAUDE.md
  src/app/acceptance.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/session/keybindings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): keep remote shell panes interactive
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

ci: run the suite on merge_group for the merge queue
  .github/workflows/ci.yml
Due: none

chore(deps): trim dependency tree (207 → 192 crates)
  Cargo.lock
  Cargo.toml
  src/ui/links.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor: group dev e2e harnesses under e2e/, share a common lib
  .github/workflows/ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  docs/DEVELOPMENT.md
  docs/PERFORMANCE.md
  justfile
  scripts/dev/README.md
  scripts/dev/e2e/lib/e2e-common.sh
  scripts/dev/e2e/linux-container.sh
  scripts/dev/e2e/real-host.sh
  scripts/dev/e2e/windows-vm.sh
  scripts/dev/lab-test.sh
  scripts/dev/remote-ssh-test.sh
  scripts/dev/smoke/tui-smoke.sh
  scripts/dev/tui-smoke-test.sh
  scripts/dev/windows-test.sh
Due: rumdl-check

docs: note Chocolatey package pending moderator approval
  packaging/chocolatey/README.md
Due: rumdl-check

refactor: drop the old-path compat shims for the moved dev scripts
  CLAUDE.md
  scripts/dev/README.md
  scripts/dev/lab-test.sh
  scripts/dev/lib/sandbox-env.sh
  scripts/dev/remote-ssh-test.sh
  scripts/dev/tui-smoke-test.sh
  scripts/dev/windows-test.sh
Due: rumdl-check

docs: remove notifications test plan doc
  docs/NOTIFICATIONS_TEST_PLAN.md
  docs/README.md
Due: rumdl-check

feat(ui): true paired side-by-side diff in code review
  CLAUDE.md
  docs/FEATURES.md
  src/app/acceptance.rs
  src/app/code_review.rs
  src/app/mod.rs
  src/session/review.rs
  src/ui/code_review.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): route force-delete teardown to the session's host
  CLAUDE.md
  src/cli/sessions.rs
  src/session_ops/delete.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): surface Ctrl+O open-in-editor hint in the footer
  src/app/key_handlers.rs
  src/app/mod.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): wrap long lines in side-by-side code review
  CLAUDE.md
  src/app/code_review.rs
  src/ui/code_review.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): drop extra trailing space after remote session glyph
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): keep the TUI usable when remote SSH hosts fail
  CLAUDE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/backend.rs
  src/agent/themes_config.rs
  src/agent/transport.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/git/mod.rs
  src/session/mod.rs
  src/session/theme_config.rs
  src/shell.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/theme.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci: add winget distribution channel
  .github/workflows/cd.yml
  CLAUDE.md
  README.md
  packaging/README.md
  packaging/winget/README.md
  packaging/winget/bump-manifests.py
  packaging/winget/manifests/Thurbeen.thurbox.installer.yaml
  packaging/winget/manifests/Thurbeen.thurbox.locale.en-US.yaml
  packaging/winget/manifests/Thurbeen.thurbox.yaml
  website/docs/faq.html
  website/docs/installation.html
  website/index.html
  website/llms.txt
Due: rumdl-check

fix(core): restore terminal before session detach on exit
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): survive cramped layouts; add hermetic TUI test seams
  CLAUDE.md
  src/agent/backend.rs
  src/app/acceptance.rs
  src/app/clock.rs
  src/app/mod.rs
  src/app/search.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(core): add runtime perf timing, slow-op ring, and perf window logging
  docs/CONFIG.md
  docs/PERFORMANCE.md
  src/app/code_review.rs
  src/app/metrics_state.rs
  src/app/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(config): persist and document the code_review feature flag
  src/agent/settings_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(cli): publish perf snapshot to metadata and add thurbox-cli perf
  CLAUDE.md
  docs/CONFIG.md
  docs/PERFORMANCE.md
  src/app/mod.rs
  src/cli/mod.rs
  src/cli/perf.rs
  src/main.rs
  src/storage/settings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(ui): build code-review diffs off the UI thread with a loading state
  CLAUDE.md
  docs/PERFORMANCE.md
  src/app/acceptance.rs
  src/app/code_review.rs
  src/app/metrics_state.rs
  src/app/mod.rs
  src/ui/code_review.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): add toggleable perf HUD overlay behind [features] perf_hud
  CLAUDE.md
  README.md
  docs/CONFIG.md
  src/agent/settings_config.rs
  src/app/acceptance.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/session/keybindings.rs
  src/session/settings.rs
  src/ui/mod.rs
  src/ui/perf_hud.rs
  src/ui/settings_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(core): prefetch tmux history captures in parallel during restore
  docs/PERFORMANCE.md
  src/agent/backend.rs
  src/agent/registry.rs
  src/agent/tmux.rs
  src/app/acceptance.rs
  src/app/metrics_state.rs
  src/app/mod.rs
  src/app/state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(core): gate per-tick agent meta reads and throttle data_version checks
  docs/PERFORMANCE.md
  src/agent/backend.rs
  src/app/metrics_state.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): tidy perf observability internals and extend coverage
  CLAUDE.md
  src/app/metrics_state.rs
  src/app/mod.rs
  src/ui/perf_hud.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): clamp histogram percentiles to the observed max
  src/app/metrics_state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): anchor code-review file jump to top of pane
  src/app/acceptance.rs
  src/app/code_review.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): expand a leading `~` in an extension session's repo_path
  docs/CONFIG.md
  src/agent/extension_config.rs
  src/session/extension_def.rs
  src/session_ops/extensions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: document the control-plane orchestration pattern
  docs/ORCHESTRATION.md
  docs/README.md
  website/_includes/sidebar.njk
  website/docs/orchestration.html
Due: rumdl-check

refactor(ui): drop the repo-group rollup status dot
  CLAUDE.md
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): run exec automations off the TUI thread
  CLAUDE.md
  src/app/automation.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): tighten the automation firing pass
  src/app/automation.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): refuse a dead pane in send_prompt_now
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: report on thurbox runtime performance
  docs/PERFORMANCE.md
Due: rumdl-check
