Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

docs: index the tmux-hook spawn test in the testing skill
  .agents/skills/thurbox-testing/SKILL.md
Due: rumdl-check

chore: file the spawn-verdict fact with its owner and stop advising kill-server
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/tmux.rs
  tests/spawn_with_failing_tmux_hook.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: cover the heartbeat fallback and correct what the warning claims
  docs/FEATURES.md
  tests/spawn_with_failing_tmux_hook.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(core): record codex's real hook surface and the hook-stdout rule
  docs/AGENTS.md
  docs/FEATURES.md
  extensions/hooks/README.md
  website/docs/agent-hooks.html
  website/docs/agents.html
Due: rumdl-check

fix(core): redirect every status hook's stdout and give codex a JSON Stop decision
  extensions/hooks/antigravity-hooks.json
  extensions/hooks/claude.json
  extensions/hooks/codex-hooks.json
  extensions/hooks/copilot-hooks.json
  extensions/hooks/extension.toml
  extensions/hooks/grok-hooks.json
  extensions/hooks/kimi-hooks.toml
  extensions/hooks/vibe-hooks.toml
  src/session/hook_status.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/extensions/install.rs
  src/session_ops/extensions/tests.rs
  tests/hook_stdout_contract.rs
  tests/hook_turn_sequence.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: state the runner these tmux tests need in their header
  tests/spawn_with_failing_tmux_hook.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): scope the install-time JSON prune to what the payload merges
  .agents/skills/thurbox-extensions/SKILL.md
  docs/AGENTS.md
  extensions/hooks/README.md
  src/agent/json_merge.rs
  src/session_ops/extensions/install.rs
  src/session_ops/extensions/tests.rs
  tests/hook_stdout_contract.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): own JSON merge entries by a stamp, not by the signal command
  .agents/skills/thurbox-extensions/SKILL.md
  docs/AGENTS.md
  extensions/hooks/README.md
  extensions/hooks/antigravity-hooks.json
  extensions/hooks/codex-hooks.json
  extensions/hooks/extension.toml
  src/session_ops/extensions/install.rs
  src/session_ops/extensions/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(core): say what uninstall actually prunes from a merged config file
  extensions/hooks/extension.toml
Due: none

fix(core): stop a failing tmux hook from failing session creation (#1156)
  .agents/skills/thurbox-testing/SKILL.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/tmux.rs
  tests/spawn_with_failing_tmux_hook.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(core): correct the stale prune doc and the migration's version
  .agents/skills/thurbox-extensions/SKILL.md
  docs/AGENTS.md
  extensions/hooks/README.md
  src/agent/json_merge.rs
  src/session_ops/extensions/install.rs
  src/session_ops/extensions/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(ui): give codex its blocked column in the website coverage matrix
  website/docs/agent-hooks.html
Due: none

docs(core): record codex's hook surface as verified against codex-cli 0.154.0
  docs/AGENTS.md
  extensions/hooks/README.md
  extensions/hooks/extension.toml
Due: rumdl-check

fix(core): redirect every status hook's stdout and give codex a JSON Stop decision (#1157)
  .agents/skills/thurbox-extensions/SKILL.md
  docs/AGENTS.md
  docs/FEATURES.md
  extensions/hooks/README.md
  extensions/hooks/antigravity-hooks.json
  extensions/hooks/claude.json
  extensions/hooks/codex-hooks.json
  extensions/hooks/copilot-hooks.json
  extensions/hooks/extension.toml
  extensions/hooks/grok-hooks.json
  extensions/hooks/kimi-hooks.toml
  extensions/hooks/vibe-hooks.toml
  src/agent/json_merge.rs
  src/session/hook_status.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/extensions/install.rs
  src/session_ops/extensions/tests.rs
  tests/hook_stdout_contract.rs
  tests/hook_turn_sequence.rs
  website/docs/agent-hooks.html
  website/docs/agents.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): re-assert additive migrations a schema version only claims
  docs/CONFIG.md
  src/storage/schema/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): give every spawned pane a PATH that finds thurbox-cli
  .agents/skills/thurbox-session-status/SKILL.md
  docs/CONFIG.md
  src/agent/tmux.rs
  src/cli/session_doctor.rs
  tests/cli_session_hook_state.rs
  tests/hook_cli_resolution.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): keep the shell that splits a no-arg command session
  docs/FEATURES.md
  src/agent/tmux.rs
  src/cli/session_doctor.rs
  tests/hook_cli_resolution.rs
  tests/spawn_command_resolution.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): never report an unverifiable pane's wiring as healthy
  .agents/skills/thurbox-session-status/SKILL.md
  src/agent/tmux.rs
  src/cli/session_doctor.rs
  tests/cli_session_hook_state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): compile the shell prefix helper on Windows too
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): give every spawned pane a PATH that finds thurbox-cli (#1162)
  .agents/skills/thurbox-session-status/SKILL.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/tmux.rs
  src/cli/session_doctor.rs
  src/storage/schema/mod.rs
  tests/cli_session_hook_state.rs
  tests/spawn_command_resolution.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(core): say why a quoted window command still yields its PATH
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): never wait on a remote link from the interface's own loop
  .agents/skills/thurbox-performance/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  docs/PERFORMANCE.md
  src/agent/control_mode/mod.rs
  src/agent/tmux.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(core): say why a quoted window command still yields its PATH (#1164)
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: check the socket gate per pin site, not per file
  .agents/skills/thurbox-testing/SKILL.md
  tests/tmux_server_leak.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(config): stop the dev sandbox and the doom recorder leaking their tmux server
  scripts/demo/record-doom.sh
  scripts/dev/lib/sandbox-env.sh
Due: none

fix(core): stop the async tests blocking their runtime
  src/agent/control_mode/tests.rs
  tests/attach_by_name.rs
  tests/session_lifetime.rs
  tests/tmux_server_leak.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test: scope every tmux harness so a run leaves no server behind
  src/agent/control_mode/tests.rs
  tests/attach_by_name.rs
  tests/cli_driver_contracts.rs
  tests/cli_session_capture.rs
  tests/cli_session_hook_state.rs
  tests/cli_stdout_contract.rs
  tests/cli_watch.rs
  tests/concurrent_respawn.rs
  tests/create_e2e.rs
  tests/reap_e2e.rs
  tests/send_keys_e2e.rs
  tests/session_lifetime.rs
  tests/session_state_agreement.rs
  tests/session_status.rs
  tests/tmux_server_leak.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: apply the publish review's findings
  src/agent/control_mode/tests.rs
  src/coordinator/boot.rs
  tests/tmux_server_leak.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): cap the rolling log at 30 files
  docs/CONFIG.md
  src/coordinator/boot.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: give each pin its own clear, and require a setter
  tests/tmux_server_leak.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: record the tmux-server scoping recipe in the testing skill
  .agents/skills/thurbox-testing/SKILL.md
Due: rumdl-check

fix(core): report codex blocked while it waits on a question
  docs/AGENTS.md
  extensions/hooks/README.md
  extensions/hooks/codex-hooks.json
  extensions/hooks/extension.toml
  src/session/hook_status.rs
  src/session_ops/builtin_hooks.rs
  tests/hook_turn_sequence.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test: scope the hook-state harnesses that landed while this branched
  tests/cli_session_hook_state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): fail loudly on a codex matcher the harness cannot model
  src/session_ops/builtin_hooks.rs
  tests/hook_turn_sequence.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): cap the rolling log and stop tests leaking tmux servers (#1163)
  .agents/skills/thurbox-testing/SKILL.md
  docs/CONFIG.md
  scripts/demo/record-doom.sh
  scripts/dev/lib/sandbox-env.sh
  src/agent/control_mode/tests.rs
  src/coordinator/boot.rs
  tests/attach_by_name.rs
  tests/cli_driver_contracts.rs
  tests/cli_session_capture.rs
  tests/cli_session_hook_state.rs
  tests/cli_stdout_contract.rs
  tests/cli_watch.rs
  tests/concurrent_respawn.rs
  tests/create_e2e.rs
  tests/reap_e2e.rs
  tests/send_keys_e2e.rs
  tests/session_lifetime.rs
  tests/session_state_agreement.rs
  tests/session_status.rs
  tests/tmux_server_leak.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(core): state the codex matcher's anchors as redundant, not load-bearing
  src/session_ops/builtin_hooks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): correct what the wedged-link tests assert, and measure it
  docs/PERFORMANCE.md
  src/agent/control_mode/mod.rs
  src/agent/tmux.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): report codex blocked while it waits on a question (#1165)
  docs/AGENTS.md
  extensions/hooks/README.md
  extensions/hooks/codex-hooks.json
  extensions/hooks/extension.toml
  src/session/hook_status.rs
  src/session_ops/builtin_hooks.rs
  tests/hook_turn_sequence.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): apply a resize whole, and ask again when it is refused
  docs/PERFORMANCE.md
  src/agent/backend.rs
  src/agent/control_mode/mod.rs
  src/agent/tmux.rs
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): never wait on a remote link from the interface's own loop (#1166)
  .agents/skills/thurbox-performance/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  docs/PERFORMANCE.md
  src/agent/backend.rs
  src/agent/control_mode/mod.rs
  src/agent/tmux.rs
  src/kernel/terminal/mod.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check
