Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

docs: address remote setup review feedback
  docs/REMOTE-SETUP.md
  website/docs/remote-setup.html
Due: rumdl-check

feat: establish shared multiplexer selection and liveness contract
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/agent/backend.rs
  src/agent/registry.rs
  src/agent/settings_config.rs
  src/agent/tmux.rs
  src/cli/sessions.rs
  src/coordinator/commands.rs
  src/coordinator/mod.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/kernel/config.rs
  src/kernel/host/api.rs
  src/kernel/host/publish.rs
  src/kernel/snapshot.rs
  src/kernel/terminal/mod.rs
  src/session/host_def.rs
  src/session/mod.rs
  src/session/multiplexer.rs
  src/session/settings.rs
  src/session_ops/mod.rs
  src/session_ops/spawn.rs
  tests/create_e2e.rs
  tests/kernel_mvp.rs
  tests/new_session.rs
  tests/reap_e2e.rs
  tests/tui_e2e.rs
  thurbox.yml
  ui/lib/thurbox.d.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): clear stale Codex status after submitted input
  src/cli/automations.rs
  src/cli/messages.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/coordinator/input.rs
  src/kernel/command/bus.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/kernel/snapshot.rs
  src/session_ops/mod.rs
  src/storage/sessions.rs
  tests/cli_session_hook_state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: explain Codex status without trusted hooks
  .agents/skills/thurbox-performance/SKILL.md
  .agents/skills/thurbox-session-status/SKILL.md
  docs/AGENTS.md
Due: rumdl-check

fix(core): retire Codex status on remote reports and reused sends
  src/cli/automations.rs
  src/coordinator/input.rs
  src/kernel/snapshot.rs
  tests/cli_session_hook_state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): resolve reused automation by live window
  .agents/skills/thurbox-session-status/SKILL.md
  docs/AGENTS.md
  src/cli/automations.rs
  tests/cli_session_hook_state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix: preserve host routing and poll psmux liveness
  src/agent/backend.rs
  src/agent/tmux.rs
  src/kernel/command/mod.rs
  src/kernel/snapshot.rs
  src/session/host_def.rs
  src/session_ops/spawn.rs
  tests/new_session.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix: advertise delegated multiplexer choice support
  docs/CONFIG.md
  src/cli/version.rs
  src/session_ops/host_cli.rs
  src/session_ops/spawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): clear stale Codex status after submitted input (#1267)
  .agents/skills/thurbox-performance/SKILL.md
  .agents/skills/thurbox-session-status/SKILL.md
  docs/AGENTS.md
  src/cli/automations.rs
  src/cli/messages.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/coordinator/input.rs
  src/kernel/command/bus.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/kernel/snapshot.rs
  src/session_ops/mod.rs
  src/storage/sessions.rs
  tests/cli_session_hook_state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat: establish shared multiplexer selection and liveness contract (#1268)
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/agent/backend.rs
  src/agent/registry.rs
  src/agent/settings_config.rs
  src/agent/tmux.rs
  src/cli/sessions.rs
  src/cli/version.rs
  src/coordinator/commands.rs
  src/coordinator/mod.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/kernel/config.rs
  src/kernel/host/api.rs
  src/kernel/host/publish.rs
  src/kernel/snapshot.rs
  src/kernel/terminal/mod.rs
  src/session/host_def.rs
  src/session/mod.rs
  src/session/multiplexer.rs
  src/session/settings.rs
  src/session_ops/host_cli.rs
  src/session_ops/mod.rs
  src/session_ops/spawn.rs
  tests/create_e2e.rs
  tests/kernel_mvp.rs
  tests/new_session.rs
  tests/reap_e2e.rs
  tests/tui_e2e.rs
  thurbox.yml
  ui/lib/thurbox.d.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): enable tmux mouse reporting for agent sessions (#1265)
  docs/ARCHITECTURE.md
  src/agent/tmux.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test: benchmark four supported multiplexers with mock-backed Codex TUI
  docs/benchmark-multiplexers/four-way-2026-09-27/method.md
  scripts/bench/benchlib.py
  scripts/bench/hosts.py
  scripts/bench/mock_responses.py
  scripts/bench/real_tui.py
  scripts/bench/real_tui_hook.py
  scripts/bench/run.py
  scripts/bench/run.sh
  scripts/bench/scenarios/attach.py
  scripts/bench/scenarios/create.py
  scripts/bench/scenarios/latency.py
  scripts/bench/scenarios/resources.py
  scripts/bench/scenarios/scrollback.py
  scripts/bench/scenarios/survival.py
  scripts/bench/scenarios/throughput.py
  scripts/bench/test_rmux_create.py
Due: rumdl-check

test: record each Codex hook status transition and source archive commit
  docs/benchmark-multiplexers/four-way-2026-09-27/method.md
  scripts/bench/real_tui.py
  scripts/bench/real_tui_hook.py
  scripts/bench/run.py
Due: rumdl-check

docs: publish four-configuration multiplexer benchmark
  AGENTS.md
  docs/BENCHMARK-MULTIPLEXERS.md
  docs/REVIEW.md
  docs/benchmark-multiplexers/four-way-2026-09-27/method.md
  docs/benchmark-multiplexers/four-way-2026-09-27/nixos/real-tui.json
  docs/benchmark-multiplexers/four-way-2026-09-27/nixos/synthetic/results.csv
  docs/benchmark-multiplexers/four-way-2026-09-27/nixos/synthetic/results.json
  docs/benchmark-multiplexers/four-way-2026-09-27/nixos/synthetic/summary.md
  docs/benchmark-multiplexers/four-way-2026-09-27/visuals/website-after-mobile.webp
  docs/benchmark-multiplexers/four-way-2026-09-27/visuals/website-after.webp
  docs/benchmark-multiplexers/four-way-2026-09-27/visuals/website-before.webp
  website/docs/performance.html
Due: rumdl-check

feat(agent): add Herdr adapter on multiplexer foundation
  docs/CONFIG.md
  src/agent/herdr.rs
  src/agent/mod.rs
  src/agent/registry.rs
  src/session_ops/delete.rs
  src/session_ops/mirror.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  src/session_ops/spawn.rs
  tests/herdr_backend_e2e.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix: make benchmark reruns work with pinned tools
  docs/benchmark-multiplexers/four-way-2026-09-27/method.md
  scripts/bench/real_tui.py
  scripts/bench/run.sh
  scripts/bench/test_real_tui_rerun.py
  scripts/bench/test_rmux_create.py
  scripts/ci/check-performance-cpu-scale.mjs
  website/docs/performance.html
Due: rumdl-check

test(core): isolate host routing regressions per process
  tests/lifecycle_dispatch.rs
  tests/mirror_adapter_tombstone.rs
  tests/mirror_adapter_unavailable.rs
  tests/remote_lifecycle_dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): make headless backend boundary explicit
  .agents/skills/thurbox-testing/SKILL.md
  docs/ARCHITECTURE.md
  src/agent/backend.rs
  src/agent/registry.rs
  src/agent/tmux.rs
  src/cli/sessions.rs
  src/kernel/metrics.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  src/session_ops/delete.rs
  src/session_ops/restore.rs
  tests/backend_contract_boundary.rs
  tests/cli_session_hook_state.rs
  tests/lifecycle_dispatch.rs
  tests/remote_lifecycle_dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): retain suffixed mirror tombstones without adapter
  src/session_ops/mirror.rs
  tests/lifecycle_dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): retain host-reported mux route during mirror
  src/session_ops/mirror.rs
  tests/lifecycle_dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): keep spawn dispatch within lifecycle path
  src/session_ops/spawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): dispatch headless lifecycle through registered backends
  .agents/skills/thurbox-testing/SKILL.md
  docs/ARCHITECTURE.md
  src/agent/backend.rs
  src/agent/tmux.rs
  src/session_ops/delete.rs
  src/session_ops/mirror.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  src/session_ops/spawn.rs
  tests/lifecycle_dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): verify backend boundary through public API
  .agents/skills/thurbox-testing/SKILL.md
  tests/backend_contract_boundary.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(ui): design the sessions context menu
  docs/superpowers/specs/2026-09-28-sessions-context-menu-design.md
Due: rumdl-check

docs(ui): plan the sessions context menu
  docs/superpowers/plans/2026-09-28-sessions-context-menu.md
Due: rumdl-check

feat(core): give a pointer hook the screen cell it was pressed on
  src/coordinator/mouse.rs
  src/kernel/host/mod.rs
  tests/mouse.rs
  tests/terminal_pane.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): let a float open at a point on the screen
  src/coordinator/chrome.rs
  src/coordinator/draw.rs
  src/kernel/host/load.rs
  src/kernel/host/mod.rs
  tests/mouse.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): tell the float holding the pointer when a press misses it
  src/coordinator/mouse.rs
  src/kernel/host/mod.rs
  src/kernel/perf.rs
  tests/mouse.rs
  tests/tui_e2e.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add a menu float opened at a point
  src/kernel/bundled.rs
  tests/context_menu.rs
  tests/plugin_lifecycle.rs
  ui/plugins/64_menu.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): open a session's menu on a right press in the sessions column
  tests/context_menu.rs
  tests/kernel_mvp.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): document the context menu, float.at and on_outside
  .agents/skills/thurbox-kernel/SKILL.md
  docs/FEATURES.md
  docs/PERFORMANCE.md
  docs/PLUGINS.md
  extensions/ui-skill/SKILL.md
  ui/AGENTS.md
  ui/README.md
  ui/lib/modal.lua
Due: rumdl-check

fix(core): close an open menu when a band pill is pressed
  docs/PLUGINS.md
  src/coordinator/draw.rs
  src/coordinator/mouse.rs
  tests/tui_e2e.rs
  ui/plugins/64_menu.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

PR #1274 screenshots (not for merge)
  01-menu-open.png
  02-menu-keyboard.png
  03-rename-from-menu.png
Due: none

fix(ui): pin a menu to the session it was opened on and keep its highlight in view
  docs/PLUGINS.md
  docs/superpowers/specs/2026-09-28-sessions-context-menu-design.md
  tests/context_menu.rs
  ui/plugins/10_sessions.lua
  ui/plugins/64_menu.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): open the sessions column's general menu on a right press off the rows
  docs/FEATURES.md
  docs/superpowers/specs/2026-09-28-sessions-context-menu-design.md
  tests/context_menu.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

PR #1274: pane menu screenshot
  04-pane-menu.png
Due: none

fix(ui): type the sessions column's general menu for the Lua type check
  ui/plugins/10_sessions.lua
Due: none

fix(ui): offer sort only when a real session is listed
  tests/context_menu.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: drop the working spec and plan from the branch
  docs/superpowers/plans/2026-09-28-sessions-context-menu.md
  docs/superpowers/specs/2026-09-28-sessions-context-menu-design.md
Due: rumdl-check
