Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

docs(docs): add a Nix tab to the home page install commands (#1234)
  docs/TUTORIAL.md
  website/css/landing.css
  website/docs/faq.html
  website/docs/tutorial.html
  website/index.html
  website/llms.txt
Due: rumdl-check

fix(ui): put an edited layout back when a restore cannot write
  src/kernel/bundled.rs
  tests/edited_interface.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): keep an edited layout working across upgrades
  .agents/skills/thurbox-testing/SKILL.md
  docs/PLUGINS.md
  docs/REVIEW.md
  src/coordinator/interface.rs
  src/kernel/bundled.rs
  tests/edited_interface.rs
  tests/fixtures/edited_interface/lib_surface.txt
  tests/fixtures/edited_interface/v2.22.4/layout.lua
  tests/fixtures/edited_interface/v2.22.4/plugins/10_sessions.lua
  tests/fixtures/edited_interface/v2.22.4/plugins/20_agent.lua
  tests/fixtures/edited_interface/v2.32.0/layout.lua
  tests/fixtures/edited_interface/v2.32.0/plugins/20_agent.lua
  ui/AGENTS.md
  ui/README.md
  ui/lib/panels.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): keep an edited layout working across upgrades (#1235)
  .agents/skills/thurbox-testing/SKILL.md
  docs/PLUGINS.md
  docs/REVIEW.md
  src/coordinator/interface.rs
  src/kernel/bundled.rs
  tests/edited_interface.rs
  tests/fixtures/edited_interface/lib_surface.txt
  tests/fixtures/edited_interface/v2.22.4/layout.lua
  tests/fixtures/edited_interface/v2.22.4/plugins/10_sessions.lua
  tests/fixtures/edited_interface/v2.22.4/plugins/20_agent.lua
  tests/fixtures/edited_interface/v2.32.0/layout.lua
  tests/fixtures/edited_interface/v2.32.0/plugins/20_agent.lua
  ui/AGENTS.md
  ui/README.md
  ui/lib/panels.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): search every session's full scrollback, and open a hit scrolled to it
  Cargo.lock
  Cargo.toml
  benches/frame_cost.rs
  src/coordinator/boot.rs
  src/coordinator/mod.rs
  src/coordinator/mouse.rs
  src/coordinator/publish.rs
  src/kernel/host/mod.rs
  src/kernel/host/publish.rs
  src/kernel/mod.rs
  src/kernel/search.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  src/main.rs
  tests/chrome.rs
  tests/core_settings.rs
  tests/edited_interface.rs
  tests/events.rs
  tests/frames.rs
  tests/hover.rs
  tests/kernel_frame_cost.rs
  tests/kernel_mvp.rs
  tests/kernel_perf.rs
  tests/keymap.rs
  tests/modals.rs
  tests/mouse.rs
  tests/new_session.rs
  tests/palette.rs
  tests/plugin_programs.rs
  tests/plugin_settings.rs
  tests/render_props.rs
  tests/restore.rs
  tests/search.rs
  tests/session_list.rs
  tests/terminal_pane.rs
  tests/tui_e2e.rs
  ui/lib/fuzzy.lua
  ui/plugins/10_sessions.lua
  ui/plugins/20_agent.lua
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(core): build search snippets only for the hits that survive ranking; declare thurbox.search
  Cargo.toml
  benches/search_cost.rs
  src/kernel/host/publish.rs
  src/kernel/search.rs
  src/kernel/terminal/decoupling.rs
  tests/fixtures/edited_interface/lib_surface.txt
  tests/search.rs
  thurbox.yml
  ui/lib/fuzzy.lua
  ui/lib/thurbox.d.lua
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): mark the line a search lands on, and record the search demo
  docs/PLUGINS.md
  scripts/demo/record-search.sh
  src/kernel/convert.rs
  src/kernel/host/publish.rs
  src/kernel/node.rs
  src/kernel/paint.rs
  src/kernel/search.rs
  src/kernel/terminal/decoupling.rs
  tests/decoration.rs
  tests/search.rs
  tests/tui_e2e.rs
  ui/lib/thurbox.d.lua
  ui/plugins/20_agent.lua
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(ui): document full-content search, its grammar, ranking and cost; state-of-the-strip tests and demo
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/CONFIG.md
  docs/FEATURES.md
  docs/PERFORMANCE.md
  docs/PLUGINS.md
  media/search-full-content.gif
  scripts/demo/record-search.sh
  tests/search.rs
  ui/README.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): clamp a revealed scroll offset to what the surface node carries
  ui/plugins/20_agent.lua
Due: none

fix(core): serve the content search every loop iteration, and move the epoch only for a changed answer
  src/coordinator/mod.rs
  src/coordinator/publish.rs
  src/kernel/search.rs
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): point the old screen-read row at its replacement
  docs/PERFORMANCE.md
Due: rumdl-check

chore(ui): record the search demo in the shipped default theme over lorem-ipsum sessions
  media/search-full-content.gif
  scripts/demo/record-search.sh
Due: none

fix(core): land a search hit on the wrapped row the match is on
  src/kernel/search.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): make the settings Interface tab say what each file is and why
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/PLUGINS.md
  src/kernel/modals/interface.rs
  src/kernel/modals/settings.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(ui): record the Interface tab before and after on one filler setup
  media/interface-tab-after.gif
  media/interface-tab-before.gif
  scripts/demo/interface.tape
  scripts/demo/record-interface-tab.sh
Due: none

fix(ui): hedge the unplaced reason and give the fix its own line
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/PLUGINS.md
  media/interface-tab-after.gif
  src/kernel/modals/interface.rs
  src/kernel/modals/settings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(ui): keep global search off the frame and every terminal's lock
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  benches/search_cost.rs
  docs/PERFORMANCE.md
  scripts/dev/perf-run.sh
  src/coordinator/publish.rs
  src/kernel/host/api.rs
  src/kernel/host/publish.rs
  src/kernel/search.rs
  tests/search.rs
  tests/search_budget.rs
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: describe search without the debounce, and the empty-query warm-up
  docs/FEATURES.md
  docs/PLUGINS.md
  tests/search_budget.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): let go of a closed search's last history and bound a read's catch-up
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  benches/search_cost.rs
  docs/PERFORMANCE.md
  src/kernel/search.rs
  tests/search.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): find a read's place only where it is unambiguous
  docs/PERFORMANCE.md
  scripts/dev/perf-run.sh
  src/kernel/search.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(ui): keep global search off the frame and every terminal's lock (#1239)
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  benches/search_cost.rs
  docs/FEATURES.md
  docs/PERFORMANCE.md
  docs/PLUGINS.md
  scripts/dev/perf-run.sh
  src/coordinator/publish.rs
  src/kernel/host/api.rs
  src/kernel/host/publish.rs
  src/kernel/search.rs
  tests/search.rs
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: re-measure latency on a fixed typing schedule and narrow two claims
  docs/BENCHMARK-MULTIPLEXERS.md
  docs/benchmark-multiplexers/results.csv
  docs/benchmark-multiplexers/results.json
  docs/benchmark-multiplexers/summary.md
Due: rumdl-check

docs: link the two defects the benchmark found to their issues
  docs/BENCHMARK-MULTIPLEXERS.md
Due: rumdl-check

chore: keep the benchmark out of validation steps and pin both Herdr assets
  docs/BENCHMARK-MULTIPLEXERS.md
  scripts/bench/benchlib.py
  scripts/bench/hosts.py
  scripts/bench/run.py
  scripts/bench/run.sh
Due: rumdl-check

docs: report raw tmux vs Herdr vs thurbox as hosts for agent sessions
  AGENTS.md
  docs/BENCHMARK-MULTIPLEXERS.md
  docs/PERFORMANCE.md
  docs/REVIEW.md
  docs/benchmark-multiplexers/results.csv
  docs/benchmark-multiplexers/results.json
  docs/benchmark-multiplexers/summary.md
Due: rumdl-check

chore: answer the review of the benchmark harness
  scripts/bench/agent.py
  scripts/bench/benchlib.py
  scripts/bench/hosts.py
  scripts/bench/run.py
  scripts/bench/run.sh
  scripts/bench/scenarios/common.py
  scripts/bench/scenarios/latency.py
  scripts/bench/scenarios/survival.py
  scripts/bench/scenarios/throughput.py
Due: none

test: add a benchmark harness for raw tmux, Herdr and thurbox
  justfile
  scripts/bench/agent.py
  scripts/bench/benchlib.py
  scripts/bench/hosts.py
  scripts/bench/run.py
  scripts/bench/run.sh
  scripts/bench/scenarios/attach.py
  scripts/bench/scenarios/common.py
  scripts/bench/scenarios/create.py
  scripts/bench/scenarios/latency.py
  scripts/bench/scenarios/resources.py
  scripts/bench/scenarios/scrollback.py
  scripts/bench/scenarios/survival.py
  scripts/bench/scenarios/throughput.py
Due: none

docs: benchmark thurbox against raw tmux and Herdr (#1240)
  AGENTS.md
  docs/BENCHMARK-MULTIPLEXERS.md
  docs/PERFORMANCE.md
  docs/REVIEW.md
  docs/benchmark-multiplexers/results.csv
  docs/benchmark-multiplexers/results.json
  docs/benchmark-multiplexers/summary.md
  justfile
  scripts/bench/agent.py
  scripts/bench/benchlib.py
  scripts/bench/hosts.py
  scripts/bench/run.py
  scripts/bench/run.sh
  scripts/bench/scenarios/attach.py
  scripts/bench/scenarios/common.py
  scripts/bench/scenarios/create.py
  scripts/bench/scenarios/latency.py
  scripts/bench/scenarios/resources.py
  scripts/bench/scenarios/scrollback.py
  scripts/bench/scenarios/survival.py
  scripts/bench/scenarios/throughput.py
Due: rumdl-check

feat(ui): make the settings Interface tab say what each file is and why (#1238)
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/PLUGINS.md
  media/interface-tab-after.gif
  media/interface-tab-before.gif
  scripts/demo/interface.tape
  scripts/demo/record-interface-tab.sh
  src/kernel/modals/interface.rs
  src/kernel/modals/settings.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

🐛 [ui] Select a session on click and open it on double-click
  docs/FEATURES.md
  docs/PLUGINS.md
  docs/TUTORIAL.md
  src/coordinator/boot.rs
  src/coordinator/mouse.rs
  src/kernel/host/mod.rs
  src/main.rs
  tests/mouse.rs
  tests/terminal_pane.rs
  tests/tui_e2e.rs
  ui/lib/thurbox.d.lua
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): select a session on click and open it on double-click (#1244)
  docs/FEATURES.md
  docs/PLUGINS.md
  docs/TUTORIAL.md
  src/coordinator/boot.rs
  src/coordinator/mouse.rs
  src/kernel/host/mod.rs
  src/main.rs
  tests/mouse.rs
  tests/terminal_pane.rs
  tests/tui_e2e.rs
  ui/lib/thurbox.d.lua
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): make the focused pane unmistakable
  .agents/skills/thurbox-kernel/SKILL.md
  docs/FEATURES.md
  media/focus.gif
  media/focus/default-mono.png
  media/focus/default.png
  media/focus/github-light.png
  media/focus/oxocarbon.png
  media/focus/zenburn.png
  scripts/demo/record-focus.sh
  src/coordinator/draw.rs
  src/kernel/convert.rs
  src/kernel/node.rs
  src/kernel/paint.rs
  src/kernel/terminal/mod.rs
  tests/chrome.rs
  tests/fixtures/edited_interface/lib_surface.txt
  tests/frames.rs
  tests/kernel_mvp.rs
  tests/tui_e2e.rs
  ui/AGENTS.md
  ui/README.md
  ui/lib/chrome.lua
  ui/lib/thurbox.d.lua
  ui/lib/ui.lua
  ui/lib/widgets.lua
  ui/plugins/20_agent.lua
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: describe the focus convention ui.panel now draws
  docs/PLUGINS.md
Due: rumdl-check

fix(ui): mark focus on the agent pane's empty state too
  tests/chrome.rs
  tests/frames.rs
  ui/plugins/20_agent.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): keep widgets.panel's shape and paint one cursor per screen
  docs/FEATURES.md
  src/coordinator/draw.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  tests/chrome.rs
  ui/README.md
  ui/lib/widgets.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): make the focused pane unmistakable (#1245)
  .agents/skills/thurbox-kernel/SKILL.md
  docs/FEATURES.md
  docs/PLUGINS.md
  media/focus.gif
  media/focus/default-mono.png
  media/focus/default.png
  media/focus/github-light.png
  media/focus/oxocarbon.png
  media/focus/zenburn.png
  scripts/demo/record-focus.sh
  src/coordinator/draw.rs
  src/kernel/convert.rs
  src/kernel/node.rs
  src/kernel/paint.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  tests/chrome.rs
  tests/fixtures/edited_interface/lib_surface.txt
  tests/frames.rs
  tests/kernel_mvp.rs
  tests/tui_e2e.rs
  ui/AGENTS.md
  ui/README.md
  ui/lib/chrome.lua
  ui/lib/thurbox.d.lua
  ui/lib/ui.lua
  ui/lib/widgets.lua
  ui/plugins/20_agent.lua
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(core): read an off-screen pane back as plain text, outside the control lock, for search
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(core): keep no terminal grid for a session nobody is looking at
  benches/search_cost.rs
  src/agent/backend.rs
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/settings_config.rs
  src/agent/tmux.rs
  src/kernel/config.rs
  src/kernel/modals/settings.rs
  src/kernel/search.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  src/kernel/terminal/programs.rs
  src/session/settings.rs
  tests/lazy_terminals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
