Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

feat(mcp): add per-project MCP server configuration
  src/app/key_handlers.rs
  src/app/mcp_editor_modal.rs
  src/app/mod.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/project/mod.rs
  src/session/mod.rs
  src/storage/mcp_servers.rs
  src/storage/mod.rs
  src/storage/projects.rs
  src/storage/roles.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  src/storage/worktrees.rs
  src/sync/delta.rs
  src/sync/mod.rs
  src/sync/state.rs
  src/ui/edit_project_modal.rs
  src/ui/mcp_editor_modal.rs
  src/ui/mod.rs
  src/ui/role_editor_modal.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore(cli): add Claude Code slash commands for ship, refactor, and sync
  .claude/commands/refactor.md
  .claude/commands/ship.md
  .claude/commands/sync.md
Due: rumdl-check

feat(ui): make Ctrl+J/K context-sensitive for project navigation
  CLAUDE.md
  src/app/key_handlers.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): remove default project in favour of admin-only first launch
  docs/ARCHITECTURE.md
  src/app/mod.rs
  src/mcp/tools.rs
  src/project/mod.rs
  src/storage/mcp_servers.rs
  src/storage/mod.rs
  src/storage/projects.rs
  src/storage/roles.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  src/storage/worktrees.rs
  src/ui/info_panel.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): remove leftover is_default field in test helper
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(git): add worktree auto-sync with origin/main
  src/app/key_handlers.rs
  src/app/mod.rs
  src/git/mod.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): restart admin session fresh on tmux kill
  src/app/key_handlers.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add clickable URL highlighting in terminal sessions
  Cargo.lock
  Cargo.toml
  src/app/mod.rs
  src/main.rs
  src/ui/links.rs
  src/ui/mod.rs
  src/ui/terminal_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(mcp): add get_session, delete_session, and restart_session tools
  CLAUDE.md
  src/app/mod.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/session/mod.rs
  src/storage/schema.rs
  src/storage/sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): add multi-repo worktree support
  src/app/key_handlers.rs
  src/app/mod.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/session/mod.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  src/storage/worktrees.rs
  src/sync/delta.rs
  src/sync/state.rs
  src/ui/info_panel.rs
  src/ui/project_list.rs
  src/ui/terminal_view.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: overhaul README with end-user focus and full feature coverage
  README.md
Due: rumdl-check

feat(ui): comprehensive UI/UX improvements across 5 phases
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/app/key_handlers.rs
  src/app/mcp_editor_modal.rs
  src/app/mod.rs
  src/ui/add_project_modal.rs
  src/ui/branch_selector_modal.rs
  src/ui/delete_project_modal.rs
  src/ui/edit_project_modal.rs
  src/ui/info_panel.rs
  src/ui/mcp_editor_modal.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/repo_selector_modal.rs
  src/ui/role_editor_modal.rs
  src/ui/role_selector_modal.rs
  src/ui/session_mode_modal.rs
  src/ui/status_bar.rs
  src/ui/terminal_view.rs
  src/ui/theme.rs
  src/ui/worktree_name_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): enrich project list with status dots, admin separation, and wrap navigation
  src/app/mod.rs
  src/ui/layout.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/terminal_view.rs
  src/ui/theme.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): make git sync resilient to index.lock contention
  src/app/mod.rs
  src/git/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): preserve worktrees on session close to prevent data loss
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(mcp): auto-allow thurbox-mcp tools in admin session
  docs/FEATURES.md
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(core): update thurbox demo gif
  docs/media/thurbox-demo.gif
Due: none

feat(core): add shell toggle pane with Ctrl+T keybinding
  src/app/key_handlers.rs
  src/app/mod.rs
  src/claude/backend.rs
  src/claude/tmux.rs
  src/mcp/tools.rs
  src/session/mod.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  src/storage/worktrees.rs
  src/sync/delta.rs
  src/sync/state.rs
  src/ui/status_bar.rs
  src/ui/terminal_view.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(mcp): add Streamable HTTP transport to thurbox-mcp
  Cargo.lock
  Cargo.toml
  src/bin/thurbox-mcp.rs
  tests/mcp_http_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): use compute_layout() as single source of truth for tmux pane sizing
  src/app/mod.rs
  src/ui/layout.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): add session restore with undo and deleted sessions modal
  CLAUDE.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/git/mod.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/storage/mod.rs
  src/storage/sessions.rs
  src/ui/mod.rs
  src/ui/restore_sessions_modal.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check
