Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

docs: clarify hooks extension config file locations and coexistence
  docs/CONFIG.md
  extensions/hooks/README.md
  website/docs/agent-hooks.html
Due: rumdl-check

fix(ui): keep session selection highlight off the repo group header
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(deps): update anyhow to 1.0.103 for RUSTSEC-2026-0190
  Cargo.lock
Due: none

fix: upgrade anyhow to 1.0.103 to resolve RUSTSEC-2026-0190
  Cargo.lock
Due: none

docs: add GitHub Copilot App to website comparison table
  website/docs/comparison.html
Due: none

ci: speed up Windows CI via parallelization and Defender exclusion
  .github/workflows/ci.yml
Due: none

docs: add GitHub Copilot App to README comparison table
  README.md
Due: rumdl-check

docs: reconcile CLAUDE.md/docs/website with source code
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  website/docs/configuration.html
  website/docs/keybindings.html
Due: rumdl-check

feat(config): add GitHub Copilot CLI as a built-in agent
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  extensions/hooks/README.md
  extensions/hooks/copilot-hooks.json
  extensions/hooks/extension.toml
  src/agent/agent_config.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/restart.rs
  website/docs/agent-hooks.html
  website/docs/configuration.html
  website/docs/faq.html
  website/docs/features.html
  website/docs/installation.html
  website/index.html
  website/llms.txt
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): add Ctrl+X shortcut for code review and show it in the demo
  .claude/skills/ui-review/scripts/capture.sh
  CLAUDE.md
  README.md
  docs/CONFIG.md
  docs/FEATURES.md
  scripts/demo/agents.tape
  scripts/demo/code-review.tape
  scripts/demo/record.sh
  src/app/mod.rs
  src/cli/config.rs
  src/session/keybindings.rs
  src/storage/keybindings.rs
  website/css/landing.css
  website/docs/comparison.html
  website/docs/configuration.html
  website/docs/features.html
  website/docs/keybindings.html
  website/index.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: note the comparison table is a curated subset of a fast-moving space
  README.md
Due: rumdl-check

docs: regenerate hero demo video to show the code-review view
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  scripts/demo/agents.tape
Due: none

chore(config): use PNG icon and warn on missing psmux in chocolatey package
  packaging/chocolatey/README.md
  packaging/chocolatey/thurbox.nuspec
  packaging/chocolatey/tools/chocolateyinstall.ps1
  website/assets/logo-mark.png
Due: rumdl-check

fix(core): encode keystrokes for psmux on Windows
  CLAUDE.md
  src/agent/control_mode.rs
  src/agent/tmux.rs
  src/agent/transport.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): run agent sessions inside WSL distros
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/backend.rs
  src/agent/host_config.rs
  src/agent/tmux.rs
  src/agent/transport.rs
  src/app/mod.rs
  src/cli/config.rs
  src/git/mod.rs
  src/main.rs
  src/notifications.rs
  src/paths.rs
  src/session/host_def.rs
  src/session/mod.rs
  src/session_ops/spawn.rs
  src/shell.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): update website favicon to match current logo mark
  website/assets/favicon.svg
Due: none

feat(ui): add six dark theme presets and group light themes last
  CLAUDE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/themes_config.rs
  src/app/snapshots/thurbox__app__acceptance__theme_picker_lists_palettes.snap
  src/session/theme_config.rs
  src/ui/theme_picker_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): add find-in-diff search to the code-review view
  CLAUDE.md
  src/app/acceptance.rs
  src/app/code_review.rs
  src/ui/code_review.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): focus code-review pane when clicking a diff row
  src/app/acceptance.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): clickable view-toggle buttons + central-pane tab strip
  CLAUDE.md
  src/app/acceptance.rs
  src/app/code_review.rs
  src/app/mod.rs
  src/app/view.rs
  src/session/keybindings.rs
  src/session/mod.rs
  src/ui/code_review.rs
  src/ui/mod.rs
  src/ui/status_bar.rs
  src/ui/terminal_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): F-key-order footer/tab buttons and toggle-close theme/settings
  CLAUDE.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/snapshots/thurbox__app__acceptance__automations_list_modal_empty.snap
  src/app/snapshots/thurbox__app__acceptance__empty_welcome_screen_renders.snap
  src/app/snapshots/thurbox__app__acceptance__help_overlay_lists_keybindings.snap
  src/app/snapshots/thurbox__app__acceptance__restore_sessions_modal_empty.snap
  src/app/snapshots/thurbox__app__acceptance__theme_picker_lists_palettes.snap
  src/app/view.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: note Windows support is experimental
  README.md
  packaging/chocolatey/thurbox.nuspec
  scripts/install.ps1
  website/docs/installation.html
Due: rumdl-check

docs: regenerate demo media for updated UI
  docs/media/automations-demo.gif
  docs/media/automations-demo.mp4
  docs/media/code-review-demo.gif
  docs/media/code-review-demo.mp4
  docs/media/search-demo.gif
  docs/media/search-demo.mp4
  docs/media/tasks-demo.gif
  docs/media/tasks-demo.mp4
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  docs/media/thurbox-file-manager.gif
  docs/media/thurbox-file-manager.mp4
  docs/media/thurbox-fork.gif
  docs/media/thurbox-fork.mp4
  docs/media/thurbox-info-panel.gif
  docs/media/thurbox-info-panel.mp4
  docs/media/thurbox-session-creation.gif
  docs/media/thurbox-session-creation.mp4
  docs/media/thurbox-theme.gif
  docs/media/thurbox-theme.mp4
Due: none

docs: regenerate UI/UX review page on the shared site layout
  .claude/skills/ui-review/SKILL.md
  .claude/skills/ui-review/scripts/build_report.py
  .claude/skills/ui-review/scripts/capture.sh
  .claude/skills/ui-review/tapes/screenshots.tape
  website/assets/ui-review/01-session-list.png
  website/assets/ui-review/02-second-session.png
  website/assets/ui-review/03-info-panel.png
  website/assets/ui-review/04-file-viewer.png
  website/assets/ui-review/05-tasks-panel.png
  website/assets/ui-review/06-automations.png
  website/assets/ui-review/07-global-search.png
  website/assets/ui-review/08-theme-picker.png
  website/assets/ui-review/09-repo-picker.png
  website/assets/ui-review/10-keybindings.png
  website/assets/ui-review/11-code-review.png
  website/assets/ui-review/11-settings-panel.png
  website/assets/ui-review/12-automation-editor.png
  website/assets/ui-review/12-code-review-comment.png
  website/assets/ui-review/13-task-editor.png
  website/assets/ui-review/14-code-review-targets.png
  website/docs/ui-review.html
Due: rumdl-check

fix(git): scrub inherited GIT_* env so git calls stay hermetic
  src/app/acceptance.rs
  src/app/code_review.rs
  src/git/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): stop footer/value overlap in repo picker and settings panel
  src/ui/mod.rs
  src/ui/repo_picker_modal.rs
  src/ui/settings_modal.rs
  website/assets/ui-review/01-session-list.png
  website/assets/ui-review/02-second-session.png
  website/assets/ui-review/03-info-panel.png
  website/assets/ui-review/05-tasks-panel.png
  website/assets/ui-review/06-automations.png
  website/assets/ui-review/07-global-search.png
  website/assets/ui-review/08-theme-picker.png
  website/assets/ui-review/09-repo-picker.png
  website/assets/ui-review/10-keybindings.png
  website/assets/ui-review/11-settings-panel.png
  website/assets/ui-review/12-automation-editor.png
  website/assets/ui-review/13-code-review-sidebyside.png
  website/assets/ui-review/14-code-review-targets.png
  website/docs/ui-review.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): cover all TUI assets with their feature flags
  CLAUDE.md
  src/app/acceptance.rs
  src/app/mod.rs
  src/app/view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): give status/error messages a dedicated row above the footer
  src/app/mod.rs
  src/app/view.rs
  src/ui/layout.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): scroll or wrap long lines in code review
  CLAUDE.md
  src/app/acceptance.rs
  src/app/code_review.rs
  src/app/tasks.rs
  src/ui/code_review.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(deps): update tauri-winrt-notification to 0.7.3 to drop vulnerable quick-xml
  Cargo.lock
Due: none

test: add lab-test.sh to drive e2e checks against real SSH hosts
  CLAUDE.md
  justfile
  scripts/dev/lab-test.sh
Due: rumdl-check

fix(core): make WSL/remote agent sessions launch correctly
  src/agent/tmux.rs
  src/agent/transport.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/git/mod.rs
  src/session_ops/restart.rs
  src/session_ops/spawn.rs
  src/shell.rs
  src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): dedupe remote helpers and tighten stale comments
  src/agent/tmux.rs
  src/agent/transport.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/git/mod.rs
  src/session_ops/restart.rs
  src/session_ops/spawn.rs
  src/shell.rs
  src/storage/schema.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): make session creation remote-aware end to end
  CLAUDE.md
  docs/FEATURES.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/storage/repo_bookmarks.rs
  src/storage/schema.rs
  src/ui/repo_picker_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): launch remote agent sessions with host-adapted args and env
  CLAUDE.md
  src/agent/backend.rs
  src/agent/tmux.rs
  src/app/mod.rs
  src/session_ops/mod.rs
  src/session_ops/spawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): add THURBOX_SOCKET override and a native Windows lab e2e
  CLAUDE.md
  docs/CONFIG.md
  scripts/dev/lab-test.sh
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): stop psmux mangling typed quotes and arm the heartbeat on Windows
  CLAUDE.md
  src/agent/control_mode.rs
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): live hooks-driven status for remote sessions
  CLAUDE.md
  src/agent/backend.rs
  src/agent/control_mode.rs
  src/agent/tmux.rs
  src/app/acceptance.rs
  src/app/mod.rs
  src/git/mod.rs
  src/session/mod.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/spawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): give remote shell panes a shell that exists on the host
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(core): restore remote sessions in the background
  CLAUDE.md
  docs/PERFORMANCE.md
  src/app/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
