Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

perf(core): stop the per-session git poll scaling with the session list
  .agents/skills/thurbox-performance/SKILL.md
  docs/CONFIG.md
  docs/PERFORMANCE.md
  src/agent/settings_config.rs
  src/git/diff.rs
  src/git/tests.rs
  src/kernel/config.rs
  src/kernel/diff.rs
  src/kernel/modals/settings.rs
  src/kernel/snapshot.rs
  src/session/settings.rs
  website/docs/configuration.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): attach panes on native Windows, where psmux answers no attach and scopes no window option
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/self_update.rs
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): measure the git poll cost, and stop a setting overflowing it
  docs/CONFIG.md
  docs/PERFORMANCE.md
  src/git/diff.rs
  src/git/tests.rs
  src/kernel/diff.rs
  src/kernel/snapshot.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(core): record psmux's missing implicit attach response as ADR-13's fifth divergence
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
Due: rumdl-check

fix(core): un-escape a checksum only where the escaping tool wrote it
  src/agent/self_update.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(core): say what really bounds an unmerged answer's age
  docs/CONFIG.md
  docs/PERFORMANCE.md
  src/kernel/snapshot.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): rescan an imported folder instead of freezing it at import
  docs/FEATURES.md
  src/kernel/command/execute.rs
  src/kernel/repos.rs
  src/storage/repo_bookmarks.rs
  tests/repo_memory.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): let ui.json override a pill's priority
  docs/CONFIG.md
  docs/PLUGINS.md
  src/cli/config.rs
  src/kernel/registry.rs
  ui/README.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): keep a folder rescan off the epoch and off the screen
  src/kernel/repos.rs
  src/storage/repo_bookmarks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): refuse to file a rescan's children under a forgotten folder
  docs/FEATURES.md
  src/kernel/repos.rs
  src/storage/repo_bookmarks.rs
  tests/repo_memory.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): keep a malformed pill override in ui.json instead of erasing it
  src/kernel/registry.rs
  ui/README.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): attach panes on native Windows, where psmux answers no attach and scopes no window option (#1174)
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/self_update.rs
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): let ui.json override a pill's priority (#1176)
  docs/CONFIG.md
  docs/PLUGINS.md
  src/cli/config.rs
  src/kernel/registry.rs
  ui/README.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): forget a folder and its members in one transaction
  src/storage/repo_bookmarks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(core): retire the rule ADR-P25 reversed where it was written down
  .agents/skills/thurbox-cli/SKILL.md
  docs/PERFORMANCE.md
Due: rumdl-check

fix(core): rescan an imported folder instead of freezing it at import (#1177)
  docs/FEATURES.md
  src/kernel/command/execute.rs
  src/kernel/repos.rs
  src/storage/repo_bookmarks.rs
  tests/repo_memory.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test: reap a harness's tmux server in Drop instead of at each exit point
  .agents/skills/thurbox-testing/SKILL.md
  docs/DEVELOPMENT.md
  docs/REVIEW.md
  justfile
  scripts/dev/reap-tmux-servers.sh
  tests/attach_by_name.rs
  tests/cli_driver_contracts.rs
  tests/cli_session_capture.rs
  tests/cli_session_hook_state.rs
  tests/cli_watch.rs
  tests/concurrent_respawn.rs
  tests/create_e2e.rs
  tests/program_pane_corpse.rs
  tests/program_pane_exit.rs
  tests/program_restart_exit.rs
  tests/reap_e2e.rs
  tests/send_keys_e2e.rs
  tests/session_lifetime.rs
  tests/session_rename.rs
  tests/session_state_agreement.rs
  tests/session_status.rs
  tests/spawn_command_resolution.rs
  tests/spawn_with_failing_tmux_hook.rs
  tests/support/tmux_server.rs
  tests/tmux_server_leak.rs
  tests/tui_e2e.rs
  tests/window_remain_on_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(core): state the merge-recheck bound the same way in all three places
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-performance/SKILL.md
  docs/PERFORMANCE.md
Due: rumdl-check

perf(core): stop the per-session git poll scaling with the session list (#1171)
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-performance/SKILL.md
  docs/CONFIG.md
  docs/PERFORMANCE.md
  src/agent/settings_config.rs
  src/git/diff.rs
  src/git/tests.rs
  src/kernel/config.rs
  src/kernel/diff.rs
  src/kernel/modals/settings.rs
  src/kernel/snapshot.rs
  src/session/settings.rs
  website/docs/configuration.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test: own the guard's socket directory, and catch a guard it drops at once
  tests/program_pane_corpse.rs
  tests/support/tmux_server.rs
  tests/tmux_server_leak.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test: reap a harness's tmux server in Drop instead of at each exit point (#1184)
  .agents/skills/thurbox-testing/SKILL.md
  docs/DEVELOPMENT.md
  docs/REVIEW.md
  justfile
  scripts/dev/reap-tmux-servers.sh
  tests/attach_by_name.rs
  tests/cli_driver_contracts.rs
  tests/cli_session_capture.rs
  tests/cli_session_hook_state.rs
  tests/cli_watch.rs
  tests/concurrent_respawn.rs
  tests/create_e2e.rs
  tests/program_pane_corpse.rs
  tests/program_pane_exit.rs
  tests/program_restart_exit.rs
  tests/reap_e2e.rs
  tests/send_keys_e2e.rs
  tests/session_lifetime.rs
  tests/session_rename.rs
  tests/session_state_agreement.rs
  tests/session_status.rs
  tests/spawn_command_resolution.rs
  tests/spawn_with_failing_tmux_hook.rs
  tests/support/tmux_server.rs
  tests/tmux_server_leak.rs
  tests/tui_e2e.rs
  tests/window_remain_on_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): date a host's listing failure from when the attempt ended
  src/agent/self_update.rs
  src/session_ops/delete.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): claim a host's listing so overlapping sweeps cannot all probe it
  src/session_ops/delete.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): compute SHA256 in process so a WSL host stops freezing the interface
  .agents/skills/thurbox-remote-hosts/SKILL.md
  Cargo.lock
  Cargo.toml
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/agent/self_update.rs
  src/session_ops/delete.rs
  src/session_ops/host_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): keep the sweep's host backoff in the database so a fresh tick honours it
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/session_ops/delete.rs
  src/storage/settings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: open the README with the demo before the prose
  README.md
Due: rumdl-check

docs: name tmux and correct what a worktree belongs to
  README.md
Due: rumdl-check

fix(core): ask a host whose backoff stamp a clock rollback put in the future
  src/storage/settings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: say worktree mode is opt-in per repo
  README.md
Due: rumdl-check

docs: open the README with the logo, badges, demo and key points (#1189)
  README.md
Due: rumdl-check

fix(core): compute SHA256 in process so a WSL host stops freezing the interface (#1185)
  .agents/skills/thurbox-remote-hosts/SKILL.md
  Cargo.lock
  Cargo.toml
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/agent/self_update.rs
  src/session_ops/delete.rs
  src/session_ops/host_cli.rs
  src/storage/settings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: rebalance the page toward the engine and correct the redraw claim
  website/css/landing.css
  website/index.html
Due: none

fix: say the pure-pane memo is opt-in, since an undeclared pane still re-runs
  website/index.html
Due: none

fix: hold the headline to one line at 320px, not 360
  website/css/landing.css
Due: none

docs: say what thurbox does in the landing hero
  website/css/landing.css
  website/index.html
Due: none

fix: name what perf --plugins actually prints, and that timing is opt-in
  website/index.html
Due: none

fix: keep the hero worktree claim true and its prompt above AA contrast
  website/css/landing.css
  website/index.html
Due: none

fix: state the hero's isolation as an offer, not a guarantee
  website/css/landing.css
  website/index.html
Due: none

fix: scope the change-gating claim to the groups that are actually gated
  website/index.html
Due: none

docs: cut the hero to what the fold needs
  website/index.html
Due: none
