Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

chore: no-mistakes review - Clear detected_agent in apply_hook_states to fix hook-onset staleness
  .agents/skills/thurbox-session-status/SKILL.md
  docs/PERFORMANCE.md
  src/kernel/snapshot.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - Gate assess()'s pane corroboration on unreported hook state
  .agents/skills/thurbox-session-status/SKILL.md
  docs/PERFORMANCE.md
  src/kernel/snapshot.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

no-mistakes: apply CI fixes
  src/cli/sessions.rs
  src/session/hook_status.rs
  tests/session_status.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): never publish an arbitrary detected agent
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-session-status/SKILL.md
  src/cli/sessions.rs
  src/kernel/snapshot.rs
  src/session/hook_status.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes document - No stale docs found; prior commits already kept docs in sync with the code
  tests/kernel_mvp.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): report status hooks for grok and kimi
  .agents/skills/thurbox-extensions/SKILL.md
  docs/AGENTS.md
  extensions/hooks/README.md
  extensions/hooks/extension.toml
  extensions/hooks/grok-hooks.json
  extensions/hooks/kimi-hooks.toml
  src/agent/mod.rs
  src/agent/toml_merge.rs
  src/session/extension_def.rs
  src/session/hook_status.rs
  src/session/mod.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/extensions/install.rs
  src/session_ops/remote_hooks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(cli): stop the automation-tick test installing into the real $HOME
  src/cli/automations.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - docs: sync config_merges TOML support and hook_schema agent lists
  .agents/skills/thurbox-agents/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
Due: rumdl-check

fix(core): own kimi's merged hooks by comment, and refuse an unreadable config
  .agents/skills/thurbox-extensions/SKILL.md
  docs/AGENTS.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  extensions/hooks/README.md
  extensions/hooks/kimi-hooks.toml
  src/agent/toml_merge.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/extensions/install.rs
  src/session_ops/extensions/tests.rs
  src/session_ops/remote_hooks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes document - Sync docs/skill for grok+kimi's TOML-ownership marker fix
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/CONFIG.md
  extensions/hooks/README.md
Due: rumdl-check

no-mistakes: apply CI fixes
  src/session_ops/extensions/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): report status hooks for grok and kimi (#1082)
  .agents/skills/thurbox-agents/SKILL.md
  .agents/skills/thurbox-extensions/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/AGENTS.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  extensions/hooks/README.md
  extensions/hooks/extension.toml
  extensions/hooks/grok-hooks.json
  extensions/hooks/kimi-hooks.toml
  src/agent/mod.rs
  src/agent/toml_merge.rs
  src/cli/automations.rs
  src/session/extension_def.rs
  src/session/hook_status.rs
  src/session/mod.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/extensions/install.rs
  src/session_ops/extensions/tests.rs
  src/session_ops/remote_hooks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): stop a locked database from killing the agent a restart just spawned
  src/agent/tmux.rs
  src/coordinator/commands.rs
  src/session_ops/restart.rs
  src/storage/mod.rs
  src/storage/sessions.rs
  tests/concurrent_respawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes review - Add record_pane classification test; extend ADR-26 for write_transaction
  docs/ARCHITECTURE.md
  src/session_ops/restart.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes document - docs: fix stale respawn-retry comments; index new e2e test
  .agents/skills/thurbox-testing/SKILL.md
  src/coordinator/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes lint - {"summary": "fmt: apply rustfmt to restart.rs test assertions"}
  src/session_ops/restart.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): stop transient SQLite lock contention from freezing sessions (#1084)
  .agents/skills/thurbox-testing/SKILL.md
  docs/ARCHITECTURE.md
  src/agent/tmux.rs
  src/coordinator/commands.rs
  src/coordinator/mod.rs
  src/main.rs
  src/session_ops/restart.rs
  src/storage/mod.rs
  src/storage/sessions.rs
  tests/concurrent_respawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): stop a heuristic blocked from standing after the agent finishes
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-session-status/SKILL.md
  docs/AGENTS.md
  docs/FEATURES.md
  docs/ORCHESTRATION.md
  extensions/hooks/antigravity-hooks.json
  extensions/hooks/claude.json
  extensions/hooks/extension.toml
  extensions/hooks/grok-hooks.json
  src/cli/session_doctor.rs
  src/kernel/snapshot.rs
  src/session/hook_status.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/mirror.rs
  tests/kernel_mvp.rs
  ui/lib/theme.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - fix(cli): clean up doctor Presumed coverage message whitespace
  src/cli/session_doctor.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - docs(features): document latched-blocked output-quiescence retirement
  docs/FEATURES.md
Due: rumdl-check

no-mistakes: apply CI fixes
  src/session_ops/builtin_hooks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(config): stop the grok comment quoting claude's pre-fix command
  extensions/hooks/extension.toml
Due: none

chore: no-mistakes review - fix(cli): clarify doctor Presumed message, add its missing tests
  src/cli/session_doctor.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - docs(agents): fix grok Notification match description
  docs/AGENTS.md
Due: rumdl-check

chore: no-mistakes lint - style: fmt session_doctor test diagnose call
  src/cli/session_doctor.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): animate a running session while its pane is producing output
  .agents/skills/thurbox-session-status/SKILL.md
  benches/frame_cost.rs
  docs/FEATURES.md
  docs/PERFORMANCE.md
  src/coordinator/mod.rs
  src/coordinator/publish.rs
  src/kernel/host/mod.rs
  src/kernel/host/publish.rs
  src/kernel/terminal/mod.rs
  tests/chrome.rs
  tests/core_settings.rs
  tests/events.rs
  tests/frames.rs
  tests/hover.rs
  tests/kernel_frame_cost.rs
  tests/kernel_mvp.rs
  tests/keymap.rs
  tests/modals.rs
  tests/mouse.rs
  tests/new_session.rs
  tests/palette.rs
  tests/plugin_programs.rs
  tests/plugin_settings.rs
  tests/render_props.rs
  tests/restore.rs
  tests/search.rs
  tests/session_list.rs
  tests/terminal_pane.rs
  thurbox.yml
  ui/README.md
  ui/lib/theme.lua
  ui/lib/thurbox.d.lua
  ui/lib/ui.lua
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - wait for verification: agent:: test suite running in background
  src/agent/backend.rs
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - docs(hooks): fix stale payload-match wording, orphaned skill paragraph
  .agents/skills/thurbox-session-status/SKILL.md
  extensions/hooks/README.md
Due: rumdl-check

chore: no-mistakes lint - {"summary": "style: fmt reader_loop and assert_eq call sites in backend.rs"}
  src/agent/backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes lint - docs: replace private intra-doc link with plain code span
  src/agent/backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): point the orchestration pattern at the renamed fleet template
  docs/ORCHESTRATION.md
  website/docs/orchestration.html
Due: rumdl-check

docs(docs): point the orchestration pattern at the renamed fleet template (#1086)
  docs/ORCHESTRATION.md
  website/docs/orchestration.html
Due: rumdl-check

fix(ui): say what enter does at each step of the creation flow
  docs/TUTORIAL.md
  media/tutorial/01-first-launch.png
  media/tutorial/02-repo-picker.png
  media/tutorial/03-add-repo-path.png
  media/tutorial/04-browse-directory.png
  media/tutorial/05-repo-added.png
  media/tutorial/06-worktree-mode.png
  media/tutorial/07-base-branch.png
  media/tutorial/08-session-name.png
  media/tutorial/09-branch-name.png
  media/tutorial/10-agent-picker.png
  media/tutorial/11-session-running.png
  media/tutorial/12-repo-remembered.png
  media/tutorial/13-search.png
  media/tutorial/14-keybindings.png
  media/tutorial/15-cli.png
  tests/new_session.rs
  ui/lib/modal.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - Fix worktree-row pill to match Next/Open with agent-step reality
  tests/new_session.rs
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): withhold the pill where the flow would refuse the key
  tests/new_session.rs
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): withhold new-session footer pills the flow would refuse (#1087)
  docs/TUTORIAL.md
  media/tutorial/01-first-launch.png
  media/tutorial/02-repo-picker.png
  media/tutorial/03-add-repo-path.png
  media/tutorial/04-browse-directory.png
  media/tutorial/05-repo-added.png
  media/tutorial/06-worktree-mode.png
  media/tutorial/07-base-branch.png
  media/tutorial/08-session-name.png
  media/tutorial/09-branch-name.png
  media/tutorial/10-agent-picker.png
  media/tutorial/11-session-running.png
  media/tutorial/12-repo-remembered.png
  media/tutorial/13-search.png
  media/tutorial/14-keybindings.png
  media/tutorial/15-cli.png
  tests/new_session.rs
  ui/lib/modal.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): finish a remote session's teardown after the host comes back
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  docs/ARCHITECTURE.md
  scripts/dev/e2e/linux-container.sh
  src/agent/tmux.rs
  src/cli/automations.rs
  src/cli/sessions.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/session_ops/delete.rs
  src/session_ops/mod.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  src/storage/sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes lint - fix(core): wrap host_unreachable format! args per rustfmt
  src/session_ops/delete.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
