Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

feat(core): add opt-in RMUX backend
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/CONSTITUTION.md
  src/backend/mod.rs
  src/backend/registry.rs
  src/backend/rmux.rs
  src/backend/wiring.rs
  tests/architecture_rules.rs
  tests/backend_adapters.rs
  tests/backend_contract.rs
  tests/backend_routes.rs
  tests/hook_status_routing.rs
  tests/lifecycle_routing.rs
  tests/pane_io_routing.rs
  tests/rmux_e2e.rs
  tests/support/recording_backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): preserve watched outcomes and picker selection
  src/coordinator/control.rs
  tests/new_session.rs
  tests/tui_e2e.rs
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): send psmux Insert and Delete as single keys
  src/backend/psmux.rs
  tests/psmux_input.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): offer RMUX in new-session picker
  .agents/skills/thurbox-kernel/SKILL.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/kernel/snapshot.rs
  src/session/multiplexer.rs
  tests/new_session.rs
  tests/tui_e2e.rs
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): address RMUX review findings
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/backend/psmux.rs
  src/backend/rmux.rs
  src/backend/tmux.rs
  src/backend/tmux_compat/control_mode/mod.rs
  src/backend/tmux_compat/control_mode/tests.rs
  src/backend/tmux_compat/server.rs
  tests/backend_contract.rs
  tests/new_session.rs
  tests/rmux_e2e.rs
  tests/tui_e2e.rs
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: clarify native Windows sandbox coverage
  docs/DEVELOPMENT.md
Due: rumdl-check

fix(config): complete mock host and repo seeding
  scripts/dev/seed-sandbox.sh
  scripts/dev/test-sandbox-seed.sh
Due: none

fix(config): serialize sandbox seeding by profile
  scripts/dev/seed-sandbox.sh
  scripts/dev/test-sandbox-seed.sh
Due: none

docs(ui): describe local control safety and privacy
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  docs/PERFORMANCE.md
  docs/PLUGINS.md
  docs/TUTORIAL.md
  ui/README.md
Due: rumdl-check

feat(ui): require confirmation for destructive control actions
  src/cli/ui.rs
  src/coordinator/boot.rs
  src/coordinator/commands.rs
  src/coordinator/control.rs
  src/coordinator/mouse.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/kernel/host/api.rs
  src/kernel/host/mod.rs
  src/kernel/modals/palette.rs
  src/kernel/registry.rs
  src/main.rs
  src/ui_control.rs
  tests/context_menu.rs
  tests/core_settings.rs
  tests/kernel_mvp.rs
  tests/keymap.rs
  tests/session_list.rs
  tests/tui_e2e.rs
  ui/lib/thurbox.d.lua
  ui/plugins/10_sessions.lua
  ui/plugins/60_confirm.lua
  ui/plugins/64_menu.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): explain audit worker and menu compatibility
  docs/CONFIG.md
  docs/PLUGINS.md
Due: rumdl-check

fix(ui): close control safety review gaps
  Cargo.toml
  src/coordinator/control.rs
  src/kernel/host/api.rs
  src/ui_control.rs
  tests/context_menu.rs
  tests/tui_e2e.rs
  ui/lib/thurbox.d.lua
  ui/plugins/10_sessions.lua
  ui/plugins/60_confirm.lua
  ui/plugins/64_menu.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): open Windows audit handle for file locking
  src/ui_control.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): require confirmation for destructive control actions (#1331)
  Cargo.toml
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  docs/PERFORMANCE.md
  docs/PLUGINS.md
  docs/TUTORIAL.md
  src/cli/ui.rs
  src/coordinator/boot.rs
  src/coordinator/commands.rs
  src/coordinator/control.rs
  src/coordinator/mouse.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/kernel/host/api.rs
  src/kernel/host/mod.rs
  src/kernel/modals/palette.rs
  src/kernel/registry.rs
  src/main.rs
  src/ui_control.rs
  tests/context_menu.rs
  tests/core_settings.rs
  tests/kernel_mvp.rs
  tests/keymap.rs
  tests/session_list.rs
  tests/tui_e2e.rs
  ui/README.md
  ui/lib/thurbox.d.lua
  ui/plugins/10_sessions.lua
  ui/plugins/64_menu.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): add opt-in RMUX backend (#1322)
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/CONSTITUTION.md
  docs/FEATURES.md
  src/backend/mod.rs
  src/backend/psmux.rs
  src/backend/registry.rs
  src/backend/rmux.rs
  src/backend/tmux.rs
  src/backend/tmux_compat/control_mode/mod.rs
  src/backend/tmux_compat/control_mode/tests.rs
  src/backend/tmux_compat/server.rs
  src/backend/wiring.rs
  src/coordinator/control.rs
  src/kernel/snapshot.rs
  src/session/multiplexer.rs
  tests/architecture_rules.rs
  tests/backend_adapters.rs
  tests/backend_contract.rs
  tests/backend_routes.rs
  tests/hook_status_routing.rs
  tests/lifecycle_routing.rs
  tests/new_session.rs
  tests/pane_io_routing.rs
  tests/psmux_input.rs
  tests/rmux_e2e.rs
  tests/support/recording_backend.rs
  tests/tui_e2e.rs
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): keep accepted search hits visible in folded hosts
  tests/session_list.rs
  tests/tui_e2e.rs
  ui/plugins/10_sessions.lua
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): explain accepted search results in folded hosts
  docs/FEATURES.md
Due: rumdl-check

fix(ui): preserve folded host focus and older panes
  tests/edited_interface.rs
  tests/session_list.rs
  ui/lib/session_model.lua
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): fold session list by host
  docs/FEATURES.md
  docs/PLUGINS.md
  src/kernel/command/mod.rs
  src/kernel/host/api.rs
  src/kernel/host/publish.rs
  src/kernel/snapshot.rs
  tests/frames.rs
  tests/kernel_mvp.rs
  tests/new_session.rs
  tests/session_list.rs
  tests/tui_e2e.rs
  thurbox.yml
  ui/lib/order.lua
  ui/lib/session_model.lua
  ui/lib/thurbox.d.lua
  ui/lib/ui.lua
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): fold session list by host and repo
  docs/FEATURES.md
  media/session-groups.gif
  scripts/demo/record-session-groups.sh
  tests/frames.rs
  tests/session_list.rs
  ui/lib/session_model.lua
  ui/plugins/10_sessions.lua
  website/css/landing.css
  website/index.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(ui): describe foldable host and repo rows
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  ui/lib/settings.lua
Due: rumdl-check

fix(ui): select first session below local host row
  tests/context_menu.rs
  tests/frames.rs
  tests/kernel_mvp.rs
  tests/new_session.rs
  tests/plugin_settings.rs
  tests/session_list.rs
  tests/tui_e2e.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): fold sessions by host and repo (#1328)
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  docs/PLUGINS.md
  media/session-groups.gif
  scripts/demo/record-session-groups.sh
  src/kernel/command/mod.rs
  src/kernel/host/api.rs
  src/kernel/host/publish.rs
  src/kernel/snapshot.rs
  tests/context_menu.rs
  tests/edited_interface.rs
  tests/frames.rs
  tests/kernel_mvp.rs
  tests/new_session.rs
  tests/plugin_settings.rs
  tests/session_list.rs
  tests/tui_e2e.rs
  thurbox.yml
  ui/lib/order.lua
  ui/lib/session_model.lua
  ui/lib/settings.lua
  ui/lib/thurbox.d.lua
  ui/lib/ui.lua
  ui/plugins/10_sessions.lua
  ui/plugins/65_search.lua
  website/css/landing.css
  website/index.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: document RMUX and verify multiplexer requirements
  .agents/skills/thurbox-remote-hosts/SKILL.md
  AGENTS.md
  README.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/CONSTITUTION.md
  docs/DEVELOPMENT.md
  docs/TUTORIAL.md
  website/docs/architecture.html
  website/docs/comparison.html
  website/docs/configuration.html
  website/docs/faq.html
  website/docs/installation.html
  website/docs/tutorial.html
  website/index.html
Due: rumdl-check

docs: clarify adapter and installation wording
  docs/ARCHITECTURE.md
  website/docs/installation.html
Due: rumdl-check

docs: include RMUX in session backend descriptions
  README.md
  website/docs/comparison.html
  website/docs/faq.html
  website/docs/features.html
Due: rumdl-check

docs: cover RMUX server shutdown and liveness
  docs/CONFIG.md
  website/docs/installation.html
Due: rumdl-check

docs: link the optional extended-key format release
  docs/CONFIG.md
Due: rumdl-check

feat(ui): make host fold navigation consistent across input paths
  tests/session_list.rs
  tests/tui_e2e.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: document host tree navigation and fold controls
  docs/FEATURES.md
Due: rumdl-check

fix(ui): report fold state for a selected repo row
  tests/session_list.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(ui): pin fold action catalog and hidden-session reordering
  tests/session_list.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: document RMUX and verify multiplexer requirements (#1333)
  .agents/skills/thurbox-remote-hosts/SKILL.md
  AGENTS.md
  README.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/CONSTITUTION.md
  docs/DEVELOPMENT.md
  docs/TUTORIAL.md
  website/docs/architecture.html
  website/docs/comparison.html
  website/docs/configuration.html
  website/docs/faq.html
  website/docs/features.html
  website/docs/installation.html
  website/docs/tutorial.html
  website/index.html
Due: rumdl-check

feat(ui): add tree navigation and consistent host folding (#1334)
  docs/FEATURES.md
  tests/session_list.rs
  tests/tui_e2e.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(ui): describe session menu fold-all actions
  docs/FEATURES.md
Due: rumdl-check

feat(ui): add fold-all session menu actions
  tests/context_menu.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(ui): cover bulk folding through context menus
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(config): take hooks out of a config dir an agent moved away from, and let doctor read where they were installed
  src/cli/session_doctor.rs
  src/session/extension_def.rs
  src/session_ops/extensions/install.rs
  tests/cli_session_hook_state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): walk repo rows with the session list's tree arrows
  docs/FEATURES.md
  tests/session_list.rs
  tests/tui_e2e.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check
