Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

docs: group website extensions catalog by category
  website/css/docs.css
  website/docs/extensions.html
Due: none

docs(config): update website docs for new extension home default
  website/docs/extension-ci-shepherd.html
  website/docs/extension-flow.html
  website/docs/extension-forge.html
  website/docs/extension-github-issues.html
  website/docs/extension-gitlab-issues.html
  website/docs/extension-jira.html
  website/docs/extension-linear.html
  website/docs/extension-renovate.html
  website/docs/extensions.html
Due: none

test: cover untested UI modals and app state modules
  src/app/config_reload.rs
  src/app/helpers.rs
  src/app/search.rs
  src/ui/automation_editor_modal.rs
  src/ui/automations_list_modal.rs
  src/ui/global_search.rs
  src/ui/repo_picker_modal.rs
  src/ui/task_detail.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: group extensions by category in docs sidebar
  website/_includes/sidebar.njk
  website/css/docs.css
Due: none

docs: note v0.x.x stability and possible breaking changes
  README.md
Due: rumdl-check

perf(core): cache session-status reads, gated on data_version
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/PERFORMANCE.md
  src/agent/tmux.rs
  src/app/metrics_state.rs
  src/app/mod.rs
  src/main.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  website/css/docs.css
  website/docs/performance.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(cli): coordinate same-repo PR merges in ci-shepherd
  CLAUDE.md
  extensions/ci-shepherd/README.md
  extensions/ci-shepherd/SHEPHERD.md
  extensions/ci-shepherd/extension.toml
  extensions/ci-shepherd/scripts/classify.bats
  extensions/ci-shepherd/scripts/classify.sh
  extensions/ci-shepherd/scripts/link-sessions.bats
  extensions/ci-shepherd/scripts/link-sessions.sh
  extensions/ci-shepherd/scripts/shepherd-snapshot.sh
Due: rumdl-check

docs: wrap README feature-wall lines and allow layout HTML in rumdl
  .rumdl.toml
  README.md
Due: rumdl-check

docs: restructure README features into two-column feature wall
  README.md
Due: rumdl-check

feat(ui): multi-line, wrapping, scrollable automation prompt
  src/app/modals.rs
  src/ui/automation_editor_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: cycle through all themes in theme demo video
  docs/media/thurbox-theme.gif
  docs/media/thurbox-theme.mp4
  scripts/demo/theme.tape
Due: none

feat(ui): clickable footer/modal buttons, field-click, and hover
  CLAUDE.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/snapshots/thurbox__app__acceptance__automations_list_modal_empty.snap
  src/app/snapshots/thurbox__app__acceptance__empty_welcome_screen_renders.snap
  src/app/snapshots/thurbox__app__acceptance__help_overlay_lists_keybindings.snap
  src/app/snapshots/thurbox__app__acceptance__restore_sessions_modal_empty.snap
  src/app/snapshots/thurbox__app__acceptance__theme_picker_lists_palettes.snap
  src/app/view.rs
  src/ui/agent_picker_modal.rs
  src/ui/automation_editor_modal.rs
  src/ui/automations_list_modal.rs
  src/ui/branch_selector_modal.rs
  src/ui/confirm_delete_modal.rs
  src/ui/host_picker_modal.rs
  src/ui/mod.rs
  src/ui/repo_picker_modal.rs
  src/ui/restore_sessions_modal.rs
  src/ui/session_name_modal.rs
  src/ui/settings_modal.rs
  src/ui/status_bar.rs
  src/ui/task_action_picker_modal.rs
  src/ui/task_editor_modal.rs
  src/ui/theme_picker_modal.rs
  src/ui/worktree_name_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): clickable footer/modal buttons, field-click, and hover
  src/app/view.rs
  src/ui/automation_editor_modal.rs
  src/ui/automations_list_modal.rs
  src/ui/confirm_delete_modal.rs
  src/ui/mod.rs
  src/ui/repo_picker_modal.rs
  src/ui/restore_sessions_modal.rs
  src/ui/session_name_modal.rs
  src/ui/settings_modal.rs
  src/ui/worktree_name_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix: resolve CI failure
  src/ui/settings_modal.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): stop migrate_v34 swallowing ALTER errors
  src/storage/schema.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): make upsert_session atomic and store additional_dirs as JSON
  src/storage/sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): share the action codec across tasks and automations
  src/storage/automations.rs
  src/storage/mod.rs
  src/storage/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): gate extension heartbeat behind the automations feature
  src/cli/extensions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(cli): dedup task/automation action + session-identity helpers
  src/cli/action.rs
  src/cli/automations.rs
  src/cli/identity.rs
  src/cli/messages.rs
  src/cli/mod.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(ui): dedup block-cursor split and windowed row-hitbox loops
  src/ui/automation_editor_modal.rs
  src/ui/file_viewer.rs
  src/ui/mod.rs
  src/ui/task_editor_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): drop stale field count from from_modal doc
  src/ui/automation_editor_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(ui): borrow cached session order vecs instead of cloning per frame
  src/app/view.rs
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): surface DB-open and persist failures instead of hiding them
  src/app/key_handlers.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): agent-neutral spawn toasts and dedupe app-layer logic
  src/app/acceptance.rs
  src/app/mod.rs
  src/app/modals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(ui): project visible_fields from one source, drop dead indirection
  src/app/view.rs
  src/session/settings.rs
  src/ui/automation_editor_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(git): unify base-ref + worktree-segment helpers
  src/git/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): drop write-only SharedState versioning, fix stale doc
  src/storage/sync.rs
  src/sync/mod.rs
  src/sync/state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): drop unused HostProbe::is_wsl probe
  src/notifications.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(core): avoid per-sender clone in dispatch_output; fix reconnect
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): resolve usage credential paths via paths::home_dir()
  src/paths.rs
  src/usage/mod.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): guard theme preset variants and override-array coverage
  src/session/theme_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): resolve overlapping keybindings deterministically
  src/session/keybindings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): validate ExtensionAutomation send-xor-exec invariant
  src/session/extension_def.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): resolve agent def once; single-pass exec tail
  src/session_ops/mod.rs
  src/session_ops/restart.rs
  src/session_ops/spawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(core): hoist per-tick extension list calls; wire validation & fix doc
  src/session_ops/extensions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(git): avoid public-to-private intra-doc link in ahead_behind
  src/git/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): drop private intra-doc link in visible_fields doc
  src/ui/automation_editor_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): prevent search-highlight panic on truncated multibyte labels
  src/ui/highlight.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: harden ui-review skill capture sandbox, focus, and resolution
  .claude/skills/ui-review/scripts/capture.sh
  .claude/skills/ui-review/tapes/screenshots.tape
Due: none

docs: proactively nudge live sessions to rebase/merge in ci-shepherd
  CLAUDE.md
  extensions/ci-shepherd/README.md
  extensions/ci-shepherd/SHEPHERD.md
Due: rumdl-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
