Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

feat(ui): add project management, repo selector, and focus visibility
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  pup.ron
  src/app/mod.rs
  src/claude/pty_session.rs
  src/lib.rs
  src/main.rs
  src/project/mod.rs
  src/session/mod.rs
  src/ui/add_project_modal.rs
  src/ui/info_panel.rs
  src/ui/layout.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/repo_selector_modal.rs
  src/ui/session_list.rs
  src/ui/status_bar.rs
  src/ui/terminal_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(git): add git worktree support for branch-isolated sessions
  docs/FEATURES.md
  src/app/mod.rs
  src/git/mod.rs
  src/lib.rs
  src/session/mod.rs
  src/ui/add_project_modal.rs
  src/ui/branch_selector_modal.rs
  src/ui/info_panel.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/session_mode_modal.rs
  src/ui/terminal_view.rs
  src/ui/worktree_name_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): add session persistence across restarts
  .rumdl.toml
  docs/FEATURES.md
  src/app/mod.rs
  src/claude/pty_session.rs
  src/main.rs
  src/project/mod.rs
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): add scrollbar and scroll navigation to terminal panel
  docs/FEATURES.md
  src/app/mod.rs
  src/main.rs
  src/ui/terminal_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): respond to terminal capability queries in PTY session
  src/claude/pty_session.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(ui): simplify session naming to use numbers only
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add Ctrl+J/K shortcuts for session navigation
  docs/FEATURES.md
  src/app/mod.rs
  src/claude/pty_session.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(git): sort branches with default first in worktree selector
  src/app/mod.rs
  src/git/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): remove outdated tree view from README
  README.md
Due: rumdl-check

perf(core): replace cargo-pup and cargo-modules with pure-std architecture tests
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  docs/CONSTITUTION.md
  pup.ron
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): add dynamic session status (Busy/Waiting/Idle)
  src/app/mod.rs
  src/claude/pty_session.rs
  src/session/mod.rs
  src/ui/info_panel.rs
  src/ui/mod.rs
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(core): optimize security audit stage by removing redundant cargo-audit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  docs/CONSTITUTION.md
  scripts/install-dev-tools.sh
Due: rumdl-check

feat(core): add session role-based access control (RBAC)
  docs/FEATURES.md
  src/app/mod.rs
  src/claude/pty_session.rs
  src/project/mod.rs
  src/session/mod.rs
  src/ui/info_panel.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/role_editor_modal.rs
  src/ui/role_selector_modal.rs
  src/ui/terminal_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): improve role editor with list-based tools and viewport scrolling
  src/app/mod.rs
  src/ui/mod.rs
  src/ui/role_editor_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): add cross-instance live state synchronization
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  deny.toml
  docs/ARCHITECTURE.md
  src/app/mod.rs
  src/lib.rs
  src/main.rs
  src/project/mod.rs
  src/session/mod.rs
  src/sync/mod.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor: extract sync helpers and add comprehensive tests
  docs/FEATURES.md
  src/app/mod.rs
  src/git/mod.rs
  src/session/mod.rs
  src/ui/info_panel.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/terminal_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

revert: "refactor: extract sync helpers and add comprehensive tests"
  docs/FEATURES.md
  src/app/mod.rs
  src/git/mod.rs
  src/session/mod.rs
  src/ui/info_panel.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/terminal_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

revert: "feat(core): add cross-instance live state synchronization"
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  deny.toml
  docs/ARCHITECTURE.md
  src/app/mod.rs
  src/lib.rs
  src/main.rs
  src/project/mod.rs
  src/session/mod.rs
  src/sync/mod.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci: add rumdl linting to GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

feat(core): replace portable-pty with tmux control mode backend
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  docs/ARCHITECTURE.md
  docs/CONSTITUTION.md
  docs/FEATURES.md
  src/app/mod.rs
  src/claude/backend.rs
  src/claude/mod.rs
  src/claude/tmux.rs
  src/main.rs
  src/project/mod.rs
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check
