Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

fix(core): time a shell ask's backoff from the failed open, not from the ask
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): back off a failing shell ask, and forget a shell error once any open succeeds
  src/coordinator/commands.rs
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(ui): pin every defect found running the first split-shell
  src/kernel/terminal/decoupling.rs
  tests/layout_presets.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

style: format, and fold the markdown the linter flagged
  docs/CONFIG.md
  docs/PLUGINS.md
  src/kernel/terminal/decoupling.rs
  tests/layout_presets.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): restore edited layout after a failed preset write
  Cargo.toml
  src/kernel/presets.rs
  tests/layout_presets.rs
  ui/AGENTS.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(ui): re-record the layout demos on the finished branch
  media/layout-classic.gif
  media/layout-classic.mp4
  media/layout-focus.gif
  media/layout-focus.mp4
  media/layout-ide.gif
  media/layout-ide.mp4
  media/layout-split-shell.gif
  media/layout-split-shell.mp4
Due: none

fix(core): settle the rebase onto main's lazy terminals, focus border and search publish
  docs/KERNEL.md
  docs/PERFORMANCE.md
  src/kernel/terminal/decoupling.rs
  src/main.rs
  tests/layout_presets.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): wait asynchronously in the slow-open backoff test, and make the demo recorder reap every tmux server it started
  scripts/demo/layouts/record.sh
  src/kernel/terminal/decoupling.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): keep a failed replacement's backoff when the dead shell is already gone
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): reconcile pane reader state after rebase
  tests/lazy_terminals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): re-record the layout demos against main's focused-pane border
  media/layout-classic.gif
  media/layout-classic.mp4
  media/layout-focus.gif
  media/layout-focus.mp4
  media/layout-ide.gif
  media/layout-ide.mp4
  media/layout-split-shell.gif
  media/layout-split-shell.mp4
Due: none

fix(core): keep a just-opened shell's grid, which only opens because a pane is about to draw it
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(ui): synchronize shell restart marker
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): settle the rebase onto main's backend contract and final shutdown
  docs/KERNEL.md
  docs/PERFORMANCE.md
  tests/shared_pane_size.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci: name the winget fork sync's real refusal and count every author's open PR
  .agents/skills/thurbox-release/SKILL.md
  .github/workflows/cd.yml
  packaging/winget/README.md
  packaging/winget/submit-decision.py
  packaging/winget/winget.bats
Due: rumdl-check

fix(ui): keep the search mark on the line and reveal a result once it is selected
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/FEATURES.md
  tests/tui_e2e.rs
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix: keep the winget fork reset retryable and its refusal whole in the annotation
  .github/workflows/cd.yml
Due: none

docs: say the winget fork reset reuses an earlier run's backup branch
  packaging/winget/README.md
Due: rumdl-check

fix: count only PRs that change thurbox's manifests and test the fork sync step under pwsh
  .agents/skills/thurbox-release/SKILL.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  packaging/winget/README.md
  packaging/winget/submit-decision.py
  packaging/winget/sync-fork.ps1
  packaging/winget/winget.bats
Due: rumdl-check

test(ui): pin that the selected text hit is revealed and followed without a key
  tests/search.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): reveal a search hit again when it returns after an empty answer
  tests/search.rs
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): keep the search mark on the matched line and reveal a result once selected (#1317)
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/FEATURES.md
  tests/search.rs
  tests/tui_e2e.rs
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): keep wsl.exe off the interface's console
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/FEATURES.md
  src/agent/host_config.rs
  src/shell.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): pin that a child kept off the terminal leaves the console
  src/shell.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): let host_config build wsl.exe through shell
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

style(core): format the console test
  src/shell.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): read the console once the unflagged child has joined it
  src/shell.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): record why wsl.exe is kept off the console in ADR-13
  docs/ARCHITECTURE.md
  docs/FEATURES.md
Due: rumdl-check

fix(core): keep wsl.exe off the interface's console (#1316)
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/agent/host_config.rs
  src/shell.rs
  tests/architecture_rules.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): answer a pane that asked for UTF-8 mouse reports
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): say what the pane state seed loses when a mux answers differently
  src/backend/tmux_compat/server.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): replay a pane's mouse modes when thurbox attaches to it
  docs/ARCHITECTURE.md
  docs/PERFORMANCE.md
  src/backend/contract.rs
  src/backend/pane.rs
  src/backend/tmux_compat/server.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): cover control setup without flow control
  src/backend/tmux_compat/control_mode/tests.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): let adapters choose control flow setup
  docs/ARCHITECTURE.md
  src/backend/psmux.rs
  src/backend/tmux.rs
  src/backend/tmux_compat/control_mode/mod.rs
  src/backend/tmux_compat/control_mode/tests.rs
  src/backend/tmux_compat/server.rs
  tests/architecture_rules.rs
  tests/hook_status_routing.rs
  tests/lifecycle_routing.rs
  tests/support/recording_backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci: speed up Nix package checks
  .github/workflows/ci.yml
  nix/package.nix
Due: none

fix: run Rust tests for extension changes
  .github/workflows/ci.yml
Due: none

ci: skip Rust jobs for hook documentation
  .github/workflows/ci.yml
Due: none

fix(core): replay a pane's mouse modes when thurbox attaches to it (#1318)
  docs/ARCHITECTURE.md
  docs/PERFORMANCE.md
  src/backend/contract.rs
  src/backend/pane.rs
  src/backend/tmux_compat/server.rs
  src/kernel/terminal/mod.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci: speed up Nix package checks (#1321)
  .github/workflows/ci.yml
  nix/package.nix
Due: none

feat(core): let adapters select control flow and pane monitoring
  docs/ARCHITECTURE.md
  src/backend/psmux.rs
  src/backend/tmux.rs
  src/backend/tmux_compat/control_mode/mod.rs
  src/backend/tmux_compat/control_mode/tests.rs
  src/backend/tmux_compat/server.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check
