Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

chore: no-mistakes review - Scrub leftover personal path and worktree hash from ui-review report
  website/docs/ui-review.html
Due: none

chore: scrub private local details from tracked files (#1132)
  Cargo.toml
  benches/frame_cost.rs
  cog.toml
  docs/PERFORMANCE.md
  packaging/aur/thurbox-bin/PKGBUILD
  packaging/aur/thurbox/PKGBUILD
  src/cli/sessions.rs
  ui/lib/widgets.lua
  website/docs/ui-review.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): hand focus to the agent pane when a session row is clicked
  tests/tui_e2e.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(ui): keep only the non-obvious rationale in the click-focus comments
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): forward mouse button events to tracking terminals
  src/coordinator/boot.rs
  src/coordinator/mouse.rs
  src/kernel/terminal/mod.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): keep the tracking-terminal test's comments to rationale
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): free an orphaned pty capture on the next press
  src/coordinator/mouse.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): forward buttonless moves to a ?1003 terminal
  src/coordinator/mouse.rs
  src/kernel/terminal/mod.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): keep the capture test's comments to what the code cannot show
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): hand focus to the agent pane when a session row is clicked (#1137)
  tests/tui_e2e.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): forward mouse button events to tracking terminals (#1139)
  src/coordinator/boot.rs
  src/coordinator/mouse.rs
  src/kernel/terminal/mod.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): assert the lua-std gate on selene's diagnostic code, not its wording
  .agents/skills/thurbox-testing/SKILL.md
  CLAUDE.md
  docs/PLUGINS.md
  justfile
  scripts/ci/check-lua-std.sh
  tests/fixtures/lua_std/reads.lua
  tests/fixtures/lua_std/typos.lua
  tests/fixtures/lua_std/typos/granted.lua
  tests/fixtures/lua_std/typos/hover.lua
  tests/fixtures/lua_std/typos/metrics.lua
  tests/fixtures/lua_std/typos/metrics_system.lua
  tests/fixtures/lua_std/typos/platform.lua
  tests/fixtures/lua_std/typos/preflight_mux.lua
Due: rumdl-check

chore: no-mistakes document - narrow lua-std gate coverage claims to its five tables
  .agents/skills/thurbox-testing/SKILL.md
  CLAUDE.md
  docs/PLUGINS.md
  scripts/ci/check-lua-std.sh
  tests/fixtures/lua_std/reads.lua
Due: rumdl-check

chore: no-mistakes review - drop unchecked local-bind read from std reads probe
  tests/fixtures/lua_std/reads.lua
Due: none

fix(ui): declare granted, platform, metrics and hover fields in selene's std
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  .github/workflows/ci.yml
  CLAUDE.md
  docs/PLUGINS.md
  justfile
  scripts/ci/check-lua-std.sh
  tests/fixtures/lua_std/reads.lua
  tests/fixtures/lua_std/typos.lua
  thurbox.yml
  ui/README.md
Due: rumdl-check

chore: no-mistakes document - correct selene.toml sandbox comment, record theme.roles caveat
  selene.toml
  thurbox.yml
Due: none

chore: no-mistakes review - declare preflight.mux fields and correct gate coverage claims
  .agents/skills/thurbox-testing/SKILL.md
  .github/workflows/ci.yml
  CLAUDE.md
  docs/PLUGINS.md
  scripts/ci/check-lua-std.sh
  tests/fixtures/lua_std/reads.lua
  tests/fixtures/lua_std/typos.lua
  thurbox.yml
Due: rumdl-check

chore: no-mistakes review - make lua-std gate fail when a probe is missing
  scripts/ci/check-lua-std.sh
Due: none

fix(core): let a session chord act when the focused agent has exited
  src/agent/backend.rs
  src/coordinator/focus.rs
  src/coordinator/input.rs
  src/kernel/terminal/mod.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - note the lua-std gate's probe list in its header
  scripts/ci/check-lua-std.sh
Due: none

fix(core): resolve dead-pane check to the surface's own pane
  src/agent/backend.rs
  src/kernel/terminal/mod.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(ui): declare the injected tables' fields in thurbox.yml and probe them (#1138)
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  .github/workflows/ci.yml
  CLAUDE.md
  docs/PLUGINS.md
  justfile
  scripts/ci/check-lua-std.sh
  selene.toml
  tests/fixtures/lua_std/reads.lua
  tests/fixtures/lua_std/typos/granted.lua
  tests/fixtures/lua_std/typos/hover.lua
  tests/fixtures/lua_std/typos/metrics.lua
  tests/fixtures/lua_std/typos/metrics_system.lua
  tests/fixtures/lua_std/typos/platform.lua
  tests/fixtures/lua_std/typos/preflight_mux.lua
  thurbox.yml
  ui/README.md
Due: rumdl-check

fix(core): let a session chord act when the focused agent has exited (#1140)
  src/agent/backend.rs
  src/coordinator/focus.rs
  src/coordinator/input.rs
  src/kernel/terminal/mod.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: replace the no-mistakes gate with the publish skill
  .agents/skills/ui-review/SKILL.md
  .no-mistakes.yaml
  .publish.yaml
  CLAUDE.md
  CONTRIBUTING.md
  docs/README.md
  docs/REVIEW.md
  scripts/dev/README.md
  scripts/dev/perf-run.sh
Due: rumdl-check

chore: replace the no-mistakes gate with the publish skill (#1142)
  .agents/skills/ui-review/SKILL.md
  .no-mistakes.yaml
  .publish.yaml
  CLAUDE.md
  CONTRIBUTING.md
  docs/README.md
  docs/REVIEW.md
  scripts/dev/README.md
  scripts/dev/perf-run.sh
Due: rumdl-check

fix(core): report a symlinked directory as a directory in files.list
  src/kernel/files.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): declare the rest of the reachable names for selene
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  CLAUDE.md
  docs/PLUGINS.md
  scripts/ci/check-lua-std.sh
  tests/fixtures/lua_std/reads.lua
  tests/fixtures/lua_std/typos/bookmarks.lua
  tests/fixtures/lua_std/typos/branches.lua
  tests/fixtures/lua_std/typos/browse.lua
  tests/fixtures/lua_std/typos/settings_features.lua
  tests/fixtures/lua_std/typos/theme_roles.lua
  tests/fixtures/lua_std/typos/worktrees.lua
  thurbox.yml
  ui/lib/thurbox.d.lua
Due: rumdl-check

docs: correct two comments the review found overstated in files.list
  src/kernel/files.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): correct the reasons given for declaring theme.roles and the stdlib probes
  tests/fixtures/lua_std/reads.lua
  thurbox.yml
Due: none

fix(core): keep the symlink type question inside the session directory
  src/kernel/files.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(ui): read every declared field in the std probe, and put float on the render root
  tests/fixtures/lua_std/reads.lua
  ui/lib/thurbox.d.lua
Due: none

fix(ui): declare the rest of the reachable names in thurbox.yml (#1146)
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  CLAUDE.md
  docs/PLUGINS.md
  scripts/ci/check-lua-std.sh
  tests/fixtures/lua_std/reads.lua
  tests/fixtures/lua_std/typos/bookmarks.lua
  tests/fixtures/lua_std/typos/branches.lua
  tests/fixtures/lua_std/typos/browse.lua
  tests/fixtures/lua_std/typos/settings_features.lua
  tests/fixtures/lua_std/typos/theme_roles.lua
  tests/fixtures/lua_std/typos/worktrees.lua
  thurbox.yml
  ui/lib/thurbox.d.lua
Due: rumdl-check

fix(core): report a symlinked directory as a directory in files.list (#1145)
  src/kernel/files.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): rename a session from the sessions pane
  .agents/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  docs/PLUGINS.md
  docs/TUTORIAL.md
  src/agent/tmux.rs
  src/cli/sessions.rs
  src/kernel/bundled.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/session_ops/mod.rs
  src/session_ops/rename.rs
  src/storage/sessions.rs
  tests/keymap.rs
  tests/plugin_lifecycle.rs
  tests/session_rename.rs
  tests/tui_e2e.rs
  ui/lib/thurbox.d.lua
  ui/plugins/10_sessions.lua
  ui/plugins/62_rename.lua
  website/docs/features.html
  website/docs/tutorial.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): count the rename float among the bundled floats
  .agents/skills/thurbox-kernel/SKILL.md
  tests/kernel_mvp.rs
  ui/lib/modal.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): put a session's windows back when its rename cannot be written
  docs/FEATURES.md
  src/session_ops/rename.rs
  src/storage/sessions.rs
  tests/session_rename.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): refuse a rename onto another session's window name
  docs/FEATURES.md
  src/session_ops/rename.rs
  tests/session_rename.rs
  ui/plugins/62_rename.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): rename a session from the sessions pane (#1147)
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-kernel/SKILL.md
  docs/FEATURES.md
  docs/PLUGINS.md
  docs/TUTORIAL.md
  src/agent/tmux.rs
  src/cli/sessions.rs
  src/kernel/bundled.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/session_ops/mod.rs
  src/session_ops/rename.rs
  src/storage/sessions.rs
  tests/kernel_mvp.rs
  tests/keymap.rs
  tests/plugin_lifecycle.rs
  tests/session_rename.rs
  tests/tui_e2e.rs
  ui/lib/modal.lua
  ui/lib/thurbox.d.lua
  ui/plugins/10_sessions.lua
  ui/plugins/62_rename.lua
  website/docs/features.html
  website/docs/tutorial.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): narrow the file modes SonarCloud flags as world-accessible
  src/agent/self_update.rs
  tests/cli_session_hook_state.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): mark the installed binary's world-readable mode as intended for SonarCloud
  src/agent/self_update.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest
