Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

fix(core): give Ctrl+V to the agent when the clipboard holds an image (#1108)
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/clipboard.rs
  src/coordinator/boot.rs
  src/coordinator/input.rs
  src/coordinator/mod.rs
  src/main.rs
  tests/architecture_rules.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

no-mistakes: apply CI fixes
  tests/program_pane_exit.rs
  tests/program_restart_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

no-mistakes: apply CI fixes
  tests/window_remain_on_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(core): correct which tmux versions have window-size
  src/agent/tmux.rs
  tests/window_remain_on_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes test - test: give program_pane_exit more headroom against register_pane race
  tests/program_pane_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): fix flaky tmux exit e2e tests and correct window-size comments (#1113)
  src/agent/tmux.rs
  tests/program_pane_exit.rs
  tests/program_restart_exit.rs
  tests/window_remain_on_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(core): say plainly that the session helper still blocks the runtime
  tests/program_pane_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): learn a pane's window when it is created, not after
  src/agent/control_mode/mod.rs
  src/agent/tmux.rs
  tests/program_pane_exit.rs
  tests/program_restart_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): give a plugin the right button
  docs/PLUGINS.md
  src/coordinator/mouse.rs
  src/kernel/host/mod.rs
  tests/mouse_context.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): let a plugin type into a program it started
  docs/PLUGINS.md
  src/coordinator/commands.rs
  src/kernel/command/mod.rs
  src/kernel/host/api.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): carry a program's keys as bytes, not UTF-8 text
  docs/PLUGINS.md
  src/coordinator/commands.rs
  src/kernel/command/mod.rs
  src/kernel/host/api.rs
  tests/plugin_programs.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): drive the right button through the real binary
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): let a plugin type into a program it started (#1117)
  docs/PLUGINS.md
  src/coordinator/commands.rs
  src/kernel/command/mod.rs
  src/kernel/host/api.rs
  tests/plugin_programs.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): give a plugin the right button (#1116)
  docs/PLUGINS.md
  src/coordinator/mouse.rs
  src/kernel/host/mod.rs
  tests/mouse_context.rs
  tests/tui_e2e.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): learn a pane's window when it is created, not after (#1115)
  src/agent/control_mode/mod.rs
  src/agent/tmux.rs
  tests/program_pane_exit.rs
  tests/program_restart_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): forget click targets on an interface reload
  src/coordinator/interface.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): report every refused program keystroke, with its real reason
  docs/PLUGINS.md
  src/coordinator/commands.rs
  src/coordinator/input.rs
  src/kernel/command/mod.rs
  src/kernel/terminal/mod.rs
  src/kernel/terminal/programs.rs
  tests/plugin_programs.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): share the float grab guard between both presses and pin on_context routing
  src/coordinator/mouse.rs
  tests/mouse.rs
  tests/mouse_context.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): forget click targets on an interface reload (#1125)
  src/coordinator/interface.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): deduplicate float-grab guard and pin context-click routing (#1124)
  src/coordinator/mouse.rs
  tests/mouse.rs
  tests/mouse_context.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): report program-key send failures instead of losing or misreporting them (#1126)
  docs/PLUGINS.md
  src/coordinator/commands.rs
  src/coordinator/input.rs
  src/kernel/command/mod.rs
  src/kernel/terminal/mod.rs
  src/kernel/terminal/programs.rs
  tests/plugin_programs.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(plugins): document on_context hook and key-send guidance
  docs/PLUGINS.md
  extensions/ui-skill/SKILL.md
  ui/AGENTS.md
  ui/README.md
Due: rumdl-check

docs(tests): correct start_session blocking rationale
  tests/program_pane_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: align interactive hook lists to six canonical handlers
  docs/PLUGINS.md
  extensions/ui-skill/SKILL.md
Due: rumdl-check

docs(tests): remove redundant start_session narration
  tests/program_pane_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): answer a control-mode command list once all its blocks are in
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - docs(core): document command-list multi-block waiter contract
  docs/ARCHITECTURE.md
Due: rumdl-check

fix(core): keep chained control-mode command lists from answering the wrong waiter (#1129)
  docs/ARCHITECTURE.md
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(docs): correct blocking-call rationale in program_pane_exit (#1128)
  tests/program_pane_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): include on_context in hook lists and clarify program keys usage (#1127)
  docs/PLUGINS.md
  extensions/ui-skill/SKILL.md
  ui/AGENTS.md
  ui/README.md
Due: rumdl-check

docs(core): restore the doc comment split above apply_program
  src/coordinator/commands.rs
  src/coordinator/publish.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(core): restore publish_disabled's doc comment to its own function (#1130)
  src/coordinator/commands.rs
  src/coordinator/publish.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(ci): assert the submitted manifest's dependency by parsing it, drop the workflow grep
  .github/workflows/ci.yml
  packaging/winget/winget.bats
Due: none

ci: make the winget publish job name its missing token scope
  .agents/skills/thurbox-release/SKILL.md
  .github/workflows/cd.yml
  packaging/winget/README.md
  packaging/winget/manifests/Thurbeen.thurbox.installer.yaml
  packaging/winget/submit-decision.py
  packaging/winget/winget.bats
Due: rumdl-check

no-mistakes: apply CI fixes
  CLAUDE.md
  cog.toml
Due: rumdl-check

docs(docs): describe the stale-index machine without naming it
  packaging/winget/README.md
Due: rumdl-check

chore(docs): describe test machines and drop a personal address
  Cargo.toml
  benches/frame_cost.rs
  cog.toml
  docs/PERFORMANCE.md
  packaging/aur/thurbox-bin/PKGBUILD
  packaging/aur/thurbox/PKGBUILD
  src/cli/sessions.rs
  ui/lib/widgets.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes test - test(winget): use fictional fork owner in sync test fixture
  packaging/winget/winget.bats
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
