Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

fix(core): make hook provisioning exclusive per hook file
  src/session_ops/remote_hooks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): read only a multiplexer's own answer as absence in status, heartbeat and hook provisioning (#1310)
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  src/backend/contract.rs
  src/backend/pane.rs
  src/backend/tmux.rs
  src/backend/tmux_compat/server.rs
  src/backend/wiring.rs
  src/kernel/terminal/mod.rs
  src/session/host_def.rs
  src/session_ops/remote_hooks.rs
  src/shell.rs
  tests/architecture_rules.rs
  tests/hook_status_routing.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): copy a mouse selection on release by default
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/settings_config.rs
  src/coordinator/input.rs
  src/coordinator/mouse.rs
  src/kernel/clipboard.rs
  src/kernel/selection.rs
  src/session/settings.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): copy a terminal selection at its release
  src/coordinator/input.rs
  src/coordinator/mouse.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): make the copy-on-select copy after the paint that read the selection
  src/coordinator/boot.rs
  src/coordinator/draw.rs
  src/coordinator/input.rs
  src/coordinator/mouse.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): frame a paste only for an app that asked and strip control bytes from it (#1303)
  .github/workflows/ci.yml
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/backend/psmux.rs
  src/backend/tmux.rs
  src/backend/tmux_compat/control_mode/mod.rs
  src/backend/tmux_compat/control_mode/tests.rs
  src/coordinator/input.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): copy a mouse selection on release by default (#1304)
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/settings_config.rs
  src/coordinator/boot.rs
  src/coordinator/draw.rs
  src/coordinator/input.rs
  src/coordinator/mouse.rs
  src/kernel/clipboard.rs
  src/kernel/selection.rs
  src/main.rs
  src/session/settings.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): keep the app-copy comments true to the code
  src/backend/pane.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): refuse app copies behind a modal and keep a valid copy a refused write follows
  docs/FEATURES.md
  src/backend/pane.rs
  src/coordinator/input.rs
  src/coordinator/mod.rs
  src/kernel/terminal/mod.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): forward the focused app's OSC 52 copy and answer no clipboard read
  docs/FEATURES.md
  src/backend/mod.rs
  src/backend/pane.rs
  src/backend/tmux.rs
  src/clipboard.rs
  src/coordinator/mod.rs
  src/kernel/terminal/mod.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): pace the lazy_terminals rebuild stream by the test, not the clock
  tests/lazy_terminals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): forward the focused app's OSC 52 copy and answer no clipboard read (#1305)
  docs/FEATURES.md
  src/backend/mod.rs
  src/backend/pane.rs
  src/backend/tmux.rs
  src/clipboard.rs
  src/coordinator/input.rs
  src/coordinator/mod.rs
  src/kernel/terminal/mod.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): keep the pane printing through every rebuild
  tests/lazy_terminals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): make the kept grid take output after its rebuild
  tests/lazy_terminals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): pace the lazy_terminals rebuild stream by the test, not the clock (#1312)
  tests/lazy_terminals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): hand a shared pane its size when it gains focus, not on the first keystroke
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/backend/pane.rs
  src/coordinator/mod.rs
  src/kernel/terminal/mod.rs
  tests/shared_pane_size.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): stop asking which multiplexer a new session uses
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/session/multiplexer.rs
  tests/new_session.rs
  tests/tui_e2e.rs
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): resume a flow saved on the retired multiplexer step at the repositories
  tests/new_session.rs
  tests/tui_e2e.rs
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): claim the size of a pane replaced under the focused surface
  src/kernel/terminal/mod.rs
  tests/shared_pane_size.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): record the echo_tails counter
  docs/PERFORMANCE.md
Due: rumdl-check

test(core): read keys with a blocking read in the printing-pane echo test
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(core): keep a typed pane's echo floor-free until its glyph lands
  .agents/skills/thurbox-performance/SKILL.md
  docs/PERFORMANCE.md
  src/coordinator/boot.rs
  src/coordinator/input.rs
  src/coordinator/mod.rs
  src/kernel/perf.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): count tail frames apart so a missed echo cannot hide behind one
  src/cli/perf.rs
  src/coordinator/chrome.rs
  src/coordinator/draw.rs
  src/kernel/perf.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): record the echo tail and its measurement (ADR-P29)
  docs/PERFORMANCE.md
Due: rumdl-check

docs(docs): record that a tail frame never stands in for an overdue full frame
  docs/PERFORMANCE.md
Due: rumdl-check

fix(core): keep full frames coming while a tail repaints the typed pane
  src/coordinator/boot.rs
  src/coordinator/draw.rs
  src/coordinator/mod.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): record the echo tail's measurement on the current head
  docs/PERFORMANCE.md
Due: rumdl-check

test(ui): read the pane line-ending-agnostic in the retired-step reload test
  tests/new_session.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): type into the other instance only once it heard the pane move
  tests/shared_pane_size.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): resize a shared pane when it gains focus, not on the first keystroke (#1314)
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/backend/pane.rs
  src/coordinator/mod.rs
  src/kernel/terminal/mod.rs
  tests/shared_pane_size.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

wip: focus and ide layout presets, for four in total
  .agents/skills/thurbox-kernel/SKILL.md
  docs/CONFIG.md
  docs/PLUGINS.md
  scripts/install.ps1
  scripts/install.sh
  src/agent/settings_config.rs
  src/coordinator/boot.rs
  src/kernel/bundled.rs
  src/kernel/host/mod.rs
  src/kernel/modals/settings.rs
  src/kernel/presets.rs
  tests/kernel_mvp.rs
  tests/layout_presets.rs
  tests/terminal_pane.rs
  tests/tui_e2e.rs
  ui/AGENTS.md
  ui/README.md
  ui/layouts/focus.lua
  ui/layouts/ide.lua
  ui/lib/panels.lua
  ui/plugins/20_agent.lua
  ui/plugins/25_shell.lua
  website/docs/installation.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(ui): pin the two names lib.panels gains
  tests/fixtures/edited_interface/lib_surface.txt
Due: none

fix(core): answer review round one — reattach a live shell, count output chunks, one switch rule, layout notice first
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/PLUGINS.md
  src/backend/pane.rs
  src/cli/layout.rs
  src/coordinator/boot.rs
  src/coordinator/interface.rs
  src/kernel/presets.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  ui/plugins/20_agent.lua
  ui/plugins/25_shell.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): a dead shell comes back, one shell has one rect, and the shell keeps the keyboard across a reflow
  src/coordinator/boot.rs
  src/kernel/presets.rs
  src/kernel/terminal/mod.rs
  ui/layouts/focus.lua
  ui/layouts/ide.lua
  ui/layouts/split-shell.lua
  ui/lib/panels.lua
  ui/plugins/20_agent.lua
  ui/plugins/25_shell.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): replace a shell only on the multiplexer's word that it is gone, and name the output count in the docs
  docs/KERNEL.md
  docs/PERFORMANCE.md
  src/backend/contract.rs
  src/backend/pane.rs
  src/backend/tmux_compat/server.rs
  src/kernel/terminal/decoupling.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): retry shared pane size retakes
  src/backend/contract.rs
  src/backend/pane.rs
  tests/shared_pane_size.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): a terminal's output stamp moves only after the parser holds the output, and for every chunk
  docs/CONFIG.md
  scripts/demo/layouts/record.sh
  src/agent/settings_config.rs
  src/kernel/modals/settings.rs
  src/kernel/presets.rs
  src/session/settings.rs
  tests/layout_presets.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(ui): a demo video per layout preset, and the recorder that makes them
  .agents/skills/thurbox-demo-media/SKILL.md
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/FEATURES.md
  docs/PLUGINS.md
  media/layout-classic.gif
  media/layout-classic.mp4
  media/layout-focus.gif
  media/layout-focus.mp4
  media/layout-ide.gif
  media/layout-ide.mp4
  media/layout-split-shell.gif
  media/layout-split-shell.mp4
  scripts/demo/layouts/record.sh
  ui/README.md
  website/docs/installation.html
Due: rumdl-check

fix(core): a paint asks again for a shell it did not get, and says a repeated failure once
  src/coordinator/boot.rs
  src/coordinator/commands.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest
