Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

docs: cut the hero headline to one line and lead the second claim with stability
  website/css/landing.css
  website/index.html
Due: none

docs: cut the hero headline to three words and size it for them
  website/css/landing.css
  website/index.html
Due: none

fix: give prose links a cue that is not colour, and size the heading glow for type
  website/css/base.css
  website/css/landing.css
  website/css/variables.css
  website/index.html
Due: none

docs: rewrite the landing hero and rebalance the page toward the engine (#1190)
  website/css/base.css
  website/css/landing.css
  website/css/variables.css
  website/index.html
Due: none

fix(core): stop thurbox linking its own CLI to itself, and back the reap sweep off
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/session_ops/delete.rs
  src/session_ops/host_cli.rs
  src/storage/settings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): drop a restored row's reap backoff, and say what the reap failed at
  docs/CONFIG.md
  src/session_ops/delete.rs
  src/storage/sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): compare the advertised path by file, not by spelling
  src/session_ops/host_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): cut the narration from the advertiser and reap tests
  src/session_ops/delete.rs
  src/session_ops/host_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): stop thurbox linking its own CLI to itself, and back the reap sweep off (#1195)
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/session_ops/delete.rs
  src/session_ops/host_cli.rs
  src/storage/sessions.rs
  src/storage/settings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: rebuild the interface mockup from the frames the panes actually paint
  tests/frames.rs
  website/css/landing.css
  website/index.html
  website/js/main.js
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): unbreak the features grid and cut the interface section's mechanics
  website/css/landing.css
  website/css/layout.css
  website/index.html
Due: none

refactor(ui): name the hero's type-scale step and the headline's wrap span
  website/css/landing.css
  website/index.html
Due: none

fix(ui): key the hero headline's break to the reader's text size
  website/css/landing.css
Due: none

docs: make the hero one type system instead of four
  website/css/landing.css
  website/index.html
Due: none

docs: retitle the hero Orchestrate agents, in two colours
  website/css/landing.css
  website/index.html
Due: none

fix(ui): let a mockup session name ellipsise instead of shearing
  website/css/landing.css
  website/index.html
Due: none

fix(ui): keep a clipped pane's file label, and the ask cards' aligned footers
  website/css/landing.css
  website/css/layout.css
  website/index.html
Due: none

docs(ui): correct the headline's em budget in the 1440px note
  website/css/landing.css
Due: none

docs: rework the landing hero, the interface mockup and the card grids (#1196)
  tests/frames.rs
  website/css/landing.css
  website/css/layout.css
  website/index.html
  website/js/main.js
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): name the pill plugin check dropped, and why
  docs/PLUGINS.md
  src/cli/plugins.rs
  src/coordinator/publish.rs
  src/kernel/bands.rs
  src/kernel/mod.rs
  tests/plugin_authoring.rs
  ui/AGENTS.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): group the session list by host when sessions span machines
  .agents/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  docs/PLUGINS.md
  src/kernel/command/bus.rs
  src/kernel/command/mod.rs
  src/kernel/host/publish.rs
  src/kernel/snapshot.rs
  src/session/host_def.rs
  src/session/mod.rs
  tests/frames.rs
  tests/kernel_frame_cost.rs
  tests/kernel_mvp.rs
  ui/lib/order.lua
  ui/lib/session_model.lua
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): group the session list by host when sessions span machines (#1202)
  .agents/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  docs/PLUGINS.md
  src/kernel/command/bus.rs
  src/kernel/command/mod.rs
  src/kernel/host/publish.rs
  src/kernel/snapshot.rs
  src/session/host_def.rs
  src/session/mod.rs
  tests/frames.rs
  tests/kernel_frame_cost.rs
  tests/kernel_mvp.rs
  ui/lib/order.lua
  ui/lib/session_model.lua
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(git): name the prefix when a plugin pin is an abbreviated commit id
  docs/PLUGINS.md
  src/git/plugin.rs
  src/git/tests.rs
  tests/plugin_packages.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): stop extension self-heal creating a second session of one name
  .agents/skills/thurbox-extensions/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/cli/extensions.rs
  src/cli/sessions.rs
  src/session_ops/extensions/lifecycle.rs
  src/session_ops/mod.rs
  src/session_ops/names.rs
  src/session_ops/restore.rs
  src/session_ops/shared_tests.rs
  src/storage/sessions.rs
  src/storage/settings.rs
  tests/extension_heal_e2e.rs
  tests/reap_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): name the pill plugin check dropped, and why (#1198)
  docs/PLUGINS.md
  src/cli/plugins.rs
  src/coordinator/publish.rs
  src/kernel/bands.rs
  src/kernel/mod.rs
  tests/plugin_authoring.rs
  ui/AGENTS.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): stop extension self-heal creating a second session of one name (#1204)
  .agents/skills/thurbox-extensions/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/cli/extensions.rs
  src/cli/sessions.rs
  src/session_ops/extensions/lifecycle.rs
  src/session_ops/mod.rs
  src/session_ops/names.rs
  src/session_ops/restore.rs
  src/session_ops/shared_tests.rs
  src/storage/sessions.rs
  src/storage/settings.rs
  tests/extension_heal_e2e.rs
  tests/reap_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(git): name the prefix when a plugin pin is an abbreviated commit id (#1205)
  docs/PLUGINS.md
  src/git/plugin.rs
  src/git/tests.rs
  tests/plugin_packages.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(cli): pin the kernel's own chords into plugin check's conflict set
  tests/plugin_authoring.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): report chord conflicts from plugin check
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/PLUGINS.md
  src/cli/plugins.rs
  src/kernel/registry.rs
  tests/plugin_authoring.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): name every file an ambiguous plugin name answers to
  src/cli/plugins.rs
  tests/plugin_authoring.rs
  ui/AGENTS.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(ui): fold the chord clash into one list of what plugin check catches
  docs/PLUGINS.md
  tests/plugin_authoring.rs
  ui/AGENTS.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): report chord conflicts from plugin check (#1206)
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/PLUGINS.md
  src/cli/plugins.rs
  src/kernel/registry.rs
  tests/plugin_authoring.rs
  ui/AGENTS.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): make grouping the session list by host a setting
  .agents/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  tests/plugin_settings.rs
  ui/lib/session_model.lua
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): make grouping the session list by host a setting (#1209)
  .agents/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  tests/plugin_settings.rs
  ui/lib/session_model.lua
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): verify a provisioned thurbox-cli and let a broken one be replaced
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/session_ops/host_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): name the crash a Windows CLI reports and the binary a refusal is about
  src/session_ops/host_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): verify a provisioned thurbox-cli and let a broken one be replaced (#1210)
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/session_ops/host_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test: make the Windows harness's psmux pane-option probes able to fail
  .agents/skills/thurbox-remote-hosts/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  .github/workflows/ci.yml
  justfile
  scripts/dev/README.md
  scripts/dev/e2e/windows-vm.bats
  scripts/dev/e2e/windows-vm.sh
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test: tighten the gate-probe assertions the review found loose
  scripts/dev/e2e/windows-vm.bats
Due: none

fix(ui): follow the selected session rather than its row number
  .agents/skills/thurbox-kernel/SKILL.md
  docs/FEATURES.md
  docs/PLUGINS.md
  tests/session_list.rs
  ui/AGENTS.md
  ui/README.md
  ui/lib/ui.lua
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
