Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

fix(ui): turning a plugin off never worked on Windows
  src/cli/plugins.rs
  src/kernel/bundled.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: show the interface turning off a pane nobody shipped
  docs/media/thurbox-interface.gif
  docs/media/thurbox-interface.mp4
  scripts/demo/interface.tape
  website/index.html
Due: none

fix(docs): repair the search and session-creation clips, which were recording nothing
  docs/media/search-demo.gif
  docs/media/search-demo.mp4
  docs/media/thurbox-session-creation.gif
  docs/media/thurbox-session-creation.mp4
  scripts/demo/record.sh
  scripts/demo/search.tape
  scripts/demo/session-creation.tape
Due: none

fix(config)!: stop a checkout's ./ui winning automatically, and say which one loaded
  CLAUDE.md
  docs/DEVELOPMENT.md
  docs/PLUGINS.md
  justfile
  scripts/dev/sandbox.sh
  src/kernel/bundled.rs
  src/main.rs
  tests/v2_plugin_authoring.rs
  ui/README.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: put the example panes in the main demo, and fix what recording them exposed
  docs/examples/top.lua
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  scripts/demo/agents.tape
  scripts/demo/record.sh
  website/index.html
Due: none

feat(ui): add three runnable example plugins, and demo the arrangement on the site
  docs/PLUGINS.md
  docs/examples/layout.lua
  docs/examples/tasks.lua
  docs/examples/top.lua
  tests/v2_plugin_lifecycle.rs
  website/css/landing.css
  website/index.html
  website/js/main.js
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): let a cloned repository name its own pane, and warn where builds must not go
  docs/PLUGINS.md
  openspec/changes/v2-plugin-programs/design.md
  src/kernel/packages.rs
  src/session/plugin_spec.rs
  tests/v2_plugin_packages.rs
  ui/AGENTS.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): ship AGENTS.md in the interface, so "install a plugin" is unambiguous
  CLAUDE.md
  docs/CONFIG.md
  docs/PLUGINS.md
  src/kernel/bundled.rs
  ui/AGENTS.md
  ui/CLAUDE.md
  ui/GEMINI.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): stop claiming tab moves focus, because it does not
  docs/PLUGINS.md
  src/kernel/modals/help.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): install a plugin by cloning its repository, payload and all
  CLAUDE.md
  docs/CONFIG.md
  docs/PLUGINS.md
  openspec/changes/v2-plugin-payload/.openspec.yaml
  openspec/changes/v2-plugin-payload/design.md
  openspec/changes/v2-plugin-payload/proposal.md
  openspec/changes/v2-plugin-payload/specs/plugin-packages/spec.md
  openspec/changes/v2-plugin-payload/tasks.md
  src/agent/extension_config.rs
  src/cli/plugins.rs
  src/git/mod.rs
  src/kernel/bundled.rs
  src/kernel/host.rs
  src/kernel/packages.rs
  src/kernel/watch.rs
  src/session/plugin_spec.rs
  tests/v2_plugin_packages.rs
  tests/v2_plugin_programs.rs
  thurbox.yml
  ui/AGENTS.md
  ui/README.md
  website/docs/v2-interface.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): ui-plugins holds examples, not a plugin catalogue
  CLAUDE.md
  docs/PLUGINS.md
  openspec/changes/v2-plugin-programs/design.md
  openspec/changes/v2-plugin-programs/proposal.md
  openspec/changes/v2-plugin-programs/tasks.md
  src/agent/tmux.rs
  src/cli/plugins.rs
  src/kernel/command.rs
  src/kernel/convert.rs
  src/kernel/node.rs
  src/kernel/packages.rs
  src/kernel/terminal.rs
  src/session/plugin_spec.rs
  tests/v2_plugin_commands.rs
  tests/v2_plugin_packages.rs
  tests/v2_plugin_programs.rs
  ui-plugins/doom/doom.lua
  ui-plugins/doom/plugin.toml
  website/docs/v2-interface.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci: retire the acceptance job, and stop the smoke test asserting on scroll
  .github/workflows/ci.yml
  scripts/dev/smoke/tui-smoke.sh
Due: none

feat(ui): let a plugin run an interactive program in a pane it owns
  CLAUDE.md
  docs/PLUGINS.md
  openspec/changes/v2-plugin-programs/.openspec.yaml
  openspec/changes/v2-plugin-programs/design.md
  openspec/changes/v2-plugin-programs/proposal.md
  openspec/changes/v2-plugin-programs/specs/plugin-programs/spec.md
  openspec/changes/v2-plugin-programs/tasks.md
  src/agent/backend.rs
  src/agent/tmux.rs
  src/cli/plugins.rs
  src/kernel/command.rs
  src/kernel/convert.rs
  src/kernel/host.rs
  src/kernel/modals/interface.rs
  src/kernel/node.rs
  src/kernel/packages.rs
  src/kernel/paint.rs
  src/kernel/terminal.rs
  src/main.rs
  tests/v2_decoration.rs
  tests/v2_plugin_commands.rs
  tests/v2_plugin_programs.rs
  thurbox.yml
  ui-plugins/doom/doom.lua
  ui-plugins/doom/plugin.toml
  ui/README.md
  website/docs/v2-interface.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(ui): name who trips the dirty-tree trap, and stop fixtures naming a real repo
  docs/PLUGINS.md
  src/agent/extension_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): name a cloned plugin's directory on Windows too
  src/git/mod.rs
  src/kernel/packages.rs
  tests/v2_plugin_packages.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): install a plugin at the commit a lock records
  docs/PLUGINS.md
  src/cli/plugins.rs
  src/git/mod.rs
  src/kernel/host.rs
  src/kernel/packages.rs
  tests/v2_plugin_authoring.rs
  tests/v2_plugin_packages.rs
  tests/v2_repo_memory.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): hand a diff's consumer what the parser already knew
  docs/PLUGINS.md
  src/kernel/diff.rs
  src/kernel/host.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): let one key both enter and leave a pane
  docs/PLUGINS.md
  src/cli/plugins.rs
  src/kernel/command.rs
  src/kernel/host.rs
  src/kernel/inventory.rs
  src/main.rs
  tests/v2_plugin_authoring.rs
  tests/v2_search.rs
  tests/v2_session_list.rs
  ui/README.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(ui): stop a constant calling the examples official
  src/kernel/host.rs
  src/kernel/packages.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): warn about the one install that cannot demonstrate itself
  docs/PLUGINS.md
  src/cli/plugins.rs
  src/kernel/host.rs
  tests/v2_plugin_authoring.rs
  ui/AGENTS.md
  ui/README.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): diff a session against its base branch, not against itself
  docs/PERFORMANCE.md
  src/kernel/command.rs
  src/kernel/diff.rs
  src/kernel/host.rs
  src/kernel/notify.rs
  src/kernel/reaper.rs
  src/kernel/snapshot.rs
  src/kernel/terminal.rs
  src/main.rs
  src/storage/sessions.rs
  tests/kernel_mvp.rs
  tests/v2_attach_by_name.rs
  tests/v2_chrome.rs
  tests/v2_core_settings.rs
  tests/v2_hover.rs
  tests/v2_keymap.rs
  tests/v2_modals.rs
  tests/v2_mouse.rs
  tests/v2_plugin_settings.rs
  tests/v2_search.rs
  tests/v2_session_lifetime.rs
  tests/v2_session_list.rs
  tests/v2_terminal_pane.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): a keystroke a terminal took is not also a keystroke that dismisses it
  src/kernel/terminal.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): name the cost of the tree/surface split, and that Lua classes are bytes
  docs/PLUGINS.md
Due: rumdl-check

docs(ui): say that a plugin may write its own setting, and stop misstating a rule
  docs/PLUGINS.md
  ui/plugins/70_new_session.lua
Due: rumdl-check

docs(ui): write down the trap that has now cost two codebases
  docs/PLUGINS.md
Due: rumdl-check

docs(ui): stop calling plugin state persistent, because it is not
  docs/PLUGINS.md
  src/kernel/host.rs
  ui/README.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(ui): make the compiler keep a delivery answer from being dropped
  src/kernel/terminal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): cap the diff body, not the list of what changed
  docs/PERFORMANCE.md
  src/git/mod.rs
  src/kernel/diff.rs
  src/session/review.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat: seed a sandbox that has something to look at
  justfile
  scripts/dev/demo-repo.sh
  scripts/dev/sandbox.sh
Due: none

docs(ui): say that a pure-Lua library can be vendored into a plugin
  docs/PLUGINS.md
Due: rumdl-check

fix(ui): ask for a fork's name, as v1 did
  tests/v2_keymap.rs
  ui/plugins/10_sessions.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): show untracked files in the uncommitted diff
  CLAUDE.md
  docs/PERFORMANCE.md
  src/git/mod.rs
  src/kernel/diff.rs
  src/kernel/host.rs
  src/session/review.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): create sessions on a host, and say why when one fails
  CLAUDE.md
  docs/ARCHITECTURE.md
  src/git/mod.rs
  src/kernel/command.rs
  src/kernel/repos.rs
  src/main.rs
  src/session/host_def.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/remote_hooks.rs
  src/session_ops/spawn.rs
  src/usage/mod.rs
  tests/v2_new_session.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(config): gate the Lua that is compiled into the binary, and drop dead tooling
  .config/nextest.toml
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  CLAUDE.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  docs/DEVELOPMENT.md
  docs/examples/layout.lua
  flake.nix
  scripts/dev/sandbox.sh
  scripts/install-dev-tools.sh
  thurbox.yml
Due: rumdl-check

fix(core): describe an exit code without a platform-specific status
  src/git/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): open the search strip with focus in it, and keep its matches lit
  docs/PLUGINS.md
  docs/V2-KERNEL.md
  src/kernel/focus.rs
  src/main.rs
  tests/v2_search.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: say v2 is out and how to stay on v1
  README.md
  docs/ARCHITECTURE.md
  src/kernel/consent.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): keep a session working while its agent is still printing
  CLAUDE.md
  src/kernel/snapshot.rs
  src/main.rs
  tests/v2_session_status.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): survive a cramped pane, and focus a pane that just opened
  CLAUDE.md
  docs/PERFORMANCE.md
  scripts/dev/smoke/tui-smoke.sh
  src/agent/backend.rs
  src/kernel/focus.rs
  src/main.rs
  tests/v2_search.rs
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check
