Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

fix(ui): keep a creation in flight out of the session list's sort
  docs/FEATURES.md
  tests/session_list.rs
  ui/lib/order.lua
  ui/lib/session_model.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(docs): say what Shift+S does to a creation in flight in the cli skill
  .agents/skills/thurbox-cli/SKILL.md
Due: rumdl-check

test(ui): anchor the placeholder's position on the row class, not its copy
  tests/session_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test: require the pane option to be per pane, and widen the probe job's inputs
  .agents/skills/thurbox-testing/SKILL.md
  .github/workflows/ci.yml
  scripts/dev/e2e/windows-vm.bats
  scripts/dev/e2e/windows-vm.sh
Due: rumdl-check

chore: cover an emptied session list and drop a placeholder name
  tests/session_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: say why the paint helper exists instead of what it does
  tests/session_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): follow the selected session rather than its row number (#1215)
  .agents/skills/thurbox-kernel/SKILL.md
  docs/FEATURES.md
  docs/PLUGINS.md
  tests/session_list.rs
  ui/AGENTS.md
  ui/README.md
  ui/lib/ui.lua
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test: say what the psmux gate probes do not measure
  .agents/skills/thurbox-testing/SKILL.md
  scripts/dev/e2e/windows-vm.bats
  scripts/dev/e2e/windows-vm.sh
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test: report ok for the mailbox, never for the gate
  scripts/dev/e2e/windows-vm.bats
  scripts/dev/e2e/windows-vm.sh
Due: none

fix(core): keep one session id on one window across a restart race
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/agent/tmux.rs
  src/session_ops/names.rs
  src/session_ops/restart.rs
  src/storage/settings.rs
  tests/one_window_per_stamp.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): let `session start` unpark a row whose restart hold was left behind
  src/session_ops/restart.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(ui): assert the sort's own output, and cut comments that restate code
  tests/session_list.rs
  ui/lib/order.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: note the restart hold and the stamp retirement in the cli skill
  .agents/skills/thurbox-cli/SKILL.md
Due: rumdl-check

refactor(ui): state the placeholder's sort rationale once, on block_name
  ui/lib/order.lua
Due: none

fix(core): send a delegated unpark to the host as a plain restart
  src/session_ops/restart.rs
  src/session_ops/shared_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): keep a creation in flight out of the session list's sort (#1214)
  .agents/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  tests/session_list.rs
  ui/lib/order.lua
  ui/lib/session_model.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): let a plugin package carry several panes
  src/cli/plugins.rs
  src/kernel/packages.rs
  src/session/plugin_spec.rs
  tests/plugin_packages.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): keep one session id on one window across a restart race (#1217)
  .agents/skills/thurbox-cli/SKILL.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/agent/tmux.rs
  src/session_ops/names.rs
  src/session_ops/restart.rs
  src/session_ops/shared_tests.rs
  src/storage/settings.rs
  tests/one_window_per_stamp.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): refuse keying an installed package on a second pane
  src/cli/plugins.rs
  src/kernel/packages.rs
  src/session/plugin_spec.rs
  tests/plugin_packages.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): let Windows installs update themselves
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/self_update.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test: make the Windows harness's psmux pane-option probes able to fail (#1213)
  .agents/skills/thurbox-remote-hosts/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  .github/workflows/ci.yml
  justfile
  scripts/dev/README.md
  scripts/dev/e2e/windows-vm.bats
  scripts/dev/e2e/windows-vm.sh
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): keep Expand-Archive's progress bar off the interface's console
  src/agent/self_update.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): hold the one-record-per-pane rule on every delivery path
  src/cli/plugins.rs
  src/kernel/packages.rs
  src/session/plugin_spec.rs
  tests/plugin_packages.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): let update converge a hand re-keyed multi-pane package
  src/kernel/packages.rs
  tests/plugin_packages.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): let Windows installs update themselves (#1219)
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/self_update.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): take back only the target's own stale record on update
  src/kernel/packages.rs
  tests/plugin_packages.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): withdraw a stale record on update only when it is the target's
  src/kernel/packages.rs
  tests/plugin_packages.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: adopt AGENTS.md for repository guidance
  .agents/skills/thurbox-agents/SKILL.md
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-demo-media/SKILL.md
  .agents/skills/thurbox-extensions/SKILL.md
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-performance/SKILL.md
  .agents/skills/thurbox-release/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  .agents/skills/thurbox-session-status/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  .publish.yaml
  AGENTS.md
  CONTRIBUTING.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  docs/ORCHESTRATION.md
  docs/README.md
  docs/REVIEW.md
  flake.nix
  scripts/dev/e2e/windows-vm.sh
  src/kernel/diff.rs
  src/session_ops/spawn.rs
  tests/architecture_rules.rs
  tests/support/v1_keymap.rs
  website/docs/orchestration.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): let a plugin package carry several panes (#1218)
  src/cli/plugins.rs
  src/kernel/packages.rs
  src/session/plugin_spec.rs
  tests/plugin_packages.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): give the agent pane and its companion shell each their own surface state
  .agents/skills/thurbox-kernel/SKILL.md
  docs/FEATURES.md
  src/agent/backend.rs
  src/coordinator/commands.rs
  src/coordinator/mouse.rs
  src/coordinator/publish.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/links.rs
  src/kernel/terminal/mod.rs
  src/kernel/terminal/programs.rs
  thurbox.yml
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: point the git-scrub notes at the thurbox-testing skill
  src/kernel/diff.rs
  src/session_ops/spawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): address the review — resolve a surface to a pane once, and say so
  .agents/skills/thurbox-kernel/SKILL.md
  docs/FEATURES.md
  src/agent/backend.rs
  src/coordinator/commands.rs
  src/coordinator/mouse.rs
  src/kernel/command/mod.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  src/main.rs
  thurbox.yml
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: adopt AGENTS.md for repository guidance (#1221)
  .agents/skills/thurbox-agents/SKILL.md
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-demo-media/SKILL.md
  .agents/skills/thurbox-extensions/SKILL.md
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-performance/SKILL.md
  .agents/skills/thurbox-release/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  .agents/skills/thurbox-session-status/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  .publish.yaml
  AGENTS.md
  CONTRIBUTING.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  docs/ORCHESTRATION.md
  docs/README.md
  docs/REVIEW.md
  flake.nix
  scripts/dev/e2e/windows-vm.sh
  src/kernel/diff.rs
  src/session_ops/spawn.rs
  tests/architecture_rules.rs
  tests/support/v1_keymap.rs
  website/docs/orchestration.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): give the agent pane and its companion shell each their own geometry and state (#1222)
  .agents/skills/thurbox-kernel/SKILL.md
  docs/FEATURES.md
  src/agent/backend.rs
  src/coordinator/commands.rs
  src/coordinator/mouse.rs
  src/coordinator/publish.rs
  src/kernel/command/mod.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/links.rs
  src/kernel/terminal/mod.rs
  src/kernel/terminal/programs.rs
  src/main.rs
  thurbox.yml
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(deps): hash with sha2 0.11's API
  Cargo.toml
  src/agent/self_update.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: document a complete thurbox uninstall
  README.md
  website/docs/installation.html
Due: rumdl-check

fix(docs): name the worktrees and PATH entry as thurbox's other outside writes
  website/docs/installation.html
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
