Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

docs: correct hard-delete ordering and recovery
  .agents/skills/thurbox-cli/SKILL.md
  website/docs/features.html
Due: rumdl-check

fix(config): disable soft deletion by default
  src/agent/settings_config.rs
  src/cli/extensions.rs
  src/cli/sessions.rs
  src/cli/version.rs
  src/kernel/command/mod.rs
  src/kernel/modals/settings.rs
  src/session/settings.rs
  src/session_ops/delete.rs
  src/session_ops/host_cli.rs
  src/session_ops/mirror.rs
  tests/cli_stdout_contract.rs
  tests/context_menu.rs
  tests/create_e2e.rs
  tests/keymap.rs
  tests/lifecycle_routing.rs
  tests/session_list.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test: expect explicit soft mode in mirrored deletion
  src/session_ops/shared_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: explain immediate session deletion and opt-in undo
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-extensions/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  website/docs/configuration.html
  website/docs/features.html
Due: rumdl-check

perf(core): keep a typed pane's echo floor-free until its glyph lands
  .agents/skills/thurbox-performance/SKILL.md
  docs/PERFORMANCE.md
  src/coordinator/boot.rs
  src/coordinator/input.rs
  src/coordinator/mod.rs
  src/kernel/perf.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): count tail frames apart so a missed echo cannot hide behind one
  src/cli/perf.rs
  src/coordinator/chrome.rs
  src/coordinator/draw.rs
  src/kernel/perf.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): record that a tail frame never stands in for an overdue full frame
  docs/PERFORMANCE.md
Due: rumdl-check

test(core): read keys with a blocking read in the printing-pane echo test
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): record the echo tail and its measurement (ADR-P30)
  docs/PERFORMANCE.md
Due: rumdl-check

docs(docs): record the echo tail's measurement on the current head
  docs/PERFORMANCE.md
Due: rumdl-check

fix(core): keep full frames coming while a tail repaints the typed pane
  src/coordinator/boot.rs
  src/coordinator/draw.rs
  src/coordinator/mod.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): record the echo_tails counter
  docs/PERFORMANCE.md
Due: rumdl-check

test: create the plugin fixture scratch directory in fresh checkouts
  scripts/ci/plugins.test.mjs
Due: none

feat: add a curated website plugin catalog
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
  eleventy.config.js
  media/plugins-page/dark.webp
  media/plugins-page/light.webp
  package.json
  scripts/ci/plugins.test.mjs
  scripts/ci/validate-plugins.mjs
  website/_data/plugins.json
  website/_includes/base.njk
  website/css/plugins.css
  website/js/plugins.js
  website/plugins.njk
  website/plugins.schema.json
Due: rumdl-check

fix(cli): preserve undo for legacy delegated deletes
  .agents/skills/thurbox-cli/SKILL.md
  docs/CONFIG.md
  docs/FEATURES.md
  scripts/dev/e2e/linux-container.sh
  src/cli/mod.rs
  src/cli/sessions.rs
  tests/create_e2e.rs
  website/docs/configuration.html
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix: use the site theme and show plugin previews by default
  media/plugins-page/catalog.webp
  media/plugins-page/dark.webp
  media/plugins-page/light.webp
  media/plugins-page/mobile.webp
  scripts/ci/plugins.test.mjs
  website/css/plugins.css
  website/plugins.njk
Due: none

feat: add a curated website plugin catalog (#1355)
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
  eleventy.config.js
  media/plugins-page/catalog.webp
  media/plugins-page/mobile.webp
  package.json
  scripts/ci/plugins.test.mjs
  scripts/ci/validate-plugins.mjs
  website/_data/plugins.json
  website/_includes/base.njk
  website/css/plugins.css
  website/js/plugins.js
  website/plugins.njk
  website/plugins.schema.json
Due: rumdl-check

feat(ui): let floating plugins handle the native focus cycle
  src/coordinator/focus.rs
  src/kernel/host/mod.rs
  tests/fixtures/float_focus/91_cards.lua
  tests/kernel_limits.rs
  tests/tui_e2e.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): document floating view focus hooks
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/ARCHITECTURE.md
  docs/KERNEL.md
  docs/PLUGINS.md
  ui/README.md
Due: rumdl-check

refactor(ui): share bounded key hook dispatch
  src/kernel/host/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): distinguish float navigation from focus repair
  docs/PLUGINS.md
Due: rumdl-check

fix(ui): keep automatic focus repair out of float hooks
  src/coordinator/focus.rs
  src/coordinator/input.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(config): default to immediate session deletion (#1356)
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-extensions/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  scripts/dev/e2e/linux-container.sh
  src/agent/settings_config.rs
  src/cli/extensions.rs
  src/cli/mod.rs
  src/cli/sessions.rs
  src/cli/version.rs
  src/kernel/command/mod.rs
  src/kernel/modals/settings.rs
  src/session/settings.rs
  src/session_ops/delete.rs
  src/session_ops/host_cli.rs
  src/session_ops/mirror.rs
  src/session_ops/shared_tests.rs
  tests/cli_stdout_contract.rs
  tests/context_menu.rs
  tests/create_e2e.rs
  tests/keymap.rs
  tests/lifecycle_routing.rs
  tests/session_list.rs
  ui/plugins/10_sessions.lua
  website/docs/configuration.html
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): let floating plugins handle the native focus cycle (#1360)
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/ARCHITECTURE.md
  docs/KERNEL.md
  docs/PLUGINS.md
  src/coordinator/focus.rs
  src/coordinator/input.rs
  src/kernel/host/mod.rs
  tests/fixtures/float_focus/91_cards.lua
  tests/kernel_limits.rs
  tests/tui_e2e.rs
  ui/README.md
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(docs): show the info panel demo GIF on the plugins page
  CONTRIBUTING.md
  scripts/ci/plugins.test.mjs
  scripts/ci/validate-plugins.mjs
  website/_data/plugins.json
Due: rumdl-check

fix(cli): wire hooks for task spawns and only once a create will spawn
  .agents/skills/thurbox-extensions/SKILL.md
  src/cli/action.rs
  src/cli/sessions.rs
  tests/spawn_command_resolution.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): pass the backend registry to the hook wiring
  src/cli/action.rs
  src/cli/sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): wire the status hooks before the first CLI-created session
  .agents/skills/thurbox-extensions/SKILL.md
  src/cli/sessions.rs
  tests/spawn_command_resolution.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): validate a task's spawn before wiring its hooks
  src/cli/action.rs
  src/cli/sessions.rs
  src/session_ops/spawn.rs
  tests/spawn_command_resolution.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(cli): a CLI session launches against a repaired hooks payload
  tests/spawn_command_resolution.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): scope the hook-wiring doc to its callers and reuse the argv probe
  src/cli/action.rs
  tests/spawn_command_resolution.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: name the CLI spawns that repair a managed hooks file
  docs/CONFIG.md
Due: rumdl-check

docs: list fleet on the plugins page
  media/plugins-page/fleet-after.png
  media/plugins-page/fleet-before.png
  scripts/ci/plugins.test.mjs
  scripts/ci/validate-plugins.mjs
  website/_data/plugins.json
Due: none

docs: show the info panel demo GIF on the plugins page (#1361)
  CONTRIBUTING.md
  scripts/ci/plugins.test.mjs
  scripts/ci/validate-plugins.mjs
  website/_data/plugins.json
Due: rumdl-check

fix(cli): repair the status hooks before every CLI spawn (#1362)
  .agents/skills/thurbox-extensions/SKILL.md
  docs/CONFIG.md
  src/cli/action.rs
  src/cli/sessions.rs
  src/session_ops/spawn.rs
  tests/spawn_command_resolution.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(docs): assert the media probe stays quiet when offline
  scripts/ci/plugins.test.mjs
Due: none

docs: keep one shell per install command and drop PR-only screenshots
  media/plugins-page/fleet-after.png
  media/plugins-page/fleet-before.png
  website/_data/plugins.json
Due: none

docs: list fleet on the plugins page (#1363)
  scripts/ci/plugins.test.mjs
  scripts/ci/validate-plugins.mjs
  website/_data/plugins.json
Due: none

fix(ui): hold a failing pane in one state instead of flickering (#1341)
  docs/PLUGINS.md
  src/coordinator/boot.rs
  src/coordinator/draw.rs
  src/coordinator/interface.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): show the multiplexer step only when there is a real choice
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/host_path.rs
  src/agent/preflight.rs
  src/backend/tmux_compat/server.rs
  src/coordinator/mod.rs
  src/kernel/host/publish.rs
  src/kernel/snapshot.rs
  src/session/multiplexer.rs
  src/session_ops/spawn.rs
  tests/architecture_rules.rs
  tests/new_session.rs
  tests/session_list.rs
  ui/lib/thurbox.d.lua
  ui/plugins/70_new_session.lua
  website/docs/faq.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check
