Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

feat(ui): open a session's context menu on right-click (#1274)
  .agents/skills/thurbox-kernel/SKILL.md
  docs/FEATURES.md
  docs/PERFORMANCE.md
  docs/PLUGINS.md
  extensions/ui-skill/SKILL.md
  src/coordinator/chrome.rs
  src/coordinator/draw.rs
  src/coordinator/mouse.rs
  src/kernel/bundled.rs
  src/kernel/host/load.rs
  src/kernel/host/mod.rs
  src/kernel/perf.rs
  tests/context_menu.rs
  tests/kernel_mvp.rs
  tests/mouse.rs
  tests/plugin_lifecycle.rs
  tests/terminal_pane.rs
  tests/tui_e2e.rs
  ui/AGENTS.md
  ui/README.md
  ui/lib/modal.lua
  ui/lib/thurbox.d.lua
  ui/plugins/10_sessions.lua
  ui/plugins/64_menu.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): light every clickable field on hover and focus the new-session fields on click
  docs/PLUGINS.md
  tests/context_menu.rs
  tests/fixtures/edited_interface/lib_surface.txt
  tests/hover.rs
  tests/new_session.rs
  tests/search.rs
  ui/README.md
  ui/lib/hover.lua
  ui/lib/modal.lua
  ui/lib/textinput.lua
  ui/lib/ui.lua
  ui/lib/widgets.lua
  ui/plugins/64_menu.lua
  ui/plugins/65_search.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(ui): name what the flow's colour helper returns
  tests/new_session.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: demo of hover and left-click highlighting for #1275
  left-click-highlight.gif
Due: none

fix(ui): move the epoch on hover so pure panes light at once, and prefix every repo-step target
  docs/PERFORMANCE.md
  src/coordinator/mouse.rs
  tests/new_session.rs
  tests/tui_e2e.rs
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(ui): build the collision world with struct update syntax
  tests/new_session.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): update a Windows install while thurbox.exe is running
  .agents/skills/thurbox-release/SKILL.md
  .github/workflows/ci.yml
  docs/CONFIG.md
  scripts/install.Tests.ps1
  scripts/install.ps1
  src/session_ops/host_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): put the old binary back when the new one cannot be moved in
  .github/workflows/ci.yml
  scripts/install.Tests.ps1
  scripts/install.ps1
  src/session_ops/host_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): update a Windows install while thurbox.exe is running (#1276)
  .agents/skills/thurbox-release/SKILL.md
  .github/workflows/ci.yml
  docs/CONFIG.md
  scripts/install.Tests.ps1
  scripts/install.ps1
  src/session_ops/host_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): light every clickable field on hover and focus the new-session fields on click (#1275)
  docs/PERFORMANCE.md
  docs/PLUGINS.md
  src/coordinator/mouse.rs
  tests/context_menu.rs
  tests/fixtures/edited_interface/lib_surface.txt
  tests/hover.rs
  tests/new_session.rs
  tests/search.rs
  tests/tui_e2e.rs
  ui/README.md
  ui/lib/hover.lua
  ui/lib/modal.lua
  ui/lib/textinput.lua
  ui/lib/ui.lua
  ui/lib/widgets.lua
  ui/plugins/64_menu.lua
  ui/plugins/65_search.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): replace a dead companion shell instead of painting it blank
  .agents/skills/thurbox-testing/SKILL.md
  docs/FEATURES.md
  src/agent/backend.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): keep a shell that ended with its connection for the re-attach
  src/agent/backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): ask for a shell pane's existence by id, not by pid
  src/agent/backend.rs
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): replace a dead companion shell instead of painting it blank (#1277)
  .agents/skills/thurbox-testing/SKILL.md
  docs/FEATURES.md
  src/agent/backend.rs
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/tmux.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): stop appending a duplicate *:clipboard terminal feature on every setup
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/agent/tmux.rs
  src/clipboard.rs
  tests/terminal_features_clipboard.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): leave a terminal-features slot the user set alone
  docs/FEATURES.md
  src/agent/tmux.rs
  tests/terminal_features_clipboard.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(config): wire status hooks where relocated and pinned agents read them
  docs/AGENTS.md
  extensions/hooks/README.md
  src/agent/agent_config.rs
  src/cli/session_doctor.rs
  src/session/extension_def.rs
  src/session/mod.rs
  src/session_ops/extensions/install.rs
  tests/hook_config_dirs.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test: cover the doctor's relocated payload check and fold the e2e into the hook-state suite
  src/cli/session_doctor.rs
  tests/cli_session_hook_state.rs
  tests/hook_config_dirs.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): stop appending a duplicate *:clipboard terminal feature on every setup (#1280)
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/agent/tmux.rs
  src/clipboard.rs
  tests/terminal_features_clipboard.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test: reap the relocation e2e's tmux server through the guard
  tests/cli_session_hook_state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): retain host-reported mux route during mirror
  src/session_ops/mirror.rs
  tests/lifecycle_dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): register psmux as a separate backend
  .agents/skills/thurbox-remote-hosts/SKILL.md
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/agent/mod.rs
  src/agent/psmux.rs
  src/agent/registry.rs
  src/agent/tmux.rs
  src/session/multiplexer.rs
  tests/psmux_backend_boundary.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): isolate host routing regressions per process
  tests/lifecycle_dispatch.rs
  tests/mirror_adapter_tombstone.rs
  tests/mirror_adapter_unavailable.rs
  tests/remote_lifecycle_dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): keep spawn dispatch within lifecycle path
  src/session_ops/spawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): iterate aliased backends once
  src/agent/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): preserve qualified mux routes and guard lifecycle dispatch
  .agents/skills/thurbox-remote-hosts/SKILL.md
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/CONSTITUTION.md
  src/agent/registry.rs
  src/cli/sessions.rs
  src/session/multiplexer.rs
  src/session_ops/shared_tests.rs
  src/session_ops/spawn.rs
  tests/architecture_rules.rs
  tests/lifecycle_dispatch.rs
  tests/psmux_backend_boundary.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): retain suffixed mirror tombstones without adapter
  src/session_ops/mirror.rs
  tests/lifecycle_dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): make headless backend boundary explicit
  .agents/skills/thurbox-testing/SKILL.md
  docs/ARCHITECTURE.md
  src/agent/backend.rs
  src/agent/registry.rs
  src/agent/tmux.rs
  src/cli/sessions.rs
  src/kernel/metrics.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  src/session_ops/delete.rs
  src/session_ops/restore.rs
  tests/backend_contract_boundary.rs
  tests/cli_session_hook_state.rs
  tests/lifecycle_dispatch.rs
  tests/remote_lifecycle_dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): verify backend boundary through public API
  .agents/skills/thurbox-testing/SKILL.md
  tests/backend_contract_boundary.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): dispatch headless lifecycle through registered backends
  .agents/skills/thurbox-testing/SKILL.md
  docs/ARCHITECTURE.md
  src/agent/backend.rs
  src/agent/tmux.rs
  src/session_ops/delete.rs
  src/session_ops/mirror.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  src/session_ops/spawn.rs
  tests/lifecycle_dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): refuse ambiguous persisted host routes
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/agent/registry.rs
  src/session/multiplexer.rs
  src/session_ops/delete.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  tests/psmux_backend_boundary.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): separate mux transports and backend implementations
  .agents/skills/thurbox-remote-hosts/SKILL.md
  AGENTS.md
  docs/ARCHITECTURE.md
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/mod.rs
  src/agent/mux.rs
  src/agent/preflight.rs
  src/agent/psmux.rs
  src/agent/tmux.rs
  src/agent/transport.rs
  src/session/host_def.rs
  tests/architecture_rules.rs
  tests/psmux_protocol_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): keep headless panes on their registered mux
  docs/ARCHITECTURE.md
  src/agent/mux.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): keep mux capabilities in concrete backends
  src/agent/mux.rs
  src/agent/psmux.rs
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): assert platform local mux stamping
  src/agent/mux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): keep the dialect fixture in the Nix source and flavour-neutral
  nix/package.nix
  src/agent/mux.rs
  tests/fixtures/mux_dialects_before_split.txt
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): pin host multiplexer selection by backend behaviour
  src/agent/registry.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): pin every mux dialect answer to the pre-split core
  src/agent/mux.rs
  tests/fixtures/mux_dialects_before_split.txt
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): compare dialect answers independently of the machine's ~/.ssh
  src/agent/mux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
