Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

chore: no-mistakes review - settle reap window ownership against the whole session table
  src/agent/tmux.rs
  src/cli/automations.rs
  src/session_ops/delete.rs
  src/storage/sessions.rs
  tests/reap_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes review - gate the reap on window ownership, not the name
  src/agent/tmux.rs
  src/cli/automations.rs
  src/session_ops/delete.rs
  tests/reap_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes review - settle reap name ownership on the sanitized window name
  .claude/skills/thurbox-testing/SKILL.md
  src/agent/tmux.rs
  src/cli/automations.rs
  src/session_ops/delete.rs
  src/storage/sessions.rs
  tests/reap_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): gate the spawn teardown on window ownership too
  src/session_ops/delete.rs
  src/session_ops/spawn.rs
  tests/reap_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes review - scope window claims to local rows, dedupe comment, test spawn seam
  src/cli/automations.rs
  src/session_ops/spawn.rs
  src/storage/sessions.rs
  tests/reap_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - document teardown window-ownership rule and reap e2e tests
  .claude/skills/thurbox-testing/SKILL.md
  docs/ARCHITECTURE.md
Due: rumdl-check

chore: no-mistakes lint - format wrapped assert in reap e2e test
  tests/reap_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(git): see through a squash merge when deciding a delete is safe
  .claude/skills/thurbox-cli/SKILL.md
  src/git/diff.rs
  src/git/tests.rs
  src/kernel/host/publish.rs
  src/kernel/snapshot.rs
  src/session/mod.rs
  tests/core_settings.rs
  tests/session_list.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - Cache monotonic merged-true status to stop repeated git subprocess churn
  src/git/diff.rs
  src/kernel/snapshot.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(git): key the merged cache on the commit, not the session
  .claude/skills/thurbox-cli/SKILL.md
  src/git/diff.rs
  src/git/tests.rs
  src/kernel/snapshot.rs
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(core): the age a cache carries can be a generation key
  .claude/skills/thurbox-performance/SKILL.md
  docs/PERFORMANCE.md
Due: rumdl-check

fix(git): detect squash-merged branches so delete confirmation stops firing forever (#1054)
  .claude/skills/thurbox-cli/SKILL.md
  .claude/skills/thurbox-performance/SKILL.md
  docs/PERFORMANCE.md
  src/git/diff.rs
  src/git/tests.rs
  src/kernel/host/publish.rs
  src/kernel/snapshot.rs
  src/session/mod.rs
  tests/core_settings.rs
  tests/session_list.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): only let a session teardown kill the window it owns (#1056)
  .claude/skills/thurbox-testing/SKILL.md
  .github/workflows/ci.yml
  docs/ARCHITECTURE.md
  src/agent/tmux.rs
  src/cli/automations.rs
  src/session_ops/delete.rs
  src/session_ops/spawn.rs
  src/storage/sessions.rs
  tests/reap_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(cli): stream watch from an event log instead of a sampled diff
  .claude/skills/thurbox-cli/SKILL.md
  .claude/skills/thurbox-session-status/SKILL.md
  docs/CONFIG.md
  docs/ORCHESTRATION.md
  src/agent/settings_config.rs
  src/cli/automations.rs
  src/cli/mod.rs
  src/cli/sessions.rs
  src/cli/watch.rs
  src/kernel/modals/settings.rs
  src/session/settings.rs
  src/session_ops/delete.rs
  src/session_ops/mirror.rs
  src/session_ops/remote_hooks.rs
  src/session_ops/restart.rs
  src/storage/mod.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  src/storage/session_events.rs
  src/storage/sessions.rs
  tests/cli_watch.rs
  tests/sync_integration.rs
  website/docs/configuration.html
  website/docs/features.html
  website/docs/orchestration.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - Fix watch stopped-flag staleness and unescaped TOON rows
  src/cli/toon.rs
  src/cli/watch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - Fix stale post-refactor delete-ordering docs; PR's own doc updates otherwise accurate
  .claude/skills/thurbox-cli/SKILL.md
  README.md
  src/session_ops/delete.rs
  tests/cli_watch.rs
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(cli): make watch stream exact via an append-only session_events log (#1059)
  .claude/skills/thurbox-cli/SKILL.md
  .claude/skills/thurbox-session-status/SKILL.md
  README.md
  docs/CONFIG.md
  docs/ORCHESTRATION.md
  src/agent/settings_config.rs
  src/cli/automations.rs
  src/cli/mod.rs
  src/cli/sessions.rs
  src/cli/toon.rs
  src/cli/watch.rs
  src/kernel/modals/settings.rs
  src/session/settings.rs
  src/session_ops/delete.rs
  src/session_ops/mirror.rs
  src/session_ops/remote_hooks.rs
  src/session_ops/restart.rs
  src/storage/mod.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  src/storage/session_events.rs
  src/storage/sessions.rs
  tests/cli_watch.rs
  tests/sync_integration.rs
  website/docs/configuration.html
  website/docs/features.html
  website/docs/orchestration.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes lint - {"summary": "fix: apply rustfmt to sessions.rs and cli_stdout_contract.rs"}
  src/cli/sessions.rs
  tests/cli_stdout_contract.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - docs: add exit code 3 to ORCHESTRATION.md's exit-status taxonomy
  docs/ORCHESTRATION.md
  website/docs/orchestration.html
Due: rumdl-check

chore: no-mistakes test - test: add regression test for reports-as write failure after spawn
  tests/cli_stdout_contract.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(cli): answer a driver honestly from doctor, --on-existing and restore
  .claude/skills/thurbox-cli/SKILL.md
  docs/AGENTS.md
  docs/FEATURES.md
  docs/ORCHESTRATION.md
  src/bin/thurbox-cli.rs
  src/cli/agents.rs
  src/cli/home.rs
  src/cli/messages.rs
  src/cli/mod.rs
  src/cli/session_doctor.rs
  src/cli/session_ref.rs
  src/cli/sessions.rs
  src/cli/watch.rs
  src/session/hook_status.rs
  src/session_ops/mirror.rs
  src/session_ops/spawn.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  src/storage/sessions.rs
  tests/cli_stdout_contract.rs
  website/docs/agent-hooks.html
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

no-mistakes: apply CI fixes
  tests/cli_stdout_contract.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes review - Fix adopt dropping --reports-as and honor replace rollback message on set_reports_as failure
  src/cli/sessions.rs
  tests/cli_stdout_contract.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): fix driver-facing session verbs — doctor, reports-as, on-existing, restore (#1060)
  .claude/skills/thurbox-cli/SKILL.md
  docs/AGENTS.md
  docs/FEATURES.md
  docs/ORCHESTRATION.md
  src/bin/thurbox-cli.rs
  src/cli/agents.rs
  src/cli/home.rs
  src/cli/messages.rs
  src/cli/mod.rs
  src/cli/session_doctor.rs
  src/cli/session_ref.rs
  src/cli/sessions.rs
  src/cli/watch.rs
  src/session/hook_status.rs
  src/session_ops/mirror.rs
  src/session_ops/spawn.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  src/storage/sessions.rs
  tests/cli_stdout_contract.rs
  website/docs/agent-hooks.html
  website/docs/features.html
  website/docs/orchestration.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): stop a session reap from killing a live namesake's window
  src/agent/tmux.rs
  src/session_ops/delete.rs
  tests/reap_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - document reap e2e test and reap's return contract
  .claude/skills/thurbox-testing/SKILL.md
Due: rumdl-check

chore: no-mistakes review - settle reap window ownership against the whole session table
  src/agent/tmux.rs
  src/cli/automations.rs
  src/session_ops/delete.rs
  tests/reap_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes review - settle reap name ownership on the sanitized window name
  .claude/skills/thurbox-testing/SKILL.md
  tests/reap_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes document - Fix stale window-ownership docs left behind by ADR-25's stamp-based resolution
  .claude/skills/thurbox-testing/SKILL.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
Due: rumdl-check

fix(core): give a tmux window an identity that is not its name
  .claude/skills/thurbox-cli/SKILL.md
  .claude/skills/thurbox-kernel/SKILL.md
  .claude/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  src/agent/backend.rs
  src/agent/tmux.rs
  src/cli/action.rs
  src/cli/automations.rs
  src/cli/messages.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/kernel/command/execute.rs
  src/kernel/terminal/mod.rs
  src/kernel/terminal/programs.rs
  src/session_ops/delete.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  src/session_ops/spawn.rs
  src/storage/sessions.rs
  tests/reap_e2e.rs
  tests/send_keys_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - placeholder
  src/agent/tmux.rs
  src/cli/sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes review - Fix WindowIndex::locate: dead own window no longer falls to namesake
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): stamp tmux windows with an owner id instead of resolving by name (#1061)
  .claude/skills/thurbox-cli/SKILL.md
  .claude/skills/thurbox-kernel/SKILL.md
  .claude/skills/thurbox-remote-hosts/SKILL.md
  .claude/skills/thurbox-testing/SKILL.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/agent/backend.rs
  src/agent/tmux.rs
  src/cli/action.rs
  src/cli/automations.rs
  src/cli/messages.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/kernel/command/execute.rs
  src/kernel/terminal/mod.rs
  src/kernel/terminal/programs.rs
  src/session_ops/delete.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  src/session_ops/spawn.rs
  src/storage/sessions.rs
  tests/reap_e2e.rs
  tests/send_keys_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(git): recognise every merge strategy in the delete safety check
  .claude/skills/thurbox-cli/SKILL.md
  src/git/diff.rs
  src/git/tests.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes document - Fix stale squash-only doc comment on GitStats::merged in session/mod.rs
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(git): recognise every merge strategy in the delete safety check (#1063)
  .claude/skills/thurbox-cli/SKILL.md
  src/git/diff.rs
  src/git/tests.rs
  src/session/mod.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes document - Fix stale SessionState/Error docs left by status-derivation refactor
  .claude/skills/thurbox-session-status/SKILL.md
  .claude/skills/thurbox-testing/SKILL.md
  docs/CONFIG.md
Due: rumdl-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
