Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

chore: no-mistakes review - restore save-triggered reload clause in README
  README.md
Due: rumdl-check

chore: no-mistakes document - fix stale delete and mouse claims in website docs
  website/docs/comparison.html
  website/docs/features.html
Due: none

chore: no-mistakes review - correct soft-delete cleanup claim in README
  README.md
Due: rumdl-check

test(core): let the interrupt land before typing at the shell again
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): measure a frame's pieces and the whole binary under load
  Cargo.toml
  benches/frame_cost.rs
  docs/DEVELOPMENT.md
  justfile
  scripts/dev/README.md
  scripts/dev/perf-run.sh
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(core): pace the link scan and scope the animation clock to its readers
  CLAUDE.md
  docs/PERFORMANCE.md
  docs/PLUGINS.md
  src/coordinator/boot.rs
  src/coordinator/publish.rs
  src/kernel/host/api.rs
  src/kernel/host/mod.rs
  src/main.rs
  tests/kernel_frame_cost.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: review render-loop performance in the no-mistakes gate
  .no-mistakes.yaml
  CONTRIBUTING.md
Due: rumdl-check

chore: no-mistakes review - fix misleading perf instruments and e2e interrupt barrier
  Cargo.toml
  benches/frame_cost.rs
  scripts/dev/README.md
  scripts/dev/perf-run.sh
  src/kernel/host/mod.rs
  tests/kernel_frame_cost.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(cli): add a TOON encoder for agent-facing output
  scripts/dev/gen-toon-fixtures.mjs
  src/cli/mod.rs
  src/cli/toon.rs
  tests/fixtures/toon-conformance.jsonl
  tests/toon_conformance.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: describe thurbox-cli's AXI contract
  CLAUDE.md
  docs/TUTORIAL.md
  website/docs/tutorial.html
Due: rumdl-check

feat(cli): answer in TOON when piped, and make failures readable
  src/bin/thurbox-cli.rs
  src/cli/home.rs
  src/cli/mod.rs
  src/cli/output.rs
  src/cli/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(cli): declare the agent view on the commands agents loop on
  src/cli/automations.rs
  src/cli/messages.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): pass --json where a script parses thurbox-cli output
  extensions/ci-shepherd/scripts/dispatch-fix.sh
  extensions/flow/scripts/create-task.sh
  extensions/renovate/scripts/dispatch-update.sh
Due: none

fix(core): read a host CLI failure off stdout, not stderr
  src/session_ops/host_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(cli): report pane cursor and foreground process from session capture
  README.md
  docs/ORCHESTRATION.md
  src/agent/tmux.rs
  src/cli/sessions.rs
  tests/cli_session_capture.rs
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): give a relocated instance its own tmux socket
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/DEVELOPMENT.md
  scripts/dev/lib/sandbox-env.sh
  src/agent/tmux.rs
  src/cli/config.rs
  src/paths/mod.rs
  src/paths/tests.rs
  src/session_ops/lifecycle_hooks.rs
  src/session_ops/mod.rs
  tests/cli_socket_isolation.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(cli): type without submitting, and send named keys
  CLAUDE.md
  README.md
  src/agent/tmux.rs
  src/cli/sessions.rs
  src/cli/tests.rs
  tests/send_keys_e2e.rs
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): only report a pane's state when it came from that session's window
  src/agent/tmux.rs
  tests/cli_session_hook_state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(cli): diagnose whether a session's hooks are wired, with session doctor
  src/cli/mod.rs
  src/cli/session_doctor.rs
  src/cli/sessions.rs
  src/session/hook_status.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/mirror.rs
  tests/cli_session_hook_state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(cli): say how old a session's agent state is and what it is worth
  src/agent/tmux.rs
  src/cli/output.rs
  src/cli/sessions.rs
  src/cli/tests.rs
  src/session/hook_status.rs
  src/session/mod.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/mirror.rs
  tests/cli_session_hook_state.rs
  tests/shared_sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore(cli): reconcile send/key tests with the TOON subcommand accessor
  src/cli/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: say what a session's reported agent state is worth, and how to supply one
  CLAUDE.md
  README.md
  docs/AGENTS.md
  docs/CONFIG.md
  docs/FEATURES.md
  docs/ORCHESTRATION.md
  extensions/hooks/README.md
  src/cli/sessions.rs
  website/docs/agent-hooks.html
  website/docs/features.html
  website/docs/orchestration.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - fix hook-state honesty gaps and TOON-default script breakage
  CLAUDE.md
  README.md
  docs/FEATURES.md
  docs/ORCHESTRATION.md
  extensions/ci-shepherd/scripts/shepherd-snapshot.sh
  extensions/ci-shepherd/scripts/snapshot-tasks.bats
  extensions/flow/scripts/flow-sessions.bats
  extensions/flow/scripts/flow-snapshot.sh
  extensions/hooks/README.md
  extensions/renovate/scripts/renovate-snapshot.sh
  extensions/renovate/scripts/snapshot-tasks.bats
  src/cli/home.rs
  src/cli/output.rs
  src/cli/session_doctor.rs
  src/cli/sessions.rs
  src/session/hook_status.rs
  src/session/mod.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/mirror.rs
  tests/cli_session_hook_state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - fix doctor test PATH dependence, stdout double-document, unrun bats
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  docs/FEATURES.md
  justfile
  src/bin/thurbox-cli.rs
  src/cli/home.rs
  src/cli/mod.rs
  src/session_ops/builtin_hooks.rs
  tests/cli_session_hook_state.rs
  tests/cli_stdout_contract.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes test - fix pane state loss under non-UTF-8 locale
  src/agent/tmux.rs
  tests/cli_session_capture.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes review - fix remote doctor CLI verdict and runtime-failure suggestion
  README.md
  src/bin/thurbox-cli.rs
  src/cli/session_doctor.rs
  src/cli/sessions.rs
  tests/cli_stdout_contract.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes document - correct piped-output docs, add test-scripts recipe and stdout contract
  CLAUDE.md
  README.md
  docs/DEVELOPMENT.md
  website/docs/features.html
Due: rumdl-check

chore: no-mistakes lint - apply rustfmt to cli_stdout_contract test
  README.md
  tests/cli_stdout_contract.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - fix ctx index on non-string keys, stale bench rubric, perf-run JSON knobs
  .no-mistakes.yaml
  scripts/dev/perf-run.sh
  src/kernel/host/api.rs
  tests/kernel_frame_cost.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes review - pass --json in forge snapshot, add bats guard, fix host_cli doc
  extensions/forge/scripts/forge-snapshot.sh
  extensions/forge/scripts/snapshot-sections.bats
  src/session_ops/host_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - sync CLI output-format and socket docs
  CLAUDE.md
  README.md
  extensions/ui-skill/SKILL.md
  website/docs/configuration.html
Due: rumdl-check

chore: no-mistakes document - point website config page at instance relocation
  website/docs/configuration.html
Due: none

fix(core): keep the perf harness out of the validation gate
  .no-mistakes.yaml
  CONTRIBUTING.md
  scripts/dev/README.md
  scripts/dev/perf-run.sh
Due: rumdl-check

no-mistakes: apply CI fixes
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes review - harden ctx metatable and fix perf-run JSON fallback
  scripts/dev/perf-run.sh
  src/kernel/host/api.rs
  tests/kernel_frame_cost.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

no-mistakes: apply CI fixes
  .github/workflows/ci.yml
  .no-mistakes.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  justfile
  scripts/ci/check-conventional-commits.bats
  scripts/ci/check-conventional-commits.sh
Due: rumdl-check

no-mistakes: apply CI fixes
  scripts/ci/check-conventional-commits.bats
  scripts/ci/check-conventional-commits.sh
Due: none

chore: no-mistakes document - document sealed ctx metatable and the perf instruments
  docs/PERFORMANCE.md
  docs/PLUGINS.md
  extensions/ui-skill/SKILL.md
  src/kernel/host/api.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: split CLAUDE.md into per-subsystem skills
  .claude/skills/thurbox-agents/SKILL.md
  .claude/skills/thurbox-cli/SKILL.md
  .claude/skills/thurbox-demo-media/SKILL.md
  .claude/skills/thurbox-extensions/SKILL.md
  .claude/skills/thurbox-kernel/SKILL.md
  .claude/skills/thurbox-performance/SKILL.md
  .claude/skills/thurbox-release/SKILL.md
  .claude/skills/thurbox-remote-hosts/SKILL.md
  .claude/skills/thurbox-session-status/SKILL.md
  .claude/skills/thurbox-testing/SKILL.md
  .claude/skills/thurbox-ui-surfaces/SKILL.md
  .no-mistakes.yaml
  CLAUDE.md
  CONTRIBUTING.md
  docs/AGENTS.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  docs/README.md
  docs/RELEASING.md
Due: rumdl-check

fix(core): give the wheel and the scrollbar a route to the pane
  docs/FEATURES.md
  docs/PLUGINS.md
  src/coordinator/boot.rs
  src/coordinator/mouse.rs
  src/kernel/host/mod.rs
  src/kernel/node.rs
  src/kernel/terminal/mod.rs
  src/main.rs
  tests/mouse.rs
  tests/terminal_pane.rs
  tests/tui_e2e.rs
  ui/AGENTS.md
  ui/README.md
  ui/lib/chrome.lua
  ui/plugins/20_agent.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check
