Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

chore: no-mistakes review - fix(core): order mirror tombstones on the host's own clock
  .claude/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  src/cli/sessions.rs
  src/kernel/terminal/mod.rs
  src/session_ops/mirror.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  src/storage/sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes test - fix(test): mirror test needs increasing updated_at for restore ordering
  tests/shared_sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): make a remote teardown stick, on both sides
  .claude/skills/thurbox-cli/SKILL.md
  .claude/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/agent/tmux.rs
  src/cli/automations.rs
  src/cli/sessions.rs
  src/session_ops/delete.rs
  src/session_ops/mirror.rs
  src/session_ops/restart.rs
  src/session_ops/shared_tests.rs
  src/session_ops/spawn.rs
  src/storage/sessions.rs
  tests/reap_e2e.rs
  tests/shared_sessions.rs
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes document - docs(core): reflect two-window teardown and tombstone-clock snapshot accurately
  .claude/skills/thurbox-testing/SKILL.md
  README.md
  docs/ARCHITECTURE.md
  src/cli/sessions.rs
  src/session_ops/delete.rs
  src/session_ops/restart.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes lint - {"summary": "fix(core): avoid doc-list-item lint by rewording teardown_runtime_resources comment"}
  src/session_ops/delete.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): make remote session delete teardown stick on both sides (#1065)
  .claude/skills/thurbox-cli/SKILL.md
  .claude/skills/thurbox-remote-hosts/SKILL.md
  .claude/skills/thurbox-testing/SKILL.md
  README.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/agent/tmux.rs
  src/cli/automations.rs
  src/cli/sessions.rs
  src/kernel/terminal/mod.rs
  src/session_ops/delete.rs
  src/session_ops/mirror.rs
  src/session_ops/restart.rs
  src/session_ops/shared_tests.rs
  src/session_ops/spawn.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  src/storage/sessions.rs
  tests/reap_e2e.rs
  tests/shared_sessions.rs
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): one reaper, targeted row writes, atomic force delete
  .claude/skills/thurbox-cli/SKILL.md
  .claude/skills/thurbox-kernel/SKILL.md
  .claude/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/cli/automations.rs
  src/cli/plugins.rs
  src/cli/sessions.rs
  src/coordinator/boot.rs
  src/coordinator/mod.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/kernel/mod.rs
  src/kernel/reaper.rs
  src/main.rs
  src/notifications.rs
  src/session_ops/delete.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  src/storage/sessions.rs
  tests/architecture_rules.rs
  tests/reap_e2e.rs
  tests/repo_memory.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - Kill orphaned restart window when record_pane loses the delete race
  src/session_ops/restart.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - Update ADR-26: orphaned restart window is killed, not reaped
  docs/ARCHITECTURE.md
Due: rumdl-check

no-mistakes: apply CI fixes
  tests/kernel_mvp.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): collapse the duplicate reaper and close the undo-window races (#1067)
  .claude/skills/thurbox-cli/SKILL.md
  .claude/skills/thurbox-kernel/SKILL.md
  .claude/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/cli/automations.rs
  src/cli/plugins.rs
  src/cli/sessions.rs
  src/coordinator/boot.rs
  src/coordinator/mod.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/kernel/mod.rs
  src/kernel/reaper.rs
  src/main.rs
  src/notifications.rs
  src/session_ops/delete.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  src/storage/sessions.rs
  tests/architecture_rules.rs
  tests/kernel_mvp.rs
  tests/reap_e2e.rs
  tests/repo_memory.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): keep the reap sweep out of the message band
  .claude/skills/thurbox-cli/SKILL.md
  .claude/skills/thurbox-performance/SKILL.md
  docs/ARCHITECTURE.md
  docs/PERFORMANCE.md
  src/kernel/command/bus.rs
  src/kernel/command/mod.rs
  tests/chrome.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): stop the reap sweep from flickering the status band (#1068)
  .claude/skills/thurbox-cli/SKILL.md
  .claude/skills/thurbox-performance/SKILL.md
  docs/ARCHITECTURE.md
  docs/PERFORMANCE.md
  src/kernel/command/bus.rs
  src/kernel/command/mod.rs
  tests/chrome.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): stop widgets.list overflow markers from eating a row
  docs/PLUGINS.md
  tests/restore.rs
  ui/lib/widgets.lua
  ui/plugins/65_search.lua
  ui/plugins/80_restore.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes test - fix(core): stop temp-dir marker scan from breaking on interleaved stdout
  src/paths/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): type the plugin API so a typo fails lint
  .claude/skills/thurbox-kernel/SKILL.md
  .claude/skills/thurbox-testing/SKILL.md
  .github/workflows/ci.yml
  .luarc.json
  CLAUDE.md
  docs/PLUGINS.md
  justfile
  scripts/ci/check-lua-types.sh
  selene.toml
  src/kernel/bundled.rs
  tests/fixtures/lua_types/command.lua
  tests/fixtures/lua_types/prop.lua
  tests/fixtures/lua_types/theme.lua
  ui/AGENTS.md
  ui/README.md
  ui/lib/theme.lua
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - fix(ui): correct Program.text, BookmarkRow fields, exact box/surface nodes
  ui/lib/thurbox.d.lua
Due: none

fix(ui): stop widgets.list overflow markers from eating a row (#1069)
  docs/PLUGINS.md
  src/paths/tests.rs
  tests/restore.rs
  ui/lib/widgets.lua
  ui/plugins/65_search.lua
  ui/plugins/80_restore.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): type the plugin API so a typo fails lint (#1070)
  .claude/skills/thurbox-kernel/SKILL.md
  .claude/skills/thurbox-testing/SKILL.md
  .github/workflows/ci.yml
  .luarc.json
  CLAUDE.md
  docs/PLUGINS.md
  justfile
  scripts/ci/check-lua-types.sh
  selene.toml
  src/kernel/bundled.rs
  tests/fixtures/lua_types/command.lua
  tests/fixtures/lua_types/prop.lua
  tests/fixtures/lua_types/theme.lua
  ui/AGENTS.md
  ui/README.md
  ui/lib/theme.lua
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): give a text node its own style and drop the span patching
  .claude/skills/thurbox-kernel/SKILL.md
  docs/PLUGINS.md
  src/kernel/convert.rs
  src/kernel/node.rs
  src/kernel/paint.rs
  tests/decoration.rs
  tests/frames.rs
  tests/mouse.rs
  ui/AGENTS.md
  ui/README.md
  ui/lib/widgets.lua
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes document - docs(ui): add text.style to thurbox.d.lua type reference
  ui/lib/thurbox.d.lua
Due: none

chore: no-mistakes lint - fix(ui): split glyph/trailing_color declarations to satisfy luals
  ui/plugins/10_sessions.lua
Due: none

feat(core): add a style prop to text nodes (#1071)
  .claude/skills/thurbox-kernel/SKILL.md
  docs/PLUGINS.md
  src/kernel/convert.rs
  src/kernel/node.rs
  src/kernel/paint.rs
  tests/decoration.rs
  tests/frames.rs
  tests/mouse.rs
  ui/AGENTS.md
  ui/README.md
  ui/lib/thurbox.d.lua
  ui/lib/widgets.lua
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): measure text in columns, from the kernel
  .claude/skills/thurbox-kernel/SKILL.md
  docs/PLUGINS.md
  src/kernel/host/api.rs
  tests/frames.rs
  tests/kernel_mvp.rs
  thurbox.yml
  ui/README.md
  ui/lib/chrome.lua
  ui/lib/textinput.lua
  ui/lib/thurbox.d.lua
  ui/lib/widgets.lua
  ui/plugins/20_agent.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - Cap text.pad/truncate cols to bound Rust-side allocation size
  src/kernel/host/api.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): tell a pane author to measure in columns
  ui/AGENTS.md
Due: rumdl-check

feat(ui): expose kernel display-width measurement as text.width/truncate/pad (#1072)
  .claude/skills/thurbox-kernel/SKILL.md
  docs/PLUGINS.md
  src/kernel/host/api.rs
  tests/frames.rs
  tests/kernel_mvp.rs
  thurbox.yml
  ui/AGENTS.md
  ui/README.md
  ui/lib/chrome.lua
  ui/lib/textinput.lua
  ui/lib/thurbox.d.lua
  ui/lib/widgets.lua
  ui/plugins/20_agent.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): give a frame parity with the borders drawn by hand
  .claude/skills/thurbox-kernel/SKILL.md
  docs/PLUGINS.md
  src/kernel/convert.rs
  src/kernel/node.rs
  src/kernel/paint.rs
  tests/decoration.rs
  tests/frames.rs
  tests/mouse.rs
  ui/AGENTS.md
  ui/README.md
  ui/lib/chrome.lua
  ui/lib/thurbox.d.lua
  ui/plugins/10_sessions.lua
  ui/plugins/20_agent.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - placeholder
  src/kernel/paint.rs
  tests/mouse.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - docs already updated accurately; no stale facts remain
  tests/frames.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): add frame title alignment, border type, overlay slots, and run identity (#1073)
  .claude/skills/thurbox-kernel/SKILL.md
  docs/PLUGINS.md
  src/kernel/convert.rs
  src/kernel/node.rs
  src/kernel/paint.rs
  tests/decoration.rs
  tests/frames.rs
  tests/mouse.rs
  ui/AGENTS.md
  ui/README.md
  ui/lib/chrome.lua
  ui/lib/thurbox.d.lua
  ui/plugins/10_sessions.lua
  ui/plugins/20_agent.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): add the ui.lua component layer, and let a pane speak and act
  .claude/skills/thurbox-kernel/SKILL.md
  docs/CONSTITUTION.md
  docs/PLUGINS.md
  docs/V2-KERNEL.md
  src/coordinator/commands.rs
  src/kernel/bands.rs
  src/kernel/bundled.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/kernel/host/api.rs
  tests/keymap.rs
  tests/plugin_chrome.rs
  tests/restore.rs
  tests/tui_e2e.rs
  ui/AGENTS.md
  ui/README.md
  ui/lib/chrome.lua
  ui/lib/thurbox.d.lua
  ui/lib/ui.lua
  ui/lib/widgets.lua
  ui/plugins/10_sessions.lua
  ui/plugins/80_restore.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): add the ui.lua component layer and action/message command verbs (#1074)
  .claude/skills/thurbox-kernel/SKILL.md
  docs/CONSTITUTION.md
  docs/PLUGINS.md
  docs/V2-KERNEL.md
  src/coordinator/commands.rs
  src/kernel/bands.rs
  src/kernel/bundled.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/kernel/host/api.rs
  tests/keymap.rs
  tests/plugin_chrome.rs
  tests/restore.rs
  tests/tui_e2e.rs
  ui/AGENTS.md
  ui/README.md
  ui/lib/chrome.lua
  ui/lib/thurbox.d.lua
  ui/lib/ui.lua
  ui/lib/widgets.lua
  ui/plugins/10_sessions.lua
  ui/plugins/80_restore.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: add the thurview review skill
  .agents/skills/thurview/SKILL.md
  .agents/skills/thurview/references/components.md
  .agents/skills/thurview/references/document-authoring.md
  .agents/skills/thurview/references/lifecycle.md
  .agents/skills/thurview/references/software-map.md
  .agents/skills/thurview/references/theme.md
  .claude/skills/thurview
  skills-lock.json
Due: rumdl-check

chore: no-mistakes document - docs: point CLAUDE.md/CONTRIBUTING.md at vendored thurview skill
  CLAUDE.md
  CONTRIBUTING.md
Due: rumdl-check

docs: vendor the thurview review skill (#1075)
  .agents/skills/thurview/SKILL.md
  .agents/skills/thurview/references/components.md
  .agents/skills/thurview/references/document-authoring.md
  .agents/skills/thurview/references/lifecycle.md
  .agents/skills/thurview/references/software-map.md
  .agents/skills/thurview/references/theme.md
  .claude/skills/thurview
  CLAUDE.md
  CONTRIBUTING.md
  skills-lock.json
Due: rumdl-check

docs: move skills to .agents/skills with per-CLI symlinks
  .agents/skills/thurbox-agents/SKILL.md
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-demo-media/SKILL.md
  .agents/skills/thurbox-extensions/SKILL.md
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-performance/SKILL.md
  .agents/skills/thurbox-release/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  .agents/skills/thurbox-session-status/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  .agents/skills/ui-review/SKILL.md
  .agents/skills/ui-review/scripts/build_report.py
  .agents/skills/ui-review/scripts/capture.sh
  .agents/skills/ui-review/tapes/screenshots.tape
  .agents/skills/ui-review/templates/report.html.tmpl
  .claude/skills/thurbox-agents
  .claude/skills/thurbox-cli
  .claude/skills/thurbox-demo-media
  .claude/skills/thurbox-extensions
  .claude/skills/thurbox-kernel
  .claude/skills/thurbox-performance
  .claude/skills/thurbox-release
  .claude/skills/thurbox-remote-hosts
  .claude/skills/thurbox-session-status
  .claude/skills/thurbox-testing
  .claude/skills/thurbox-ui-surfaces
  .claude/skills/ui-review
  .no-mistakes.yaml
  .rumdl.toml
  CLAUDE.md
  CONTRIBUTING.md
  docs/AGENTS.md
  docs/README.md
Due: rumdl-check

docs: move skill bodies to .agents/skills with per-CLI symlinks (#1077)
  .agents/skills/thurbox-agents/SKILL.md
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-demo-media/SKILL.md
  .agents/skills/thurbox-extensions/SKILL.md
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-performance/SKILL.md
  .agents/skills/thurbox-release/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  .agents/skills/thurbox-session-status/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  .agents/skills/ui-review/SKILL.md
  .agents/skills/ui-review/scripts/build_report.py
  .agents/skills/ui-review/scripts/capture.sh
  .agents/skills/ui-review/tapes/screenshots.tape
  .agents/skills/ui-review/templates/report.html.tmpl
  .claude/skills/thurbox-agents
  .claude/skills/thurbox-cli
  .claude/skills/thurbox-demo-media
  .claude/skills/thurbox-extensions
  .claude/skills/thurbox-kernel
  .claude/skills/thurbox-performance
  .claude/skills/thurbox-release
  .claude/skills/thurbox-remote-hosts
  .claude/skills/thurbox-session-status
  .claude/skills/thurbox-testing
  .claude/skills/thurbox-ui-surfaces
  .claude/skills/ui-review
  .no-mistakes.yaml
  .rumdl.toml
  CLAUDE.md
  CONTRIBUTING.md
  docs/AGENTS.md
  docs/README.md
Due: rumdl-check

chore: no-mistakes review - placeholder
  src/kernel/snapshot.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest
