Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

docs: regenerate demo media for current UI
  docs/media/automations-demo.gif
  docs/media/automations-demo.mp4
  docs/media/code-review-demo.gif
  docs/media/code-review-demo.mp4
  docs/media/search-demo.gif
  docs/media/search-demo.mp4
  docs/media/tasks-demo.gif
  docs/media/tasks-demo.mp4
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  docs/media/thurbox-file-manager.gif
  docs/media/thurbox-file-manager.mp4
  docs/media/thurbox-fork.gif
  docs/media/thurbox-fork.mp4
  docs/media/thurbox-info-panel.gif
  docs/media/thurbox-info-panel.mp4
  docs/media/thurbox-session-creation.gif
  docs/media/thurbox-session-creation.mp4
  docs/media/thurbox-theme.gif
  docs/media/thurbox-theme.mp4
Due: none

feat(ui): show new-session progress and unfreeze the wizard
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/PERFORMANCE.md
  src/app/acceptance.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/ui/project_list.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci: pass winget token via WINGET_CREATE_GITHUB_TOKEN env var
  .github/workflows/cd.yml
Due: none

docs: mark chocolatey live and winget pending review
  README.md
  packaging/chocolatey/README.md
  packaging/winget/README.md
  website/docs/faq.html
  website/docs/installation.html
  website/index.html
Due: rumdl-check

feat(core): scope account usage to the session's host
  src/app/mod.rs
  src/app/view.rs
  src/session/mod.rs
  src/ui/info_panel.rs
  src/usage/mod.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): browsable remote repo-path entry in the repo picker
  docs/FEATURES.md
  docs/PERFORMANCE.md
  src/app/acceptance.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/repo_picker.rs
  src/app/snapshots/thurbox__app__acceptance__repo_picker_path_browser_snapshot.snap
  src/app/view.rs
  src/git/mod.rs
  src/shell.rs
  src/storage/repo_bookmarks.rs
  src/storage/schema.rs
  src/ui/repo_picker_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): hooks-driven status for all agents on remote hosts
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  docs/FEATURES.md
  extensions/hooks/README.md
  scripts/dev/e2e/linux-container.sh
  scripts/dev/e2e/windows-vm.sh
  src/agent/control_mode.rs
  src/agent/tmux.rs
  src/app/mod.rs
  src/git/mod.rs
  src/session/mod.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/extensions.rs
  src/session_ops/mod.rs
  src/session_ops/remote_hooks.rs
  src/session_ops/spawn.rs
  src/ui/info_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): harden remote-status edges found in adversarial review
  src/agent/tmux.rs
  src/app/mod.rs
  src/cli/automations.rs
  src/cli/sessions.rs
  src/git/mod.rs
  src/session/mod.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/remote_hooks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): keep remote hook status flowing with the TUI closed
  CLAUDE.md
  docs/FEATURES.md
  extensions/hooks/README.md
  scripts/dev/e2e/linux-container.sh
  src/agent/control_mode.rs
  src/agent/tmux.rs
  src/cli/automations.rs
  src/cli/sessions.rs
  src/session_ops/remote_hooks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): gate the psmux hook poller and harden remote provisioning
  CLAUDE.md
  docs/FEATURES.md
  extensions/hooks/README.md
  scripts/dev/e2e/windows-vm.sh
  src/agent/tmux.rs
  src/session/mod.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/remote_hooks.rs
  src/session_ops/spawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): wire status hooks for custom agents via hook_schema
  CLAUDE.md
  docs/CONFIG.md
  extensions/hooks/README.md
  src/agent/agent_config.rs
  src/agent/extension_config.rs
  src/session/agent_def.rs
  src/session/extension_def.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): sandbox test config/data dirs to stop settings resets
  src/paths.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): show thurbox data-folder size in the info panel
  src/app/metrics_state.rs
  src/app/mod.rs
  src/app/view.rs
  src/ui/info_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: add opencode project support
  .opencode/commands/refactor.md
  .opencode/commands/ship.md
  .opencode/commands/sync.md
  CONTRIBUTING.md
  opencode.json
Due: rumdl-check

feat(config): add pi.dev as a built-in agent
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/agent_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(config): set tmux extended-keys-format to csi-u (best-effort)
  docs/ARCHITECTURE.md
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(config): report pi.dev lifecycle status to thurbox
  CLAUDE.md
  extensions/hooks/README.md
  extensions/hooks/extension.toml
  extensions/hooks/pi-status.ts
  src/session_ops/builtin_hooks.rs
  src/session_ops/remote_hooks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(config): use vibe's real pre_tool/post_agent hook schema
  CLAUDE.md
  extensions/hooks/README.md
  extensions/hooks/extension.toml
  extensions/hooks/vibe-hooks.toml
  src/session_ops/builtin_hooks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): hide the session-list pane with F9 for a full-width terminal
  CLAUDE.md
  src/app/acceptance.rs
  src/app/automation.rs
  src/app/code_review.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/tasks.rs
  src/session/keybindings.rs
  src/ui/layout.rs
  src/ui/status_bar.rs
  website/docs/keybindings.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(ui): call act_toggle_session_list as a method, not Self::fn(self)
  src/app/key_handlers.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(config): add refactor prompt and publish skill for pi agent
  .pi/prompts/refactor.md
  .pi/skills/publish/SKILL.md
  .rumdl.toml
Due: rumdl-check

fix(ui): repair footer + status bar layout on narrow terminals
  src/app/snapshots/thurbox__app__acceptance__automations_list_modal_empty.snap
  src/app/snapshots/thurbox__app__acceptance__empty_welcome_screen_renders.snap
  src/app/snapshots/thurbox__app__acceptance__help_overlay_lists_keybindings.snap
  src/app/snapshots/thurbox__app__acceptance__repo_picker_path_browser_snapshot.snap
  src/app/snapshots/thurbox__app__acceptance__restore_sessions_modal_empty.snap
  src/app/snapshots/thurbox__app__acceptance__theme_picker_lists_palettes.snap
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): give terminal editors (vim/nano/ttt) a real TTY on Ctrl+O
  CLAUDE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/app/acceptance.rs
  src/app/helpers.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/cli/config.rs
  src/cli/editor.rs
  src/main.rs
  src/session/settings.rs
  src/storage/settings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(config)!: enable update check + auto-update by default for 1.0
  CLAUDE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/self_update.rs
  src/agent/settings_config.rs
  src/agent/version_check.rs
  src/app/mod.rs
  src/cli/update.rs
  src/cli/version.rs
  src/main.rs
  src/session/settings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci: add a forced-version workflow_dispatch input
  .github/workflows/cd.yml
Due: none

ci: compute release bump args in bash, not a YAML ternary
  .github/workflows/cd.yml
Due: none

ci: pass a bare semver to `cog bump --version`
  .github/workflows/cd.yml
Due: none

docs: drop the pre-1.0 framing from README, docs, and website
  CLAUDE.md
  README.md
  docs/CONFIG.md
  docs/CONSTITUTION.md
  website/docs/installation.html
  website/index.html
Due: rumdl-check

feat(config): add built-in support for Oh My Pi (omp) agent
  CLAUDE.md
  docs/CONFIG.md
  extensions/hooks/README.md
  extensions/hooks/extension.toml
  extensions/hooks/omp-status.ts
  src/agent/agent_config.rs
  src/app/mod.rs
  src/session/agent_def.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/mod.rs
  src/session_ops/remote_hooks.rs
  src/session_ops/restart.rs
  src/session_ops/spawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(config): document built-in agents + add-a-built-in checklist
  CLAUDE.md
  docs/AGENTS.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/agent_config.rs
  website/_includes/sidebar.njk
  website/docs/agent-hooks.html
  website/docs/agents.html
  website/docs/configuration.html
  website/docs/faq.html
  website/docs/features.html
  website/docs/installation.html
  website/index.html
  website/llms.txt
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci(deps): throttle Chocolatey publish to one push per month
  .github/workflows/cd.yml
  CLAUDE.md
  packaging/chocolatey/README.md
Due: rumdl-check

ci(deps): auto-close superseded winget-pkgs PRs after submit
  .github/workflows/cd.yml
  CLAUDE.md
Due: rumdl-check

ci(deps): throttle winget submissions to one PR per 30 days
  .github/workflows/cd.yml
  CLAUDE.md
  packaging/winget/README.md
  website/docs/installation.html
Due: rumdl-check

feat(ui): add F9 session-list collapse chevron on central pane
  CLAUDE.md
  src/app/acceptance.rs
  src/app/view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: add Oh My Pi to website home-page agent logo list
  website/index.html
Due: none

fix(git): run worktree sync on the session's remote host
  docs/FEATURES.md
  src/app/mod.rs
  src/git/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: add pi to website home-page agent logo list
  website/index.html
Due: none

fix(ui): keep central-pane tabs and title readable on narrow panes
  src/app/view.rs
  src/ui/code_review.rs
  src/ui/mod.rs
  src/ui/terminal_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): advertise Shift+Tab back-to-list in repo picker footer
  src/ui/repo_picker_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): solid-red section dividers + live-terminal panel effects
  website/css/components.css
  website/css/landing.css
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
