Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

fix(core): resolve remaining HOME reads via paths::home_dir()
  src/app/key_handlers.rs
  src/main.rs
  src/paths.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: publish refreshed UI/UX review report on the website
  website/assets/ui-review/01-session-list.png
  website/assets/ui-review/02-second-session.png
  website/assets/ui-review/03-info-panel.png
  website/assets/ui-review/04-file-viewer.png
  website/assets/ui-review/05-tasks-panel.png
  website/assets/ui-review/06-automations.png
  website/assets/ui-review/07-global-search.png
  website/assets/ui-review/08-theme-picker.png
  website/assets/ui-review/09-repo-picker.png
  website/assets/ui-review/10-keybindings.png
  website/assets/ui-review/11-settings-panel.png
  website/assets/ui-review/12-automation-editor.png
  website/assets/ui-review/13-task-editor.png
  website/docs/ui-review.html
Due: none

docs(core): ADR-22 — App decomposition into per-domain sub-modules
  docs/ARCHITECTURE.md
Due: rumdl-check

refactor(core): relocate Tasks cluster into app/tasks.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): relocate Automations cluster into app/automation.rs
  src/app/automation.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): tidy app/automation.rs
  src/app/automation.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): finish Global Search relocation into app/search.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/search.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): tidy app/search.rs
  src/app/search.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): close hard-delete modal immediately, tear down worktree in background
  src/app/mod.rs
  src/session_ops/delete.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add Tasks and Files buttons to the footer bar
  src/app/snapshots/thurbox__app__acceptance__automations_list_modal_empty.snap
  src/app/snapshots/thurbox__app__acceptance__empty_welcome_screen_renders.snap
  src/app/snapshots/thurbox__app__acceptance__help_overlay_lists_keybindings.snap
  src/app/snapshots/thurbox__app__acceptance__restore_sessions_modal_empty.snap
  src/app/snapshots/thurbox__app__acceptance__theme_picker_lists_palettes.snap
  src/app/view.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): smart hard-delete confirmation + block restoring force-deletes
  CLAUDE.md
  src/app/acceptance.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/cli/sessions.rs
  src/git/mod.rs
  src/session/mod.rs
  src/session_ops/delete.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/ui/confirm_delete_modal.rs
  src/ui/info_panel.rs
  src/ui/restore_sessions_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): chunk control-mode input so large pastes aren't truncated
  src/agent/control_mode.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): best-effort restore for force-deleted sessions
  CLAUDE.md
  src/app/acceptance.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/cli/sessions.rs
  src/ui/confirm_delete_modal.rs
  src/ui/confirm_restore_modal.rs
  src/ui/mod.rs
  src/ui/restore_sessions_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): click a Settings boolean row to toggle it
  CLAUDE.md
  src/app/acceptance.rs
  src/app/mod.rs
  src/ui/settings_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: add thurbox logo (shell box + worker tree)
  README.md
  website/_includes/base.njk
  website/assets/favicon.svg
  website/assets/logo-mark.svg
  website/assets/logo.svg
  website/css/components.css
Due: rumdl-check

fix: resolve CI failure in Markdown Lint
  README.md
Due: rumdl-check

feat(ui): replace mouse-hover underline/reverse with bg band + accent fill
  src/app/mod.rs
  src/app/view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: focus session list before panel toggles in demo tapes
  docs/media/thurbox-file-manager.gif
  docs/media/thurbox-file-manager.mp4
  docs/media/thurbox-info-panel.gif
  docs/media/thurbox-info-panel.mp4
  scripts/demo/file-manager.tape
  scripts/demo/info-panel.tape
Due: none

docs: compare thurbox vs parallel-agent tools
  README.md
  website/_includes/sidebar.njk
  website/docs/comparison.html
  website/docs/index.html
Due: rumdl-check

docs: fact-check comparison table against tool sources
  README.md
  website/docs/comparison.html
Due: rumdl-check

feat(ui): show keyboard shortcut on each footer button
  src/app/snapshots/thurbox__app__acceptance__automations_list_modal_empty.snap
  src/app/snapshots/thurbox__app__acceptance__empty_welcome_screen_renders.snap
  src/app/snapshots/thurbox__app__acceptance__help_overlay_lists_keybindings.snap
  src/app/snapshots/thurbox__app__acceptance__restore_sessions_modal_empty.snap
  src/app/snapshots/thurbox__app__acceptance__theme_picker_lists_palettes.snap
  src/app/view.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add scannable keyword column to settings panel
  CLAUDE.md
  src/app/modals.rs
  src/ui/settings_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): native code-review view (diff + comments + tree)
  .claude/skills/ui-review/scripts/capture.sh
  .claude/skills/ui-review/tapes/screenshots.tape
  CLAUDE.md
  README.md
  docs/CONFIG.md
  docs/FEATURES.md
  docs/media/code-review-demo.gif
  docs/media/code-review-demo.mp4
  scripts/demo/code-review.tape
  scripts/demo/record.sh
  src/agent/themes_config.rs
  src/app/acceptance.rs
  src/app/code_review.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/new_session_state.rs
  src/app/view.rs
  src/git/mod.rs
  src/session/keybindings.rs
  src/session/mod.rs
  src/session/review.rs
  src/session/settings.rs
  src/session/theme_config.rs
  src/session_ops/spawn.rs
  src/storage/mod.rs
  src/storage/review.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/ui/code_review.rs
  src/ui/mod.rs
  src/ui/settings_modal.rs
  src/ui/syntax.rs
  src/ui/theme.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(ui): tidy code-review state accessors and row helpers
  src/app/code_review.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: document the native code-review view + re-record demos
  README.md
  docs/FEATURES.md
  docs/media/automations-demo.gif
  docs/media/automations-demo.mp4
  docs/media/code-review-demo.gif
  docs/media/code-review-demo.mp4
  docs/media/search-demo.gif
  docs/media/search-demo.mp4
  docs/media/tasks-demo.gif
  docs/media/tasks-demo.mp4
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  docs/media/thurbox-file-manager.gif
  docs/media/thurbox-file-manager.mp4
  docs/media/thurbox-fork.gif
  docs/media/thurbox-fork.mp4
  docs/media/thurbox-info-panel.gif
  docs/media/thurbox-info-panel.mp4
  docs/media/thurbox-session-creation.gif
  docs/media/thurbox-session-creation.mp4
  docs/media/thurbox-theme.gif
  docs/media/thurbox-theme.mp4
  website/_includes/sidebar.njk
  website/docs/configuration.html
  website/docs/features.html
  website/docs/keybindings.html
  website/index.html
Due: rumdl-check

refactor(ui): cut code-review cognitive complexity; fix shellcheck
  .claude/skills/ui-review/scripts/capture.sh
  src/app/code_review.rs
  src/app/mod.rs
  src/app/view.rs
  src/session/review.rs
  src/ui/code_review.rs
  src/ui/syntax.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): focusable changed-files pane in code review
  CLAUDE.md
  src/app/acceptance.rs
  src/app/code_review.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/ui/code_review.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: re-record code-review demo so the branch diff renders
  docs/media/code-review-demo.gif
  docs/media/code-review-demo.mp4
  scripts/demo/code-review.tape
  scripts/demo/record.sh
Due: none

docs: surface code review on homepage and comparison table
  website/docs/comparison.html
  website/index.html
Due: none

fix(ui): code-review scrollbar thumb reaches the bottom
  src/ui/code_review.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: add code_review feature flag to website config table
  website/docs/configuration.html
Due: none

feat(ui): make automations/tasks panes rebindable; coherent shortcuts
  CLAUDE.md
  docs/FEATURES.md
  src/app/automation.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/snapshots/thurbox__app__acceptance__help_overlay_lists_keybindings.snap
  src/app/tasks.rs
  src/app/view.rs
  src/session/keybindings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: add code review column to README comparison table
  README.md
Due: rumdl-check

ci: skip irrelevant jobs per PR via path filtering
  .github/workflows/ci.yml
Due: none

ci: re-run every job when the workflow file itself changes
  .github/workflows/ci.yml
Due: none

docs: add CONTRIBUTING guide
  CONTRIBUTING.md
Due: rumdl-check

docs: add website SEO/social metadata for discoverability
  eleventy.config.js
  scripts/dev/render-og-image.sh
  website/CNAME
  website/_data/site.json
  website/_includes/base.njk
  website/assets/og-image.png
  website/assets/og-image.svg
  website/robots.txt
  website/sitemap.njk
  website/website.11tydata.js
Due: none

docs: add llms.txt and FAQ page for generative-engine visibility
  eleventy.config.js
  website/_includes/sidebar.njk
  website/docs/faq.html
  website/docs/index.html
  website/llms.txt
Due: none

fix(ui): highlight code-review footer buttons and restyle for consistency
  src/app/acceptance.rs
  src/app/view.rs
  src/ui/code_review.rs
  src/ui/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest
