Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

test(core): wait asynchronously in the slow-open backoff test, and make the demo recorder reap every tmux server it started
  scripts/demo/layouts/record.sh
  src/kernel/terminal/decoupling.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): restore edited layout after a failed preset write
  Cargo.toml
  src/kernel/presets.rs
  tests/layout_presets.rs
  ui/AGENTS.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): keep a just-opened shell's grid, which only opens because a pane is about to draw it
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): re-record the layout demos on the finished branch
  media/layout-classic.gif
  media/layout-classic.mp4
  media/layout-focus.gif
  media/layout-focus.mp4
  media/layout-ide.gif
  media/layout-ide.mp4
  media/layout-split-shell.gif
  media/layout-split-shell.mp4
Due: none

fix(core): settle the rebase onto main's lazy terminals, focus border and search publish
  docs/PERFORMANCE.md
  docs/V2-KERNEL.md
  src/agent/backend.rs
  src/kernel/terminal/decoupling.rs
  src/main.rs
  tests/layout_presets.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(ui): re-record the layout demos against main's focused-pane border
  media/layout-classic.gif
  media/layout-classic.mp4
  media/layout-focus.gif
  media/layout-focus.mp4
  media/layout-ide.gif
  media/layout-ide.mp4
  media/layout-split-shell.gif
  media/layout-split-shell.mp4
Due: none

test(ui): pin the two names lib.panels gains
  tests/fixtures/edited_interface/lib_surface.txt
Due: none

docs(docs): refresh rebased echo benchmark
  docs/BENCHMARK-MULTIPLEXERS.md
  docs/benchmark-multiplexers/echo-and-create/head/results.csv
  docs/benchmark-multiplexers/echo-and-create/head/results.json
  docs/benchmark-multiplexers/echo-and-create/head/summary.md
Due: rumdl-check

fix(core): sequence only parsed output
  src/agent/backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): record final rebased echo benchmark
  docs/BENCHMARK-MULTIPLEXERS.md
  docs/benchmark-multiplexers/echo-and-create/head/results.csv
  docs/benchmark-multiplexers/echo-and-create/head/results.json
  docs/benchmark-multiplexers/echo-and-create/head/summary.md
Due: rumdl-check

refactor(core): group reader output signals
  src/agent/backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): record final reader benchmark
  docs/BENCHMARK-MULTIPLEXERS.md
  docs/benchmark-multiplexers/echo-and-create/head/results.csv
  docs/benchmark-multiplexers/echo-and-create/head/results.json
  docs/benchmark-multiplexers/echo-and-create/head/summary.md
Due: rumdl-check

fix(core): reconcile pane reader state after rebase
  src/agent/backend.rs
  tests/lazy_terminals.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): retry shared pane size retakes
  src/agent/backend.rs
  tests/lazy_terminals.rs
  tests/shared_pane_size.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(ui): synchronize shell restart marker
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): stabilize terminal end-to-end checks
  tests/lazy_terminals.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): record quiet-machine echo comparison
  docs/BENCHMARK-MULTIPLEXERS.md
  docs/benchmark-multiplexers/echo-and-create/quiet-head/results.csv
  docs/benchmark-multiplexers/echo-and-create/quiet-head/results.json
  docs/benchmark-multiplexers/echo-and-create/quiet-head/summary.md
Due: rumdl-check

style(core): use method reference in tmux setup
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): compare final-head latency and resource costs
  docs/BENCHMARK-MULTIPLEXERS.md
  docs/benchmark-multiplexers/echo-and-create/current-latency-throughput/results.csv
  docs/benchmark-multiplexers/echo-and-create/current-latency-throughput/results.json
  docs/benchmark-multiplexers/echo-and-create/current-latency-throughput/summary.md
  docs/benchmark-multiplexers/echo-and-create/current-resources/results.csv
  docs/benchmark-multiplexers/echo-and-create/current-resources/results.json
  docs/benchmark-multiplexers/echo-and-create/current-resources/summary.md
Due: rumdl-check

docs(docs): normalize raw benchmark CSV line endings
  docs/benchmark-multiplexers/echo-and-create/after/results.csv
  docs/benchmark-multiplexers/echo-and-create/before/results.csv
  docs/benchmark-multiplexers/echo-and-create/head/results.csv
Due: none

perf(core): paint a keystroke's echo at once and create a session in one tmux call (#1250)
  .agents/skills/thurbox-performance/SKILL.md
  Cargo.toml
  docs/ARCHITECTURE.md
  docs/BENCHMARK-MULTIPLEXERS.md
  docs/PERFORMANCE.md
  docs/benchmark-multiplexers/echo-and-create/after/results.csv
  docs/benchmark-multiplexers/echo-and-create/after/results.json
  docs/benchmark-multiplexers/echo-and-create/after/summary.md
  docs/benchmark-multiplexers/echo-and-create/before/results.csv
  docs/benchmark-multiplexers/echo-and-create/before/results.json
  docs/benchmark-multiplexers/echo-and-create/before/summary.md
  docs/benchmark-multiplexers/echo-and-create/current-latency-throughput/results.csv
  docs/benchmark-multiplexers/echo-and-create/current-latency-throughput/results.json
  docs/benchmark-multiplexers/echo-and-create/current-latency-throughput/summary.md
  docs/benchmark-multiplexers/echo-and-create/current-resources/results.csv
  docs/benchmark-multiplexers/echo-and-create/current-resources/results.json
  docs/benchmark-multiplexers/echo-and-create/current-resources/summary.md
  docs/benchmark-multiplexers/echo-and-create/head/results.csv
  docs/benchmark-multiplexers/echo-and-create/head/results.json
  docs/benchmark-multiplexers/echo-and-create/head/summary.md
  docs/benchmark-multiplexers/echo-and-create/quiet-head/results.csv
  docs/benchmark-multiplexers/echo-and-create/quiet-head/results.json
  docs/benchmark-multiplexers/echo-and-create/quiet-head/summary.md
  src/agent/backend.rs
  src/agent/mod.rs
  src/agent/output_wake.rs
  src/agent/tmux.rs
  src/cli/perf.rs
  src/coordinator/boot.rs
  src/coordinator/chrome.rs
  src/coordinator/draw.rs
  src/coordinator/input.rs
  src/coordinator/mod.rs
  src/kernel/node.rs
  src/kernel/perf.rs
  src/kernel/terminal/mod.rs
  src/main.rs
  tests/lazy_terminals.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): preserve search highlights without color
  src/coordinator/draw.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): preserve search highlights without color (#1253)
  src/coordinator/draw.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): pin benchmark links to final report commit
  website/docs/performance.html
Due: none

docs(docs): present measured multiplexer tradeoffs
  media/performance-page-after.webp
  media/performance-page-before.webp
  media/performance-page-mobile.webp
  website/css/docs.css
  website/docs/comparison.html
  website/docs/index.html
  website/docs/performance.html
  website/index.html
Due: none

fix: satisfy clippy's disallowed-names and tighten the swallow comment
  tests/textinput.rs
  ui/lib/textinput.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): type a paste into a field rather than firing its chords
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  src/coordinator/input.rs
  tests/textinput.rs
  tests/tui_e2e.rs
  ui/README.md
  ui/lib/textinput.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): paste into the search strip and edit its query by word
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  src/coordinator/boot.rs
  src/coordinator/draw.rs
  src/coordinator/input.rs
  src/kernel/node.rs
  src/main.rs
  tests/tui_e2e.rs
  ui/lib/textinput.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(docs): explain benchmark session workloads
  media/performance-page-after.webp
  media/performance-page-mobile.webp
  website/docs/performance.html
Due: none

docs(docs): publish measured multiplexer comparison (#1254)
  media/performance-page-after.webp
  media/performance-page-before.webp
  media/performance-page-mobile.webp
  website/css/docs.css
  website/docs/comparison.html
  website/docs/index.html
  website/docs/performance.html
  website/index.html
Due: none

fix(ui): paste into the search strip and edit its query by word (#1241)
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  src/coordinator/boot.rs
  src/coordinator/draw.rs
  src/coordinator/input.rs
  src/kernel/node.rs
  src/main.rs
  tests/textinput.rs
  tests/tui_e2e.rs
  ui/README.md
  ui/lib/textinput.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): add opt-in local RMUX backend
  .agents/skills/thurbox-testing/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/agent/control_mode/mod.rs
  src/agent/preflight.rs
  src/agent/registry.rs
  src/agent/tmux.rs
  src/agent/transport.rs
  src/cli/action.rs
  src/cli/automations.rs
  src/cli/doctor.rs
  src/cli/messages.rs
  src/cli/mod.rs
  src/cli/session_doctor.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/cli/watch.rs
  src/kernel/command/execute.rs
  src/kernel/snapshot.rs
  src/session/host_def.rs
  src/session_ops/delete.rs
  src/session_ops/mod.rs
  src/session_ops/rename.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  src/session_ops/spawn.rs
  src/storage/sessions.rs
  tests/create_e2e.rs
  tests/kernel_mvp.rs
  tests/reap_e2e.rs
  tests/rmux_e2e.rs
  website/docs/configuration.html
  website/docs/faq.html
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): preserve RMUX backend on fork and adopt
  src/cli/sessions.rs
  src/session_ops/mod.rs
  tests/rmux_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): keep automation reuse on its selected backend
  src/cli/automations.rs
  tests/rmux_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): preserve the doctor Rust entry point
  src/cli/doctor.rs
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): require explicit local mux context
  docs/ARCHITECTURE.md
  src/agent/control_mode/mod.rs
  src/agent/tmux.rs
  src/agent/transport.rs
  src/cli/action.rs
  src/cli/automations.rs
  src/cli/messages.rs
  src/cli/session_doctor.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/cli/watch.rs
  src/kernel/command/execute.rs
  src/kernel/snapshot.rs
  src/session_ops/delete.rs
  src/session_ops/mod.rs
  src/session_ops/rename.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  src/session_ops/spawn.rs
  tests/concurrent_respawn.rs
  tests/missing_dependency_messages.rs
  tests/one_window_per_stamp.rs
  tests/reap_e2e.rs
  tests/rmux_e2e.rs
  tests/spawn_with_failing_tmux_hook.rs
  tests/window_remain_on_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): preserve legacy task reuse and queued message results
  src/agent/tmux.rs
  src/cli/automations.rs
  src/cli/messages.rs
  src/cli/tasks.rs
  tests/rmux_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(config): document persistent RMUX selection
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  website/docs/configuration.html
  website/docs/features.html
Due: rumdl-check

feat(config): select RMUX for new local sessions
  src/agent/preflight.rs
  src/agent/settings_config.rs
  src/agent/tmux.rs
  src/cli/automations.rs
  src/cli/doctor.rs
  src/cli/mod.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/kernel/command/execute.rs
  src/kernel/config.rs
  src/kernel/snapshot.rs
  src/session/settings.rs
  src/session_ops/extensions/lifecycle.rs
  src/session_ops/spawn.rs
  tests/core_settings.rs
  tests/rmux_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): reject unsupported remote RMUX hosts
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/CONFIG.md
  src/agent/tmux.rs
  src/session_ops/spawn.rs
  tests/rmux_e2e.rs
  website/docs/configuration.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
