Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

docs(core): document scheduled commands, worktree sync, and keybinding updates
  docs/FEATURES.md
  website/docs/features.html
  website/docs/keybindings.html
Due: rumdl-check

docs(core): fix containerfile path, promote scheduled commands and worktree sync
  README.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/agent/devcontainer.rs
  src/app/mod.rs
  website/docs/architecture.html
  website/docs/features.html
  website/docs/index.html
  website/docs/installation.html
  website/docs/keybindings.html
  website/docs/mcp.html
  website/docs/roles.html
  website/index.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): stop capture-pane from displacing terminal cursor position
  src/agent/backend.rs
  src/agent/devcontainer.rs
  src/agent/tmux.rs
  src/agent/vm.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): integrate admin into projects list with separator
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): sync active session when switching to empty project
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): add website badge to README
  README.md
Due: rumdl-check

fix(git): move worktrees to XDG data dir to prevent duplicate skills
  src/git/mod.rs
  src/paths.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): update statusLine when it points to a stale Thurbox path
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): auto-expire status bar messages after 5 seconds
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): extend session search to role & branch, anchor bar below section
  README.md
  docs/FEATURES.md
  src/app/fuzzy.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/ui/project_list.rs
  website/docs/features.html
  website/docs/keybindings.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): fix focus after deleting last session in project
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test: add comprehensive coverage for session deletion focus behavior
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add dedicated SEARCH_BAR color to theme
  src/ui/project_list.rs
  src/ui/theme.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: add sonarqube analysis
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

docs: add sonar status badge
  README.md
Due: rumdl-check

fix(ui): add scroll support to branch selector modal
  src/ui/branch_selector_modal.rs
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): forward Ctrl+R to PTY when terminal is focused
  src/app/key_handlers.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): session-centric workflow with per-repo worktree toggle
  src/app/key_handlers.rs
  src/app/mcp_editor_modal.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/provisioning.rs
  src/app/view.rs
  src/fuzzy.rs
  src/git/mod.rs
  src/lib.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/project/mod.rs
  src/session/mod.rs
  src/storage/mcp_servers.rs
  src/storage/mod.rs
  src/storage/repo_bookmarks.rs
  src/storage/roles.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  src/storage/worktrees.rs
  src/sync/delta.rs
  src/sync/state.rs
  src/ui/edit_project_modal.rs
  src/ui/info_panel.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/repo_picker_modal.rs
  src/ui/settings_overlay.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: update docs for session-centric workflow and global roles
  CLAUDE.md
  README.md
  docs/FEATURES.md
  docs/MCP_ROLES.md
  website/docs/features.html
  website/docs/mcp.html
  website/docs/roles.html
  website/index.html
Due: rumdl-check

fix(ui): sync only active session worktree instead of all sessions
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): use bracketed paste for atomic clipboard pasting
  Cargo.lock
  src/app/key_handlers.rs
  src/app/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add dim overlay and styled modal frames for better distinction
  src/app/view.rs
  src/ui/add_project_modal.rs
  src/ui/branch_selector_modal.rs
  src/ui/containerfile_picker.rs
  src/ui/delete_project_modal.rs
  src/ui/mcp_editor_modal.rs
  src/ui/mod.rs
  src/ui/repo_picker_modal.rs
  src/ui/repo_selector_modal.rs
  src/ui/restore_sessions_modal.rs
  src/ui/role_editor_modal.rs
  src/ui/role_selector_modal.rs
  src/ui/schedule_command_modal.rs
  src/ui/session_mode_modal.rs
  src/ui/settings_overlay.rs
  src/ui/theme.rs
  src/ui/worktree_name_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add scheduled commands visibility and management
  CLAUDE.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/ui/info_panel.rs
  src/ui/mod.rs
  src/ui/restore_sessions_modal.rs
  src/ui/schedule_command_modal.rs
  src/ui/scheduled_commands_list_modal.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): add manual session naming modal before spawn
  src/agent/tmux.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/ui/mod.rs
  src/ui/session_name_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): prevent admin project from being default selection on startup
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

style(ui): fix rustfmt formatting in test
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): remove project concept from thurbox and thurbox-mcp
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/provisioning.rs
  src/app/state.rs
  src/app/view.rs
  src/lib.rs
  src/mcp/mod.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/project/mod.rs
  src/storage/audit.rs
  src/storage/containers.rs
  src/storage/mcp_servers.rs
  src/storage/mod.rs
  src/storage/projects.rs
  src/storage/roles.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  src/storage/vms.rs
  src/storage/worktrees.rs
  src/sync/delta.rs
  src/sync/mod.rs
  src/sync/state.rs
  src/ui/add_project_modal.rs
  src/ui/delete_project_modal.rs
  src/ui/mcp_editor_modal.rs
  src/ui/mod.rs
  src/ui/role_editor_modal.rs
  src/ui/status_bar.rs
  src/ui/theme.rs
  tests/architecture_rules.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(docs): update CLAUDE.md to reflect project removal
  CLAUDE.md
Due: rumdl-check

fix(core): reload global roles and MCP servers on external DB changes
  src/app/mod.rs
  src/sync/mod.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add session status dots overview in session list title bar
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): add scrolling to tool lists in role and MCP editor modals
  src/ui/role_editor_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(config): make renovate dependency updates trigger patch releases
  renovate.json
Due: none

fix(core): sanitize newlines in shell_escape for tmux control mode
  src/agent/control_mode.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(config): override preset packageRules to use fix(deps) for all updates
  renovate.json
Due: none

docs(ui): update demo video with latest recording at 2x speed
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  website/assets/thurbox-demo.gif
Due: none

fix(deps): rename rustls-tls feature to rustls for reqwest 0.13
  Cargo.lock
  Cargo.toml
Due: none

feat(ui): ask session name before branch name in worktree flow
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(deps): update stylelint to v17 and stylelint-config-standard to v40
  package-lock.json
  package.json
  website/css/base.css
  website/css/docs.css
  website/css/landing.css
  website/css/variables.css
Due: none

fix(mcp): adapt ServerInfo construction for rmcp v1 non-exhaustive API
  Cargo.lock
  src/bin/thurbox-mcp.rs
  src/mcp/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

style(mcp): fix rustfmt formatting
  src/bin/thurbox-mcp.rs
  src/mcp/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest
