Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

feat(core): add session restore with undo and deleted sessions modal
  CLAUDE.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/git/mod.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/storage/mod.rs
  src/storage/sessions.rs
  src/ui/mod.rs
  src/ui/restore_sessions_modal.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

build(config): remove --check from cargo-fmt pre-commit hook
  .pre-commit-config.yaml
Due: none

docs: add Ctrl+S, Ctrl+Z, Ctrl+U keybindings and fix stale doc content
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  docs/README.md
Due: rumdl-check

feat(core): add env vars to roles with TUI editor and tmux injection
  docs/MCP_ROLES.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/claude/backend.rs
  src/claude/tmux.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/session/mod.rs
  src/storage/roles.rs
  src/storage/schema.rs
  src/ui/role_editor_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): add env vars to roles with TUI editor and tmux injection
  src/mcp/tools.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): introduce AgentProvider trait and rename claude/ to agent/
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/CONSTITUTION.md
  docs/FEATURES.md
  src/agent/backend.rs
  src/agent/claude.rs
  src/agent/input.rs
  src/agent/mod.rs
  src/agent/provider.rs
  src/agent/tmux.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/state.rs
  src/lib.rs
  src/main.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/session/mod.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  src/storage/worktrees.rs
  src/sync/delta.rs
  src/sync/state.rs
  src/ui/info_panel.rs
  tests/architecture_rules.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): improve admin session context and permissions
  docs/FEATURES.md
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): add QEMU/KVM sandbox VM session backend
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/CONSTITUTION.md
  docs/FEATURES.md
  src/agent/backend.rs
  src/agent/control_mode.rs
  src/agent/mod.rs
  src/agent/registry.rs
  src/agent/tmux.rs
  src/agent/vm.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/main.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/session/mod.rs
  src/storage/mod.rs
  src/storage/schema.rs
  src/storage/vms.rs
  src/ui/info_panel.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/session_mode_modal.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): move Admin section above Projects in left panel
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): seed default developer role into new and existing projects
  src/app/mod.rs
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add htop-style system metrics to info panel
  Cargo.lock
  Cargo.toml
  src/agent/backend.rs
  src/agent/tmux.rs
  src/app/mod.rs
  src/ui/info_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix: add pane_pid() to VM backend and registry stub
  src/agent/registry.rs
  src/agent/vm.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(ui): improve system metrics code quality and add tests
  src/agent/registry.rs
  src/agent/tmux.rs
  src/agent/vm.rs
  src/app/mod.rs
  src/ui/info_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): show VM session CPU/memory in info panel
  src/agent/vm.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(ui): improve info panel readability and density
  src/app/mod.rs
  src/ui/info_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): use non-login shell in tmux to preserve user PATH
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add text selection and copy-paste support
  Cargo.lock
  Cargo.toml
  deny.toml
  src/app/key_handlers.rs
  src/app/mod.rs
  src/main.rs
  src/ui/mod.rs
  src/ui/selection.rs
  src/ui/theme.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): remove auto-session spawning on startup
  src/agent/tmux.rs
  src/app/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): add devcontainer session backend
  src/agent/backend.rs
  src/agent/devcontainer.rs
  src/agent/mod.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/main.rs
  src/paths.rs
  src/session/mod.rs
  src/storage/containers.rs
  src/storage/mod.rs
  src/storage/schema.rs
  src/ui/containerfile_picker.rs
  src/ui/info_panel.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: update README, CLAUDE.md, FEATURES, and ARCHITECTURE for new features
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
Due: rumdl-check

refactor(ui): rename "Sandbox VM" → "VM" and "Devcontainer" → "Container"
  README.md
  docs/FEATURES.md
  src/agent/vm.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/mcp/tools.rs
  src/ui/info_panel.rs
  src/ui/session_mode_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): sync worktrees of active project only
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(mcp): add containerfile, container config, and VM image tools
  CLAUDE.md
  src/app/mod.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/paths.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(mcp): add containerfile, container config, and VM image tools
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(mcp): move containerfiles and images dirs under admin/
  src/mcp/tools.rs
  src/paths.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): non-blocking container/VM session restoration with loading UI
  src/agent/backend.rs
  src/agent/devcontainer.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): architecture, safety & quality improvements (Phases 1-6)
  src/app/helpers.rs
  src/app/key_handlers.rs
  src/app/mcp_editor_modal.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/provisioning.rs
  src/app/view.rs
  src/ui/containerfile_picker.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): preserve worktrees, containers, and VMs on soft delete
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add agent monitoring to info panel
  src/app/mod.rs
  src/app/view.rs
  src/main.rs
  src/paths.rs
  src/session/mod.rs
  src/ui/info_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

ci(ui): add HTML/CSS/JS linting for website/
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  .gitignore
  .htmlhintrc
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json
  .stylelintrc.json
  CLAUDE.md
  eslint.config.js
  package-lock.json
  package.json
  website/assets/favicon.svg
  website/assets/thurbox-demo.gif
  website/css/base.css
  website/css/components.css
  website/css/docs.css
  website/css/landing.css
  website/css/layout.css
  website/css/variables.css
  website/docs/architecture.html
  website/docs/features.html
  website/docs/index.html
  website/docs/installation.html
  website/docs/keybindings.html
  website/docs/mcp.html
  website/docs/roles.html
  website/index.html
  website/js/main.js
Due: rumdl-check

feat(core): add scheduled commands with tmux-based external dispatch and TUI modal
  CLAUDE.md
  src/agent/tmux.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/mcp/mod.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/session/mod.rs
  src/storage/mod.rs
  src/storage/scheduled_commands.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/ui/mod.rs
  src/ui/schedule_command_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): fix agent metrics JSON paths and statusline script fallback
  src/app/mod.rs
  src/ui/info_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): update website demo to mp4 and rebrand as Agent Orchestrator
  .github/workflows/pages.yml
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  src/ui/status_bar.rs
  website/css/base.css
  website/css/landing.css
  website/index.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): fix session CPU/RAM metrics accuracy and display
  src/app/mod.rs
  src/ui/info_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): expand tilde in user-provided repo paths
  src/app/key_handlers.rs
  src/app/mod.rs
  src/mcp/tools.rs
  src/paths.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): make Ctrl+H/L cycle focus and improve keybinding visibility
  CLAUDE.md
  docs/FEATURES.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
