Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

fix(mcp): fix non-exhaustive struct in integration test
  tests/mcp_http_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add Ctrl+F to fork active session
  CLAUDE.md
  src/agent/claude.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(config): exclude .claude from markdown lint
  .rumdl.toml
Due: none

feat(config): update publish skill with monitor and validate phase
  .claude/skills/publish/SKILL.md
Due: rumdl-check

feat(config): add publish skill for Claude Code
  .claude/skills/publish/SKILL.md
Due: rumdl-check

feat(mcp): add MCP server picker and pass config to Claude Code sessions
  src/agent/claude.rs
  src/app/helpers.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/session/mod.rs
  src/ui/mcp_server_picker_modal.rs
  src/ui/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(git): fetch origin and add remote branch option before worktree creation
  src/app/key_handlers.rs
  src/git/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add skill selection for Claude Code sessions
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/session/mod.rs
  src/storage/mod.rs
  src/storage/schema.rs
  src/storage/skills.rs
  src/ui/mod.rs
  src/ui/settings_overlay.rs
  src/ui/skill_picker_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: update documentation and website to match current codebase
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  website/docs/features.html
  website/docs/keybindings.html
  website/docs/mcp.html
  website/docs/roles.html
  website/index.html
Due: rumdl-check

fix: resolve CI failures for dependency update
  src/mcp/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(mcp): remove stale tool_router field from test_server helper
  src/mcp/tools.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): inject session context into system prompt for new sessions
  src/app/helpers.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): clean up session context prompt builder
  .claude/skills/Publish
  src/app/helpers.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix: resolve CI failure
  src/app/helpers.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add fuzzy search and bookmark deletion to repo picker
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/ui/repo_picker_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): correct rustfmt formatting in repo picker
  src/ui/repo_picker_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(ui): clean up repo picker search implementation
  src/app/key_handlers.rs
  src/app/modals.rs
  src/ui/repo_picker_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): stage skills outside worktree via CLAUDE_CONFIG_DIR
  src/agent/mod.rs
  src/agent/skill_staging.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): open active session's worktrees in editor with Ctrl+O
  CLAUDE.md
  README.md
  docs/FEATURES.md
  src/app/helpers.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/storage/mod.rs
  src/storage/settings.rs
  website/docs/keybindings.html
  website/docs/mcp.html
  website/index.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

style: rustfmt
  .gitignore
  src/mcp/tools.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): detach editor process group so GUI editors launch on WSL
  src/app/helpers.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): gate Ctrl+O editor shortcut on session-list focus
  src/app/key_handlers.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(mcp): add orchestrator-mode tools for multi-agent coordination
  CLAUDE.md
  docs/FEATURES.md
  src/agent/tmux.rs
  src/app/mod.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  website/docs/features.html
  website/docs/mcp.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

style: apply rustfmt
  src/agent/tmux.rs
  src/app/mod.rs
  src/mcp/types.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): route admin spawn through role/mcp/skill pickers with defaults
  src/app/key_handlers.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: update README and design docs to reflect flat session model, Ctrl+O editor integration, and 24 MCP tools
  README.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  docs/MCP_ROLES.md
Due: rumdl-check

docs: restructure README and landing page to highlight orchestrator mode
  README.md
  website/index.html
Due: rumdl-check

fix(docs): replace emphasis pseudo-headings with h3 and format landing page with prettier
  README.md
  website/index.html
Due: rumdl-check

ci: remove push trigger from CI workflow
  .github/workflows/ci.yml
Due: none

docs: position Thurbox as an agentic IDE
  Cargo.lock
  README.md
  website/index.html
Due: rumdl-check

feat(cli): add thurbox-cli binary with standalone session ops
  Cargo.toml
  src/agent/tmux.rs
  src/app/mod.rs
  src/bin/thurbox-cli.rs
  src/cli/containerfiles.rs
  src/cli/editor.rs
  src/cli/mcp_servers.rs
  src/cli/mod.rs
  src/cli/roles.rs
  src/cli/scheduled.rs
  src/cli/sessions.rs
  src/cli/vm_images.rs
  src/cli/vms.rs
  src/lib.rs
  src/mcp/tools.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
  src/session_ops/spawn.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(cli): deduplicate helpers to satisfy sonar quality gate
  src/cli/containerfiles.rs
  src/cli/mcp_servers.rs
  src/cli/mod.rs
  src/cli/roles.rs
  src/mcp/tools.rs
  src/paths.rs
  src/session_ops/spawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(mcp): add skill registry tools to MCP server and CLI
  CLAUDE.md
  src/app/mod.rs
  src/cli/mod.rs
  src/cli/skills.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/paths.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): add right-side file viewer panel with search
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/ui/file_viewer.rs
  src/ui/layout.rs
  src/ui/mod.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): pin admin sessions to top of session list
  src/app/view.rs
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add per-session model selection
  src/agent/backend.rs
  src/agent/claude.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/cli/sessions.rs
  src/mcp/tools.rs
  src/mcp/types.rs
  src/session/mod.rs
  src/session_ops/spawn.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  src/storage/worktrees.rs
  src/sync/delta.rs
  src/sync/state.rs
  src/ui/info_panel.rs
  src/ui/mod.rs
  src/ui/model_picker_modal.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(ui): extract selector modal helpers to reduce duplication
  src/ui/mod.rs
  src/ui/model_picker_modal.rs
  src/ui/role_selector_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): scope Claude statusLine config to each session's CLAUDE_CONFIG_DIR
  src/agent/skill_staging.rs
  src/app/mod.rs
  src/main.rs
  src/paths.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): persist admin session pinning across restarts
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): avoid --resume on untouched sessions and keep failed windows visible
  src/agent/tmux.rs
  src/app/mod.rs
  src/paths.rs
  src/session_ops/restart.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest
