Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

feat(core): auto-update stale extensions when auto_update is on
  CLAUDE.md
  docs/CONFIG.md
  src/agent/settings_config.rs
  src/session/settings.rs
  src/session_ops/extensions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): apply safe fixes from multi-agent codebase review
  extensions/ci-shepherd/scripts/parse-result.sh
  extensions/flow/claude-settings.json
  scripts/install.sh
  src/agent/control_mode.rs
  src/agent/tmux.rs
  src/app/modals.rs
  src/session/extension_def.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): include shell_backend_id in sync delta comparison
  src/sync/delta.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): slice file-viewer search query on char boundaries
  src/ui/file_viewer.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): restore terminal on startup error; honor XDG_DATA_HOME in db fallback
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): propagate real errors from ALTER-based schema migrations
  src/storage/schema.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): fire macOS notifications, add click-to-focus via terminal-notifier
  CLAUDE.md
  Cargo.toml
  docs/CONFIG.md
  src/cli/mod.rs
  src/cli/sessions.rs
  src/notifications.rs
  src/storage/settings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(docs): backtick angle-bracket placeholder in session focus docstring
  src/cli/sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix: make forge proposals.sh error path reachable and harden apply guard
  extensions/forge/scripts/proposals.sh
Due: none

fix(core): match current worker name convention in shepherd/renovate snapshot filters
  extensions/ci-shepherd/scripts/shepherd-snapshot.sh
  extensions/renovate/scripts/renovate-snapshot.sh
Due: none

fix(core): reference $THURBOX_TASK in shepherd/renovate worker prompts
  extensions/ci-shepherd/scripts/dispatch-fix.sh
  extensions/renovate/scripts/dispatch-update.sh
Due: none

fix(ui): keep selected row visible in tasks panel and automations pane
  src/ui/automations_panel.rs
  src/ui/mod.rs
  src/ui/tasks_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): restrict update/install target map to shipped release triples
  CLAUDE.md
  scripts/install.bats
  scripts/install.sh
  src/agent/self_update.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): sort flow board task ids numerically not lexically
  extensions/flow/scripts/flow-summary.sh
Due: none

fix(core): expand ~\ to home on Windows in expand_tilde
  src/paths.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix: ship LICENSE in release tarball + cd.yml hygiene
  .github/workflows/cd.yml
Due: none

fix(core): preserve env, backend, and workspace across session lifecycle ops
  src/agent/backend.rs
  src/app/acceptance.rs
  src/app/mod.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
  src/session_ops/spawn.rs
  src/storage/sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(config): add version/min_thurbox_version to renovate manifest
  extensions/renovate/extension.toml
Due: none

fix(ui): restore previewed theme when theme picker is cancelled
  src/app/acceptance.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(config): fix stale OS-notifications trigger in CONFIG.md
  docs/CONFIG.md
Due: rumdl-check

test(core): add Pester tests for install.ps1 pure helpers
  .github/workflows/ci.yml
  CLAUDE.md
  scripts/install.Tests.ps1
Due: rumdl-check

fix(core): route tmux discover() through reconnect path; escape shell command
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(cli): cover --add-repo PATH@BASE last-'@' split
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): make enqueue_message cap check atomic with insert
  src/storage/messages.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(config): persist notifications backend in save_settings
  src/agent/settings_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): exercise real App state accessors in state.rs
  src/app/state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): use display width for clickable-link columns on wide-char rows
  Cargo.lock
  Cargo.toml
  src/ui/links.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(core): correct ADR-12 backend type to TmuxBackend over transport
  docs/ARCHITECTURE.md
Due: rumdl-check

chore(core): remove unreferenced test-helpers.bash
  scripts/test-helpers.bash
Due: none

fix(git): use stable worktree hash; derive sync base ref
  CLAUDE.md
  README.md
  docs/FEATURES.md
  src/app/mod.rs
  src/git/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: preflight-check jq in demo record.sh
  scripts/demo/record.sh
Due: none

fix(core): scope mark_session_seen to non-deleted rows; fix notifications doc
  src/notifications.rs
  src/storage/sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): apply automation/task flag handling and validation fixes
  src/cli/automations.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/session/automation.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: add monorepo provisioning recipe to README and website
  README.md
  website/_includes/sidebar.njk
  website/docs/recipes.html
Due: rumdl-check

refactor(core): cut cognitive complexity in action dispatch and status refresh
  src/app/key_handlers.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: bind global search to Ctrl+A in demo so the search strip records
  docs/media/search-demo.gif
  docs/media/search-demo.mp4
  scripts/demo/record.sh
Due: none

chore: focus session list before Ctrl+W in tasks/search demo tapes
  docs/media/search-demo.gif
  docs/media/search-demo.mp4
  docs/media/tasks-demo.gif
  docs/media/tasks-demo.mp4
  scripts/demo/search.tape
  scripts/demo/tasks.tape
Due: none

docs: build-time syntax highlighting for website code blocks
  eleventy.config.js
  package-lock.json
  package.json
  website/css/components.css
  website/docs/agent-hooks.html
  website/docs/architecture.html
  website/docs/configuration.html
  website/docs/extension-ci-shepherd.html
  website/docs/extension-flow.html
  website/docs/extension-forge.html
  website/docs/extension-renovate.html
  website/docs/extensions.html
  website/docs/features.html
  website/docs/installation.html
  website/docs/recipes.html
  website/index.html
  website/js/main.js
Due: none

feat(config): default extension home under config dir
  docs/CONFIG.md
  docs/FEATURES.md
  extensions/ci-shepherd/README.md
  extensions/ci-shepherd/extension.toml
  extensions/ci-shepherd/install.sh
  extensions/flow/README.md
  extensions/flow/extension.toml
  extensions/flow/install.sh
  extensions/forge/README.md
  extensions/forge/extension.toml
  extensions/forge/install.sh
  extensions/forge/proposals.md
  extensions/github-issues/README.md
  extensions/github-issues/extension.toml
  extensions/github-issues/install.sh
  extensions/gitlab-issues/README.md
  extensions/gitlab-issues/extension.toml
  extensions/gitlab-issues/install.sh
  extensions/jira/README.md
  extensions/jira/extension.toml
  extensions/jira/install.sh
  extensions/linear/README.md
  extensions/linear/extension.toml
  extensions/linear/install.sh
  extensions/renovate/README.md
  extensions/renovate/extension.toml
  extensions/renovate/install.sh
  extensions/renovate/scripts/renovate-run.sh
  src/agent/extension_config.rs
  src/session_ops/extensions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
