Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

chore: no-mistakes review - placeholder
  scripts/dev/e2e/linux-container.sh
  src/agent/tmux.rs
  src/cli/sessions.rs
  src/session_ops/delete.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - docs: reflect delegated-delete host_unreachable fallback and agent_window discover_answered fix
  .agents/skills/thurbox-remote-hosts/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
Due: rumdl-check

no-mistakes: apply CI fixes
  tests/shared_sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): decide reachability from the layer that failed, not the message
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  scripts/dev/e2e/linux-container.sh
  src/agent/tmux.rs
  src/agent/transport.rs
  src/cli/tests.rs
  src/session_ops/delete.rs
  src/session_ops/host_cli.rs
  src/session_ops/shared_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes document - docs: fix stale host_never_answered reference in remote-hosts skill
  .agents/skills/thurbox-remote-hosts/SKILL.md
Due: rumdl-check

fix(core): finish remote session teardown when a host is unreachable at delete time (#1088)
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  scripts/dev/e2e/linux-container.sh
  src/agent/tmux.rs
  src/agent/transport.rs
  src/cli/automations.rs
  src/cli/sessions.rs
  src/cli/tests.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/session_ops/delete.rs
  src/session_ops/host_cli.rs
  src/session_ops/mod.rs
  src/session_ops/shared_tests.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  src/storage/sessions.rs
  tests/shared_sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes test - Tolerate expected BrokenPipe in hook_turn_sequence fire() write
  tests/hook_turn_sequence.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - Fix stale flow-extension symlink example in ui/CLAUDE.md, ui/GEMINI.md
  ui/CLAUDE.md
  ui/GEMINI.md
Due: rumdl-check

chore: no-mistakes lint - {"summary": "style: run cargo fmt on hook_turn_sequence.rs assert_eq"}
  tests/hook_turn_sequence.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): give a thurview review an interface delta section
  .agents/skills/thurview/SKILL.md
  .agents/skills/thurview/references/document-authoring.md
  .agents/skills/thurview/references/interface-delta.md
  CONTRIBUTING.md
Due: rumdl-check

docs(docs): rewrite the README for a newcomer
  README.md
  docs/CONFIG.md
  docs/TUTORIAL.md
  website/docs/interface.html
Due: rumdl-check

chore(docs): drop the vendored thurview skill
  .agents/skills/thurview/SKILL.md
  .agents/skills/thurview/references/components.md
  .agents/skills/thurview/references/document-authoring.md
  .agents/skills/thurview/references/lifecycle.md
  .agents/skills/thurview/references/software-map.md
  .agents/skills/thurview/references/theme.md
  .claude/skills/thurview
  CLAUDE.md
  CONTRIBUTING.md
  skills-lock.json
Due: rumdl-check

docs: rewrite README for newcomers and link out to the docs site (#1093)
  README.md
  docs/CONFIG.md
  docs/TUTORIAL.md
  website/docs/interface.html
Due: rumdl-check

chore(docs): drop the vendored thurview skill (#1094)
  .agents/skills/thurview/SKILL.md
  .agents/skills/thurview/references/components.md
  .agents/skills/thurview/references/document-authoring.md
  .agents/skills/thurview/references/lifecycle.md
  .agents/skills/thurview/references/software-map.md
  .agents/skills/thurview/references/theme.md
  .claude/skills/thurview
  CLAUDE.md
  CONTRIBUTING.md
  skills-lock.json
Due: rumdl-check

ci: sync the winget fork before submit and ship on Chocolatey's cadence
  .agents/skills/thurbox-release/SKILL.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  docs/RELEASING.md
  justfile
  packaging/winget/README.md
  packaging/winget/submit-decision.py
  packaging/winget/testdata/checksums-v2.19.6.txt
  packaging/winget/winget.bats
  website/docs/faq.html
Due: rumdl-check

chore: no-mistakes review - docs: fix winget README to not misstate Chocolatey's cadence
  packaging/winget/README.md
Due: rumdl-check

fix(core): resolve a local agent command on thurbox's PATH, not the multiplexer's
  docs/CONFIG.md
  src/agent/tmux.rs
  src/paths/mod.rs
  src/paths/tests.rs
  tests/spawn_command_resolution.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes document - Fix stale winget 30-day-throttle claims on marketing/install pages
  website/docs/installation.html
  website/index.html
Due: none

chore: no-mistakes document - docs(testing): index new spawn_command_resolution e2e test in skill
  .agents/skills/thurbox-testing/SKILL.md
Due: rumdl-check

no-mistakes: apply CI fixes
  src/agent/tmux.rs
  src/paths/tests.rs
  tests/spawn_command_resolution.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes test - fix(core): drain control-mode attach reply before reader thread races it
  src/agent/control_mode/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

ci: gate winget cleanup on what submit did, not what was decided
  .agents/skills/thurbox-release/SKILL.md
  .github/workflows/cd.yml
  packaging/winget/README.md
  packaging/winget/submit-decision.py
  packaging/winget/winget.bats
Due: rumdl-check

fix(core): only resolve a local command against absolute PATH entries
  docs/CONFIG.md
  src/agent/tmux.rs
  src/paths/mod.rs
  src/paths/tests.rs
  tests/path_resolution_absolute.rs
  tests/spawn_command_resolution.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes document - Fix stale classify-verb reference in winget.bats header comment
  packaging/winget/winget.bats
Due: none

chore: no-mistakes document - docs(testing): index new path_resolution_absolute regression test
  .agents/skills/thurbox-testing/SKILL.md
Due: rumdl-check

fix(core): resolve local spawn commands against thurbox's own PATH, skip non-absolute PATH entries (#1100)
  .agents/skills/thurbox-testing/SKILL.md
  docs/CONFIG.md
  src/agent/control_mode/mod.rs
  src/agent/tmux.rs
  src/paths/mod.rs
  src/paths/tests.rs
  tests/path_resolution_absolute.rs
  tests/spawn_command_resolution.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci: sync the winget fork before submit and ship on Chocolatey's cadence (#1099)
  .agents/skills/thurbox-release/SKILL.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  docs/RELEASING.md
  justfile
  packaging/winget/README.md
  packaging/winget/submit-decision.py
  packaging/winget/testdata/checksums-v2.19.6.txt
  packaging/winget/winget.bats
  website/docs/faq.html
  website/docs/installation.html
  website/index.html
Due: rumdl-check

fix(core): keep the local bookmark, and wsl:<us> for the loopback alone
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  src/agent/host_config.rs
  src/session/host_def.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): never register the WSL distro thurbox runs in as a host
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/host_config.rs
  src/session/host_def.rs
  src/session/mod.rs
  src/session_ops/spawn.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - move WSL loopback heal out of the migration, key it on the registry
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  src/agent/host_config.rs
  src/coordinator/boot.rs
  src/session/host_def.rs
  src/session/mod.rs
  src/session_ops/mod.rs
  src/session_ops/wsl_loopback.rs
  src/storage/mod.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  src/storage/wsl_repair.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - re-register WSL shadow hosts, heal from every startup
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/agent/host_config.rs
  src/bin/thurbox-cli.rs
  src/coordinator/boot.rs
  src/session/host_def.rs
  src/session/mod.rs
  src/session_ops/wsl_loopback.rs
  src/storage/wsl_repair.rs
  tests/wsl_loopback_repair_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): defer a WSL shadow on the distro it reaches, never on the name
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/agent/host_config.rs
  src/bin/thurbox-cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - drop the WSL shadow rename, keep bookmark subtrees intact
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/agent/host_config.rs
  src/coordinator/boot.rs
  src/session/host_def.rs
  src/session_ops/wsl_loopback.rs
  src/storage/wsl_repair.rs
  tests/wsl_loopback_repair_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - withhold WSL repair candidates a served host claims
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/agent/host_config.rs
  src/session/host_def.rs
  src/session_ops/wsl_loopback.rs
  src/storage/wsl_repair.rs
  tests/wsl_loopback_repair_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - retire WSL repair on a settled answer, pin discovery in tests
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  src/agent/host_config.rs
  src/session/host_def.rs
  src/session_ops/wsl_loopback.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - reach agent by path, report only rows actually withheld
  docs/ARCHITECTURE.md
  src/session_ops/wsl_loopback.rs
  src/storage/wsl_repair.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - settle the WSL repair off WSL before reading hosts.toml
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  src/agent/host_config.rs
  src/session_ops/wsl_loopback.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - drop unused repair predicate, fix private intra-doc link
  src/agent/host_config.rs
  src/storage/wsl_repair.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
