Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

test: spell the typed keys as a byte string for clippy
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(ui): read a key event in its own method
  src/coordinator/input.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(api): manage automations from interface plugins
  docs/PLUGINS.md
  src/coordinator/commands.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/kernel/host/publish.rs
  src/kernel/snapshot.rs
  src/session/automation.rs
  tests/chrome.rs
  tests/kernel_mvp.rs
  ui/lib/thurbox.d.lua
  website/_data/plugins.json
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(api): never re-arm a fire an edit raced
  docs/PLUGINS.md
  src/kernel/command/execute.rs
  src/storage/automations.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(api): gate exec automation writes on run, keep pending fires
  docs/PLUGINS.md
  src/coordinator/commands.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/kernel/snapshot.rs
  src/storage/automations.rs
  tests/kernel_mvp.rs
  ui/lib/thurbox.d.lua
  website/_data/plugins.json
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: pin the automations catalog GIF to the commit that has it
  website/_data/plugins.json
Due: none

refactor(api): split an automation edit's own rules out of save_automation
  src/kernel/command/execute.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest
