Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

feat(ui): custom themes via themes.toml
  CLAUDE.md
  docs/CONFIG.md
  src/agent/mod.rs
  src/agent/themes_config.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/cli/config.rs
  src/main.rs
  src/session/theme_config.rs
  src/ui/theme.rs
  src/ui/theme_picker_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): live-reload agents.toml and keybindings.json
  docs/CONFIG.md
  src/app/config_reload.rs
  src/app/key_handlers.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: document parent session ids (lead/worker linkage)
  CLAUDE.md
  docs/FEATURES.md
Due: rumdl-check

feat(ui): nest child sessions under their parent in the session list
  src/app/view.rs
  src/ui/info_panel.rs
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): add parent_session_id to sessions for lead/worker orchestration
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/new_session_state.rs
  src/cli/automations.rs
  src/cli/mod.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/session/mod.rs
  src/session_ops/delete.rs
  src/session_ops/spawn.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  src/storage/worktrees.rs
  src/sync/delta.rs
  src/sync/state.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): preserve parent_session_id when adopting CLI-spawned sessions
  src/app/mod.rs
  src/session_ops/spawn.rs
  src/storage/sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: correct the schema reservation note (v28 shipped on main)
  CLAUDE.md
Due: rumdl-check

feat(ui): single-line session rows with inline agent status
  CLAUDE.md
  README.md
  docs/FEATURES.md
  docs/media/automations-demo.gif
  docs/media/automations-demo.mp4
  docs/media/search-demo.gif
  docs/media/search-demo.mp4
  docs/media/tasks-demo.gif
  docs/media/tasks-demo.mp4
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  docs/media/thurbox-file-manager.gif
  docs/media/thurbox-file-manager.mp4
  docs/media/thurbox-fork.gif
  docs/media/thurbox-fork.mp4
  docs/media/thurbox-info-panel.gif
  docs/media/thurbox-info-panel.mp4
  docs/media/thurbox-session-creation.gif
  docs/media/thurbox-session-creation.mp4
  docs/media/thurbox-theme.gif
  docs/media/thurbox-theme.mp4
  scripts/demo/fork.tape
  scripts/demo/record.sh
  src/app/mod.rs
  src/app/view.rs
  src/ui/project_list.rs
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore(config): harden renovate against supply-chain attacks
  renovate.json
Due: none

docs: show all installation methods on website homepage
  website/css/landing.css
  website/index.html
Due: none

test(core): enforce per-module dependency allowlist in architecture rules
  CLAUDE.md
  docs/CONSTITUTION.md
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): seed adopted sessions with tmux pane history for scrollback
  docs/ARCHITECTURE.md
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): keep TUI stable when sessions change concurrently
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore(config): make publish skill context-aware and script-light
  .claude/skills/Publish
  .claude/skills/publish/SKILL.md
Due: rumdl-check

fix(ui): scroll the restore-sessions modal to keep the selection visible
  src/ui/restore_sessions_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat: add agent-agnostic flow extension and readable task session names
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  extensions/flow/FLOW.md
  extensions/flow/README.md
  extensions/flow/install.sh
  extensions/flow/scripts/create-task.sh
  extensions/flow/scripts/flow-snapshot.sh
  extensions/flow/scripts/parse-result.sh
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/task_state.rs
  src/app/view.rs
  src/cli/tasks.rs
  src/session/task.rs
  src/ui/tasks_panel.rs
  website/docs/features.html
  website/index.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: forbid the flow agent from doing the work itself
  extensions/flow/FLOW.md
Due: rumdl-check

chore: base flow worktrees on origin/<default-branch>
  extensions/flow/FLOW.md
  extensions/flow/scripts/create-task.sh
Due: rumdl-check

feat(config): make flow installer self-update its managed files
  extensions/flow/README.md
  extensions/flow/install.sh
Due: rumdl-check

feat(ui): add manual session list reordering
  CLAUDE.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/cli/sessions.rs
  src/session/keybindings.rs
  src/session/mod.rs
  src/session_ops/delete.rs
  src/session_ops/spawn.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/storage/sync.rs
  src/storage/worktrees.rs
  src/sync/delta.rs
  src/sync/state.rs
  src/ui/project_list.rs
  tests/sync_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): macOS-compatible shortcuts via Cmd chords + kitty protocol
  CLAUDE.md
  README.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/input.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/main.rs
  src/session/keybindings.rs
  website/docs/keybindings.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(config): add [features] flags in settings.toml to disable TUI features
  CLAUDE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/settings_config.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/cli/config.rs
  src/main.rs
  src/session/settings.rs
  src/ui/layout.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): full mouse navigation with per-frame click registry
  CLAUDE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/settings_config.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/main.rs
  src/session/settings.rs
  src/ui/agent_picker_modal.rs
  src/ui/automations_list_modal.rs
  src/ui/automations_panel.rs
  src/ui/branch_selector_modal.rs
  src/ui/file_viewer.rs
  src/ui/host_picker_modal.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/repo_picker_modal.rs
  src/ui/restore_sessions_modal.rs
  src/ui/task_action_picker_modal.rs
  src/ui/tasks_panel.rs
  src/ui/theme_picker_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: document feature flags and full mouse navigation
  README.md
  website/docs/features.html
Due: rumdl-check

feat(cli): manage extensions with thurbox-cli (install + self-heal)
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  extensions/flow/README.md
  extensions/flow/claude-settings.json
  extensions/flow/extension.toml
  extensions/flow/install.sh
  extensions/flow/repos.md
  src/agent/extension_config.rs
  src/agent/mod.rs
  src/cli/automations.rs
  src/cli/extensions.rs
  src/cli/mod.rs
  src/main.rs
  src/session/extension_def.rs
  src/session/mod.rs
  src/session_ops/extensions.rs
  src/session_ops/mod.rs
  src/storage/settings.rs
  website/docs/architecture.html
  website/docs/extensions.html
  website/docs/features.html
  website/docs/index.html
  website/docs/installation.html
  website/docs/keybindings.html
  website/docs/ui-review.html
  website/index.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat: add forge and ci-shepherd extensions
  CLAUDE.md
  docs/FEATURES.md
  extensions/ci-shepherd/README.md
  extensions/ci-shepherd/SHEPHERD.md
  extensions/ci-shepherd/claude-settings.json
  extensions/ci-shepherd/extension.toml
  extensions/ci-shepherd/install.sh
  extensions/ci-shepherd/repos.md
  extensions/ci-shepherd/scripts/dispatch-fix.sh
  extensions/ci-shepherd/scripts/parse-result.sh
  extensions/ci-shepherd/scripts/provider.sh
  extensions/ci-shepherd/scripts/shepherd-snapshot.sh
  extensions/forge/FORGE.md
  extensions/forge/README.md
  extensions/forge/claude-settings.json
  extensions/forge/extension.toml
  extensions/forge/install.sh
  extensions/forge/proposals.jsonl
  extensions/forge/proposals.md
  extensions/forge/scripts/forge-snapshot.sh
  extensions/forge/scripts/proposals.sh
Due: rumdl-check

docs: per-extension website pages + generic extensions on the home page
  website/docs/architecture.html
  website/docs/extension-ci-shepherd.html
  website/docs/extension-flow.html
  website/docs/extension-forge.html
  website/docs/extensions.html
  website/docs/features.html
  website/docs/index.html
  website/docs/installation.html
  website/docs/keybindings.html
  website/docs/ui-review.html
  website/index.html
Due: none

feat: add doom-font ASCII banner and colorized install output
  CLAUDE.md
  scripts/install.bats
  scripts/install.sh
Due: rumdl-check

test: cover create-task.sh accept-without-worker branch
  extensions/flow/scripts/create-task.bats
Due: none

feat: add plan-first dispatch to flow extension
  CLAUDE.md
  extensions/flow/FLOW.md
  extensions/flow/README.md
  extensions/flow/scripts/create-task.bats
  extensions/flow/scripts/create-task.sh
Due: rumdl-check

ci: add shellcheck to pre-commit hooks and CI
  .claude/skills/ui-review/scripts/capture.sh
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .shellcheckrc
  CLAUDE.md
  docs/CONSTITUTION.md
  scripts/demo/record.sh
  scripts/dev/remote-ssh-test.sh
  scripts/install-dev-tools.sh
  scripts/install.sh
Due: rumdl-check

feat(core): name task sessions after the task title
  CLAUDE.md
  docs/FEATURES.md
  extensions/flow/FLOW.md
  extensions/flow/README.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/task_state.rs
  src/app/view.rs
  src/cli/tasks.rs
  src/session/task.rs
  src/ui/tasks_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat: add at-a-glance session board to flow ticks
  extensions/flow/FLOW.md
  extensions/flow/README.md
  extensions/flow/extension.toml
  extensions/flow/scripts/flow-summary.sh
Due: rumdl-check

feat: add renovate extension for local dependency updates
  CLAUDE.md
  docs/FEATURES.md
  extensions/renovate/README.md
  extensions/renovate/RENOVATE.md
  extensions/renovate/claude-settings.json
  extensions/renovate/extension.toml
  extensions/renovate/install.sh
  extensions/renovate/renovate-config.json
  extensions/renovate/repos.md
  extensions/renovate/scripts/dispatch-update.sh
  extensions/renovate/scripts/parse-result.sh
  extensions/renovate/scripts/renovate-run.sh
  extensions/renovate/scripts/renovate-snapshot.sh
  website/docs/architecture.html
  website/docs/extension-flow.html
  website/docs/extension-forge.html
  website/docs/extension-renovate.html
  website/docs/extensions.html
  website/docs/features.html
  website/docs/index.html
  website/docs/installation.html
  website/docs/keybindings.html
  website/docs/ui-review.html
  website/index.html
Due: rumdl-check

feat: detect and handle PRs needing rebase in ci-shepherd
  CLAUDE.md
  extensions/ci-shepherd/README.md
  extensions/ci-shepherd/SHEPHERD.md
  extensions/ci-shepherd/extension.toml
  extensions/ci-shepherd/scripts/classify.bats
  extensions/ci-shepherd/scripts/classify.sh
  extensions/ci-shepherd/scripts/dispatch-fix.sh
  extensions/ci-shepherd/scripts/provider.sh
  extensions/ci-shepherd/scripts/shepherd-snapshot.sh
Due: rumdl-check

feat(cli): version-aware extension updates
  CLAUDE.md
  docs/CONFIG.md
  extensions/ci-shepherd/extension.toml
  extensions/flow/README.md
  extensions/flow/extension.toml
  extensions/forge/extension.toml
  src/agent/extension_config.rs
  src/cli/extensions.rs
  src/cli/mod.rs
  src/session/extension_def.rs
  src/session_ops/extensions.rs
  src/session_ops/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: fix unresolved intra-doc link in with_provenance
  src/session/extension_def.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(config): remove unavailable fable model from flow extension
  extensions/flow/README.md
  extensions/flow/extension.toml
Due: rumdl-check

feat(cli): improve extension install UX, discovery, and JSON output
  CLAUDE.md
  src/agent/extension_config.rs
  src/cli/extensions.rs
  src/cli/mod.rs
  src/session_ops/extensions.rs
  src/session_ops/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): detect behind-base PRs in ci-shepherd via git-local rebase check
  extensions/ci-shepherd/README.md
  extensions/ci-shepherd/SHEPHERD.md
  extensions/ci-shepherd/extension.toml
  extensions/ci-shepherd/scripts/provider.sh
  extensions/ci-shepherd/scripts/rebase-check.bats
  extensions/ci-shepherd/scripts/rebase-check.sh
Due: rumdl-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
