Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

chore: no-mistakes document - docs/README: note wheel-scroll and scrollbar-drag in terminal table
  README.md
Due: rumdl-check

ci: require the PR title to be the conventional commit that lands
  .github/workflows/ci.yml
  .github/workflows/pr-title.yml
  CONTRIBUTING.md
  scripts/ci/check-pr-title.bats
  scripts/ci/check-pr-title.sh
Due: rumdl-check

fix(cli): let --arg carry a switch, and --exit-passthrough carry a code
  .claude/skills/thurbox-cli/SKILL.md
  src/bin/thurbox-cli.rs
  src/cli/mod.rs
  src/cli/output.rs
  src/cli/sessions.rs
  src/cli/tests.rs
  tests/cli_stdout_contract.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(cli): give session create one answer for a name already taken
  .claude/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  src/cli/sessions.rs
  tests/cli_stdout_contract.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: ignore lavish review artifacts
  .gitignore
Due: none

docs(docs): document command sessions, parking, and the new CLI verbs
  .claude/skills/thurbox-agents/SKILL.md
  .claude/skills/thurbox-cli/SKILL.md
  docs/AGENTS.md
  docs/CONFIG.md
  docs/FEATURES.md
Due: rumdl-check

chore: no-mistakes lint - {"summary": "fmt: reformat spawn.rs guard condition and test spacing"}
  src/session_ops/spawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

no-mistakes: apply CI fixes
  src/cli/sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes review - fix(core): persist resume id, refuse --command --resume, guard LIKE wildcards, clear meta on force-delete
  src/session_ops/delete.rs
  src/session_ops/spawn.rs
  src/storage/sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - Fix stale resume/force-delete facts in AGENTS.md, FEATURES.md, thurbox-cli skill
  .claude/skills/thurbox-cli/SKILL.md
  docs/AGENTS.md
  docs/FEATURES.md
  src/session_ops/delete.rs
  src/session_ops/spawn.rs
  src/storage/sessions.rs
  tests/create_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(docs): bring the website up to the CLI it documents
  website/docs/agents.html
  website/docs/features.html
Due: none

chore: no-mistakes review - docs(website): fix false shell --resume refusal claim
  website/docs/agents.html
Due: none

ci: retire the merge queue's workflow support and pin Renovate titles
  .github/workflows/ci.yml
  CONTRIBUTING.md
  renovate.json
Due: rumdl-check

chore: no-mistakes test - test(nextest): serialize tui_e2e pty tests to fix contention flake
  .config/nextest.toml
Due: none

chore: no-mistakes document - Fix stale send/key/capture host-refusal claims in README and thurbox-cli skill
  .claude/skills/thurbox-cli/SKILL.md
  README.md
Due: rumdl-check

fix(cli): report parked sessions, scope exec's env, publish launch args
  .claude/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  docs/ORCHESTRATION.md
  src/agent/tmux.rs
  src/cli/agents.rs
  src/cli/home.rs
  src/cli/mod.rs
  src/cli/output.rs
  src/cli/session_doctor.rs
  src/cli/sessions.rs
  src/session/hook_status.rs
  src/session/mod.rs
  src/session_ops/mirror.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  src/session_ops/spawn.rs
  src/storage/sessions.rs
  tests/cli_driver_contracts.rs
  tests/cli_session_hook_state.rs
  website/docs/features.html
  website/docs/orchestration.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - fix(cli): remove stray whitespace in doctor pane finding text
  src/cli/session_doctor.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes review - fix(docs,cli): mend meta paragraph flow, test parked doctor report
  .claude/skills/thurbox-cli/SKILL.md
  tests/cli_session_hook_state.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - fix(cli): keep registry-agent env when forking a session
  src/session_ops/mod.rs
  tests/create_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - docs(cli): document new stopped/agent-env facts left stale in README, skill
  .claude/skills/thurbox-cli/SKILL.md
  README.md
Due: rumdl-check

feat(ui): confirm session delete when an open PR would be walked away from
  src/git/mod.rs
  src/kernel/host/publish.rs
  src/kernel/snapshot.rs
  tests/core_settings.rs
  tests/session_list.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

style(git): pass is_ascii_digit as a fn ref instead of wrapping it
  src/git/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(git): swap the PR lookup for a merge-base check, so the confirm works on any forge
  src/git/mod.rs
  src/kernel/host/publish.rs
  src/kernel/snapshot.rs
  tests/core_settings.rs
  tests/session_list.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): stop the unit-test suite leaking temp directories
  .claude/skills/thurbox-testing/SKILL.md
  Cargo.toml
  src/kernel/bundled.rs
  src/paths/mod.rs
  src/paths/tests.rs
  src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes document - No stale docs found; AGENTS.md and README.md already updated with the fix
  flake.lock
Due: none

no-mistakes: apply CI fixes
  tests/hook_turn_sequence.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): clear the blocked dot when a permission is granted
  docs/AGENTS.md
  extensions/hooks/README.md
  extensions/hooks/antigravity-hooks.json
  extensions/hooks/claude.json
  extensions/hooks/copilot-hooks.json
  extensions/hooks/omp-status.ts
  extensions/hooks/opencode-status.js
  extensions/hooks/pi-status.ts
  src/session_ops/builtin_hooks.rs
  tests/hook_turn_sequence.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - placeholder
  tests/hook_turn_sequence.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes lint - fmt: wrap run_node_driver call to satisfy rustfmt
  tests/hook_turn_sequence.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(cli): make the socket tests immune to the developer's own thurbox env
  src/agent/tmux.rs
  tests/cli_socket_isolation.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): drop the bare `d` shortcut for deleting a session
  README.md
  tests/core_settings.rs
  tests/kernel_mvp.rs
  tests/keymap.rs
  tests/palette.rs
  ui/plugins/10_sessions.lua
  website/docs/keybindings.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci: let a fork's pull request past the SonarQube gate
  .github/workflows/ci.yml
Due: none

fix(ui): drop the bare `d` shortcut for deleting a session (#1053)
  README.md
  tests/core_settings.rs
  tests/kernel_mvp.rs
  tests/keymap.rs
  tests/palette.rs
  ui/plugins/10_sessions.lua
  website/docs/keybindings.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat: open an existing worktree instead of always creating one (#1042)
  .claude/skills/thurbox-cli/SKILL.md
  .claude/skills/thurbox-kernel/SKILL.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  docs/PLUGINS.md
  src/cli/sessions.rs
  src/coordinator/mod.rs
  src/coordinator/publish.rs
  src/git/tests.rs
  src/git/worktree.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  src/kernel/host/api.rs
  src/kernel/host/publish.rs
  src/kernel/repos.rs
  src/kernel/snapshot.rs
  src/session/mod.rs
  src/session_ops/delete.rs
  src/session_ops/lifecycle_hooks.rs
  src/session_ops/mirror.rs
  src/session_ops/mod.rs
  src/session_ops/restore.rs
  src/session_ops/spawn.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  src/storage/sessions.rs
  src/storage/worktrees.rs
  src/sync/state.rs
  tests/create_e2e.rs
  tests/kernel_mvp.rs
  tests/new_session.rs
  tests/restore.rs
  tests/sync_integration.rs
  thurbox.yml
  ui/README.md
  ui/lib/repo_picker.lua
  ui/plugins/70_new_session.lua
  ui/plugins/80_restore.lua
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci: let a fork's pull request past the SonarQube gate (#1055)
  .github/workflows/ci.yml
Due: none

fix(core): stop a session reap from killing a live namesake's window
  src/agent/tmux.rs
  src/session_ops/delete.rs
  tests/reap_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes document - document reap e2e test and reap's return contract
  .claude/skills/thurbox-testing/SKILL.md
  .github/workflows/ci.yml
  src/session_ops/delete.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
