Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

fix(ui): re-ask a host for its multiplexers once its answer is a minute old
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/host_path.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test: let the new-session tests hold where one multiplexer is installed
  tests/new_session.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test: name the method a fixture maps with
  tests/new_session.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: show the Doom-theme plugin demos on the plugins page
  website/_data/plugins.json
Due: none

docs: drop the PR body screenshots before merge
  media/plugins-page/doom-demos-official-1.png
  media/plugins-page/doom-demos-official-2.png
Due: none

docs: add plugins page screenshots for the PR body
  media/plugins-page/doom-demos-official-1.png
  media/plugins-page/doom-demos-official-2.png
Due: none

fix(ui): keep a failed host probe out of the PATH cache and settle a stale default
  src/agent/host_path.rs
  tests/new_session.rs
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): show the multiplexer step only when there is a real choice (#1364)
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/host_path.rs
  src/agent/preflight.rs
  src/backend/tmux_compat/server.rs
  src/coordinator/mod.rs
  src/kernel/host/publish.rs
  src/kernel/snapshot.rs
  src/session/multiplexer.rs
  src/session_ops/spawn.rs
  tests/architecture_rules.rs
  tests/new_session.rs
  tests/session_list.rs
  tests/tui_e2e.rs
  ui/lib/thurbox.d.lua
  ui/plugins/70_new_session.lua
  website/docs/faq.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): session send types only into an empty composer and confirms submission
  .agents/skills/thurbox-cli/SKILL.md
  src/backend/contract.rs
  src/backend/tmux_compat/server.rs
  src/cli/sessions.rs
  src/cli/tests.rs
  src/session_ops/composer.rs
  src/session_ops/mod.rs
  tests/cli_session_hook_state.rs
  tests/send_keys_e2e.rs
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): confirm a send only from the text it typed, hand a busy composer to the agent inbox
  .agents/skills/thurbox-cli/SKILL.md
  src/backend/tmux.rs
  src/backend/tmux_compat/server.rs
  src/cli/messages.rs
  src/cli/sessions.rs
  src/session_ops/composer.rs
  src/session_ops/mod.rs
  tests/send_keys_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): report a session lost again after it comes back on the same pane
  .agents/skills/thurbox-cli/SKILL.md
  src/session_ops/lost.rs
  src/session_ops/reparent.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  src/storage/sessions.rs
  src/storage/settings.rs
  tests/session_lost_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): lift only the lost mark a sweep saw, so two watchers report a death once
  src/session_ops/lost.rs
  src/storage/sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(cli): report sessions lost to a dead backend, add session reparent
  .agents/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  docs/ORCHESTRATION.md
  src/cli/sessions.rs
  src/cli/watch.rs
  src/session_ops/lost.rs
  src/session_ops/mod.rs
  src/session_ops/reparent.rs
  src/session_ops/shared_tests.rs
  src/storage/session_events.rs
  src/storage/sessions.rs
  tests/cli_session_reparent.rs
  tests/cli_watch.rs
  tests/session_lost_e2e.rs
  website/docs/orchestration.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): refuse a reparent cycle through a deleted ancestor, scope lost to local sessions in the docs
  docs/ORCHESTRATION.md
  src/session_ops/reparent.rs
  src/storage/sessions.rs
  tests/cli_session_reparent.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): read a prompt-less wrapped row as typed text, document the send gate
  .agents/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  src/cli/sessions.rs
  src/session_ops/composer.rs
  tests/send_keys_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): show the session list's fold state in Settings as a count, decoded when selected
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/PLUGINS.md
  src/kernel/host/load.rs
  src/kernel/modals/settings.rs
  src/kernel/registry.rs
  tests/modals.rs
  ui/lib/thurbox.d.lua
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): show the session list's fold state in Settings as a count, decoded when selected (#1368)
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/PLUGINS.md
  src/kernel/host/load.rs
  src/kernel/modals/settings.rs
  src/kernel/registry.rs
  tests/modals.rs
  ui/lib/thurbox.d.lua
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(cli): report sessions lost to a dead backend, add session reparent (#1367)
  .agents/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  docs/ORCHESTRATION.md
  src/cli/sessions.rs
  src/cli/watch.rs
  src/session_ops/lost.rs
  src/session_ops/mod.rs
  src/session_ops/reparent.rs
  src/session_ops/shared_tests.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  src/storage/session_events.rs
  src/storage/sessions.rs
  src/storage/settings.rs
  tests/cli_session_reparent.rs
  tests/cli_watch.rs
  tests/session_lost_e2e.rs
  website/docs/orchestration.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): session send types only into an empty composer and confirms submission (#1366)
  .agents/skills/thurbox-cli/SKILL.md
  docs/FEATURES.md
  src/backend/contract.rs
  src/backend/tmux.rs
  src/backend/tmux_compat/server.rs
  src/cli/messages.rs
  src/cli/sessions.rs
  src/cli/tests.rs
  src/session_ops/composer.rs
  src/session_ops/mod.rs
  tests/cli_session_hook_state.rs
  tests/send_keys_e2e.rs
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): let a plugin's run target this machine instead of the session's host
  .agents/skills/thurbox-kernel/SKILL.md
  docs/PLUGINS.md
  src/coordinator/mod.rs
  src/kernel/host/api.rs
  src/kernel/runs.rs
  tests/plugin_commands.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): let a pane declare a strip the shipped layout places by itself
  .agents/skills/thurbox-kernel/SKILL.md
  docs/PLUGINS.md
  src/cli/plugins.rs
  src/kernel/host/load.rs
  src/kernel/host/mod.rs
  tests/plugin_authoring.rs
  tests/plugin_lifecycle.rs
  ui/layout.lua
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test: verify renamed shell delivery through its original pane
  tests/session_rename.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: distinguish historical benchmark accounting
  docs/BENCHMARK-MULTIPLEXERS.md
Due: rumdl-check

docs: report measured five-way website performance
  scripts/ci/check-performance-cpu-scale.mjs
  website/assets/performance-v2-observations.json
  website/assets/ui-review/perf-v2-after-desktop.png
  website/assets/ui-review/perf-v2-after-mobile.png
  website/assets/ui-review/perf-v2-before-desktop.png
  website/assets/ui-review/perf-v2-before-mobile.png
  website/css/docs.css
  website/docs/index.html
  website/docs/performance-results.html
  website/docs/performance.html
  website/index.html
  website/llms.txt
Due: none

test: use bracketed-paste-capable shell in rename fixture
  tests/session_rename.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): place each strip slot once, sized for every pane sharing it
  .agents/skills/thurbox-kernel/SKILL.md
  docs/PLUGINS.md
  src/kernel/host/mod.rs
  tests/plugin_lifecycle.rs
  ui/layout.lua
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): refuse a run whose machine is not a string
  src/kernel/host/api.rs
  tests/plugin_commands.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): skip a strip slot placed anywhere in the layout, not only above
  docs/PLUGINS.md
  tests/plugin_lifecycle.rs
  ui/layout.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): let a plugin's run target this machine instead of the session's host (#1369)
  .agents/skills/thurbox-kernel/SKILL.md
  docs/PLUGINS.md
  src/coordinator/mod.rs
  src/kernel/host/api.rs
  src/kernel/runs.rs
  tests/plugin_commands.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): let a pane declare a strip the shipped layout places by itself (#1370)
  .agents/skills/thurbox-kernel/SKILL.md
  docs/PLUGINS.md
  src/cli/plugins.rs
  src/kernel/host/load.rs
  src/kernel/host/mod.rs
  tests/plugin_authoring.rs
  tests/plugin_lifecycle.rs
  ui/layout.lua
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): remove the connected host circle from session rows
  docs/FEATURES.md
  tests/frames.rs
  tests/tui_e2e.rs
  ui/plugins/10_sessions.lua
  website/index.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: update website with measured five-way performance (#1372)
  docs/BENCHMARK-MULTIPLEXERS.md
  scripts/ci/check-performance-cpu-scale.mjs
  tests/session_rename.rs
  website/assets/performance-v2-observations.json
  website/assets/ui-review/perf-v2-after-desktop.png
  website/assets/ui-review/perf-v2-after-mobile.png
  website/assets/ui-review/perf-v2-before-desktop.png
  website/assets/ui-review/perf-v2-before-mobile.png
  website/css/docs.css
  website/docs/index.html
  website/docs/performance-results.html
  website/docs/performance.html
  website/index.html
  website/llms.txt
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): remove the connected host circle from the session list (#1373)
  docs/FEATURES.md
  tests/frames.rs
  tests/tui_e2e.rs
  ui/plugins/10_sessions.lua
  website/index.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: list thurbox-voice and drop performance from the homepage
  package.json
  scripts/ci/website.test.mjs
  website/_data/plugins.json
  website/css/landing.css
  website/css/layout.css
  website/index.html
Due: none

docs: list thurbox-voice and drop performance from the homepage (#1378)
  package.json
  scripts/ci/website.test.mjs
  website/_data/plugins.json
  website/css/landing.css
  website/css/layout.css
  website/index.html
Due: none

feat(ui): let a plugin declare setting choices and key releases
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  AGENTS.md
  docs/PLUGINS.md
  scripts/ci/check-lua-std.sh
  src/coordinator/boot.rs
  src/coordinator/chrome.rs
  src/coordinator/input.rs
  src/coordinator/interface.rs
  src/coordinator/mod.rs
  src/coordinator/publish.rs
  src/kernel/bands.rs
  src/kernel/host/load.rs
  src/kernel/host/mod.rs
  src/kernel/host/publish.rs
  src/kernel/modals/settings.rs
  src/kernel/registry.rs
  src/main.rs
  tests/fixtures/key_release/91_hold.lua
  tests/fixtures/lua_std/reads.lua
  tests/fixtures/lua_std/typos/keyboard.lua
  tests/modals.rs
  tests/plugin_settings.rs
  tests/tui_e2e.rs
  thurbox.yml
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): keep a release behind its press and off a suspended editor
  docs/PLUGINS.md
  src/coordinator/chrome.rs
  src/coordinator/input.rs
  src/coordinator/paste.rs
  src/kernel/host/load.rs
  src/kernel/host/mod.rs
  tests/plugin_settings.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): pop keyboard flags on the screen they were pushed on
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  src/coordinator/chrome.rs
  src/coordinator/input.rs
  src/coordinator/paste.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): keep every release in its place in the paste coalescer
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  src/coordinator/input.rs
  src/coordinator/paste.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: say the paste coalescer holds releases in its run
  src/coordinator/paste.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest
