Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

docs: before and after on the multiplexer benchmark for lazy session parsing
  docs/BENCHMARK-MULTIPLEXERS.md
  docs/PERFORMANCE.md
  docs/benchmark-multiplexers/lazy-parse/after/results.csv
  docs/benchmark-multiplexers/lazy-parse/after/results.json
  docs/benchmark-multiplexers/lazy-parse/after/summary.md
  docs/benchmark-multiplexers/lazy-parse/before/results.csv
  docs/benchmark-multiplexers/lazy-parse/before/results.json
  docs/benchmark-multiplexers/lazy-parse/before/summary.md
Due: rumdl-check

docs: the grid a session off screen no longer keeps (ADR-P27, hidden_terminal_secs)
  .agents/skills/thurbox-performance/SKILL.md
  docs/CONFIG.md
  docs/PERFORMANCE.md
  website/docs/configuration.html
Due: rumdl-check

docs: keep a PERFORMANCE.md line within the width limit
  docs/PERFORMANCE.md
Due: rumdl-check

docs: only the paint that asks for a grid waits for it
  docs/PERFORMANCE.md
Due: rumdl-check

fix(core): wait only on the paint that asked for a grid, and keep snapshot docs true
  src/agent/backend.rs
  src/agent/control_mode/mod.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): replay a pane's title on a grid-less attach, retry a failed search read-back, and copy nothing from a pane with no grid
  src/agent/backend.rs
  src/agent/tmux.rs
  src/kernel/search.rs
  src/kernel/terminal/mod.rs
  tests/lazy_terminals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: the title replay, the search retry and Copy in ADR-P27
  docs/PERFORMANCE.md
Due: rumdl-check

fix(core): hand plain-text URLs to the outer terminal too
  docs/FEATURES.md
  docs/PERFORMANCE.md
  src/coordinator/boot.rs
  src/coordinator/commands.rs
  src/coordinator/draw.rs
  src/coordinator/mouse.rs
  src/kernel/terminal/links.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): hand plain-text URLs to the outer terminal too (#1247)
  docs/FEATURES.md
  docs/PERFORMANCE.md
  src/coordinator/boot.rs
  src/coordinator/commands.rs
  src/coordinator/draw.rs
  src/coordinator/mouse.rs
  src/kernel/terminal/links.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(core): keep no terminal grid for a session nobody is looking at (#1246)
  .agents/skills/thurbox-performance/SKILL.md
  benches/search_cost.rs
  docs/BENCHMARK-MULTIPLEXERS.md
  docs/CONFIG.md
  docs/PERFORMANCE.md
  docs/benchmark-multiplexers/lazy-parse/after/results.csv
  docs/benchmark-multiplexers/lazy-parse/after/results.json
  docs/benchmark-multiplexers/lazy-parse/after/summary.md
  docs/benchmark-multiplexers/lazy-parse/before/results.csv
  docs/benchmark-multiplexers/lazy-parse/before/results.json
  docs/benchmark-multiplexers/lazy-parse/before/summary.md
  src/agent/backend.rs
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/settings_config.rs
  src/agent/tmux.rs
  src/kernel/config.rs
  src/kernel/modals/settings.rs
  src/kernel/search.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  src/kernel/terminal/programs.rs
  src/session/settings.rs
  tests/lazy_terminals.rs
  website/docs/configuration.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): pin a shared pane's size against two painting instances
  tests/shared_pane_size.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): let one instance size a pane two instances show
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/PERFORMANCE.md
  src/agent/backend.rs
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/tmux.rs
  src/coordinator/mouse.rs
  src/kernel/selection.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/links.rs
  src/kernel/terminal/mod.rs
  tests/shared_pane_size.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): build the sizer subscription from the option's one spelling
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: say that any attached client keeps an instance from being alone
  docs/ARCHITECTURE.md
Due: rumdl-check

fix(core): keep a pane's size when its channel is full
  src/agent/backend.rs
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): let one instance size a pane two instances show (#1249)
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/PERFORMANCE.md
  src/agent/backend.rs
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/tmux.rs
  src/coordinator/mouse.rs
  src/kernel/selection.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/links.rs
  src/kernel/terminal/mod.rs
  tests/shared_pane_size.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(docs): the echo path's floor on the benchmark machine
  docs/PERFORMANCE.md
Due: rumdl-check

docs(docs): record the echo path (ADR-P27) and the batched session config
  .agents/skills/thurbox-performance/SKILL.md
  docs/ARCHITECTURE.md
  docs/PERFORMANCE.md
Due: rumdl-check

docs(docs): benchmark thurbox before and after the echo and create work
  docs/PERFORMANCE.md
Due: rumdl-check

perf(core): leave a scrolled-back surface's echo to a full frame
  src/coordinator/draw.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(core): keep the echo frame's ground only while someone is typing
  src/coordinator/boot.rs
  src/coordinator/draw.rs
  src/coordinator/input.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(core): paint a keystroke's echo at once, and create a session in one tmux call
  Cargo.toml
  src/agent/backend.rs
  src/agent/mod.rs
  src/agent/output_wake.rs
  src/agent/tmux.rs
  src/coordinator/boot.rs
  src/coordinator/draw.rs
  src/coordinator/input.rs
  src/coordinator/mod.rs
  src/kernel/node.rs
  src/kernel/terminal/mod.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): guard the echo path on counters, not on the clock
  docs/PERFORMANCE.md
  src/cli/perf.rs
  src/coordinator/chrome.rs
  src/coordinator/draw.rs
  src/kernel/perf.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(docs): refresh final echo benchmark
  docs/BENCHMARK-MULTIPLEXERS.md
  docs/benchmark-multiplexers/echo-and-create/head/results.csv
  docs/benchmark-multiplexers/echo-and-create/head/results.json
  docs/benchmark-multiplexers/echo-and-create/head/summary.md
Due: rumdl-check

docs(docs): benchmark the echo and create work against lazy-parse main
  docs/BENCHMARK-MULTIPLEXERS.md
  docs/benchmark-multiplexers/echo-and-create/after/results.csv
  docs/benchmark-multiplexers/echo-and-create/after/results.json
  docs/benchmark-multiplexers/echo-and-create/after/summary.md
  docs/benchmark-multiplexers/echo-and-create/before/results.csv
  docs/benchmark-multiplexers/echo-and-create/before/results.json
  docs/benchmark-multiplexers/echo-and-create/before/summary.md
  docs/benchmark-multiplexers/echo-and-create/head/results.csv
  docs/benchmark-multiplexers/echo-and-create/head/results.json
  docs/benchmark-multiplexers/echo-and-create/head/summary.md
Due: rumdl-check

perf(core): wake the loop only for the pane an echo is owed by
  .agents/skills/thurbox-performance/SKILL.md
  docs/PERFORMANCE.md
  src/agent/backend.rs
  src/agent/output_wake.rs
  src/coordinator/input.rs
  src/coordinator/mod.rs
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): retain batched echo waits
  .agents/skills/thurbox-performance/SKILL.md
  docs/PERFORMANCE.md
  src/coordinator/boot.rs
  src/coordinator/draw.rs
  src/coordinator/input.rs
  src/coordinator/mod.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): a dead shell comes back, one shell has one rect, and the shell keeps the keyboard across a reflow
  src/agent/backend.rs
  src/coordinator/boot.rs
  src/kernel/presets.rs
  src/kernel/terminal/mod.rs
  ui/layouts/focus.lua
  ui/layouts/ide.lua
  ui/layouts/split-shell.lua
  ui/lib/panels.lua
  ui/plugins/20_agent.lua
  ui/plugins/25_shell.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

wip: focus and ide layout presets, for four in total
  .agents/skills/thurbox-kernel/SKILL.md
  docs/CONFIG.md
  docs/PLUGINS.md
  scripts/install.ps1
  scripts/install.sh
  src/agent/settings_config.rs
  src/coordinator/boot.rs
  src/kernel/bundled.rs
  src/kernel/host/mod.rs
  src/kernel/modals/settings.rs
  src/kernel/presets.rs
  tests/kernel_mvp.rs
  tests/layout_presets.rs
  tests/terminal_pane.rs
  tests/tui_e2e.rs
  ui/AGENTS.md
  ui/README.md
  ui/layouts/focus.lua
  ui/layouts/ide.lua
  ui/lib/panels.lua
  ui/plugins/20_agent.lua
  ui/plugins/25_shell.lua
  website/docs/installation.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): a terminal's output stamp moves only after the parser holds the output, and for every chunk
  docs/CONFIG.md
  scripts/demo/layouts/record.sh
  src/agent/backend.rs
  src/agent/settings_config.rs
  src/kernel/modals/settings.rs
  src/kernel/presets.rs
  src/session/settings.rs
  tests/layout_presets.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(ui): pin every defect found running the first split-shell
  src/kernel/terminal/decoupling.rs
  tests/layout_presets.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

style: format, and fold the markdown the linter flagged
  docs/CONFIG.md
  docs/PLUGINS.md
  src/kernel/terminal/decoupling.rs
  tests/layout_presets.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(ui): a demo video per layout preset, and the recorder that makes them
  .agents/skills/thurbox-demo-media/SKILL.md
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/FEATURES.md
  docs/PLUGINS.md
  media/layout-classic.gif
  media/layout-classic.mp4
  media/layout-focus.gif
  media/layout-focus.mp4
  media/layout-ide.gif
  media/layout-ide.mp4
  media/layout-split-shell.gif
  media/layout-split-shell.mp4
  scripts/demo/layouts/record.sh
  ui/README.md
  website/docs/installation.html
Due: rumdl-check

fix(core): back off a failing shell ask, and forget a shell error once any open succeeds
  src/coordinator/commands.rs
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): time a shell ask's backoff from the failed open, not from the ask
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): replace a shell only on the multiplexer's word that it is gone, and name the output count in the docs
  docs/PERFORMANCE.md
  docs/V2-KERNEL.md
  src/agent/backend.rs
  src/agent/tmux.rs
  src/kernel/terminal/decoupling.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): answer review round one — reattach a live shell, count output chunks, one switch rule, layout notice first
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/PLUGINS.md
  src/agent/backend.rs
  src/cli/layout.rs
  src/coordinator/boot.rs
  src/coordinator/interface.rs
  src/kernel/presets.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  ui/plugins/20_agent.lua
  ui/plugins/25_shell.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): a paint asks again for a shell it did not get, and says a repeated failure once
  src/coordinator/boot.rs
  src/coordinator/commands.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): keep a failed replacement's backoff when the dead shell is already gone
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
