Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

refactor(core): keep one way to hold a focus request over a layout
  src/kernel/focus.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): let a command's phase only ever move forward
  src/kernel/command.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): name the space key in a chord instead of writing it
  docs/CONFIG.md
  src/session/keybindings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): name the space key in a chord instead of writing it
  src/session/keybindings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: point at the renamed v1.x branch
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  docs/RELEASING.md
  docs/V2-KERNEL.md
  website/docs/v1.html
  website/docs/v2-interface.html
Due: rumdl-check

fix(core): keep the caret where the frame put it, and follow a new session
  docs/FEATURES.md
  docs/PERFORMANCE.md
  docs/PLUGINS.md
  src/kernel/command.rs
  src/kernel/convert.rs
  src/kernel/node.rs
  src/kernel/paint.rs
  src/kernel/terminal.rs
  src/main.rs
  tests/kernel_mvp.rs
  tests/v2_decoration.rs
  ui/lib/textinput.lua
  ui/plugins/65_search.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci: keep a maintenance release off the newest-version channels
  .github/workflows/cd.yml
Due: none

ci: keep a maintenance release off the newest-version channels
  .github/workflows/cd.yml
  docs/RELEASING.md
Due: rumdl-check

fix(core): read the pane on screen when copying, not the agent's
  src/kernel/terminal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: point the retired panes at the plugins that give them back
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  docs/PLUGINS.md
  docs/V2-KERNEL.md
  website/docs/comparison.html
  website/docs/deprecated.html
  website/docs/features.html
  website/docs/keybindings.html
  website/docs/v1.html
  website/docs/v2-interface.html
  website/llms.txt
Due: rumdl-check

ci: let cog bump on the maintenance branch
  cog.toml
Due: none

ci: push the release tag, not the branch
  .github/workflows/cd.yml
Due: none

ci: make a v1 maintenance cut reach the tag
  .github/workflows/cd.yml
  cog.toml
Due: none

fix(core): keep the decisions a restart is supposed to bring back
  CLAUDE.md
  docs/CONFIG.md
  docs/FEATURES.md
  docs/V2-KERNEL.md
  src/kernel/config.rs
  src/kernel/modals/mod.rs
  src/kernel/modals/settings.rs
  src/kernel/registry.rs
  src/main.rs
  tests/kernel_mvp.rs
  tests/v2_core_settings.rs
  tests/v2_modals.rs
  tests/v2_plugin_switching.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: record what a v1 maintenance cut needs
  docs/RELEASING.md
Due: rumdl-check

refactor(core): clear the SonarCloud board
  src/agent/extension_config.rs
  src/agent/self_update.rs
  src/agent/themes_config.rs
  src/agent/tmux.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/git/mod.rs
  src/kernel/command.rs
  src/kernel/inventory.rs
  src/kernel/modals/theme.rs
  src/kernel/notify.rs
  src/kernel/packages.rs
  src/kernel/registry.rs
  src/kernel/repos.rs
  src/kernel/terminal.rs
  src/main.rs
  src/notifications.rs
  src/paths.rs
  src/session/extension_def.rs
  src/session/plugin_spec.rs
  src/session/review.rs
  src/session_ops/mod.rs
  src/session_ops/spawn.rs
  src/storage/messages.rs
  tests/architecture_rules.rs
  tests/v2_plugin_switching.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: lead the README with v2's customizable interface
  README.md
Due: rumdl-check

docs: show how to customize the TUI by asking an agent
  README.md
  website/css/components.css
  website/docs/features.html
  website/docs/v2-interface.html
  website/index.html
  website/llms.txt
Due: rumdl-check

docs: make the v1/v2 surface tables scannable
  README.md
  website/docs/features.html
Due: rumdl-check

fix(ui): ask before a force-delete only when work is at risk
  tests/v2_session_list.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add a Quit button to the action band
  src/kernel/bands.rs
  src/kernel/modals/help.rs
  src/kernel/modals/mod.rs
  src/kernel/registry.rs
  src/main.rs
  tests/v2_chrome.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): record the easter egg against the thurbox-doom plugin
  CLAUDE.md
  docs/media/doom-easter-egg.mp4
  scripts/demo/record-doom.sh
  scripts/demo/trim-cast.mjs
  website/assets/doom-easter-egg-poster.webp
  website/css/components.css
  website/js/main.js
Due: rumdl-check

fix(core): treat a persisted tmux pane id as a hint, not a fact
  docs/FEATURES.md
  src/kernel/terminal.rs
  tests/v2_attach_by_name.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): let a pane offer a link the outer terminal can open
  docs/FEATURES.md
  docs/PERFORMANCE.md
  docs/PLUGINS.md
  docs/V2-KERNEL.md
  src/kernel/command.rs
  src/kernel/node.rs
  src/kernel/terminal.rs
  src/main.rs
  tests/v2_mouse.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(ui): document restoring a broken plugin from the Interface tab
  CLAUDE.md
  README.md
  docs/PLUGINS.md
  docs/V2-KERNEL.md
  src/kernel/bundled.rs
  src/kernel/modals/interface.rs
  src/main.rs
  ui/AGENTS.md
  ui/README.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): stop a pane toggle leaving characters behind
  CLAUDE.md
  docs/PERFORMANCE.md
  docs/PLUGINS.md
  src/kernel/paint.rs
  src/kernel/terminal.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): stop a pane toggle blinking the whole screen
  CLAUDE.md
  docs/PERFORMANCE.md
  src/kernel/paint.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: mark v2 as unstable and v1 as the latest stable line
  README.md
  website/css/landing.css
  website/docs/faq.html
  website/docs/index.html
  website/docs/installation.html
  website/docs/v1.html
  website/docs/v2-interface.html
  website/index.html
  website/llms.txt
Due: rumdl-check

fix(core): stop auto-update carrying a 1.x install into 2.x
  CLAUDE.md
  README.md
  docs/CONFIG.md
  docs/RELEASING.md
  src/agent/self_update.rs
  src/agent/settings_config.rs
  src/agent/version_check.rs
  src/cli/update.rs
  src/cli/version.rs
  src/kernel/consent.rs
  src/kernel/updates.rs
  src/session/extension_def.rs
  website/docs/configuration.html
  website/docs/faq.html
  website/docs/features.html
  website/docs/installation.html
  website/docs/v1.html
  website/docs/v2-interface.html
  website/index.html
  website/llms.txt
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix: resolve CI failure in Windows (tests)
  src/kernel/consent.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(ui): stop an idle interface waking and re-rendering for nothing
  CLAUDE.md
  docs/PERFORMANCE.md
  src/kernel/command.rs
  src/kernel/host.rs
  src/main.rs
  tests/kernel_frame_cost.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(core): publish the snapshot's instant to the second
  docs/PERFORMANCE.md
  src/kernel/snapshot.rs
  tests/kernel_frame_cost.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): make a frame cost what changed, not what exists
  CLAUDE.md
  docs/PERFORMANCE.md
  docs/PLUGINS.md
  docs/V2-KERNEL.md
  openspec/changes/archive/2026-08-21-v2-proportional-frame/.openspec.yaml
  openspec/changes/archive/2026-08-21-v2-proportional-frame/design.md
  openspec/changes/archive/2026-08-21-v2-proportional-frame/proposal.md
  openspec/changes/archive/2026-08-21-v2-proportional-frame/specs/frame-cost/spec.md
  openspec/changes/archive/2026-08-21-v2-proportional-frame/specs/plugin-authoring/spec.md
  openspec/changes/archive/2026-08-21-v2-proportional-frame/tasks.md
  openspec/specs/frame-cost/spec.md
  openspec/specs/plugin-authoring/spec.md
  src/cli/perf.rs
  src/kernel/bands.rs
  src/kernel/convert.rs
  src/kernel/host.rs
  src/kernel/perf.rs
  src/kernel/registry.rs
  src/kernel/snapshot.rs
  src/kernel/terminal.rs
  src/kernel/theme.rs
  src/main.rs
  tests/kernel_frame_cost.rs
  tests/kernel_mvp.rs
  tests/kernel_perf.rs
  tests/v2_chrome.rs
  tests/v2_core_settings.rs
  tests/v2_hover.rs
  tests/v2_keymap.rs
  tests/v2_modals.rs
  tests/v2_mouse.rs
  tests/v2_new_session.rs
  tests/v2_plugin_programs.rs
  tests/v2_plugin_settings.rs
  tests/v2_search.rs
  tests/v2_session_list.rs
  tests/v2_terminal_pane.rs
  ui/plugins/10_sessions.lua
  ui/plugins/20_agent.lua
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): give the change-signals one vocabulary, and cover them
  CLAUDE.md
  docs/PERFORMANCE.md
  src/kernel/host.rs
  src/kernel/registry.rs
  src/kernel/snapshot.rs
  src/kernel/terminal.rs
  src/kernel/theme.rs
  src/main.rs
  tests/kernel_frame_cost.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): bring back the Ctrl+U restore list as a bundled float
  CLAUDE.md
  README.md
  docs/V2-KERNEL.md
  openspec/changes/v2-parity-gaps/proposal.md
  src/kernel/bundled.rs
  src/kernel/host.rs
  src/kernel/snapshot.rs
  tests/kernel_mvp.rs
  tests/v2_keymap.rs
  tests/v2_plugin_authoring.rs
  tests/v2_plugin_lifecycle.rs
  tests/v2_restore.rs
  ui/plugins/80_restore.lua
  website/docs/deprecated.html
  website/docs/features.html
  website/docs/keybindings.html
  website/docs/v2-interface.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix: resolve CI failure in Clippy
  tests/v2_restore.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(ui): give agent output its own frame floor
  CLAUDE.md
  docs/PERFORMANCE.md
  src/kernel/paint.rs
  src/kernel/terminal.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): give the frame floors one setter, and test what they promise
  CLAUDE.md
  docs/PERFORMANCE.md
  src/kernel/paint.rs
  src/kernel/terminal.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: propose landing-box operator for one-shot session spawn
  docs/proposals/landing-box.md
Due: rumdl-check

docs(landing-box): recommend Lua pane, not a session-slot role
  docs/proposals/landing-box.md
Due: rumdl-check
