Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

feat(core): run the user's own hooks around session lifecycle events
  CLAUDE.md
  docs/CONFIG.md
  docs/FEATURES.md
  openspec/changes/archive/2026-08-26-session-lifecycle-hooks/.openspec.yaml
  openspec/changes/archive/2026-08-26-session-lifecycle-hooks/design.md
  openspec/changes/archive/2026-08-26-session-lifecycle-hooks/proposal.md
  openspec/changes/archive/2026-08-26-session-lifecycle-hooks/specs/session-hooks/spec.md
  openspec/changes/archive/2026-08-26-session-lifecycle-hooks/tasks.md
  openspec/specs/session-hooks/spec.md
  src/agent/hooks_config.rs
  src/agent/mod.rs
  src/cli/config.rs
  src/cli/sessions.rs
  src/kernel/command/execute.rs
  src/session/hook_def.rs
  src/session/mod.rs
  src/session_ops/delete.rs
  src/session_ops/lifecycle_hooks.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  src/session_ops/spawn.rs
  tests/create_e2e.rs
  tests/kernel_mvp.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(ui): document session lifecycle hooks on the website and in the README
  README.md
  website/_includes/sidebar.njk
  website/docs/agent-hooks.html
  website/docs/configuration.html
  website/docs/features.html
  website/llms.txt
Due: rumdl-check

fix(core): gate the unix-only hook e2e helpers so Windows clippy sees no dead code
  tests/create_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): browse home when tab is pressed on an empty path field
  tests/v2_new_session.rs
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): type AltGr characters instead of dropping them as chords
  CLAUDE.md
  docs/FEATURES.md
  src/coordinator/input.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): a click is not a selection, so Ctrl+C reaches the shell again
  docs/FEATURES.md
  src/coordinator/input.rs
  src/coordinator/mouse.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): restore the terminal on SIGHUP/SIGTERM/SIGINT, not only on quit and panic
  CLAUDE.md
  docs/FEATURES.md
  src/coordinator/boot.rs
  src/coordinator/chrome.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): advertise the running thurbox-cli where a sharing peer probes
  CLAUDE.md
  docs/FEATURES.md
  openspec/changes/share-remote-sessions/design.md
  openspec/changes/share-remote-sessions/specs/shared-sessions/spec.md
  openspec/changes/share-remote-sessions/tasks.md
  src/cli/mod.rs
  src/coordinator/boot.rs
  src/session_ops/host_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(ui): link the community Discord from the README and website
  README.md
  website/_includes/base.njk
  website/css/components.css
Due: rumdl-check

fix(core): stop retrying an unprovisionable host every minute
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  openspec/changes/share-remote-sessions/specs/shared-sessions/spec.md
  openspec/changes/share-remote-sessions/tasks.md
  src/git/remote.rs
  src/git/tests.rs
  src/session_ops/host_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): let the session list jump to a session you just created
  docs/FEATURES.md
  tests/v2_session_list.rs
  ui/plugins/10_sessions.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(core): pace a host's discovery and mirror by what a round trip costs
  CLAUDE.md
  docs/PERFORMANCE.md
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): bind copy and paste through the registry, Cmd+C on macOS
  CLAUDE.md
  README.md
  docs/FEATURES.md
  docs/PLUGINS.md
  openspec/changes/v2-parity-gaps/proposal.md
  src/coordinator/chrome.rs
  src/coordinator/input.rs
  src/coordinator/publish.rs
  src/kernel/clipboard.rs
  src/kernel/host/mod.rs
  src/kernel/mod.rs
  src/kernel/modals/help.rs
  src/kernel/registry.rs
  tests/tui_e2e.rs
  tests/v2_keymap.rs
  tests/v2_terminal_pane.rs
  ui/plugins/20_agent.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): make one wheel notch step the selection once
  docs/FEATURES.md
  src/coordinator/boot.rs
  src/coordinator/mod.rs
  src/coordinator/mouse.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: gate changes through no-mistakes instead of /publish
  .claude/commands/refactor.md
  .claude/skills/publish/SKILL.md
  .no-mistakes.yaml
  .opencode/commands/refactor.md
  CONTRIBUTING.md
Due: rumdl-check

chore: retire /ship and /sync for the no-mistakes gate
  .claude/commands/ship.md
  .claude/commands/sync.md
  .claude/skills/ui-review/SKILL.md
  .opencode/commands/ship.md
  .opencode/commands/sync.md
  CONTRIBUTING.md
Due: rumdl-check

chore: no-mistakes review - fix reviewer guidance scoping and Lua formatting in gate config
  .no-mistakes.yaml
Due: none

chore: no-mistakes review - correct test-placement and lint claims in gate guidance
  .no-mistakes.yaml
  CONTRIBUTING.md
Due: rumdl-check

chore: no-mistakes review - delete stale pi workflows, extend rubric to Lua trees
  .no-mistakes.yaml
  .pi/prompts/refactor.md
  .pi/skills/publish/SKILL.md
  CLAUDE.md
  docs/README.md
Due: rumdl-check

chore: no-mistakes review - narrow asset ignore pattern, add rustdoc to lint
  .no-mistakes.yaml
  CONTRIBUTING.md
Due: rumdl-check

chore: no-mistakes review - correct scripts guidance, add installer block, fix poster note
  .no-mistakes.yaml
Due: none

chore: no-mistakes document - point CONTRIBUTING architecture at current module graph
  CONTRIBUTING.md
Due: rumdl-check

refactor(core): consolidate example Lua under examples/
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .no-mistakes.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  docs/PLUGINS.md
  docs/V2-KERNEL.md
  examples/lua/composite.lua
  examples/lua/events.lua
  examples/lua/layout.lua
  examples/lua/plugin.lua
  examples/panes/tasks/plugin.toml
  examples/panes/tasks/tasks.lua
  examples/panes/top/plugin.toml
  examples/panes/top/top.lua
  justfile
  scripts/demo/agents.tape
  scripts/demo/interface.tape
  scripts/demo/record.sh
  scripts/demo/search.tape
  src/agent/extension_config.rs
  src/cli/plugins.rs
  src/kernel/modals/interface.rs
  src/kernel/packages.rs
  tests/v2_plugin_authoring.rs
  tests/v2_plugin_lifecycle.rs
  tests/v2_plugin_packages.rs
  ui/README.md
  website/css/landing.css
  website/docs/features.html
  website/index.html
  website/js/main.js
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): flatten src/usage and guard proptest seed paths
  src/usage.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes review - fix proptest seed guard mapping and fold file walker
  docs/PLUGINS.md
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes document - correct release-relevance path list after examples/ move
  CLAUDE.md
Due: rumdl-check

chore: no-mistakes review - drop unsurfaced migration note and clipboard toast claim
  website/docs/configuration.html
Due: none

chore: no-mistakes review - correct reload, conflict and id-discovery claims; drop dead counter
  website/docs/configuration.html
  website/docs/performance.html
Due: none

chore: no-mistakes review - fix session send flags, delete chord, ui.json action ids
  README.md
  website/docs/configuration.html
Due: rumdl-check

chore: no-mistakes review - correct Ctrl+S conflict, host reload and toast claims
  README.md
  website/docs/configuration.html
Due: rumdl-check

docs: remove v1 references and trim the docs and website
  CONTRIBUTING.md
  README.md
  docs/DEVELOPMENT.md
  docs/README.md
  website/_includes/sidebar.njk
  website/docs/agent-hooks.html
  website/docs/architecture.html
  website/docs/comparison.html
  website/docs/configuration.html
  website/docs/deprecated.html
  website/docs/extensions.html
  website/docs/faq.html
  website/docs/features.html
  website/docs/index.html
  website/docs/installation.html
  website/docs/interface.html
  website/docs/keybindings.html
  website/docs/performance.html
  website/docs/tutorial.html
  website/docs/v1.html
  website/index.html
  website/llms.txt
Due: rumdl-check

chore: no-mistakes review - fix ui.json shape, agent list, sync dep, fork wording
  CONTRIBUTING.md
  README.md
  website/docs/architecture.html
  website/docs/configuration.html
Due: rumdl-check

chore: no-mistakes review - document keybindings.json migration; drop unsurfaced-warning claims
  README.md
  website/docs/configuration.html
Due: rumdl-check

chore: no-mistakes review - replace nonexistent scrollback chords; drop scrollbar click claim
  README.md
Due: rumdl-check

chore: no-mistakes review - correct Shift+D confirm condition, add themes.toml restart
  README.md
Due: rumdl-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
