Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

feat: relay worker clarifying questions and trigger plan mode in flow
  extensions/flow/FLOW.md
  extensions/flow/README.md
  extensions/flow/claude-settings.json
  extensions/flow/extension.toml
  extensions/flow/scripts/create-task.bats
  extensions/flow/scripts/create-task.sh
  extensions/flow/scripts/parse-questions.bats
  extensions/flow/scripts/parse-questions.sh
Due: rumdl-check

docs: document extension system and all built-in extensions in README
  README.md
Due: rumdl-check

docs(ui): regenerate UI review report for thurbox TUI
  website/assets/ui-review/01-session-list.png
  website/assets/ui-review/02-second-session.png
  website/assets/ui-review/03-info-panel.png
  website/assets/ui-review/04-file-viewer.png
  website/assets/ui-review/05-tasks-panel.png
  website/assets/ui-review/06-automations.png
  website/assets/ui-review/07-global-search.png
  website/assets/ui-review/08-theme-picker.png
  website/assets/ui-review/09-repo-picker.png
  website/assets/ui-review/10-keybindings.png
  website/docs/ui-review.html
Due: none

fix(ui): act on UI-review findings (cron, status glyphs, file tree, selection contrast)
  src/app/mod.rs
  src/app/modals.rs
  src/session/mod.rs
  src/session/theme_config.rs
  src/ui/file_viewer.rs
  src/ui/project_list.rs
  src/ui/theme_picker_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): refresh UI review report after the UI fixes
  website/assets/ui-review/01-session-list.png
  website/assets/ui-review/02-second-session.png
  website/assets/ui-review/03-info-panel.png
  website/assets/ui-review/04-file-viewer.png
  website/assets/ui-review/05-tasks-panel.png
  website/assets/ui-review/06-automations.png
  website/assets/ui-review/07-global-search.png
  website/assets/ui-review/08-theme-picker.png
  website/assets/ui-review/09-repo-picker.png
  website/assets/ui-review/10-keybindings.png
  website/docs/ui-review.html
Due: none

feat(core): add inter-session message queue and rewire flow onto it
  CLAUDE.md
  docs/FEATURES.md
  extensions/flow/FLOW.md
  extensions/flow/README.md
  extensions/flow/claude-settings.json
  extensions/flow/extension.toml
  extensions/flow/scripts/create-task.bats
  extensions/flow/scripts/create-task.sh
  extensions/flow/scripts/parse-questions.bats
  extensions/flow/scripts/parse-questions.sh
  src/cli/automations.rs
  src/cli/messages.rs
  src/cli/mod.rs
  src/session/message.rs
  src/session/mod.rs
  src/storage/messages.rs
  src/storage/mod.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  website/docs/extension-flow.html
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

build(docs): adopt Eleventy to de-duplicate website chrome
  .github/workflows/pages.yml
  .gitignore
  .pre-commit-config.yaml
  eleventy.config.js
  package-lock.json
  package.json
  website/_includes/base.njk
  website/_includes/docs.njk
  website/_includes/sidebar.njk
  website/css/ui-review.css
  website/docs/architecture.html
  website/docs/extension-ci-shepherd.html
  website/docs/extension-flow.html
  website/docs/extension-forge.html
  website/docs/extension-renovate.html
  website/docs/extensions.html
  website/docs/features.html
  website/docs/index.html
  website/docs/installation.html
  website/docs/keybindings.html
  website/docs/ui-review.html
  website/index.html
  website/website.11tydata.js
Due: none

ci: lint website via build-then-lint flow
  .github/workflows/ci.yml
Due: none

docs: regenerate demo media after UI fixes
  docs/media/automations-demo.gif
  docs/media/automations-demo.mp4
  docs/media/search-demo.gif
  docs/media/search-demo.mp4
  docs/media/tasks-demo.gif
  docs/media/tasks-demo.mp4
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  docs/media/thurbox-file-manager.gif
  docs/media/thurbox-file-manager.mp4
  docs/media/thurbox-fork.gif
  docs/media/thurbox-fork.mp4
  docs/media/thurbox-info-panel.gif
  docs/media/thurbox-info-panel.mp4
  docs/media/thurbox-session-creation.gif
  docs/media/thurbox-session-creation.mp4
  docs/media/thurbox-theme.gif
  docs/media/thurbox-theme.mp4
Due: none

fix: relay flow answers to workers by matching real session names
  extensions/flow/FLOW.md
  extensions/flow/README.md
  extensions/flow/scripts/flow-sessions.bats
  extensions/flow/scripts/flow-snapshot.sh
  extensions/flow/scripts/flow-summary.sh
Due: rumdl-check

docs: restructure website nav and link home feature cards
  website/_includes/sidebar.njk
  website/css/docs.css
  website/css/landing.css
  website/docs/configuration.html
  website/docs/features.html
  website/docs/index.html
  website/index.html
Due: none

docs: enumerate features in the docs sidebar and split out extensions
  website/_includes/sidebar.njk
  website/css/docs.css
  website/docs/features.html
  website/js/main.js
Due: none

docs: redesign the homepage (hero, install tabs, agent logos, feature showcase)
  website/_includes/base.njk
  website/_includes/docs.njk
  website/css/base.css
  website/css/components.css
  website/css/landing.css
  website/index.html
  website/js/main.js
Due: none

docs: regenerate demo media with working codex CLI
  docs/media/automations-demo.gif
  docs/media/automations-demo.mp4
  docs/media/search-demo.gif
  docs/media/search-demo.mp4
  docs/media/tasks-demo.gif
  docs/media/tasks-demo.mp4
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  docs/media/thurbox-file-manager.gif
  docs/media/thurbox-file-manager.mp4
  docs/media/thurbox-fork.gif
  docs/media/thurbox-fork.mp4
  docs/media/thurbox-info-panel.gif
  docs/media/thurbox-info-panel.mp4
  docs/media/thurbox-session-creation.gif
  docs/media/thurbox-session-creation.mp4
  docs/media/thurbox-theme.gif
  docs/media/thurbox-theme.mp4
Due: none

docs: seed agent auth + folder trust in demo recordings
  docs/media/automations-demo.gif
  docs/media/automations-demo.mp4
  docs/media/search-demo.gif
  docs/media/search-demo.mp4
  docs/media/tasks-demo.gif
  docs/media/tasks-demo.mp4
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  docs/media/thurbox-file-manager.gif
  docs/media/thurbox-file-manager.mp4
  docs/media/thurbox-fork.gif
  docs/media/thurbox-fork.mp4
  docs/media/thurbox-info-panel.gif
  docs/media/thurbox-info-panel.mp4
  docs/media/thurbox-session-creation.gif
  docs/media/thurbox-session-creation.mp4
  docs/media/thurbox-theme.gif
  docs/media/thurbox-theme.mp4
  scripts/demo/record.sh
Due: none

feat: send flow worker clarifying questions one at a time
  extensions/flow/FLOW.md
  extensions/flow/README.md
  extensions/flow/scripts/create-task.bats
  extensions/flow/scripts/create-task.sh
Due: rumdl-check

fix(config): quiet flow ticks and widen cadence to 10 min
  docs/CONFIG.md
  docs/FEATURES.md
  extensions/flow/FLOW.md
  extensions/flow/README.md
  extensions/flow/extension.toml
Due: rumdl-check

feat(cli): human-readable output by default, JSON via --json
  CLAUDE.md
  extensions/ci-shepherd/SHEPHERD.md
  extensions/ci-shepherd/scripts/dispatch-fix.sh
  extensions/ci-shepherd/scripts/shepherd-snapshot.sh
  extensions/flow/FLOW.md
  extensions/flow/scripts/flow-snapshot.sh
  extensions/flow/scripts/flow-summary.sh
  extensions/renovate/RENOVATE.md
  extensions/renovate/scripts/dispatch-update.sh
  extensions/renovate/scripts/renovate-snapshot.sh
  scripts/dev/remote-ssh-test.sh
  src/bin/thurbox-cli.rs
  src/cli/automations.rs
  src/cli/config.rs
  src/cli/editor.rs
  src/cli/extensions.rs
  src/cli/messages.rs
  src/cli/mod.rs
  src/cli/output.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(cli): tidy human renderers and expand test coverage
  src/cli/automations.rs
  src/cli/config.rs
  src/cli/editor.rs
  src/cli/messages.rs
  src/cli/output.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): stable session identity + identity-aware mailbox
  CLAUDE.md
  extensions/flow/FLOW.md
  extensions/flow/README.md
  extensions/flow/scripts/create-task.bats
  extensions/flow/scripts/create-task.sh
  extensions/flow/scripts/flow-sessions.bats
  extensions/flow/scripts/flow-snapshot.sh
  src/agent/backend.rs
  src/app/mod.rs
  src/cli/automations.rs
  src/cli/messages.rs
  src/cli/mod.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/session/mod.rs
  src/session_ops/extensions.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
  src/session_ops/spawn.rs
  src/storage/messages.rs
  src/storage/sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(config): remove scheduled automation from flow extension
  CLAUDE.md
  docs/CONFIG.md
  docs/FEATURES.md
  extensions/flow/FLOW.md
  extensions/flow/README.md
  extensions/flow/extension.toml
  extensions/flow/install.sh
  website/docs/extension-flow.html
  website/docs/extensions.html
Due: rumdl-check

fix(ui): route clipboard paste into focused modal/editor inputs
  docs/FEATURES.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): defer readline Ctrl chords to the PTY when terminal focused
  CLAUDE.md
  docs/CONFIG.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/session/keybindings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test: add TUI acceptance (e2e) test harness and smoke test
  .github/workflows/ci.yml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  scripts/dev/tui-smoke-test.sh
  src/app/acceptance.rs
  src/app/mod.rs
  src/app/snapshots/thurbox__app__acceptance__empty_welcome_screen_renders.snap
  src/app/snapshots/thurbox__app__acceptance__help_overlay_lists_keybindings.snap
  src/app/snapshots/thurbox__app__acceptance__theme_picker_lists_palettes.snap
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci: add dedicated Acceptance Tests pipeline stage
  .github/workflows/ci.yml
Due: none

test: cover main TUI features in the acceptance suite
  src/app/acceptance.rs
  src/app/snapshots/thurbox__app__acceptance__automations_list_modal_empty.snap
  src/app/snapshots/thurbox__app__acceptance__restore_sessions_modal_empty.snap
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test: add behavioral + spawn-backed acceptance coverage
  src/app/acceptance.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): support readline Ctrl+W/Ctrl+U editing in modal text inputs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): rebind global search from Ctrl+A to Ctrl+/
  CLAUDE.md
  README.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/settings_config.rs
  src/app/acceptance.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/search.rs
  src/app/task_state.rs
  src/session/keybindings.rs
  src/session/settings.rs
  src/ui/global_search.rs
  src/ui/project_list.rs
  src/ui/tasks_panel.rs
  website/docs/configuration.html
  website/docs/features.html
  website/docs/keybindings.html
  website/docs/ui-review.html
  website/index.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): reduce cognitive complexity in app/mod.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): reduce cognitive complexity in key_handlers.rs
  src/app/key_handlers.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(ui): reduce cognitive complexity in ui/storage/agent helpers
  src/app/view.rs
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): extract gated() helper to simplify dispatch_action
  src/app/key_handlers.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): full readline line-editing in modal text fields
  CLAUDE.md
  src/app/modals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): re-link stale Send automation targets on extension self-heal
  src/session_ops/extensions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor: reduce cognitive complexity below SonarQube S3776 threshold
  src/agent/agent_config.rs
  src/agent/extension_config.rs
  src/agent/input.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/cli/automations.rs
  src/cli/config.rs
  src/cli/extensions.rs
  src/cli/messages.rs
  src/main.rs
  src/session/automation.rs
  src/session_ops/delete.rs
  src/session_ops/extensions.rs
  src/ui/automation_detail.rs
  src/ui/automations_panel.rs
  src/ui/file_viewer.rs
  src/ui/global_search.rs
  src/ui/info_panel.rs
  src/ui/layout.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/repo_picker_modal.rs
  src/ui/task_editor_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): load agents.toml resiliently, skipping only malformed entries
  docs/CONFIG.md
  src/agent/agent_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): disambiguate global --text flag from session send positional
  src/cli/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): sort session list alphabetically with Shift+S
  CLAUDE.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/session/keybindings.rs
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(ui): collapse sort_group_alphabetically onto nest_group_members
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
