Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

test(core): read architecture guards the same on a CRLF checkout
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): route session pane operations through the row's backend
  .agents/skills/thurbox-remote-hosts/SKILL.md
  .agents/skills/thurbox-session-status/SKILL.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/agent/backend.rs
  src/agent/mux.rs
  src/agent/psmux.rs
  src/agent/registry.rs
  src/agent/tmux.rs
  src/cli/action.rs
  src/cli/automations.rs
  src/cli/session_doctor.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/cli/watch.rs
  src/kernel/command/execute.rs
  src/kernel/snapshot.rs
  src/session_ops/delete.rs
  src/session_ops/mod.rs
  src/session_ops/rename.rs
  tests/architecture_rules.rs
  tests/cli_watch.rs
  tests/lifecycle_dispatch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): carry #1280 into the split mux modules and the dialect fixture
  docs/FEATURES.md
  src/agent/mux.rs
  tests/terminal_features_clipboard.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): drive the tmux-specific tests through the tmux backend
  tests/spawn_with_failing_tmux_hook.rs
  tests/terminal_features_clipboard.rs
  tests/window_remain_on_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): pin dialect answers in a lasting fixture
  nix/package.nix
  src/agent/mux.rs
  tests/fixtures/mux_dialect_answers.txt
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): pin non-ASCII output printed while a pane is attached
  tests/live_output_utf8.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): keep a character tmux splits across two %output lines
  docs/ARCHITECTURE.md
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): pin the split-character case where live output is already pinned
  docs/ARCHITECTURE.md
  src/agent/control_mode/mod.rs
  tests/lazy_terminals.rs
  tests/live_output_utf8.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): drop a pane-start wait that could never wait
  tests/lazy_terminals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): keep a character tmux splits across two %output lines (#1283)
  docs/ARCHITECTURE.md
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/tmux.rs
  tests/lazy_terminals.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): assert every architecture rule, not only the ones with a test
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): read the session's own pane in watch --verify
  src/cli/watch.rs
  tests/cli_watch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): bring kernel back inside its architecture rule and document the whole graph
  .agents/skills/thurbox-kernel/SKILL.md
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CONSTITUTION.md
  docs/REVIEW.md
  docs/V2-KERNEL.md
  src/kernel/packages.rs
  src/kernel/terminal/mod.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(cli): cover the watch --initial --verify baseline
  tests/cli_watch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): pin the stripper's newline rule on fixed inputs, not only on today's src
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): read the session's own pane in watch --verify (#1286)
  src/cli/watch.rs
  tests/cli_watch.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): enforce every architecture rule (#1285)
  .agents/skills/thurbox-kernel/SKILL.md
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CONSTITUTION.md
  docs/REVIEW.md
  docs/V2-KERNEL.md
  src/kernel/packages.rs
  src/kernel/terminal/mod.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): resolve architecture edges and check the graph for cycles
  tests/architecture/resolver.rs
  tests/architecture_rules.rs
  tests/fixtures/architecture/backend_cycle/agent/backend.rs
  tests/fixtures/architecture/backend_cycle/agent/control_mode/mod.rs
  tests/fixtures/architecture/backend_cycle/agent/mod.rs
  tests/fixtures/architecture/backend_cycle/agent/tmux.rs
  tests/fixtures/architecture/backend_cycle/lib.rs
  tests/fixtures/architecture/laundering/agent/mod.rs
  tests/fixtures/architecture/laundering/agent/tmux.rs
  tests/fixtures/architecture/laundering/kernel/mod.rs
  tests/fixtures/architecture/laundering/kernel/other.rs
  tests/fixtures/architecture/laundering/lib.rs
  tests/fixtures/architecture/mux_registry_cycle/agent/control_mode.rs
  tests/fixtures/architecture/mux_registry_cycle/agent/mod.rs
  tests/fixtures/architecture/mux_registry_cycle/agent/mux.rs
  tests/fixtures/architecture/mux_registry_cycle/agent/psmux.rs
  tests/fixtures/architecture/mux_registry_cycle/agent/registry.rs
  tests/fixtures/architecture/mux_registry_cycle/agent/tmux.rs
  tests/fixtures/architecture/mux_registry_cycle/lib.rs
  tests/fixtures/architecture/test_edges/a.rs
  tests/fixtures/architecture/test_edges/b/mod.rs
  tests/fixtures/architecture/test_edges/b/tests.rs
  tests/fixtures/architecture/test_edges/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(core): describe the backend module boundary
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-performance/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  .agents/skills/thurbox-session-status/SKILL.md
  .agents/skills/thurbox-testing/SKILL.md
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CONSTITUTION.md
  docs/FEATURES.md
  docs/PERFORMANCE.md
  docs/REVIEW.md
Due: rumdl-check

refactor(core): break the backend contract cycle
  scripts/dev/lib/sandbox-env.sh
  scripts/dev/reap-tmux-servers.sh
  src/agent/preflight.rs
  src/backend/contract.rs
  src/backend/identity.rs
  src/backend/mod.rs
  src/backend/pane.rs
  src/backend/registry.rs
  src/backend/tmux.rs
  src/backend/tmux_compat/control_mode/mod.rs
  src/backend/tmux_compat/control_mode/tests.rs
  src/backend/tmux_compat/transport.rs
  src/backend/wiring.rs
  src/cli/sessions.rs
  src/kernel/snapshot.rs
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
  src/kernel/terminal/programs.rs
  src/session_ops/delete.rs
  src/session_ops/names.rs
  src/session_ops/rename.rs
  src/session_ops/restore.rs
  src/session_ops/spawn.rs
  tests/architecture/resolver.rs
  tests/architecture_rules.rs
  tests/cli_session_hook_state.rs
  tests/one_window_per_stamp.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): prove the transitional table fails both ways
  src/backend/identity.rs
  tests/architecture_rules.rs
  tests/session_lifetime.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): govern nested backend files and re-exports through imports
  .agents/skills/thurbox-kernel/SKILL.md
  AGENTS.md
  docs/CONSTITUTION.md
  tests/architecture/resolver.rs
  tests/architecture_rules.rs
  tests/fixtures/architecture/laundering/agent/mod.rs
  tests/fixtures/architecture/laundering/kernel/other.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): pin persisted routes and mux-variant references before unifying them
  src/kernel/terminal/mod.rs
  src/session/host_def.rs
  tests/architecture/resolver.rs
  tests/architecture_rules.rs
  tests/backend_routes.rs
  tests/fixtures/architecture/mux_variants/backend/mod.rs
  tests/fixtures/architecture/mux_variants/backend/wiring.rs
  tests/fixtures/architecture/mux_variants/kernel/mod.rs
  tests/fixtures/architecture/mux_variants/lib.rs
  tests/fixtures/architecture/mux_variants/session/mod.rs
  tests/fixtures/architecture/mux_variants/session/multiplexer.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(core): record the route grammar, its legacy meanings and ADR-28
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/CONSTITUTION.md
Due: rumdl-check

refactor(core): read every persisted backend_type through one typed route
  src/agent/host_config.rs
  src/agent/settings_config.rs
  src/backend/registry.rs
  src/backend/tmux.rs
  src/backend/tmux_compat/transport.rs
  src/backend/wiring.rs
  src/cli/automations.rs
  src/cli/config.rs
  src/cli/doctor.rs
  src/cli/session_doctor.rs
  src/cli/sessions.rs
  src/cli/watch.rs
  src/kernel/command/mod.rs
  src/kernel/diff.rs
  src/kernel/snapshot.rs
  src/kernel/terminal/mod.rs
  src/session/hook_status.rs
  src/session/host_def.rs
  src/session/mod.rs
  src/session/multiplexer.rs
  src/session/route.rs
  src/session_ops/delete.rs
  src/session_ops/extensions/lifecycle.rs
  src/session_ops/lifecycle_hooks.rs
  src/session_ops/mirror.rs
  src/session_ops/mod.rs
  src/session_ops/names.rs
  src/session_ops/remote_hooks.rs
  src/session_ops/rename.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  src/session_ops/spawn.rs
  src/storage/wsl_repair.rs
  tests/architecture/resolver.rs
  tests/architecture_rules.rs
  tests/extension_heal_e2e.rs
  tests/fixtures/architecture/mux_variants/kernel/mod.rs
  tests/remote_status.rs
  tests/wsl_loopback_repair_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): refuse a local row whose multiplexer this machine does not run
  src/session_ops/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): tint the context-menu entry under the pointer
  docs/FEATURES.md
  tests/context_menu.rs
  ui/plugins/64_menu.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(core): note stop and worktrees in ADR-28's refusal
  docs/ARCHITECTURE.md
Due: rumdl-check

fix(core): launch, stop and tear down with the route's own multiplexer
  src/backend/tmux.rs
  src/kernel/snapshot.rs
  src/session_ops/delete.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
  src/session_ops/spawn.rs
  tests/backend_routes.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): refuse stop of a local row this machine's multiplexer does not serve
  src/session_ops/restart.rs
  tests/backend_routes.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(core): record the local:<mux> spelling and its downgrade cost
  docs/ARCHITECTURE.md
  docs/CONFIG.md
Due: rumdl-check

refactor(core): qualify local routes as local:<mux>, like ssh: and wsl:
  src/backend/registry.rs
  src/backend/tmux.rs
  src/session/multiplexer.rs
  src/session/route.rs
  src/session_ops/mod.rs
  tests/backend_routes.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): pin force-delete and reap of a local row on another multiplexer
  tests/backend_routes.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): refuse force-delete and reap of a local row this machine does not serve
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/session_ops/delete.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): assert the route and contract know no launcher, adapter or build OS
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): pin host platform apart from multiplexer and build OS (red)
  src/backend/tmux.rs
  src/session/host_def.rs
  src/session/mod.rs
  src/session/platform.rs
  tests/backend_routes.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): separate host platform from multiplexer and launcher
  src/agent/host_config.rs
  src/agent/host_path.rs
  src/backend/contract.rs
  src/backend/registry.rs
  src/backend/tmux.rs
  src/backend/tmux_compat/control_mode/tests.rs
  src/backend/tmux_compat/transport.rs
  src/backend/wiring.rs
  src/cli/automations.rs
  src/cli/session_doctor.rs
  src/coordinator/boot.rs
  src/git/command.rs
  src/git/remote.rs
  src/kernel/metrics.rs
  src/kernel/snapshot.rs
  src/kernel/terminal/mod.rs
  src/paths/mod.rs
  src/paths/tests.rs
  src/session/host_def.rs
  src/session/multiplexer.rs
  src/session/route.rs
  src/session_ops/host_cli.rs
  src/session_ops/mod.rs
  src/session_ops/spawn.rs
  src/shell.rs
  src/usage.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest
