Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

fix(core): block remote RMUX existing-session routes
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/CONFIG.md
  src/agent/tmux.rs
  src/cli/sessions.rs
  src/session_ops/delete.rs
  src/session_ops/host_cli.rs
  tests/rmux_e2e.rs
  website/docs/configuration.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): pin Codex conversations across restart
  .agents/skills/thurbox-agents/SKILL.md
  docs/AGENTS.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  extensions/hooks/README.md
  extensions/hooks/codex-hooks.json
  src/agent/agent_config.rs
  src/cli/sessions.rs
  src/session/agent_def.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  tests/create_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): guard Codex picker recovery
  .agents/skills/thurbox-agents/SKILL.md
  docs/AGENTS.md
  docs/FEATURES.md
  src/cli/sessions.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
  src/session_ops/spawn.rs
  tests/create_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): assert Codex picker rebinds ambiguous row
  tests/create_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat: add optional Herdr session backend
  src/agent/herdr.rs
  src/agent/mod.rs
  src/agent/registry.rs
  src/cli/sessions.rs
  src/session_ops/delete.rs
  src/session_ops/restart.rs
  src/session_ops/spawn.rs
  tests/create_e2e.rs
  tests/herdr_backend_e2e.rs
  tests/kernel_mvp.rs
  tests/reap_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: document optional Herdr sessions
  docs/CONFIG.md
Due: rumdl-check

fix: preserve Herdr terminal control fidelity
  src/agent/herdr.rs
  tests/herdr_backend_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test: verify live Herdr input after adoption
  tests/herdr_backend_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix: respawn Herdr sessions on restart
  src/session_ops/restart.rs
  tests/herdr_backend_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix: address Herdr backend review findings
  src/agent/herdr.rs
  src/cli/sessions.rs
  src/session_ops/spawn.rs
  tests/herdr_backend_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix: guard Unix-only Herdr reader test
  src/agent/herdr.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

style: move Herdr tests after implementation
  src/agent/herdr.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

✨ [ui] Open the repo step on its search and type to filter
  docs/TUTORIAL.md
  scripts/demo/record-tutorial.sh
  tests/new_session.rs
  ui/plugins/70_new_session.lua
  website/docs/keybindings.html
  website/docs/tutorial.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

💄 [ui] Show every repo-step key in full, forget included
  tests/new_session.rs
  ui/lib/modal.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

✨ [ui] Confirm the repo step with ctrl+enter from any focus
  docs/TUTORIAL.md
  tests/new_session.rs
  ui/plugins/70_new_session.lua
  website/docs/keybindings.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): give WSL and SSH agents the host's login-shell PATH
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/CONFIG.md
  src/agent/host_config.rs
  src/agent/host_path.rs
  src/agent/mod.rs
  src/agent/tmux.rs
  src/session/host_def.rs
  src/session_ops/host_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

✨ [ui] Start the repo path at the directory the repos share
  docs/TUTORIAL.md
  tests/fixtures/edited_interface/lib_surface.txt
  tests/new_session.rs
  ui/lib/pathpicker.lua
  ui/plugins/70_new_session.lua
  website/docs/tutorial.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): bound the host PATH probe's output by its deadline
  src/agent/host_path.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): drop a probe line the output cap cuts through
  src/agent/host_path.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

🐛 [ui] Clear the repo search when a repository is added
  tests/new_session.rs
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

✨ [ui] Create a folder for a repo path that does not exist yet
  docs/TUTORIAL.md
  src/git/mod.rs
  src/git/newrepo.rs
  src/git/tests.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  tests/kernel_mvp.rs
  tests/new_session.rs
  tests/repo_memory.rs
  ui/lib/thurbox.d.lua
  ui/plugins/70_new_session.lua
  website/docs/tutorial.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

✨ [ui] Clone a repository into a new folder from the flow
  docs/TUTORIAL.md
  src/coordinator/input.rs
  tests/new_session.rs
  ui/plugins/70_new_session.lua
  website/docs/tutorial.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

✨ [ui] Rank repo search results by the repository's name
  tests/new_session.rs
  ui/lib/repo_picker.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

🐛 [ui] Tick nothing when a repository write fails
  src/kernel/command/mod.rs
  tests/kernel_mvp.rs
  tests/new_session.rs
  ui/lib/thurbox.d.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): pin Codex conversations across restart (#1258)
  .agents/skills/thurbox-agents/SKILL.md
  docs/AGENTS.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  extensions/hooks/README.md
  extensions/hooks/codex-hooks.json
  src/agent/agent_config.rs
  src/cli/sessions.rs
  src/session/agent_def.rs
  src/session_ops/builtin_hooks.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
  src/session_ops/restore.rs
  src/session_ops/spawn.rs
  tests/create_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): fuzzy-first repo picker with create and clone (#1262)
  docs/TUTORIAL.md
  scripts/demo/record-tutorial.sh
  src/coordinator/input.rs
  src/git/mod.rs
  src/git/newrepo.rs
  src/git/tests.rs
  src/kernel/command/execute.rs
  src/kernel/command/mod.rs
  tests/fixtures/edited_interface/lib_surface.txt
  tests/kernel_mvp.rs
  tests/new_session.rs
  tests/repo_memory.rs
  ui/lib/modal.lua
  ui/lib/pathpicker.lua
  ui/lib/repo_picker.lua
  ui/lib/thurbox.d.lua
  ui/plugins/70_new_session.lua
  website/docs/keybindings.html
  website/docs/tutorial.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): give WSL and SSH agents the host's login-shell PATH (#1261)
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/CONFIG.md
  src/agent/host_config.rs
  src/agent/host_path.rs
  src/agent/mod.rs
  src/agent/tmux.rs
  src/session/host_def.rs
  src/session_ops/host_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: clarify benchmark CPU scale
  package.json
  scripts/ci/check-performance-cpu-scale.mjs
  website/docs/performance.html
Due: none

test: isolate plugin checks from saved keybindings
  tests/plugin_authoring.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): reload agent registry in open TUI
  src/agent/agent_config.rs
  src/coordinator/mod.rs
  src/kernel/snapshot.rs
  src/kernel/terminal/mod.rs
  src/session_ops/mod.rs
  tests/create_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(config): describe live agent reload rule
  docs/CONFIG.md
Due: rumdl-check

fix(core): publish only adopted agent generations
  src/agent/agent_config.rs
  src/kernel/snapshot.rs
  tests/create_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): detect registry edits and recovery
  src/agent/agent_config.rs
  src/kernel/snapshot.rs
  tests/create_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(config): describe registry content polling
  docs/CONFIG.md
Due: rumdl-check

fix(core): reload agent registry in open TUI (#1264)
  docs/CONFIG.md
  src/agent/agent_config.rs
  src/coordinator/mod.rs
  src/kernel/snapshot.rs
  src/kernel/terminal/mod.rs
  src/session_ops/mod.rs
  tests/create_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: clarify benchmark CPU scale (#1263)
  package.json
  scripts/ci/check-performance-cpu-scale.mjs
  tests/plugin_authoring.rs
  website/docs/performance.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): enable tmux mouse reporting for agent sessions
  docs/ARCHITECTURE.md
  src/agent/tmux.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: add remote setup playbooks
  docs/CONFIG.md
  docs/REMOTE-SETUP.md
  docs/TUTORIAL.md
  website/_includes/sidebar.njk
  website/docs/configuration.html
  website/docs/features.html
  website/docs/index.html
  website/docs/remote-setup.html
  website/docs/tutorial.html
  website/llms.txt
Due: rumdl-check

docs: clarify isolated SSH validation
  docs/REMOTE-SETUP.md
  website/docs/remote-setup.html
Due: rumdl-check

docs: fix remote setup guide flow
  docs/REMOTE-SETUP.md
  website/docs/remote-setup.html
Due: rumdl-check
