Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

feat(core): OS notifications when an agent needs attention
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  docs/CONFIG.md
  src/agent/settings_config.rs
  src/app/mod.rs
  src/app/notify_state.rs
  src/lib.rs
  src/notifications.rs
  src/session/mod.rs
  src/session/settings.rs
  src/storage/settings.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): forward mouse wheel events to alt-screen TUIs
  src/agent/backend.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: design plan for automatic worktree cleanup
  docs/WORKTREE_CLEANUP.md
Due: rumdl-check

feat: add opt-in version update indicator (TUI badge + CLI version --check)
  CLAUDE.md
  docs/CONFIG.md
  src/agent/extension_config.rs
  src/agent/mod.rs
  src/agent/settings_config.rs
  src/agent/version_check.rs
  src/app/mod.rs
  src/app/view.rs
  src/cli/mod.rs
  src/cli/version.rs
  src/session/settings.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor: tidy version-check feature; drop redundant update flag
  src/agent/version_check.rs
  src/app/mod.rs
  src/app/view.rs
  src/cli/version.rs
  src/ui/status_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): support multi-repo headless spawns and wire flow to them
  CLAUDE.md
  extensions/flow/FLOW.md
  extensions/flow/README.md
  extensions/flow/repos.md
  extensions/flow/scripts/create-task.bats
  extensions/flow/scripts/create-task.sh
  src/app/mod.rs
  src/app/modals.rs
  src/cli/automations.rs
  src/cli/mod.rs
  src/cli/sessions.rs
  src/cli/tasks.rs
  src/session/automation.rs
  src/session/mod.rs
  src/session_ops/extensions.rs
  src/session_ops/spawn.rs
  src/storage/automations.rs
  src/storage/mod.rs
  src/storage/schema.rs
  src/storage/tasks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(config): add worked examples to seeded config files
  docs/CONFIG.md
  src/agent/agent_config.rs
  src/agent/host_config.rs
  src/agent/settings_config.rs
  src/agent/themes_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(config): improve config documentation parity and examples
  docs/CONFIG.md
  website/docs/configuration.html
Due: rumdl-check

docs: document notifications, mailbox, parent sessions & CLI subcommands
  README.md
  docs/FEATURES.md
  website/_includes/sidebar.njk
  website/docs/features.html
  website/docs/keybindings.html
Due: rumdl-check

feat(ui): add soft_delete feature flag with hard-delete confirmation
  CLAUDE.md
  docs/CONFIG.md
  src/agent/settings_config.rs
  src/app/acceptance.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/session/settings.rs
  src/ui/confirm_delete_modal.rs
  src/ui/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): add opt-in auto-update behind a feature flag
  CLAUDE.md
  README.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/extension_config.rs
  src/agent/mod.rs
  src/agent/self_update.rs
  src/agent/settings_config.rs
  src/app/mod.rs
  src/cli/mod.rs
  src/cli/update.rs
  src/main.rs
  src/session/settings.rs
  website/docs/configuration.html
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): add Settings panel for editing settings.toml in the TUI
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  docs/CONFIG.md
  src/agent/settings_config.rs
  src/app/acceptance.rs
  src/app/config_reload.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/session/keybindings.rs
  src/session/settings.rs
  src/ui/mod.rs
  src/ui/settings_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): deliver notifications on WSL via Windows toast fallback
  CLAUDE.md
  docs/CONFIG.md
  docs/NOTIFICATIONS_TEST_PLAN.md
  src/agent/settings_config.rs
  src/app/mod.rs
  src/app/notify_state.rs
  src/cli/mod.rs
  src/cli/notify.rs
  src/notifications.rs
  src/session/settings.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): stop version_check from starving auto-update on startup
  docs/CONFIG.md
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): never feed vt100 a mid-codepoint chunk
  Cargo.lock
  Cargo.toml
  proptest-regressions/agent/backend.txt
  src/agent/backend.rs
  src/agent/control_mode.rs
  src/ui/terminal_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: align docs and website with current implementation
  README.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  docs/README.md
  website/docs/architecture.html
  website/docs/configuration.html
  website/docs/extension-ci-shepherd.html
  website/docs/features.html
  website/docs/keybindings.html
Due: rumdl-check

docs: move installation section to top of README
  README.md
Due: rumdl-check

perf(core): render on demand instead of every ~100 fps frame
  .github/workflows/ci.yml
  CLAUDE.md
  docs/PERFORMANCE.md
  src/agent/backend.rs
  src/app/acceptance.rs
  src/app/metrics_state.rs
  src/app/mod.rs
  src/app/view.rs
  src/main.rs
  src/ui/project_list.rs
  website/_includes/sidebar.njk
  website/docs/index.html
  website/docs/performance.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): add native Windows support via psmux
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  docs/CONFIG.md
  scripts/dev/windows-test.sh
  scripts/install.ps1
  src/agent/backend.rs
  src/agent/extension_config.rs
  src/agent/host_config.rs
  src/agent/tmux.rs
  src/agent/transport.rs
  src/app/mod.rs
  src/git/mod.rs
  src/main.rs
  src/notifications.rs
  src/paths.rs
  src/session/host_def.rs
  src/session_ops/extensions.rs
  src/workspace.rs
  website/docs/installation.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): gate verify_sha256 test to unix; windows CI nextest --no-fail-fast
  .github/workflows/ci.yml
  src/agent/self_update.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(core): fix rustdoc private-intra-doc link in tmux_command
  src/agent/transport.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): add window_pane_pid for Windows force-teardown reap
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): harden Windows force-teardown and gate psmux server-cwd-handle test
  src/session_ops/delete.rs
  src/session_ops/extensions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(core): make tilde test platform-aware; gate reinstall real-spawn on windows
  src/app/mod.rs
  src/session_ops/extensions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(core): run startup auto-update in background thread
  src/agent/self_update.rs
  src/app/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: reproducible Nix flake + sandbox dev environment
  .envrc
  docs/DEVELOPMENT.md
  flake.nix
  justfile
  scripts/demo/record.sh
  scripts/dev/lib/sandbox-env.sh
  scripts/dev/sandbox.sh
  scripts/dev/tui-smoke-test.sh
  scripts/install-dev-tools.sh
Due: rumdl-check

docs: fix markdown list lint (MD076) in DEVELOPMENT.md
  docs/DEVELOPMENT.md
Due: rumdl-check

fix(core): recover stuck 'working' session status after interrupt
  CLAUDE.md
  src/agent/backend.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: add Windows install tab to website landing page
  website/index.html
Due: none

build: add Chocolatey (Windows) packaging + auto-publish on release
  .github/workflows/cd.yml
  .gitignore
  CLAUDE.md
  README.md
  packaging/README.md
  packaging/chocolatey/README.md
  packaging/chocolatey/bump-nuspec.py
  packaging/chocolatey/thurbox.nuspec
  packaging/chocolatey/tools/VERIFICATION.txt
  packaging/chocolatey/tools/chocolateyinstall.ps1
  packaging/chocolatey/tools/chocolateyuninstall.ps1
Due: rumdl-check

docs: add Chocolatey install instructions to website
  website/docs/installation.html
  website/index.html
Due: none

fix(core): inject identity env on session restore/undelete so status hooks work
  src/app/mod.rs
  src/session_ops/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

style: satisfy nightly rustfmt in restore-config tests
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): correct antigravity (agy) hook event names
  extensions/hooks/README.md
  extensions/hooks/antigravity-hooks.json
  extensions/hooks/extension.toml
  packaging/chocolatey/README.md
  src/session_ops/builtin_hooks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: drop "recommended" label from install-from-script
  README.md
  website/docs/installation.html
  website/index.html
Due: rumdl-check

feat(core): enlarge agent-hook coverage for codex, vibe, and opencode
  CLAUDE.md
  docs/FEATURES.md
  extensions/hooks/README.md
  extensions/hooks/codex-hooks.json
  extensions/hooks/extension.toml
  extensions/hooks/opencode-status.js
  extensions/hooks/vibe-hooks.toml
  src/session_ops/builtin_hooks.rs
  website/_includes/sidebar.njk
  website/docs/agent-hooks.html
  website/docs/extensions.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): enlarge agent-hook coverage for codex, vibe, and opencode
  src/session_ops/builtin_hooks.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore(config): address chocolatey validator guidelines for nuspec
  packaging/chocolatey/thurbox.nuspec
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
