Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

feat(ui): HUD bar cells + docs sidebar backdrop and muted toggle
  website/_includes/docs.njk
  website/css/docs.css
  website/css/landing.css
  website/js/main.js
Due: none

fix(ui): prevent horizontal overflow / left-shift on mobile
  website/css/base.css
Due: none

feat(ui): Doom-inspired game-UI redesign for the landing page
  eleventy.config.js
  website/css/base.css
  website/css/components.css
  website/css/landing.css
  website/css/variables.css
  website/index.html
Due: none

ci: gate releases on shipped-artifact changes
  .github/workflows/cd.yml
  CLAUDE.md
Due: rumdl-check

feat(ui): render a new session under its own repo header
  CLAUDE.md
  docs/PERFORMANCE.md
  src/app/acceptance.rs
  src/app/mod.rs
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(core): bound and parallelize backend teardown on quit
  src/agent/backend.rs
  src/agent/tmux.rs
  src/app/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): separate F9 chevron from the central tab strip on hover
  src/app/acceptance.rs
  src/app/mod.rs
  src/app/view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add 21 theme presets and a filterable theme picker
  CLAUDE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/themes_config.rs
  src/app/acceptance.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/snapshots/thurbox__app__acceptance__theme_picker_filtered_shows_both_sections.snap
  src/app/snapshots/thurbox__app__acceptance__theme_picker_lists_palettes.snap
  src/app/view.rs
  src/session/theme_config.rs
  src/ui/theme_picker_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): make copy work over SSH via OSC 52
  docs/FEATURES.md
  src/agent/settings_config.rs
  src/agent/tmux.rs
  src/app/code_review.rs
  src/app/mod.rs
  src/app/view.rs
  src/clipboard.rs
  src/lib.rs
  src/session/settings.rs
  src/ui/selection.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: make demo videos show real work, not a UI tour
  CLAUDE.md
  docs/media/automations-demo.gif
  docs/media/automations-demo.mp4
  docs/media/code-review-demo.gif
  docs/media/code-review-demo.mp4
  docs/media/search-demo.gif
  docs/media/search-demo.mp4
  docs/media/tasks-demo.gif
  docs/media/tasks-demo.mp4
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  docs/media/thurbox-file-manager.gif
  docs/media/thurbox-file-manager.mp4
  docs/media/thurbox-fork.gif
  docs/media/thurbox-fork.mp4
  docs/media/thurbox-info-panel.gif
  docs/media/thurbox-info-panel.mp4
  docs/media/thurbox-session-creation.gif
  docs/media/thurbox-session-creation.mp4
  docs/media/thurbox-theme.gif
  docs/media/thurbox-theme.mp4
  scripts/demo/automations.tape
  scripts/demo/record.sh
  scripts/demo/search.tape
  scripts/demo/tasks.tape
Due: rumdl-check

fix: resolve CI failure in ShellCheck
  docs/media/tasks-demo.gif
  docs/media/tasks-demo.mp4
  scripts/demo/record.sh
Due: none

feat(ui): add iddqd easter egg playing Doom inside thurbox
  CLAUDE.md
  docs/media/doom-easter-egg.mp4
  scripts/demo/record-doom.sh
  scripts/demo/trim-cast.mjs
  website/_includes/base.njk
  website/assets/doom-easter-egg-poster.webp
  website/css/components.css
  website/index.html
  website/js/main.js
Due: rumdl-check

fix(ui): hide the easter-egg clue on phones
  website/css/components.css
Due: none

fix(core): paste through psmux's own paste path on Windows
  CLAUDE.md
  docs/ARCHITECTURE.md
  scripts/dev/e2e/windows-vm.sh
  src/agent/control_mode.rs
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): support rich-text (OSC 8) links in agent output
  CLAUDE.md
  docs/FEATURES.md
  docs/PERFORMANCE.md
  src/agent/backend.rs
  src/agent/mod.rs
  src/agent/osc8.rs
  src/app/acceptance.rs
  src/app/helpers.rs
  src/app/mod.rs
  src/main.rs
  src/session/hyperlink.rs
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): type hyphens on Windows through psmux's send-keys parser
  CLAUDE.md
  scripts/dev/e2e/windows-vm.sh
  src/agent/control_mode.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore(config): add OpenSpec workflow skills for claude, pi, opencode
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/propose.md
  .claude/commands/opsx/sync.md
  .claude/commands/opsx/update.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-propose/SKILL.md
  .claude/skills/openspec-sync-specs/SKILL.md
  .claude/skills/openspec-update-change/SKILL.md
  .opencode/commands/opsx-apply.md
  .opencode/commands/opsx-archive.md
  .opencode/commands/opsx-explore.md
  .opencode/commands/opsx-propose.md
  .opencode/commands/opsx-sync.md
  .opencode/commands/opsx-update.md
  .opencode/skills/openspec-apply-change/SKILL.md
  .opencode/skills/openspec-archive-change/SKILL.md
  .opencode/skills/openspec-explore/SKILL.md
  .opencode/skills/openspec-propose/SKILL.md
  .opencode/skills/openspec-sync-specs/SKILL.md
  .opencode/skills/openspec-update-change/SKILL.md
  .pi/prompts/opsx-apply.md
  .pi/prompts/opsx-archive.md
  .pi/prompts/opsx-explore.md
  .pi/prompts/opsx-propose.md
  .pi/prompts/opsx-sync.md
  .pi/prompts/opsx-update.md
  .pi/skills/openspec-apply-change/SKILL.md
  .pi/skills/openspec-archive-change/SKILL.md
  .pi/skills/openspec-explore/SKILL.md
  .pi/skills/openspec-propose/SKILL.md
  .pi/skills/openspec-sync-specs/SKILL.md
  .pi/skills/openspec-update-change/SKILL.md
  .rumdl.toml
  CLAUDE.md
  openspec/config.yaml
  scripts/install-dev-tools.sh
Due: rumdl-check

docs: trim CLAUDE.md under its size limit by migrating detail into docs/
  CLAUDE.md
  docs/AGENTS.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
Due: rumdl-check

fix(core): ship claude's hooks config to WSL/SSH hosts from Windows
  CLAUDE.md
  src/session_ops/spawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: mark winget package as live, recommend the PowerShell installer
  README.md
  packaging/winget/README.md
  website/docs/faq.html
  website/docs/installation.html
  website/index.html
Due: rumdl-check

fix(ui): install a release from one place, not two
  src/kernel/consent.rs
  src/kernel/updates.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(ui): stop the panel lab animating the page forever
  website/css/landing.css
  website/js/main.js
Due: none

docs: rewrite the guides for the plugin kernel
  CLAUDE.md
  Cargo.toml
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/DEVELOPMENT.md
  docs/FEATURES.md
  docs/PERFORMANCE.md
  justfile
  scripts/dev/README.md
  scripts/dev/sandbox.sh
Due: rumdl-check

feat(ui): dress the v2 gate in the user's own theme
  src/kernel/consent.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(ui): make the site and the docs about the editable interface
  README.md
  docs/RELEASING.md
  docs/V2-KERNEL.md
  website/_includes/sidebar.njk
  website/css/landing.css
  website/docs/features.html
  website/docs/index.html
  website/docs/v2-interface.html
  website/index.html
  website/js/main.js
  website/llms.txt
Due: rumdl-check

docs: show the interface clip, and drop the orphaned posters
  README.md
  website/assets/automations-demo-poster.webp
  website/assets/code-review-demo-poster.webp
  website/assets/tasks-demo-poster.webp
  website/assets/thurbox-file-manager-poster.webp
  website/assets/thurbox-info-panel-poster.webp
  website/docs/v2-interface.html
Due: rumdl-check

docs(ui): re-run the UI review against the kernel, and unship two false claims
  .claude/skills/ui-review/scripts/capture.sh
  .claude/skills/ui-review/tapes/screenshots.tape
  README.md
  scripts/demo/interface.tape
  website/_includes/sidebar.njk
  website/assets/ui-review/01-session-list.png
  website/assets/ui-review/02-second-session.png
  website/assets/ui-review/03-info-panel.png
  website/assets/ui-review/03-search.png
  website/assets/ui-review/04-file-viewer.png
  website/assets/ui-review/04-theme-picker.png
  website/assets/ui-review/05-tasks-panel.png
  website/assets/ui-review/05-theme-filter.png
  website/assets/ui-review/06-automations.png
  website/assets/ui-review/06-new-session-repo.png
  website/assets/ui-review/07-global-search.png
  website/assets/ui-review/07-new-session-name.png
  website/assets/ui-review/08-help.png
  website/assets/ui-review/08-theme-picker.png
  website/assets/ui-review/09-repo-picker.png
  website/assets/ui-review/09-settings.png
  website/assets/ui-review/10-interface-tab.png
  website/assets/ui-review/10-keybindings.png
  website/assets/ui-review/11-code-review.png
  website/assets/ui-review/11-plugin-off.png
  website/assets/ui-review/11-settings-panel.png
  website/assets/ui-review/12-automation-editor.png
  website/assets/ui-review/12-code-review-comment.png
  website/assets/ui-review/12-shell-pane.png
  website/assets/ui-review/13-code-review-sidebyside.png
  website/assets/ui-review/13-task-editor.png
  website/assets/ui-review/14-code-review-targets.png
  website/docs/comparison.html
  website/docs/ui-review.html
  website/docs/v2-interface.html
  website/index.html
  website/js/main.js
Due: rumdl-check

docs(ui): move the retired panes to their own page, and make the home page argue modularity
  website/_includes/sidebar.njk
  website/css/landing.css
  website/docs/comparison.html
  website/docs/deprecated.html
  website/docs/extension-github-issues.html
  website/docs/extension-gitlab-issues.html
  website/docs/extension-jira.html
  website/docs/extension-linear.html
  website/docs/faq.html
  website/docs/features.html
  website/docs/installation.html
  website/index.html
  website/llms.txt
Due: none

docs(ui): record every review finding as fixed, and withdraw one
  website/docs/ui-review.html
Due: none

feat(ui): name the interface directory in the repo picker instead of showing its path
  src/kernel/host.rs
  src/kernel/repos.rs
  tests/v2_new_session.rs
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): close the arrangement around a disabled pane, and stop calling a closed float visible
  README.md
  docs/media/thurbox-interface.gif
  docs/media/thurbox-interface.mp4
  scripts/demo/interface.tape
  src/kernel/focus.rs
  src/kernel/host.rs
  src/kernel/inventory.rs
  src/kernel/modals/interface.rs
  src/main.rs
  tests/v2_plugin_lifecycle.rs
  ui/layout.lua
  website/assets/ui-review/10-interface-tab.png
  website/assets/ui-review/11-plugin-off.png
  website/docs/comparison.html
  website/docs/ui-review.html
  website/docs/v2-interface.html
  website/index.html
  website/js/main.js
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): ship a README with the interface, and fix three settings-panel warnings
  src/agent/settings_config.rs
  src/kernel/bundled.rs
  src/kernel/inventory.rs
  src/kernel/modals/interface.rs
  src/kernel/modals/settings.rs
  tests/v2_plugin_lifecycle.rs
  ui/README.md
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(config): account for the interface directory like every other config path
  CLAUDE.md
  docs/CONFIG.md
  docs/PLUGINS.md
  src/cli/config.rs
  src/kernel/registry.rs
  src/paths.rs
  ui/README.md
  website/docs/configuration.html
  website/docs/features.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): give a panel title a theme colour, and let it carry more than one
  src/kernel/convert.rs
  src/kernel/modals/theme.rs
  src/kernel/node.rs
  src/kernel/paint.rs
  tests/v2_decoration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): stop dimming rows the search counted, and finish the flow's warnings
  src/kernel/modals/theme.rs
  tests/v2_new_session.rs
  ui/lib/widgets.lua
  ui/plugins/10_sessions.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): give panes a package manager, and make an unplaced one fail loudly
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  docs/CONFIG.md
  docs/PLUGINS.md
  justfile
  openspec/changes/v2-plugin-packages/.openspec.yaml
  openspec/changes/v2-plugin-packages/design.md
  openspec/changes/v2-plugin-packages/proposal.md
  openspec/changes/v2-plugin-packages/specs/plugin-authoring/spec.md
  openspec/changes/v2-plugin-packages/specs/plugin-packages/spec.md
  openspec/changes/v2-plugin-packages/tasks.md
  scripts/demo/agents.tape
  scripts/demo/record.sh
  src/agent/extension_config.rs
  src/cli/plugins.rs
  src/kernel/bundled.rs
  src/kernel/host.rs
  src/kernel/inventory.rs
  src/kernel/layout.rs
  src/kernel/mod.rs
  src/kernel/modals/interface.rs
  src/kernel/packages.rs
  src/kernel/registry.rs
  src/main.rs
  src/session/mod.rs
  src/session/plugin_spec.rs
  tests/v2_plugin_authoring.rs
  tests/v2_plugin_lifecycle.rs
  tests/v2_plugin_packages.rs
  ui-plugins/tasks/plugin.toml
  ui-plugins/tasks/tasks.lua
  ui-plugins/top/plugin.toml
  ui-plugins/top/top.lua
  ui/README.md
  website/docs/configuration.html
  website/docs/v2-interface.html
  website/index.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check
