Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

ci: auto-publish AUR packages on release
  .github/workflows/cd.yml
  packaging/aur/README.md
Due: rumdl-check

feat(core): automate demo-video generation with VHS pipelines
  CLAUDE.md
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  scripts/demo/agents.tape
  scripts/demo/record-agents.sh
  scripts/demo/record.sh
  scripts/demo/thurbox.tape
  src/agent/demo.rs
  src/agent/demo_scenarios/default.txt
  src/agent/demo_scenarios/refactor.txt
  src/agent/demo_scenarios/snake.txt
  src/agent/mod.rs
  src/main.rs
  src/session/keybindings.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: add per-feature demo videos and Arch install/uninstall guides
  .github/workflows/pages.yml
  CLAUDE.md
  README.md
  docs/FEATURES.md
  docs/media/thurbox-file-manager.gif
  docs/media/thurbox-file-manager.mp4
  docs/media/thurbox-info-panel.gif
  docs/media/thurbox-info-panel.mp4
  docs/media/thurbox-session-creation.gif
  docs/media/thurbox-session-creation.mp4
  docs/media/thurbox-theme.gif
  docs/media/thurbox-theme.mp4
  scripts/demo/file-manager.tape
  scripts/demo/info-panel.tape
  scripts/demo/record-agents.sh
  scripts/demo/session-creation.tape
  scripts/demo/theme.tape
  website/css/landing.css
  website/docs/features.html
  website/docs/installation.html
  website/index.html
Due: rumdl-check

feat(ui): richer session list with live agent status
  docs/FEATURES.md
  src/agent/backend.rs
  src/agent/mod.rs
  src/app/mod.rs
  src/session/mod.rs
  src/ui/info_panel.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/terminal_view.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): add Doom Eternal-inspired theme
  src/session/theme_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: update Doom theme doc comment to match actual colors
  src/session/theme_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(docs): redesign website with Doom Eternal retro-arcade theme
  website/assets/favicon.svg
  website/css/base.css
  website/css/components.css
  website/css/docs.css
  website/css/landing.css
  website/css/variables.css
  website/docs/architecture.html
  website/docs/features.html
  website/docs/index.html
  website/docs/installation.html
  website/docs/keybindings.html
  website/index.html
Due: none

chore: consolidate demo recording into a single record.sh script
  .gitignore
  CLAUDE.md
  docs/media/automations-demo.gif
  docs/media/automations-demo.mp4
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  docs/media/thurbox-file-manager.gif
  docs/media/thurbox-file-manager.mp4
  docs/media/thurbox-info-panel.gif
  docs/media/thurbox-info-panel.mp4
  docs/media/thurbox-session-creation.gif
  docs/media/thurbox-session-creation.mp4
  docs/media/thurbox-theme.gif
  docs/media/thurbox-theme.mp4
  scripts/demo/agents.tape
  scripts/demo/automations.tape
  scripts/demo/file-manager.tape
  scripts/demo/info-panel.tape
  scripts/demo/record-agents.sh
  scripts/demo/record-automations.sh
  scripts/demo/record.sh
  scripts/demo/session-creation.tape
  scripts/demo/theme.tape
  scripts/demo/thurbox.tape
Due: rumdl-check

style(docs): tone down Doom theme to neutral base with accent nods
  website/css/base.css
  website/css/landing.css
  website/css/variables.css
Due: none

ci: redeploy website when demo media changes
  .github/workflows/pages.yml
Due: none

style(docs): replace red borders with neutral borders and green accents
  website/css/components.css
  website/css/docs.css
  website/css/landing.css
Due: none

chore: default demo recordings to the Doom theme
  docs/media/automations-demo.gif
  docs/media/automations-demo.mp4
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  docs/media/thurbox-file-manager.gif
  docs/media/thurbox-file-manager.mp4
  docs/media/thurbox-info-panel.gif
  docs/media/thurbox-info-panel.mp4
  docs/media/thurbox-session-creation.gif
  docs/media/thurbox-session-creation.mp4
  docs/media/thurbox-theme.gif
  docs/media/thurbox-theme.mp4
  scripts/demo/record.sh
Due: none

feat(config): add Vibe (Mistral) as a built-in agent
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/agent/agent_config.rs
  website/docs/features.html
  website/docs/installation.html
  website/index.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): richer agentic info panel — cost/time, git stats, and /usage rate-limits
  src/app/mod.rs
  src/app/view.rs
  src/git/mod.rs
  src/lib.rs
  src/session/mod.rs
  src/ui/info_panel.rs
  src/usage/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): focusable automations pane with in-pane editor + run history
  CLAUDE.md
  docs/FEATURES.md
  docs/media/automations-demo.gif
  docs/media/automations-demo.mp4
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  docs/media/thurbox-file-manager.gif
  docs/media/thurbox-file-manager.mp4
  docs/media/thurbox-info-panel.gif
  docs/media/thurbox-info-panel.mp4
  docs/media/thurbox-session-creation.gif
  docs/media/thurbox-session-creation.mp4
  docs/media/thurbox-theme.gif
  docs/media/thurbox-theme.mp4
  scripts/demo/automations.tape
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/git/mod.rs
  src/ui/automation_detail.rs
  src/ui/automation_editor_modal.rs
  src/ui/mod.rs
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor: reduce cognitive complexity of SonarCloud-flagged functions
  src/agent/input.rs
  src/agent/tmux.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/paths.rs
  src/storage/schema.rs
  src/storage/sessions.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/repo_picker_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(docs): showcase automations demo on homepage walkthrough
  website/index.html
Due: none

feat(ui): smarter session list, multi-repo workspaces, looped nav
  CLAUDE.md
  docs/FEATURES.md
  src/agent/backend.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/lib.rs
  src/paths.rs
  src/session_ops/delete.rs
  src/sync/state.rs
  src/ui/project_list.rs
  src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(docs): drop intra-doc link from public SessionOrder to private status_rank
  src/ui/project_list.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat: task list, global search, refactor, docs + demo videos
  CLAUDE.md
  README.md
  docs/FEATURES.md
  docs/media/search-demo.gif
  docs/media/search-demo.mp4
  docs/media/tasks-demo.gif
  docs/media/tasks-demo.mp4
  scripts/demo/record.sh
  scripts/demo/search.tape
  scripts/demo/tasks.tape
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/search.rs
  src/app/view.rs
  src/cli/mod.rs
  src/cli/tasks.rs
  src/session/keybindings.rs
  src/session/mod.rs
  src/session/task.rs
  src/storage/audit.rs
  src/storage/mod.rs
  src/storage/schema.rs
  src/storage/tasks.rs
  src/ui/automations_panel.rs
  src/ui/file_viewer.rs
  src/ui/global_search.rs
  src/ui/highlight.rs
  src/ui/layout.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/task_detail.rs
  src/ui/task_editor_modal.rs
  src/ui/tasks_panel.rs
  website/docs/features.html
  website/docs/keybindings.html
  website/index.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor: eliminate duplication flagged by SonarCloud CPD
  src/app/modals.rs
  src/app/view.rs
  src/ui/automation_editor_modal.rs
  src/ui/mod.rs
  src/ui/task_editor_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: document thurbox-cli commands and session delete semantics
  CLAUDE.md
  README.md
  website/docs/features.html
Due: rumdl-check

feat(config): configure fork/resume defaults for all built-in agents
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/agent/agent_config.rs
  src/app/mod.rs
  src/session/agent_def.rs
  src/session_ops/mod.rs
  src/session_ops/restart.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): customizable keyboard shortcuts via interactive F1 editor
  CLAUDE.md
  docs/FEATURES.md
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/search.rs
  src/app/view.rs
  src/session/keybindings.rs
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(docs): add generated UI/UX review page to website
  .claude/skills/ui-review/SKILL.md
  .claude/skills/ui-review/scripts/build_report.py
  .claude/skills/ui-review/scripts/capture.sh
  .claude/skills/ui-review/tapes/screenshots.tape
  .claude/skills/ui-review/templates/report.html.tmpl
  website/assets/ui-review/01-session-list.png
  website/assets/ui-review/02-second-session.png
  website/assets/ui-review/03-info-panel.png
  website/assets/ui-review/04-file-viewer.png
  website/assets/ui-review/05-tasks-panel.png
  website/assets/ui-review/06-automations.png
  website/assets/ui-review/07-global-search.png
  website/assets/ui-review/08-theme-picker.png
  website/assets/ui-review/09-repo-picker.png
  website/assets/ui-review/10-keybindings.png
  website/docs/architecture.html
  website/docs/features.html
  website/docs/index.html
  website/docs/installation.html
  website/docs/keybindings.html
  website/docs/ui-review.html
Due: rumdl-check

refactor(core): centralize control-mode access behind with_control
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): show moving cursor in task editor text fields
  src/app/modals.rs
  src/ui/mod.rs
  src/ui/task_editor_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): markdown task descriptions, full-screen preview & trigger-time actions
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  docs/media/tasks-demo.gif
  docs/media/tasks-demo.mp4
  scripts/demo/record.sh
  scripts/demo/tasks.tape
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/cli/mod.rs
  src/cli/tasks.rs
  src/session/task.rs
  src/storage/schema.rs
  src/storage/tasks.rs
  src/ui/markdown.rs
  src/ui/mod.rs
  src/ui/task_action_picker_modal.rs
  src/ui/task_detail.rs
  src/ui/task_editor_modal.rs
  src/ui/tasks_panel.rs
  website/assets/ui-review/01-session-list.png
  website/assets/ui-review/02-second-session.png
  website/assets/ui-review/03-info-panel.png
  website/assets/ui-review/04-file-viewer.png
  website/assets/ui-review/05-tasks-panel.png
  website/assets/ui-review/06-automations.png
  website/assets/ui-review/07-global-search.png
  website/assets/ui-review/08-theme-picker.png
  website/assets/ui-review/09-repo-picker.png
  website/assets/ui-review/10-keybindings.png
  website/docs/ui-review.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): seed task agents with full context and surface related sessions
  CLAUDE.md
  src/agent/tmux.rs
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/cli/tasks.rs
  src/session/task.rs
  src/ui/task_detail.rs
  src/ui/tasks_panel.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: note tasks (new) and automations features are still evolving
  README.md
  website/docs/features.html
Due: rumdl-check

docs: note session list display is evolving and agent-dependent
  README.md
  website/docs/features.html
Due: rumdl-check

feat(ui): show repos by basename and import folders as live parent bookmarks
  docs/media/thurbox-session-creation.gif
  docs/media/thurbox-session-creation.mp4
  scripts/demo/record.sh
  scripts/demo/session-creation.tape
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/modals.rs
  src/app/view.rs
  src/git/mod.rs
  src/paths.rs
  src/storage/repo_bookmarks.rs
  src/storage/schema.rs
  src/ui/repo_picker_modal.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): rework session list display and remove admin sessions
  docs/FEATURES.md
  docs/media/automations-demo.gif
  docs/media/automations-demo.mp4
  docs/media/search-demo.gif
  docs/media/search-demo.mp4
  docs/media/tasks-demo.gif
  docs/media/tasks-demo.mp4
  docs/media/thurbox-demo.gif
  docs/media/thurbox-demo.mp4
  docs/media/thurbox-file-manager.gif
  docs/media/thurbox-file-manager.mp4
  docs/media/thurbox-info-panel.gif
  docs/media/thurbox-info-panel.mp4
  docs/media/thurbox-session-creation.gif
  docs/media/thurbox-session-creation.mp4
  docs/media/thurbox-theme.gif
  docs/media/thurbox-theme.mp4
  src/app/key_handlers.rs
  src/app/mod.rs
  src/app/view.rs
  src/session/mod.rs
  src/session/theme_config.rs
  src/ui/mod.rs
  src/ui/project_list.rs
  src/ui/terminal_view.rs
  src/ui/theme.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): parameterize session-by-id SQL lookups
  src/storage/sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): correct agent status for adopted (already-running) sessions
  src/agent/backend.rs
  src/app/key_handlers.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

refactor(core): extract TmuxTransport seam from tmux backend
  src/agent/mod.rs
  src/agent/tmux.rs
  src/agent/transport.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(config): add hosts.toml for remote SSH hosts
  src/agent/host_config.rs
  src/agent/mod.rs
  src/session/host_def.rs
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): add SSH tmux backend constructor and register remote hosts
  src/agent/tmux.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): select spawn backend from SessionConfig.backend
  src/app/mod.rs
  src/session/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
