Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

chore: no-mistakes document - correct stale WSL discovery and repair-notice docs
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/agent/host_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): never register the WSL distro thurbox runs in as a host (#1102)
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  src/agent/host_config.rs
  src/bin/thurbox-cli.rs
  src/coordinator/boot.rs
  src/session/host_def.rs
  src/session/mod.rs
  src/session_ops/mod.rs
  src/session_ops/spawn.rs
  src/session_ops/wsl_loopback.rs
  src/storage/mod.rs
  src/storage/schema/migrations.rs
  src/storage/schema/mod.rs
  src/storage/wsl_repair.rs
  tests/wsl_loopback_repair_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): say what is missing before a session is created, not after
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-kernel/SKILL.md
  docs/CONFIG.md
  docs/FEATURES.md
  scripts/install.ps1
  scripts/install.sh
  src/agent/control_mode/mod.rs
  src/agent/mod.rs
  src/agent/preflight.rs
  src/agent/tmux.rs
  src/agent/transport.rs
  src/cli/doctor.rs
  src/cli/mod.rs
  src/cli/sessions.rs
  src/kernel/host/publish.rs
  src/kernel/snapshot.rs
  src/paths/mod.rs
  src/session_ops/restart.rs
  src/session_ops/spawn.rs
  tests/missing_dependency_messages.rs
  tests/new_session.rs
  thurbox.yml
  ui/lib/thurbox.d.lua
  ui/lib/ui.lua
  ui/plugins/10_sessions.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes review - fix(ui): gate remote-host agent presence check like preflight_warning
  tests/new_session.rs
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes lint - {"summary": "fix(docs): avoid rustdoc links to private preflight helpers"}
  src/agent/preflight.rs
  src/kernel/snapshot.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

no-mistakes: apply CI fixes
  src/agent/preflight.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

chore: no-mistakes review - fix(ui): gate fork preflight agent warning on flow.step, add regression test
  tests/new_session.rs
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): answer unknown for a relative agent command, and split three long functions
  docs/CONFIG.md
  src/agent/preflight.rs
  src/agent/tmux.rs
  src/cli/doctor.rs
  src/session_ops/spawn.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes document - docs: point Unknown-presence summaries at CONFIG.md's relative-command case
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-kernel/SKILL.md
  docs/FEATURES.md
  src/cli/doctor.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

chore: no-mistakes lint - fix(cli): apply rustfmt to doctor.rs test assertion
  src/cli/doctor.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(core): warn instead of failing when tmux/psmux or a coding agent is missing (#1104)
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-kernel/SKILL.md
  docs/CONFIG.md
  docs/FEATURES.md
  scripts/install.ps1
  scripts/install.sh
  src/agent/control_mode/mod.rs
  src/agent/mod.rs
  src/agent/preflight.rs
  src/agent/tmux.rs
  src/agent/transport.rs
  src/cli/doctor.rs
  src/cli/mod.rs
  src/cli/sessions.rs
  src/kernel/host/publish.rs
  src/kernel/snapshot.rs
  src/paths/mod.rs
  src/session_ops/restart.rs
  src/session_ops/spawn.rs
  tests/missing_dependency_messages.rs
  tests/new_session.rs
  thurbox.yml
  ui/lib/thurbox.d.lua
  ui/lib/ui.lua
  ui/plugins/10_sessions.lua
  ui/plugins/70_new_session.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci: drop the per-commit conventional check squash merge makes meaningless
  .github/workflows/ci.yml
  .no-mistakes.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
  docs/CONSTITUTION.md
  docs/DEVELOPMENT.md
  justfile
  scripts/ci/check-conventional-commits.bats
  scripts/ci/check-conventional-commits.sh
  scripts/ci/check-pr-title.bats
  scripts/ci/check-pr-title.sh
Due: rumdl-check

ci: drop branch-commit conventional check, keep PR-title gate (#1110)
  .github/workflows/ci.yml
  .no-mistakes.yaml
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
  docs/CONSTITUTION.md
  docs/DEVELOPMENT.md
  justfile
  scripts/ci/check-conventional-commits.bats
  scripts/ci/check-conventional-commits.sh
  scripts/ci/check-pr-title.bats
  scripts/ci/check-pr-title.sh
Due: rumdl-check

fix(core): announce a program pane's exit and give each window the remain-on-exit its role needs
  docs/ARCHITECTURE.md
  docs/PERFORMANCE.md
  docs/PLUGINS.md
  src/agent/backend.rs
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/tmux.rs
  src/coordinator/commands.rs
  src/coordinator/events.rs
  src/coordinator/mouse.rs
  src/kernel/command/mod.rs
  src/kernel/events.rs
  src/kernel/host/api.rs
  src/kernel/host/mod.rs
  src/kernel/terminal/mod.rs
  src/kernel/terminal/programs.rs
  tests/mouse_context.rs
  tests/program_pane_corpse.rs
  tests/program_pane_exit.rs
  tests/session_lifetime.rs
  tests/window_remain_on_exit.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): normalise an adopted window, and keep an ending its restart replaces
  src/agent/tmux.rs
  src/coordinator/events.rs
  src/kernel/terminal/mod.rs
  src/kernel/terminal/programs.rs
  tests/program_restart_exit.rs
  tests/window_remain_on_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): one death is one event, whatever order the restart arrives in
  docs/PLUGINS.md
  src/agent/tmux.rs
  src/coordinator/events.rs
  src/kernel/terminal/mod.rs
  src/kernel/terminal/programs.rs
  tests/program_restart_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): guard the retention target, and say what a shell's `off` does not buy
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): announce an ending nothing ever saw running, and stop paying for adoption on every pane
  docs/ARCHITECTURE.md
  docs/PLUGINS.md
  src/agent/backend.rs
  src/agent/tmux.rs
  src/coordinator/events.rs
  src/kernel/terminal/mod.rs
  src/kernel/terminal/programs.rs
  tests/program_pane_corpse.rs
  tests/program_pane_exit.rs
  tests/program_restart_exit.rs
  tests/window_remain_on_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(core): say what `keys` does when the pane holds nothing
  ui/lib/thurbox.d.lua
Due: none

fix(core): state a window's retention in the command list that creates it
  src/agent/tmux.rs
  tests/window_remain_on_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(core): say what has_exited means now, not what it inferred
  .agents/skills/thurbox-session-status/SKILL.md
Due: rumdl-check

refactor(core): take the two additive plugin APIs out of this branch
  docs/PLUGINS.md
  src/coordinator/commands.rs
  src/coordinator/mouse.rs
  src/kernel/command/mod.rs
  src/kernel/host/api.rs
  src/kernel/host/mod.rs
  tests/mouse_context.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): name the window the retention is for, not a name it shares
  src/agent/tmux.rs
  tests/window_remain_on_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): say `window-size manual` per window, never for the server
  src/agent/tmux.rs
  tests/window_remain_on_exit.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): announce a program pane's exit and give each window the remain-on-exit it needs (#1107)
  .agents/skills/thurbox-session-status/SKILL.md
  docs/ARCHITECTURE.md
  docs/PERFORMANCE.md
  docs/PLUGINS.md
  src/agent/backend.rs
  src/agent/control_mode/mod.rs
  src/agent/control_mode/tests.rs
  src/agent/tmux.rs
  src/coordinator/events.rs
  src/kernel/events.rs
  src/kernel/host/mod.rs
  src/kernel/terminal/mod.rs
  src/kernel/terminal/programs.rs
  tests/program_pane_corpse.rs
  tests/program_pane_exit.rs
  tests/program_restart_exit.rs
  tests/session_lifetime.rs
  tests/window_remain_on_exit.rs
  ui/lib/thurbox.d.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): stop asking a machine that has shown it has no PowerShell
  src/clipboard.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): answer a press with a question asked after it was made
  src/clipboard.rs
  src/coordinator/boot.rs
  src/coordinator/input.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): say where a late paste lands, and say it on screen
  docs/FEATURES.md
  src/coordinator/input.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): give Ctrl+V to the agent when the clipboard holds an image
  docs/ARCHITECTURE.md
  docs/FEATURES.md
  src/clipboard.rs
  src/coordinator/boot.rs
  src/coordinator/input.rs
  src/coordinator/mod.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(core): describe the bounds the image probe runs under
  docs/ARCHITECTURE.md
  docs/FEATURES.md
Due: rumdl-check

fix(core): let a float keep its paste, tell a broken probe from an empty clipboard, and route by surface
  src/clipboard.rs
  src/coordinator/input.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): look for PowerShell only where an absolute PATH entry says
  src/clipboard.rs
  tests/architecture_rules.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): deliver the probe's answer where the press was aimed, and bound the probe
  src/clipboard.rs
  src/coordinator/boot.rs
  src/coordinator/input.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): pin the WSL gate on a native Windows build too
  src/clipboard.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(core): say what a timed-out probe actually does with the press
  src/clipboard.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(core): drop the comments that only restate the probe, fix the two that lie
  src/clipboard.rs
  src/coordinator/input.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): give the agent a Cmd+V it cannot be handed by declining
  docs/FEATURES.md
  src/coordinator/input.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(core): keep the public gate's doc off a private helper
  src/clipboard.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(core): say what a killed clipboard probe actually does
  docs/ARCHITECTURE.md
Due: rumdl-check
