Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

cargo-fmt:
  name: Cargo format check
  entry: cargo fmt
  language: system
  pass_filenames: false
  args:
  - --all
  - --
  - --check

cargo-clippy:
  name: Cargo clippy
  entry: cargo clippy
  language: system
  pass_filenames: false
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings

cargo-check:
  name: Cargo check
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

cargo-nextest:
  name: Cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false
  args:
  - --all

rumdl-check:
  name: Markdown lint check
  entry: rumdl check .
  language: system
  pass_filenames: false

fix(core): list each remote session once, on its most direct path
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  docs/ORCHESTRATION.md
  src/agent/settings_config.rs
  src/cli/sessions.rs
  src/kernel/config.rs
  src/session/settings.rs
  src/session_ops/mirror.rs
  src/storage/session_events.rs
  src/storage/sessions.rs
  tests/transitive_mirror.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

test(core): keep the transitive mirror tests beside the other shared-session ones
  .agents/skills/thurbox-remote-hosts/SKILL.md
  src/session_ops/mirror.rs
  tests/shared_sessions.rs
  tests/transitive_mirror.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(config): save settings.toml by rename so a mirror pass never reads it half-written
  src/agent/settings_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(config): stage each settings save under its own name
  src/agent/settings_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: document a complete thurbox uninstall (#1225)
  README.md
  website/docs/installation.html
Due: rumdl-check

fix(core): list each remote session once, on its most direct path (#1224)
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/FEATURES.md
  docs/ORCHESTRATION.md
  src/agent/settings_config.rs
  src/cli/sessions.rs
  src/kernel/config.rs
  src/session/settings.rs
  src/session_ops/mirror.rs
  src/storage/session_events.rs
  src/storage/sessions.rs
  tests/shared_sessions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: document the Nix flake's version and CI job where the release and dev docs own them
  docs/DEVELOPMENT.md
  docs/RELEASING.md
Due: rumdl-check

docs: name the systems the flake declares on the installation page
  website/docs/installation.html
Due: none

feat(core): package thurbox as a Nix flake with an overlay and NixOS module
  .agents/skills/thurbox-release/SKILL.md
  .github/workflows/ci.yml
  .gitignore
  README.md
  flake.lock
  flake.nix
  nix/package.nix
  packaging/README.md
  website/docs/installation.html
Due: rumdl-check

fix(config): run the Home Manager automation timer through launchd on macOS
  flake.nix
  website/docs/installation.html
Due: none

feat(ui): let the installers choose the layout preset
  scripts/install.Tests.ps1
  scripts/install.bats
  scripts/install.ps1
  scripts/install.sh
Due: none

feat(ui): ship layout presets with a split-shell arrangement
  src/agent/settings_config.rs
  src/cli/layout.rs
  src/cli/mod.rs
  src/coordinator/draw.rs
  src/coordinator/interface.rs
  src/kernel/bundled.rs
  src/kernel/config.rs
  src/kernel/host/load.rs
  src/kernel/host/mod.rs
  src/kernel/inventory.rs
  src/kernel/mod.rs
  src/kernel/modals/settings.rs
  src/kernel/presets.rs
  src/session/settings.rs
  tests/layout_presets.rs
  ui/layouts/split-shell.lua
  ui/lib/panels.lua
  ui/plugins/20_agent.lua
  ui/plugins/25_shell.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): switch layouts from settings and say which one a first run got
  src/cli/layout.rs
  src/coordinator/boot.rs
  src/kernel/modals/settings.rs
  tests/kernel_mvp.rs
  tests/terminal_pane.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

test(ui): drive split-shell end to end and open a held shell once attached
  src/coordinator/boot.rs
  src/coordinator/commands.rs
  src/coordinator/publish.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): open a painted shell from the kernel and record a layout switch before applying it
  src/coordinator/boot.rs
  src/coordinator/commands.rs
  src/coordinator/interface.rs
  src/coordinator/publish.rs
  src/kernel/terminal/mod.rs
  src/main.rs
  tests/layout_presets.rs
  ui/plugins/25_shell.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: allow the installer's one layout question and count the shell pane
  .agents/skills/thurbox-kernel/SKILL.md
  docs/REVIEW.md
  docs/V2-KERNEL.md
Due: rumdl-check

docs(ui): document layout presets with a text render of each
  .agents/skills/thurbox-cli/SKILL.md
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  docs/CONFIG.md
  docs/PLUGINS.md
  tests/layout_presets.rs
  ui/AGENTS.md
  ui/README.md
  ui/layouts/split-shell.lua
  ui/lib/thurbox.d.lua
  website/docs/installation.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): clear a stale placed flag and refuse a stopped session's shell aloud
  scripts/install.Tests.ps1
  src/coordinator/commands.rs
  src/kernel/host/mod.rs
  tests/layout_presets.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): ask for a painted shell once per attach, not once per run
  src/kernel/terminal/decoupling.rs
  src/kernel/terminal/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): refuse to spawn on psmux older than 3.3.7, whose panes start with a corrupt stdin
  .agents/skills/thurbox-remote-hosts/SKILL.md
  README.md
  docs/ARCHITECTURE.md
  src/agent/tmux.rs
  website/docs/faq.html
  website/docs/installation.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): name the real psmux socket in the refusal and read a suffixed patch as its number
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): check the psmux binary before starting a server, and drive psmux 3.3.8's server options
  docs/ARCHITECTURE.md
  src/agent/tmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): package thurbox as a Nix flake with an overlay and NixOS module (#1226)
  .agents/skills/thurbox-release/SKILL.md
  .github/workflows/ci.yml
  .gitignore
  README.md
  docs/DEVELOPMENT.md
  docs/RELEASING.md
  flake.lock
  flake.nix
  nix/package.nix
  packaging/README.md
  website/docs/installation.html
Due: rumdl-check

fix(core): refuse to spawn on psmux older than 3.3.7, whose panes start with a corrupt stdin (#1228)
  .agents/skills/thurbox-remote-hosts/SKILL.md
  README.md
  docs/ARCHITECTURE.md
  src/agent/tmux.rs
  website/docs/faq.html
  website/docs/installation.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci: analyse main on SonarCloud after every merge
  .github/workflows/ci.yml
  .github/workflows/sonar.yml
Due: none

wip: focus and ide layout presets, for four in total
  .agents/skills/thurbox-kernel/SKILL.md
  docs/CONFIG.md
  docs/PLUGINS.md
  scripts/install.ps1
  scripts/install.sh
  src/agent/settings_config.rs
  src/coordinator/boot.rs
  src/kernel/bundled.rs
  src/kernel/host/mod.rs
  src/kernel/modals/settings.rs
  src/kernel/presets.rs
  tests/kernel_mvp.rs
  tests/layout_presets.rs
  tests/terminal_pane.rs
  tests/tui_e2e.rs
  ui/AGENTS.md
  ui/README.md
  ui/layouts/focus.lua
  ui/layouts/ide.lua
  ui/lib/panels.lua
  ui/plugins/20_agent.lua
  ui/plugins/25_shell.lua
  website/docs/installation.html
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

ci: analyse main on SonarCloud after every merge (#1230)
  .github/workflows/ci.yml
  .github/workflows/sonar.yml
Due: none

fix(core): clear the issues SonarCloud still reports on main
  Cargo.toml
  src/agent/control_mode/mod.rs
  src/agent/tmux.rs
  src/kernel/command/execute.rs
  src/usage.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): clear the issues SonarCloud still reports on main (#1231)
  Cargo.toml
  src/agent/control_mode/mod.rs
  src/agent/tmux.rs
  src/kernel/command/execute.rs
  src/usage.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): add a Nix tab to the home page install commands
  website/css/landing.css
  website/docs/faq.html
  website/docs/tutorial.html
  website/index.html
  website/llms.txt
Due: none

fix(ui): retire the layout key by its span, atomically, and set an edited shell pane aside
  src/agent/settings_config.rs
  src/kernel/bundled.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): leave a layout key it cannot remove to the unknown-field warning
  src/agent/settings_config.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs: note the layout key and withdrawn shell pane on upgrade
  docs/CONFIG.md
  docs/PLUGINS.md
Due: rumdl-check

fix(ui): bring a v2.32.0 layout-preset profile back to classic
  docs/CONFIG.md
  src/agent/settings_config.rs
  src/coordinator/boot.rs
  tests/fixtures/v2_32_0_split_shell/layout.lua
  tests/fixtures/v2_32_0_split_shell/lib/panels.lua
  tests/fixtures/v2_32_0_split_shell/plugins/20_agent.lua
  tests/fixtures/v2_32_0_split_shell/plugins/25_shell.lua
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs: list the Shell tab and v2.32.0 upgrade e2e scenarios
  .agents/skills/thurbox-testing/SKILL.md
Due: rumdl-check

fix(ui): never move an edited shell pane over an earlier backup
  src/kernel/bundled.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): correct the measured tab-rail widths in the install tab comments
  website/css/landing.css
Due: none

docs(docs): list Nix in the tutorial's install routes, as tutorial.html now does
  docs/TUTORIAL.md
Due: rumdl-check

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-nextest: any of: \.rs$
  rumdl-check: any of: \.(md|markdown|mdown)$
