Repository Thurbeen/thurbox: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

.pre-commit-config.yaml:

default_stages: [pre-commit]
default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
repos:
  - repo: local
    hooks:
      # Conventional commit validation (commit-msg stage)
      - id: cocogitto-verify
        name: Verify conventional commit message
        entry: cog verify
        language: system
        stages: [commit-msg]
        args: ["--file"]

      # Code quality (pre-commit stage)
      - id: cargo-fmt
        name: Cargo format check
        entry: cargo fmt
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all", "--", "--check"]

      - id: cargo-clippy
        name: Cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]

      - id: cargo-check
        name: Cargo check
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-nextest
        name: Cargo nextest
        entry: cargo nextest run
        language: system
        types: [rust]
        pass_filenames: false
        args: ["--all"]

      - id: cargo-modules-structure
        name: Cargo modules structure check
        entry: bash -c 'grep -q "pub mod" src/lib.rs 2>/dev/null && cargo modules structure --lib || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-pup-architecture
        name: Cargo pup architecture rules
        entry: bash -c '[ -f pup.ron ] && cargo +nightly-2026-01-22 pup check --pup-config pup.ron || true'
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-advisories
        name: Cargo deny advisories
        entry: cargo deny check advisories
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-deny-bans-licenses-sources
        name: Cargo deny bans licenses sources
        entry: cargo deny check bans licenses sources
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-audit
        name: Cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: Cargo doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc --no-deps --all-features
        language: system
        pass_filenames: false
        always_run: true

      - id: rumdl-check
        name: Markdown lint check
        entry: rumdl check .
        language: system
        types: [markdown]
        pass_filenames: false

      - id: cocogitto-check
        name: Check commit history
        entry: cog check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

refactor(core): make control setup adapter-selected
  docs/ARCHITECTURE.md
  src/backend/psmux.rs
  src/backend/tmux.rs
  src/backend/tmux_compat/control_mode/mod.rs
  src/backend/tmux_compat/control_mode/tests.rs
  src/backend/tmux_compat/server.rs
  tests/hook_status_routing.rs
  tests/lifecycle_routing.rs
  tests/support/recording_backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): count command-list replies by adapter
  docs/ARCHITECTURE.md
  src/backend/psmux.rs
  src/backend/tmux.rs
  src/backend/tmux_compat/control_mode/mod.rs
  src/backend/tmux_compat/control_mode/tests.rs
  src/backend/tmux_compat/server.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

refactor(core): share POSIX window command defaults
  docs/ARCHITECTURE.md
  src/backend/tmux.rs
  src/backend/tmux_compat/server.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(core): let adapters select control flow and pane monitoring (#1320)
  docs/ARCHITECTURE.md
  src/backend/psmux.rs
  src/backend/tmux.rs
  src/backend/tmux_compat/control_mode/mod.rs
  src/backend/tmux_compat/control_mode/tests.rs
  src/backend/tmux_compat/server.rs
  tests/hook_status_routing.rs
  tests/lifecycle_routing.rs
  tests/support/recording_backend.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): send psmux navigation keys as complete events
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  src/backend/psmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): keep psmux version notes and parser lint accurate
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  src/backend/psmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(core): bound psmux navigation lookahead
  src/backend/psmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add local control API for running TUIs
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  AGENTS.md
  Cargo.lock
  Cargo.toml
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/CONSTITUTION.md
  scripts/demo/record.sh
  scripts/demo/search.tape
  src/bin/thurbox-cli.rs
  src/cli/mod.rs
  src/cli/ui.rs
  src/coordinator/boot.rs
  src/coordinator/control.rs
  src/coordinator/focus.rs
  src/coordinator/mod.rs
  src/kernel/host/mod.rs
  src/lib.rs
  src/main.rs
  src/ui_control.rs
  tests/architecture_rules.rs
  tests/keymap.rs
  tests/tui_e2e.rs
  ui/lib/thurbox.d.lua
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

style(ui): spell out control transport imports
  src/ui_control.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): keep control optional and preserve search shortcuts
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  scripts/demo/record.sh
  scripts/demo/search.tape
  src/coordinator/boot.rs
  src/coordinator/control.rs
  src/main.rs
  src/ui_control.rs
  tests/keymap.rs
  tests/tui_e2e.rs
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): prune stale control records and show startup failure
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/coordinator/boot.rs
  src/ui_control.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

style(ui): satisfy Windows discovery lint
  src/ui_control.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): preserve boot notices and live Windows discovery
  Cargo.toml
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  src/coordinator/boot.rs
  src/coordinator/draw.rs
  src/main.rs
  src/ui_control.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): advance startup notices despite status activity
  docs/ARCHITECTURE.md
  src/coordinator/boot.rs
  src/coordinator/draw.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): preserve active errors before startup notices
  docs/ARCHITECTURE.md
  src/coordinator/draw.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): send psmux navigation keys as complete events (#1323)
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  src/backend/psmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): add local control API for running TUIs (#1324)
  .agents/skills/thurbox-kernel/SKILL.md
  .agents/skills/thurbox-ui-surfaces/SKILL.md
  AGENTS.md
  Cargo.lock
  Cargo.toml
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/CONSTITUTION.md
  scripts/demo/search.tape
  src/bin/thurbox-cli.rs
  src/cli/mod.rs
  src/cli/ui.rs
  src/coordinator/boot.rs
  src/coordinator/control.rs
  src/coordinator/draw.rs
  src/coordinator/focus.rs
  src/coordinator/mod.rs
  src/kernel/host/mod.rs
  src/lib.rs
  src/main.rs
  src/ui_control.rs
  tests/architecture_rules.rs
  tests/tui_e2e.rs
  ui/lib/thurbox.d.lua
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): expose instance-scoped state and events
  docs/CONFIG.md
  docs/PLUGINS.md
  src/cli/mod.rs
  src/cli/ui.rs
  src/coordinator/boot.rs
  src/coordinator/control.rs
  src/coordinator/mod.rs
  src/kernel/host/load.rs
  src/kernel/host/mod.rs
  src/kernel/modals/help.rs
  src/kernel/modals/mod.rs
  src/kernel/modals/palette.rs
  src/kernel/modals/settings.rs
  src/kernel/modals/theme.rs
  src/main.rs
  src/ui_control.rs
  tests/tui_e2e.rs
  ui/lib/thurbox.d.lua
  ui/plugins/60_confirm.lua
  ui/plugins/62_rename.lua
  ui/plugins/64_menu.lua
  ui/plugins/65_search.lua
  ui/plugins/70_new_session.lua
  ui/plugins/80_restore.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): keep projected state and event cursors coherent
  src/coordinator/boot.rs
  src/coordinator/control.rs
  src/kernel/host/mod.rs
  src/main.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(api): bound expanded UI state replies
  docs/CONFIG.md
  src/ui_control.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

perf(ui): skip idle state projections
  src/coordinator/boot.rs
  src/coordinator/control.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

perf(ui): avoid snapshot copies for empty watch polls
  src/coordinator/control.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): omit inactive search selection from state
  src/coordinator/control.rs
  tests/tui_e2e.rs
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): observe modal changes outside input batches
  src/coordinator/boot.rs
  src/coordinator/control.rs
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): key plugin projections by stable path
  docs/CONFIG.md
  src/coordinator/control.rs
  src/kernel/host/mod.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): retry psmux cold session creation
  src/backend/psmux.rs
  src/backend/tmux_compat/server.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

docs(docs): document psmux cold session failures
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
Due: rumdl-check

test(core): cover psmux cold-start retry boundaries
  src/backend/psmux.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(ui): keep UI state and watch replies accurate and bounded
  docs/CONFIG.md
  src/cli/ui.rs
  src/coordinator/control.rs
  src/coordinator/mod.rs
  src/ui_control.rs
  tests/restore.rs
  tests/tui_e2e.rs
  ui/plugins/80_restore.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(core): stabilize psmux cold session creation
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  src/backend/psmux.rs
  src/backend/tmux_compat/server.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

style(core): remove redundant lifetimes from psmux constants
  src/backend/psmux.rs
  src/backend/tmux_compat/server.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(core): stabilize psmux session creation (#1327)
  .agents/skills/thurbox-remote-hosts/SKILL.md
  docs/ARCHITECTURE.md
  src/backend/psmux.rs
  src/backend/tmux_compat/server.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(ui): expose instance-scoped state and events (#1326)
  docs/CONFIG.md
  docs/PLUGINS.md
  src/cli/mod.rs
  src/cli/ui.rs
  src/coordinator/boot.rs
  src/coordinator/control.rs
  src/coordinator/mod.rs
  src/kernel/host/load.rs
  src/kernel/host/mod.rs
  src/kernel/modals/help.rs
  src/kernel/modals/mod.rs
  src/kernel/modals/palette.rs
  src/kernel/modals/settings.rs
  src/kernel/modals/theme.rs
  src/main.rs
  src/ui_control.rs
  tests/restore.rs
  tests/tui_e2e.rs
  ui/lib/thurbox.d.lua
  ui/plugins/60_confirm.lua
  ui/plugins/62_rename.lua
  ui/plugins/64_menu.lua
  ui/plugins/65_search.lua
  ui/plugins/70_new_session.lua
  ui/plugins/80_restore.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(cli): recognize commented action constants
  src/cli/plugins.rs
  tests/plugin_authoring.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

fix(cli): avoid partial names in action diagnostics
  src/cli/plugins.rs
  tests/plugin_authoring.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest

feat(ui): add live TUI action catalog
  .agents/skills/thurbox-cli/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/PLUGINS.md
  src/cli/mod.rs
  src/cli/plugins.rs
  src/cli/ui.rs
  src/coordinator/control.rs
  src/coordinator/input.rs
  src/coordinator/mouse.rs
  src/kernel/host/load.rs
  src/kernel/host/mod.rs
  src/kernel/mod.rs
  src/kernel/modals/palette.rs
  src/kernel/registry.rs
  src/ui_control.rs
  tests/kernel_mvp.rs
  tests/plugin_authoring.rs
  tests/tui_e2e.rs
  ui/lib/thurbox.d.lua
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

fix(ui): keep addressed input with its owning pane
  docs/PLUGINS.md
  src/cli/plugins.rs
  src/coordinator/control.rs
  tests/plugin_authoring.rs
  tests/tui_e2e.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

docs(ui): align action and watch control docs
  docs/CONFIG.md
Due: rumdl-check

feat(ui): add live TUI action catalog (#1325)
  .agents/skills/thurbox-cli/SKILL.md
  docs/ARCHITECTURE.md
  docs/CONFIG.md
  docs/PLUGINS.md
  src/cli/mod.rs
  src/cli/plugins.rs
  src/cli/ui.rs
  src/coordinator/control.rs
  src/coordinator/input.rs
  src/coordinator/mouse.rs
  src/kernel/host/load.rs
  src/kernel/host/mod.rs
  src/kernel/mod.rs
  src/kernel/modals/palette.rs
  src/kernel/registry.rs
  src/ui_control.rs
  tests/kernel_mvp.rs
  tests/plugin_authoring.rs
  tests/tui_e2e.rs
  ui/lib/thurbox.d.lua
  ui/plugins/65_search.lua
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-nextest, rumdl-check

feat(config): seed sandbox with mock hosts and repos
  .github/workflows/ci.yml
  AGENTS.md
  docs/DEVELOPMENT.md
  justfile
  scripts/dev/lib/sandbox-env.sh
  scripts/dev/sandbox.sh
  scripts/dev/seed-sandbox.sh
  scripts/dev/test-sandbox-seed.sh
Due: rumdl-check
